{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% form_theme deliveryForm _self %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    {%- endif -%}
{%- endblock form_label -%}

{% block title %}{% trans %} Панель управления - Рассылка{% endtrans %}{% endblock %}

{% block body %}
    <div id="content" class="content">
        <ol class="breadcrumb pull-right">
            <li><a href="{{ path('admin_main') }}">Главная</a></li>
            <li class="active"></li>
        </ol>
        <h1 class="page-header">Рассылка <small>Почтовая рассылка для пользователей сайта</small></h1>
        <div class="row">
            <div class="col-md-12 ui-sortable">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
                {% endfor %}
                <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <h4 class="panel-title">Данные для рассылки</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(deliveryForm, {'attr' : {'class' : 'form-horizontal'}})}}
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#maininfo">Основная информация</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="maininfo" class="tab-pane fade active in">
                                <div class="form-group">
                                    <label class="col-md-2 ">{{ form_label(deliveryForm.deliveryText)}}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(deliveryForm.deliveryText)}}
                                    </div>
                                </div>   
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 ">{{ form_label(deliveryForm.save)}}</label>
                                <div class="col-md-10">
                                    {{ form_widget(deliveryForm.save,{'type' : 'submit'})}}
                                </div>
                            </div> 
                        </div>
                        {{ form_end(deliveryForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




