{% extends 'DashboardCommonBundle:Common:base.html.twig' %}
{% use 'DashboardCommonBundle:Common:icons.html.twig' %}

{% block title %}{% trans %}Личный кабинет{% endtrans %}{% endblock %}
{% block bodyClass %}class="userAccount"{% endblock %}
{% block topbanner %}
    <div class="topBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 topBannerBlock">
                    {{ render(controller('DashboardCommonBundle:Default:getBanners',{'position' : 'toppage'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    <li><a href="{{ path('account') }}">{% trans %}Личный кабинет{% endtrans %}
                    </a></li>
                </ul>
            </div>
        </div>
      </div>
</nav> 
<div class="container">
    <div class="row content-row aligned">
        <div class="col-lg-2 col-md-2">
            <div class="account-block-header"><h1>{% trans %}Личный кабинет{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="accountBlockHeader">
                <div class="account-block-header"><h1>{% trans %}<b>Мои</b> объявления{% endtrans %}</h1></div>
                {% if countProducts > 4 %}
                    <div class="account-block-header-label">
                        <a href="{{ path('account_products') }}">{% trans %}показать все{% endtrans %} ({{ countProducts }})</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row content-row">
        {{ render(controller('DashboardCommonBundle:Account:getSidebar', {'routeName' : routeName})) }}
        <div class="col-lg-10 col-md-10">
            <div class="account-advert-block account-block">
                       {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="notice-message">
                                {{ flashMessage | raw }}
                            </div>                             
                        {% endfor %}
                        <div class="account-advert-block-content">
                            <div class="row advert-category-adverts">
                                <div class="col-lg-12 col-md-12">
                                    <div class="accountAdverts">
                                    {% if products | length > 0 %}
                                        {% for product in products %}
                                            {{ include ('DashboardCommonBundle:User:account/products/product.html.twig', {product : product, user : user, locale : locale, selectedServices : selectedServices}) }}
                                        {% endfor %}
                                    {% else %}
                                        <div class="accountNocontent">{% trans %}Нет ни одного объявления{% endtrans %}</div>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="accountBlockHeader">
                                        <div class="account-block-header">
                                            <h1>{% trans %}<b>Избранные</b> объявления{% endtrans %}</h1></div>
                                        {% if favProducts | length > 4 %}
                                            <div class="account-block-header-label">
                                                <a href="{{ path('account_favproducts') }}">{% trans %}показать все{% endtrans %} ({{ countProducts }})</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="accountAdverts line">
                                        {% if favProducts | length > 0 %}
                                            {% for product in  favProducts %}
                                                {{ include ('DashboardCommonBundle:User:account/products/fav.html.twig', {product : product, user : user, locale : locale}) }}
                                            {% endfor %}
                                        {% else %}
                                            <div class="accountNocontent">{% trans %}Нет ни одного объявления{% endtrans %}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% set totalPrice = 0 %}
    {% set billId = 0 %}
    {% if selectedServices | length > 0 %}
        {% for selectedService in selectedServices %}
            {% set totalPrice = totalPrice + selectedService.price %}
            {% set billId = selectedService.bill %}
        {% endfor %}
    {% endif %}
    {% if totalPrice > 0 %}
        <script>$("body").append('<div class="accountBottomPaymentSumm"><div class="container"><div class="row"><div class="col-lg-12"><div class="accountBottomPaymentSummValue"><div class="accountBottomPaymentSummValueText">{% trans %}Общая сумма{% endtrans %}:</div><div class="accoutnProductServicesTotalSumma">{{ totalPrice }} {{ locale.currency.label | raw }}</div><div class="accountBottomPaymentSummValueButton"><a href="/account/payments/{{ billId }}">{% trans %}Оплатить{% endtrans %}</a></div></div></div></div></div></div>');</script>
{% endif %}
{% endblock%}