{% use 'DashboardCommonBundle:Common:icons.html.twig' %}

{% if  locale.isDefault %}
<div class="col-ld-2 col-md-2 account-menu-list">
    <ul class="list-unstyled">
        <li>
            <div class="accountMenuItem">
                {{ block('accountAdverts') }}
                <a href="{{ path('account_products') }}" {% if routeName == 'account_products' %}class="active"{% endif %}>
                    {% trans %}Мои объявления{% endtrans %} ({{ allProducts | length }})
                </a>
            </div>
            <ul>
                {% if settings.isModerate %}
                    <li><a href="{{ path('account_products_confirm') }}"  {% if routeName == 'account_products_confirm' %}class="active"{% endif %}>- {% trans %}На модерации{% endtrans %} ({{ confirmProducts | length }})</a></li>
                {% endif %}
                <li><a href="{{ path('account_products_current') }}"  {% if routeName == 'account_products_current' %}class="active"{% endif %}>- {% trans %}Текущие{% endtrans %} ({{ currentProducts | length}})</a></li>
                <li><a href="{{ path('account_products_drafts') }}"  {% if routeName == 'account_products_drafts' %}class="active"{% endif %}>- {% trans %}Черновики{% endtrans %} ({{ draftProducts | length}})</a></li>
                <li><a href="{{ path('account_products_stopped') }}"  {% if routeName == 'account_products_stopped' %}class="active"{% endif %}>- {% trans %}Архив{% endtrans %}  ({{ stoppedProducts | length }})</a></li>
                <li><a href="{{ path('account_products_blocked') }}"  {% if routeName == 'account_products_blocked' %}class="active"{% endif %}>- {% trans %}Заблокированные{% endtrans %}  ({{ blockedProducts | length }})</a></li>
            </ul>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.7663 2.3245C15.3753 1.9046 14.9111 1.5715 14.4002 1.34423C13.8893 1.11697 13.3417 1 12.7887 1C12.2357 1 11.6881 1.11697 11.1772 1.34423C10.6663 1.5715 10.2021 1.9046 9.81116 2.3245L8.9998 3.19554L8.18843 2.3245C7.39874 1.47672 6.32768 1.00044 5.21089 1.00044C4.09409 1.00044 3.02303 1.47672 2.23334 2.3245C1.44365 3.17228 1 4.32212 1 5.52107C1 6.72001 1.44365 7.86985 2.23334 8.71763L3.0447 9.58868L8.9998 15.9818L14.9549 9.58868L15.7663 8.71763C16.1574 8.29793 16.4677 7.7996 16.6794 7.25112C16.891 6.70264 17 6.11476 17 5.52107C17 4.92737 16.891 4.33949 16.6794 3.79101C16.4677 3.24254 16.1574 2.74421 15.7663 2.3245V2.3245Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{ path('account_favproducts') }}" {% if routeName == 'account_favproducts' %}class="active"{% endif %}>{% trans %}Избранные объявления{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.6 1H15.4C16.28 1 17 1.72 17 2.6V12.2C17 13.08 16.28 13.8 15.4 13.8H2.6C1.72 13.8 1 13.08 1 12.2V2.6C1 1.72 1.72 1 2.6 1Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17 2.6001L9 8.2001L1 2.6001" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{path('account_messages')}}" {% if routeName == 'account_messages' %}class="active"{% endif %}>{% trans %}Сообщения{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.4 4.19995H2.6C1.71634 4.19995 1 4.9163 1 5.79995V13.8C1 14.6836 1.71634 15.4 2.6 15.4H15.4C16.2837 15.4 17 14.6836 17 13.8V5.79995C17 4.9163 16.2837 4.19995 15.4 4.19995Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.1998 15.4V2.6C12.1998 2.17565 12.0312 1.76869 11.7312 1.46863C11.4311 1.16857 11.0242 1 10.5998 1H7.3998C6.97546 1 6.56849 1.16857 6.26843 1.46863C5.96838 1.76869 5.7998 2.17565 5.7998 2.6V15.4" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{ path('account_orders') }}" {% if routeName == 'account_orders' %}class="active"{% endif %}>{% trans %}Заявки{% endtrans %}
                </a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6471 12.2353H3.29412C3.15294 12.2353 3.01176 12.1412 2.91765 12.0471C2.82353 11.9529 2.82353 11.7647 2.87059 11.6235L3.76471 9.36471L2.87059 0.941176H0V0H3.29412C3.52941 0 3.71765 0.188235 3.76471 0.423529L4.70588 9.36471C4.70588 9.45882 4.70588 9.50588 4.65882 9.6L4 11.2941H14.1176L13.6471 12.2353Z" fill="#616161"/>
                    <path d="M4.32935 9.88232L4.14112 8.94115L15.0588 6.68232V2.8235H3.76465V1.88232H15.5294C15.8117 1.88232 15.9999 2.07056 15.9999 2.35291V7.05879C15.9999 7.29409 15.8588 7.48232 15.6235 7.52938L4.32935 9.88232Z" fill="#616161"/>
                    <path d="M14.1177 15.0589C13.0824 15.0589 12.2354 14.2118 12.2354 13.1765C12.2354 12.1412 13.0824 11.2942 14.1177 11.2942C15.153 11.2942 16.0001 12.1412 16.0001 13.1765C16.0001 14.2118 15.153 15.0589 14.1177 15.0589ZM14.1177 12.2354C13.6001 12.2354 13.1765 12.6589 13.1765 13.1765C13.1765 13.6942 13.6001 14.1177 14.1177 14.1177C14.6354 14.1177 15.0589 13.6942 15.0589 13.1765C15.0589 12.6589 14.6354 12.2354 14.1177 12.2354Z" fill="#616161"/>
                    <path d="M2.82376 15.0589C1.78847 15.0589 0.941406 14.2118 0.941406 13.1765C0.941406 12.1412 1.78847 11.2942 2.82376 11.2942C3.85905 11.2942 4.70611 12.1412 4.70611 13.1765C4.70611 14.2118 3.85905 15.0589 2.82376 15.0589ZM2.82376 12.2354C2.30611 12.2354 1.88258 12.6589 1.88258 13.1765C1.88258 13.6942 2.30611 14.1177 2.82376 14.1177C3.34141 14.1177 3.76494 13.6942 3.76494 13.1765C3.76494 12.6589 3.34141 12.2354 2.82376 12.2354Z" fill="#616161"/>
                </svg>
                <a href="{{ path('account_myorders') }}" {% if routeName == 'account_myorders' %}class="active"{% endif %}>{% trans %}Мои заказы{% endtrans %}
                </a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.4 11.1281V15.4001C15.4 15.8244 15.2314 16.2314 14.9314 16.5315C14.6313 16.8315 14.2243 17.0001 13.8 17.0001H2.6C2.17565 17.0001 1.76869 16.8315 1.46863 16.5315C1.16857 16.2314 1 15.8244 1 15.4001V4.2001C1 3.77575 1.16857 3.36878 1.46863 3.06873C1.76869 2.76867 2.17565 2.6001 2.6 2.6001H6.872" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.7998 1L16.9998 4.2L8.9998 12.2H5.7998V9L13.7998 1Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{ path('account_review') }}" {% if routeName == 'account_review' %}class="active"{% endif %}>{% trans %}Отзывы{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.9258 13.4966C15.556 13.891 15.1464 14.2478 14.7038 14.5605C14.2656 14.87 13.7963 15.1352 13.3025 15.3495C12.8168 15.5606 12.3047 15.7242 11.7726 15.8345C11.2546 15.9419 10.7194 15.9984 10.1727 15.9984C9.10021 15.9984 8.07693 15.7828 7.1431 15.3923C6.17272 14.9865 5.29994 14.3923 4.5701 13.6556L4.53834 13.6235V13.6217C4.07162 13.1451 3.66374 12.6095 3.32676 12.0269C3.00183 11.4651 2.74254 10.8587 2.5596 10.2191H0.1085H0V10.1096V9.33957V9.23003H0.1085H2.34308C2.31533 9.0492 2.29361 8.86664 2.27821 8.68253C2.25927 8.45699 2.2496 8.22903 2.2496 7.99933C2.2496 7.77011 2.25936 7.54253 2.27831 7.31718C2.29381 7.13259 2.31572 6.94945 2.34346 6.76824H0.1085H0V6.6587V5.88865V5.77921H0.1085H2.55979C2.74273 5.13957 3.00202 4.53334 3.32695 3.97155C3.66393 3.389 4.07181 2.85329 4.53853 2.37669V2.37495L4.57029 2.34279C5.30013 1.60597 6.17292 1.01172 7.14329 0.60603C8.07702 0.215598 9.10031 0 10.1728 0C10.6972 0 11.2107 0.0518709 11.7081 0.15088C12.2175 0.252207 12.7108 0.403473 13.1824 0.599268C13.6627 0.798252 14.1188 1.04321 14.5452 1.32826C14.9766 1.61669 15.3781 1.94646 15.7439 2.31168L15.8211 2.38867L15.7452 2.46614L15.209 3.01363L15.1328 3.09149L15.056 3.01489C14.734 2.69333 14.381 2.40306 14.0025 2.1496C13.6284 1.89904 13.2296 1.6844 12.811 1.51111C12.4012 1.34092 11.9699 1.20926 11.522 1.12059C11.0864 1.03433 10.6352 0.989121 10.1727 0.989121C9.23167 0.989121 8.33459 1.17796 7.51701 1.51981C6.66786 1.87489 5.9032 2.39572 5.26282 3.04222L5.18895 3.1167L5.18857 3.11641C4.82289 3.49699 4.4994 3.91988 4.22595 4.37706C3.9635 4.81578 3.74736 5.28552 3.58413 5.77931H11.9432H12.0517V5.88885V6.65889V6.76843H11.9432H3.33556C3.30274 6.95553 3.27729 7.14418 3.25968 7.33418C3.23959 7.55036 3.22935 7.77223 3.22935 7.99942C3.22935 8.22661 3.23959 8.44829 3.25968 8.66447C3.27739 8.85447 3.30274 9.04312 3.33556 9.23012H11.9434H12.0519V9.33966V10.1097V10.2192H11.9434H3.58423C3.74717 10.7129 3.96331 11.1828 4.22575 11.6215C4.49863 12.0777 4.82183 12.5001 5.18742 12.8807L5.18761 12.8804L5.26282 12.9563C5.9032 13.6028 6.66796 14.1237 7.51701 14.4787C8.33459 14.8207 9.23167 15.0094 10.1727 15.0094C10.6548 15.0094 11.1243 14.9603 11.5765 14.8666C12.0408 14.7706 12.489 14.6271 12.9156 14.4417C13.3524 14.2521 13.7651 14.0195 14.1479 13.7497C14.5353 13.4768 14.8937 13.1647 15.2174 12.8195L15.2914 12.7406L15.37 12.8156L15.9214 13.3423L16 13.4174L15.9258 13.4966Z" fill="#616161"/>
                </svg>
                <a href="{{ path('account_bills',{'_locale' : app.request.locale}) }}" {% if routeName == 'account_bills' %}class="active"{% endif %}>{% trans %}Финансы{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.6002 2.59961H12.2003C12.6246 2.59961 13.0316 2.76818 13.3317 3.06825C13.6317 3.36832 13.8003 3.77529 13.8003 4.19965V15.3999C13.8003 15.8243 13.6317 16.2313 13.3317 16.5313C13.0316 16.8314 12.6246 17 12.2003 17H2.60004C2.17568 17 1.76871 16.8314 1.46864 16.5313C1.16857 16.2313 1 15.8243 1 15.3999V4.19965C1 3.77529 1.16857 3.36832 1.46864 3.06825C1.76871 2.76818 2.17568 2.59961 2.60004 2.59961H4.20008" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.79984 1H4.99973C4.55789 1 4.19971 1.35818 4.19971 1.80002V3.40006C4.19971 3.8419 4.55789 4.20008 4.99973 4.20008H9.79984C10.2417 4.20008 10.5999 3.8419 10.5999 3.40006V1.80002C10.5999 1.35818 10.2417 1 9.79984 1Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{ path('account_userblacklist') }}"  {% if routeName == 'account_userblacklist' %}class="active"{% endif %}>{% trans %}Черный список{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0.5C8.51557 0.5 9.0154 0.547942 9.5 0.643814V0.650183L9.07719 0.584119C8.71863 0.528094 8.35949 0.5 8 0.5ZM8 0.5C7.48443 0.5 6.9846 0.547942 6.5 0.643814V0.650183L6.92281 0.584119C7.28137 0.528094 7.64051 0.5 8 0.5ZM0.5 8C0.5 7.52297 0.541043 7.05941 0.623118 6.60892L0.581986 6.93798L0.550736 7.18798L0.549779 7.19564L0.549058 7.20333L0.52562 7.45333L0.524896 7.46106L0.524411 7.46881L0.508786 7.71881C0.50293 7.81251 0.5 7.90624 0.5 8ZM0.5 8C0.5 8.51557 0.547942 9.0154 0.643814 9.5H0.646277L0.583445 9.07275C0.528319 8.69788 0.5 8.34005 0.5 8ZM8 15.5C7.48443 15.5 6.9846 15.4521 6.5 15.3562V15.3498L6.92281 15.4159C7.28137 15.4719 7.64051 15.5 8 15.5ZM8 15.5C8.51557 15.5 9.0154 15.4521 9.5 15.3562V15.3498L9.07719 15.4159C8.71863 15.4719 8.35949 15.5 8 15.5ZM15.5 8C15.5 8.51557 15.4521 9.0154 15.3562 9.5H15.3537L15.4166 9.07275C15.4717 8.69788 15.5 8.34005 15.5 8ZM15.5 8C15.5 7.48443 15.4521 6.9846 15.3562 6.5H15.3537L15.4166 6.92725C15.4717 7.30211 15.5 7.65995 15.5 8ZM10.142 0.817476L9.69709 0.685638C10.42 0.84952 11.1086 1.1219 11.7646 1.50273C12.9186 2.17261 13.8274 3.08144 14.4973 4.2354C14.8781 4.89143 15.1505 5.58001 15.3144 6.3029L15.1825 5.85796C15.0038 5.25476 14.7522 4.68434 14.428 4.14769C14.1056 3.61418 13.7293 3.13157 13.2989 2.70113C12.8684 2.2707 12.3858 1.89437 11.8523 1.57204C11.3157 1.24782 10.7452 0.9962 10.142 0.817476ZM4.2354 1.50273C4.88722 1.12434 5.57118 0.853022 6.28899 0.688808L5.85698 0.817766C5.10744 1.04151 4.40381 1.38244 3.74734 1.83842C2.29941 2.83015 1.319 4.17505 0.817701 5.8572L0.688105 6.29206C0.852248 5.57313 1.1238 4.88815 1.50273 4.2354C2.17261 3.08144 3.08144 2.17261 4.2354 1.50273ZM1.50273 11.7646C1.1219 11.1086 0.84952 10.42 0.685638 9.69709L0.817476 10.142C1.17474 11.3478 1.80433 12.4021 2.70113 13.2989C3.59793 14.1957 4.65218 14.8253 5.85796 15.1825L6.30291 15.3144C5.58002 15.1505 4.89144 14.8781 4.2354 14.4973C3.08144 13.8274 2.17261 12.9186 1.50273 11.7646ZM11.7646 14.4973C11.0993 14.8835 10.4006 15.1581 9.66652 15.3212L10.14 15.1831C10.9441 14.9486 11.6856 14.5877 12.3622 14.1013C13.0369 13.6161 13.6151 13.0352 14.095 12.36C14.5745 11.6854 14.9367 10.9467 15.1813 10.1461L15.3016 9.75247C15.1365 10.4552 14.8684 11.1253 14.4973 11.7646C13.8274 12.9186 12.9186 13.8274 11.7646 14.4973ZM11.2692 6.74818C11.2311 6.65054 11.1884 6.55434 11.1409 6.45962L11.1642 6.5H11.1994L11.2692 6.74818ZM9.54038 4.85909C9.44566 4.81164 9.34946 4.7689 9.25183 4.73085L9.5 4.80065V4.83582L9.54038 4.85909ZM8.00781 4.5C8.02869 4.5 8.0496 4.50022 8.07053 4.50067C8.04851 4.50025 8.02644 4.50003 8.00431 4.5C8.00548 4.5 8.00665 4.5 8.00781 4.5ZM6.5 4.79525L6.72056 4.7351C6.64593 4.76451 6.5724 4.79667 6.5 4.83155V4.79525ZM4.80065 6.5H4.83155C4.8013 6.56278 4.7731 6.62641 4.74697 6.69088L4.80065 6.5ZM4.76539 9.5L4.61777 8.90953C4.67269 9.11429 4.74679 9.31367 4.84002 9.50729L4.83582 9.5H4.76539ZM6.5 11.2393V11.1664C6.67833 11.2514 6.86179 11.3201 7.05004 11.3726L6.5 11.2393ZM8.00781 11.5C8.00656 11.5 8.00532 11.5 8.00407 11.5C8.03826 11.5 8.07229 11.4995 8.10617 11.4986C8.07332 11.4995 8.04054 11.5 8.00781 11.5ZM9.5 11.2346L9.04415 11.3486C9.20063 11.3007 9.35263 11.2414 9.5 11.1709V11.2346ZM11.2346 9.5H11.1733C11.2398 9.3606 11.2961 9.21689 11.3424 9.06902L11.2346 9.5Z" stroke="#616161"/>
                </svg>
                <a href="">{% trans %}Тех. поддержка{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                {{ block('svgAccoutnMenuSettings') }}
                <a href="{{path('account_settings')}}" {% if routeName == 'account_settings' %}class="active"{% endif %}>{% trans %}Настройки{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <a href="{{path('logout')}}" class="logout">{% trans %}Выход{% endtrans %}</a>
            </div>
        </li>
    </ul>
</div>
{% else %}
<div class="col-ld-2 col-md-2 account-menu-list">
    <ul class="list-unstyled">
        <li>
            <div class="accountMenuItem">
                {{ block('accountAdverts') }}
                <a href="{{ path('account_productsLocale',{'_locale' : app.request.locale}) }}"  {% if routeName == 'account_productsLocale' %}class="active"{% endif %}>
                    {% trans %}Мои объявления{% endtrans %} ({{ allProducts | length }})</a>
            </div>
            
            <ul>
                {% if settings.isModerate %}
                    <li><a href="{{ path('account_products_confirmLocale',{'_locale' : app.request.locale}) }}"  {% if routeName == 'account_products_confirmLocale' %}class="active"{% endif %}>- {% trans %}На модерации{% endtrans %} ({{ confirmProducts | length }})</a></li>
                {% endif %}
                <li><a href="{{ path('account_products_currentLocale',{'_locale' : app.request.locale}) }}"  {% if routeName == 'account_products_currentLocale' %}class="active"{% endif %}>- {% trans %}Текущие{% endtrans %} ({{ currentProducts | length}})</a></li>
                <li><a href="{{ path('account_products_draftsLocale') }}"  {% if routeName == 'account_products_draftsLocale' %}class="active"{% endif %}>- {% trans %}Черновики{% endtrans %} ({{ draftProducts | length}})</a></li>
                <li><a href="{{ path('account_products_stoppedLocale',{'_locale' : app.request.locale}) }}"  {% if routeName == 'account_products_stoppedLocale' %}class="active"{% endif %}>- {% trans %}Архив{% endtrans %}  ({{ stoppedProducts | length }})</a></li>
                <li><a href="{{ path('account_products_blockedLocale',{'_locale' : app.request.locale}) }}"  {% if routeName == 'account_products_blockedLocale' %}class="active"{% endif %}>- {% trans %}Заблокированные{% endtrans %}  ({{ blockedProducts | length }})</a></li>
            </ul>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.7663 2.3245C15.3753 1.9046 14.9111 1.5715 14.4002 1.34423C13.8893 1.11697 13.3417 1 12.7887 1C12.2357 1 11.6881 1.11697 11.1772 1.34423C10.6663 1.5715 10.2021 1.9046 9.81116 2.3245L8.9998 3.19554L8.18843 2.3245C7.39874 1.47672 6.32768 1.00044 5.21089 1.00044C4.09409 1.00044 3.02303 1.47672 2.23334 2.3245C1.44365 3.17228 1 4.32212 1 5.52107C1 6.72001 1.44365 7.86985 2.23334 8.71763L3.0447 9.58868L8.9998 15.9818L14.9549 9.58868L15.7663 8.71763C16.1574 8.29793 16.4677 7.7996 16.6794 7.25112C16.891 6.70264 17 6.11476 17 5.52107C17 4.92737 16.891 4.33949 16.6794 3.79101C16.4677 3.24254 16.1574 2.74421 15.7663 2.3245V2.3245Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{ path('account_favproductsLocale',{'_locale' : app.request.locale}) }}"  {% if routeName == 'account_favproductsLocale' %}class="active"{% endif %}>{% trans %}Избранные объявления{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.6 1H15.4C16.28 1 17 1.72 17 2.6V12.2C17 13.08 16.28 13.8 15.4 13.8H2.6C1.72 13.8 1 13.08 1 12.2V2.6C1 1.72 1.72 1 2.6 1Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17 2.6001L9 8.2001L1 2.6001" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{path('account_messagesLocale',{'_locale' : app.request.locale})}}" {% if routeName == 'account_messagesLocale' %}class="active"{% endif %}>{% trans %}Сообщения{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.4 4.19995H2.6C1.71634 4.19995 1 4.9163 1 5.79995V13.8C1 14.6836 1.71634 15.4 2.6 15.4H15.4C16.2837 15.4 17 14.6836 17 13.8V5.79995C17 4.9163 16.2837 4.19995 15.4 4.19995Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.1998 15.4V2.6C12.1998 2.17565 12.0312 1.76869 11.7312 1.46863C11.4311 1.16857 11.0242 1 10.5998 1H7.3998C6.97546 1 6.56849 1.16857 6.26843 1.46863C5.96838 1.76869 5.7998 2.17565 5.7998 2.6V15.4" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{ path('account_ordersLocale',{'_locale' : app.request.locale}) }}" {% if routeName == 'account_ordersLocale' %}class="active"{% endif %}>{% trans %}Заявки{% endtrans %}
                </a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6471 12.2353H3.29412C3.15294 12.2353 3.01176 12.1412 2.91765 12.0471C2.82353 11.9529 2.82353 11.7647 2.87059 11.6235L3.76471 9.36471L2.87059 0.941176H0V0H3.29412C3.52941 0 3.71765 0.188235 3.76471 0.423529L4.70588 9.36471C4.70588 9.45882 4.70588 9.50588 4.65882 9.6L4 11.2941H14.1176L13.6471 12.2353Z" fill="#616161"/>
                    <path d="M4.32935 9.88232L4.14112 8.94115L15.0588 6.68232V2.8235H3.76465V1.88232H15.5294C15.8117 1.88232 15.9999 2.07056 15.9999 2.35291V7.05879C15.9999 7.29409 15.8588 7.48232 15.6235 7.52938L4.32935 9.88232Z" fill="#616161"/>
                    <path d="M14.1177 15.0589C13.0824 15.0589 12.2354 14.2118 12.2354 13.1765C12.2354 12.1412 13.0824 11.2942 14.1177 11.2942C15.153 11.2942 16.0001 12.1412 16.0001 13.1765C16.0001 14.2118 15.153 15.0589 14.1177 15.0589ZM14.1177 12.2354C13.6001 12.2354 13.1765 12.6589 13.1765 13.1765C13.1765 13.6942 13.6001 14.1177 14.1177 14.1177C14.6354 14.1177 15.0589 13.6942 15.0589 13.1765C15.0589 12.6589 14.6354 12.2354 14.1177 12.2354Z" fill="#616161"/>
                    <path d="M2.82376 15.0589C1.78847 15.0589 0.941406 14.2118 0.941406 13.1765C0.941406 12.1412 1.78847 11.2942 2.82376 11.2942C3.85905 11.2942 4.70611 12.1412 4.70611 13.1765C4.70611 14.2118 3.85905 15.0589 2.82376 15.0589ZM2.82376 12.2354C2.30611 12.2354 1.88258 12.6589 1.88258 13.1765C1.88258 13.6942 2.30611 14.1177 2.82376 14.1177C3.34141 14.1177 3.76494 13.6942 3.76494 13.1765C3.76494 12.6589 3.34141 12.2354 2.82376 12.2354Z" fill="#616161"/>
                </svg>
                <a href="{{ path('account_myordersLocale',{'_locale' : app.request.locale}) }}"  {% if routeName == 'account_myordersLocale' %}class="active"{% endif %}>{% trans %}Мои заказы{% endtrans %}
                </a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.4 11.1281V15.4001C15.4 15.8244 15.2314 16.2314 14.9314 16.5315C14.6313 16.8315 14.2243 17.0001 13.8 17.0001H2.6C2.17565 17.0001 1.76869 16.8315 1.46863 16.5315C1.16857 16.2314 1 15.8244 1 15.4001V4.2001C1 3.77575 1.16857 3.36878 1.46863 3.06873C1.76869 2.76867 2.17565 2.6001 2.6 2.6001H6.872" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.7998 1L16.9998 4.2L8.9998 12.2H5.7998V9L13.7998 1Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{ path('account_reviewLocale',{'_locale' : app.request.locale}) }}" {% if routeName == 'account_reviewLocale' %}class="active"{% endif %}>{% trans %}Отзывы{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.9258 13.4966C15.556 13.891 15.1464 14.2478 14.7038 14.5605C14.2656 14.87 13.7963 15.1352 13.3025 15.3495C12.8168 15.5606 12.3047 15.7242 11.7726 15.8345C11.2546 15.9419 10.7194 15.9984 10.1727 15.9984C9.10021 15.9984 8.07693 15.7828 7.1431 15.3923C6.17272 14.9865 5.29994 14.3923 4.5701 13.6556L4.53834 13.6235V13.6217C4.07162 13.1451 3.66374 12.6095 3.32676 12.0269C3.00183 11.4651 2.74254 10.8587 2.5596 10.2191H0.1085H0V10.1096V9.33957V9.23003H0.1085H2.34308C2.31533 9.0492 2.29361 8.86664 2.27821 8.68253C2.25927 8.45699 2.2496 8.22903 2.2496 7.99933C2.2496 7.77011 2.25936 7.54253 2.27831 7.31718C2.29381 7.13259 2.31572 6.94945 2.34346 6.76824H0.1085H0V6.6587V5.88865V5.77921H0.1085H2.55979C2.74273 5.13957 3.00202 4.53334 3.32695 3.97155C3.66393 3.389 4.07181 2.85329 4.53853 2.37669V2.37495L4.57029 2.34279C5.30013 1.60597 6.17292 1.01172 7.14329 0.60603C8.07702 0.215598 9.10031 0 10.1728 0C10.6972 0 11.2107 0.0518709 11.7081 0.15088C12.2175 0.252207 12.7108 0.403473 13.1824 0.599268C13.6627 0.798252 14.1188 1.04321 14.5452 1.32826C14.9766 1.61669 15.3781 1.94646 15.7439 2.31168L15.8211 2.38867L15.7452 2.46614L15.209 3.01363L15.1328 3.09149L15.056 3.01489C14.734 2.69333 14.381 2.40306 14.0025 2.1496C13.6284 1.89904 13.2296 1.6844 12.811 1.51111C12.4012 1.34092 11.9699 1.20926 11.522 1.12059C11.0864 1.03433 10.6352 0.989121 10.1727 0.989121C9.23167 0.989121 8.33459 1.17796 7.51701 1.51981C6.66786 1.87489 5.9032 2.39572 5.26282 3.04222L5.18895 3.1167L5.18857 3.11641C4.82289 3.49699 4.4994 3.91988 4.22595 4.37706C3.9635 4.81578 3.74736 5.28552 3.58413 5.77931H11.9432H12.0517V5.88885V6.65889V6.76843H11.9432H3.33556C3.30274 6.95553 3.27729 7.14418 3.25968 7.33418C3.23959 7.55036 3.22935 7.77223 3.22935 7.99942C3.22935 8.22661 3.23959 8.44829 3.25968 8.66447C3.27739 8.85447 3.30274 9.04312 3.33556 9.23012H11.9434H12.0519V9.33966V10.1097V10.2192H11.9434H3.58423C3.74717 10.7129 3.96331 11.1828 4.22575 11.6215C4.49863 12.0777 4.82183 12.5001 5.18742 12.8807L5.18761 12.8804L5.26282 12.9563C5.9032 13.6028 6.66796 14.1237 7.51701 14.4787C8.33459 14.8207 9.23167 15.0094 10.1727 15.0094C10.6548 15.0094 11.1243 14.9603 11.5765 14.8666C12.0408 14.7706 12.489 14.6271 12.9156 14.4417C13.3524 14.2521 13.7651 14.0195 14.1479 13.7497C14.5353 13.4768 14.8937 13.1647 15.2174 12.8195L15.2914 12.7406L15.37 12.8156L15.9214 13.3423L16 13.4174L15.9258 13.4966Z" fill="#616161"/>
                </svg>
                <a href="{{ path('account_billsLocale',{'_locale' : app.request.locale}) }}" {% if routeName == 'account_billsLocale' %}class="active"{% endif %}>{% trans %}Финансы{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.6002 2.59961H12.2003C12.6246 2.59961 13.0316 2.76818 13.3317 3.06825C13.6317 3.36832 13.8003 3.77529 13.8003 4.19965V15.3999C13.8003 15.8243 13.6317 16.2313 13.3317 16.5313C13.0316 16.8314 12.6246 17 12.2003 17H2.60004C2.17568 17 1.76871 16.8314 1.46864 16.5313C1.16857 16.2313 1 15.8243 1 15.3999V4.19965C1 3.77529 1.16857 3.36832 1.46864 3.06825C1.76871 2.76818 2.17568 2.59961 2.60004 2.59961H4.20008" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.79984 1H4.99973C4.55789 1 4.19971 1.35818 4.19971 1.80002V3.40006C4.19971 3.8419 4.55789 4.20008 4.99973 4.20008H9.79984C10.2417 4.20008 10.5999 3.8419 10.5999 3.40006V1.80002C10.5999 1.35818 10.2417 1 9.79984 1Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="{{ path('account_userblacklistLocale',{'_locale' : app.request.locale}) }}"  {% if routeName == 'account_userblacklistLocale' %}class="active"{% endif %}>{% trans %}Черный список{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0.5C8.51557 0.5 9.0154 0.547942 9.5 0.643814V0.650183L9.07719 0.584119C8.71863 0.528094 8.35949 0.5 8 0.5ZM8 0.5C7.48443 0.5 6.9846 0.547942 6.5 0.643814V0.650183L6.92281 0.584119C7.28137 0.528094 7.64051 0.5 8 0.5ZM0.5 8C0.5 7.52297 0.541043 7.05941 0.623118 6.60892L0.581986 6.93798L0.550736 7.18798L0.549779 7.19564L0.549058 7.20333L0.52562 7.45333L0.524896 7.46106L0.524411 7.46881L0.508786 7.71881C0.50293 7.81251 0.5 7.90624 0.5 8ZM0.5 8C0.5 8.51557 0.547942 9.0154 0.643814 9.5H0.646277L0.583445 9.07275C0.528319 8.69788 0.5 8.34005 0.5 8ZM8 15.5C7.48443 15.5 6.9846 15.4521 6.5 15.3562V15.3498L6.92281 15.4159C7.28137 15.4719 7.64051 15.5 8 15.5ZM8 15.5C8.51557 15.5 9.0154 15.4521 9.5 15.3562V15.3498L9.07719 15.4159C8.71863 15.4719 8.35949 15.5 8 15.5ZM15.5 8C15.5 8.51557 15.4521 9.0154 15.3562 9.5H15.3537L15.4166 9.07275C15.4717 8.69788 15.5 8.34005 15.5 8ZM15.5 8C15.5 7.48443 15.4521 6.9846 15.3562 6.5H15.3537L15.4166 6.92725C15.4717 7.30211 15.5 7.65995 15.5 8ZM10.142 0.817476L9.69709 0.685638C10.42 0.84952 11.1086 1.1219 11.7646 1.50273C12.9186 2.17261 13.8274 3.08144 14.4973 4.2354C14.8781 4.89143 15.1505 5.58001 15.3144 6.3029L15.1825 5.85796C15.0038 5.25476 14.7522 4.68434 14.428 4.14769C14.1056 3.61418 13.7293 3.13157 13.2989 2.70113C12.8684 2.2707 12.3858 1.89437 11.8523 1.57204C11.3157 1.24782 10.7452 0.9962 10.142 0.817476ZM4.2354 1.50273C4.88722 1.12434 5.57118 0.853022 6.28899 0.688808L5.85698 0.817766C5.10744 1.04151 4.40381 1.38244 3.74734 1.83842C2.29941 2.83015 1.319 4.17505 0.817701 5.8572L0.688105 6.29206C0.852248 5.57313 1.1238 4.88815 1.50273 4.2354C2.17261 3.08144 3.08144 2.17261 4.2354 1.50273ZM1.50273 11.7646C1.1219 11.1086 0.84952 10.42 0.685638 9.69709L0.817476 10.142C1.17474 11.3478 1.80433 12.4021 2.70113 13.2989C3.59793 14.1957 4.65218 14.8253 5.85796 15.1825L6.30291 15.3144C5.58002 15.1505 4.89144 14.8781 4.2354 14.4973C3.08144 13.8274 2.17261 12.9186 1.50273 11.7646ZM11.7646 14.4973C11.0993 14.8835 10.4006 15.1581 9.66652 15.3212L10.14 15.1831C10.9441 14.9486 11.6856 14.5877 12.3622 14.1013C13.0369 13.6161 13.6151 13.0352 14.095 12.36C14.5745 11.6854 14.9367 10.9467 15.1813 10.1461L15.3016 9.75247C15.1365 10.4552 14.8684 11.1253 14.4973 11.7646C13.8274 12.9186 12.9186 13.8274 11.7646 14.4973ZM11.2692 6.74818C11.2311 6.65054 11.1884 6.55434 11.1409 6.45962L11.1642 6.5H11.1994L11.2692 6.74818ZM9.54038 4.85909C9.44566 4.81164 9.34946 4.7689 9.25183 4.73085L9.5 4.80065V4.83582L9.54038 4.85909ZM8.00781 4.5C8.02869 4.5 8.0496 4.50022 8.07053 4.50067C8.04851 4.50025 8.02644 4.50003 8.00431 4.5C8.00548 4.5 8.00665 4.5 8.00781 4.5ZM6.5 4.79525L6.72056 4.7351C6.64593 4.76451 6.5724 4.79667 6.5 4.83155V4.79525ZM4.80065 6.5H4.83155C4.8013 6.56278 4.7731 6.62641 4.74697 6.69088L4.80065 6.5ZM4.76539 9.5L4.61777 8.90953C4.67269 9.11429 4.74679 9.31367 4.84002 9.50729L4.83582 9.5H4.76539ZM6.5 11.2393V11.1664C6.67833 11.2514 6.86179 11.3201 7.05004 11.3726L6.5 11.2393ZM8.00781 11.5C8.00656 11.5 8.00532 11.5 8.00407 11.5C8.03826 11.5 8.07229 11.4995 8.10617 11.4986C8.07332 11.4995 8.04054 11.5 8.00781 11.5ZM9.5 11.2346L9.04415 11.3486C9.20063 11.3007 9.35263 11.2414 9.5 11.1709V11.2346ZM11.2346 9.5H11.1733C11.2398 9.3606 11.2961 9.21689 11.3424 9.06902L11.2346 9.5Z" stroke="#616161"/>
                </svg>
                <a href="">{% trans %}Тех. поддержка{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                {{ block('svgAccoutnMenuSettings') }}
                <a href="{{path('account_settingsLocale',{'_locale' : app.request.locale})}}" {% if routeName == 'account_settingsLocale' %}class="active"{% endif %}>{% trans %}Настройки{% endtrans %}</a>
            </div>
        </li>
        <li>
            <div class="accountMenuItem">
                <a href="{{path('logout')}}" class="logout">{% trans %}Выход{% endtrans %}</a>
            </div>
        </li>
    </ul>
</div>
{% endif %}

