<img src="https://dl.dropboxusercontent.com/s/bhlz9y5atxpxv6p/logo.png" alt="auto28.es" />
<h3>Пользователь сайта пожаловался на автосервис.</h3>
<p>Пользователь <strong>{{ user.userinfo.firstname }} {{ user.userinfo.lastname }}</strong> пожаловался на автосервис</p>
<h3><a href="{{ absolute_url(path('servicePage', {'serviceId' : service.id,'serviceName' : service.name})) }}">{{ service.name }}</a></h3>
Вы можете обработать жалобу в <a href="{{  absolute_url(path("account"))}}">личном кабинете</a> {{ settings.siteName }}.
<p></p>