<img src="https://lh6.googleusercontent.com/jUINxXgP0BiDUPUQULrWMv8wUdF4_ecw2ilgmoT318_Iy3bGtvb8t8RTNZdl2cBdrkr6dctxUh7f3A=w1920-h1057" />
<h3>Пользователь сайта {{ settings.siteName }} пожаловался на объявление.</h3>
<p>
    Пользователь <strong>{{ user.userinfo.firstname }} {{ user.userinfo.lastname }}</strong> пожаловался на объявление на сайте {{ settings.siteName }} 
    <h3><a href="{{ absolute_url(path('product', {'productId' : product.id,'productName' : product.translit})) }}">{{ product.name }}</a></h3>
    Вы можете обработать жалобу в <a href="{{  absolute_url(path("admin_complaint")) }}">системе управления сайтом</a> {{ settings.siteName }}.
</p>
