<img src="https://dl.dropboxusercontent.com/s/bhlz9y5atxpxv6p/logo.png" alt="auto28.es" />
<h3>Уважаемый, {{ product.user.userinfo.firstname }} {{ product.user.userinfo.lastname }}!</h3>
<p>Ваше объявление <strong><a href="{{ absolute_url(path('editproduct',{'productId' : product.id})) }}">{{ product.name }}</a></strong> на портале {{ settings.siteName }} не прошло модерацию. Причина: {{ reason }}.</p>