<img src="https://dl.dropboxusercontent.com/s/bhlz9y5atxpxv6p/logo.png" alt="auto28.es" />
<h3>Пользователь сайта {{ settings.siteName }} поделился с Вами информацией об объявлении!</h3>
<p>Пользователь сайта {{ settings.siteName }} отправил Вам ссылку на объявление на сайте {{ settings.siteName }}.</p>
<div><img src="{{ absolute_url(asset('bundles/images/products/' ~ product.mainfoto )) }}" style="width: 250px;" /></div>
<h3><a href="{{ absolute_url(path('product', {'productId' : product.id,'productName' : product.translit})) }}">{{ product.name }}</a></h3>
<p></p>