<img src="https://lh6.googleusercontent.com/jUINxXgP0BiDUPUQULrWMv8wUdF4_ecw2ilgmoT318_Iy3bGtvb8t8RTNZdl2cBdrkr6dctxUh7f3A=w1920-h1057" />
<h3>Пользователь сайта {{ settings.siteName }} поделился с Вами информацией об объявлении!</h3>
<p>
    Пользователь <a href="{{ absolute_url(path('profile', {'userId' : user.id})) }}"><strong>{{ user.userinfo.firstname }} {{ user.userinfo.lastname }}</strong></a> отправил Вам ссылку на объявление на сайте {{ settings.siteName }}.
    <div><img src="{{ absolute_url(asset('bundles/images/products/' ~ product.mainfoto )) }}" style="width:250px;"></div>
    <h3><a href="{{ absolute_url(path('product', {'productId' : product.id,'productName' : product.translit})) }}">{{ product.name }}</a></h3>
</p>
