<img src="https://lh6.googleusercontent.com/jUINxXgP0BiDUPUQULrWMv8wUdF4_ecw2ilgmoT318_Iy3bGtvb8t8RTNZdl2cBdrkr6dctxUh7f3A=w1920-h1057" />
<h3>Уважаемый, {{ product.user.userinfo.firstname }} {{ product.user.userinfo.lastname }}!</h3>
<p>
    На ваше объявление на портале {{ settings.siteName }} 
    <strong><a href="{{ absolute_url(path('product', {'productId' : product.id,'productName' : product.translit})) }}">{{ product.name }}</a></strong> 
    поступил новый заказ.
    <br/>
    Номер заказа {{ order.id }}. Комментарий к заказу: {{ order.comment }}
    <br/>
    Вы можете обработать заказ в Вашем <a href="{{  absolute_url(path("account")) }}">личном кабинете</a> на портале {{ settings.siteName }}.
</p>

