<img src="{{ absolute_url(asset('bundles/images/site/' ~ settings.siteLogo)) }}" />
<h3>Спасибо за регистрацию!</h3>
<div><p>Ваши реквизиты для доступа в личный кабинет:</p></div>
<div><p><b>Логин:</b> {{ user.username }}</p></div>
<div><p><b>Пароль:</b> {{ password}}</p></div>
<div>
<p>Для подтверждения регистрации Вам необходимо пройти по указанной ссылке: 
    <a href="{{absolute_url(path('register_confirm', {key: key, id: register.id})) }}">{{absolute_url(path('register_confirm', {key: key, id: register.id})) }}</a>
</p>
<p>Если Вы не регистрировались на сайте и получили это письмо случайно, просто проигнорируйте его.</p>
</div>