<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metatags %}{% endblock %}
    {% block metasocials %}{% endblock %}
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('bundles/Default/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/customform.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/mobile.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/dropzone.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/owl/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Default/css/owl/owl.theme.default.min.css') }}" rel="stylesheet">
    <!--[if IE]>
        <link href="{{ asset('bundles/Default/css/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]--> 
	<script src="{{ asset('bundles/Default/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/Default/js/jqueryui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/Default/js/dropzone.js') }}"></script>
  </head>
  <body>
        <style>.sticky {position: fixed;z-index: 101;}.stop {position: relative;z-index: 101;}</style>
        {% block topbanner %}{% endblock %}
        {{ render(controller('DashboardCommonBundle:Default:getHeader', {'request' : app.request})) }}
	{% block body %}{% endblock %}	
	{{ render(controller('DashboardCommonBundle:Default:getFooter', {'request' : app.request, 'session' : app.session})) }} 
        <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
  </body>
</html>



