<footer id="footerBlock">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footerLogoBlock" >
                <div class="footerLogo">
                    {% if settings.siteLogo %}
                        <a href="{{ path('main') }}">
                            <img src="/logo.svg" alt="" title="" />
                        </a>
                    {% endif %}
                </div>
                <div class="footerSiteDescription">
                    {% trans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, totam, porro dolorum vitae ad quasi veniam iusto sed tempora cumque perferendis aspernatur. Laboriosam, animi, inventore, quia numquam optio libero enim ipsa in dolores quis iusto atque qui{% endtrans %}.
                </div>
            </div>    
            <div class="col-md-9">
                <div id="navbar-bottom">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1 footer-menu">
                            <div class="footer-menu-header">{% trans %}Информация{% endtrans %} <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#616161"/>
</svg></div>
                            <div class="footer-menu-list-block">
                                <ul class="list-unstyled footer-menu-list list-inline">
                                    {% if footerPages %}
                                        {% for page in footerPages %}
                                            {% if page.footerMenuSection == 1 %}
                                                {% if page.isUserpage %}
                                                    <li><a href="{{ path('pages',{'route' : page.route}) }}">{{ page.title }}</a></li>
                                                {% else %}
                                                    <li><a href="{{ path(page.route) }}">{{ page.title }}</a></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1 footer-menu">
                            <div class="footer-menu-header">{% trans %}Услуги{% endtrans %} <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#616161"/>
</svg></div>
                            <div class="footer-menu-list-block">
                                <ul class="list-unstyled footer-menu-list">
                                    {% if footerPages %}
                                        {% for page in footerPages %}
                                            {% if page.footerMenuSection == 2 %}
                                                {% if page.isUserpage %}
                                                    <li><a href="{{ path('pages',{'route' : page.route}) }}">{{ page.title }}</a></li>
                                                {% else %}
                                                    <li><a href="{{ path(page.route) }}">{{ page.title }}</a></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-1 footer-menu">
                            <div class="footer-menu-header">{% trans %}Аккаунт{% endtrans %} <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#616161"/>
</svg></div>
                            <div class="footer-menu-list-block">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <ul class="list-unstyled footer-menu-list">
                                        <li>
                                            <a href="{{path('account')}}">{% trans %}Личный кабинет{% endtrans %}</a>
                                        </li>
                                        <li>
                                            <a href="{{path('logout')}}" class="top-info-logout">{% trans %}Выйти{% endtrans %}</a>
                                        </li>
                                    </ul>
                                {% else %}
                                    <ul class="list-unstyled footer-menu-list no-flex">
                                        <li><a href="{{path('login')}}">{% trans %}Войти{% endtrans %}</a></li>
                                        <li><a href="{{path('register')}}">{% trans %}Регистрация{% endtrans %}</a></li>
                                        <li><a href="{{path('restore')}}">{% trans %}Забыли пароль?{% endtrans %}</a></li>
                                    </ul>    
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footerCopyrights">
            <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">{{ settings.copyright | raw }}</div>
        </div> 
    </div>
</footer>
<div class="modal fade" id="regionModal" tabindex="-1" role="dialog" aria-labelledby="regionModalLabel">
    <div class="modal-dialog" role="document">
        {{ form_start(cityForm, {'method':'POST','multipart':true,'attr': {'class': 'form-horizontal'}}) }}
            <input name="selectFilterRegionCity" value="1" type="hidden" />
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 1.4524L24.5476 0L13 11.5578L1.4524 0L0 1.4524L11.5578 13L0 24.5476L1.4524 26L13 14.4422L24.5476 26L26 24.5476L14.4422 13L26 1.4524Z" fill="white"/>
                    </svg>
                </button>
                <div class="modal-header" style="border:none">
                    <h3 class="modal-title" id="regionModalLabel">{% trans %}Выберите Ваше местоположение{% endtrans %}</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label">{% trans %}Город{% endtrans %}:</label>
                        <div class="col-md-8" id="siteRegionCities">
                            {{ form_widget(cityForm.name)}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:none;text-align: center;">
                    <div class="col-lg-12">
                        <button type="submit" class="btn">{% trans %}Выбрать город{% endtrans %}</button>
                    </div>
                </div>
            </div>
        {{ form_end(cityForm) }}
    </div>
</div>
        <div class="modal fade" id="userAgreementModal" tabindex="-1" role="dialog" aria-labelledby="howToBuyModalLabel">
	  <div class="modal-dialog" role="document">
		<form class="form-horizontal region-select-form" action="" method="post">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="regionModalLabel">{% trans %}Пользовательское соглашение{% endtrans %}</h4>
			  </div>
			  <div class="modal-body">
                                {{ textblock.userAgreement | raw}}
			  </div>
			  <div class="modal-footer">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
                                    <button type="submit" class="btn" data-dismiss="modal" aria-label="Close">{% trans %}Закрыть{% endtrans %}</button>
                                </div>
				<div class="col-sm-4"></div>
			  </div>
			</div>
		</form>
	  </div>
        </div>
        <div id="desktopSearchModal" tabindex="-1" role="dialog">
            <div class="searchBlock">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 searchBlockInner">
                            {% if settings.siteLogo %}
                                <div><img src="{{ asset('bundles/images/site/') }}{{ settings.siteLogo }}" alt="" title="" /></div>
                            {% endif %}
                            <div class="searchBlockForm">
                                <form action="{{ path('search') }}" method="post" id="modalSearchForm">
                                    <input name="searchText" type="text" placeholder="{% trans %}Поиск{% endtrans %}..." {% if app.request.get('searchText') %} value="{{ app.request.get('searchText')}}" {% endif %} onkeyup="getModalSearchResults($(this))"/>
                                    <button type="submit" class="submit">{% trans %}Все результаты{% endtrans %}</button>
                                </form>
                            </div>
                            <button type="button" onclick="toggleSearchModal()" class="close">
                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26 1.4524L24.5476 0L13 11.5578L1.4524 0L0 1.4524L11.5578 13L0 24.5476L1.4524 26L13 14.4422L24.5476 26L26 24.5476L14.4422 13L26 1.4524Z" fill="#222B2A"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="{{ asset('bundles/Default/js/jcarousel.js') }}"></script>
    <script src="{{ asset('bundles/Default/js/custom.js') }}"></script>
    <script src="{{ asset('bundles/Admin/assets/plugins/TinyMCE/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/Default/js/lightbox.js') }}"></script>
    <script src="{{ asset('bundles/Default/js/jquery.customform.js') }}"></script>
    <script src="{{ asset('bundles/Default/js/owl/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('bundles/Default/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ settings.googleMapsKey }}&callback=initMap" async defer></script>
    <script>
    (function(){
    var a = document.querySelector('#bannersSticky'), b = null, P = 15;
    window.addEventListener('scroll', Ascroll, false);
    document.body.addEventListener('scroll', Ascroll, false);
        function Ascroll() {
          if (b == null) {
            var Sa = getComputedStyle(a, ''), s = '';
            for (var i = 0; i < Sa.length; i++) {
              if (Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0 || Sa[i].indexOf('background') == 0) {
                s += Sa[i] + ': ' +Sa.getPropertyValue(Sa[i]) + '; '
              }
            }
            b = document.createElement('div');
            b.style.cssText = s + ' box-sizing: border-box; width: ' + a.offsetWidth + 'px;';
            a.insertBefore(b, a.firstChild);
            var l = a.childNodes.length;
            for (var i = 1; i < l; i++) {
              b.appendChild(a.childNodes[1]);
            }
            a.style.height = b.getBoundingClientRect().height + 'px';
            a.style.padding = '0';
            a.style.border = '0';
          }
          var Ra = a.getBoundingClientRect(),
              R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('#footerBlock').getBoundingClientRect().top + 0);  
          if ((Ra.top - P) <= 0) {
            if ((Ra.top - P) <= R) {
              b.className = 'stop';
              b.style.top = - R +'px';
            } else {
              b.className = 'sticky';
              b.style.top = P + 'px';
            }
          } else {
            b.className = '';
            b.style.top = '';
          }
          window.addEventListener('resize', function() {
            a.children[0].style.width = getComputedStyle(a, '').width
          }, false);
        }
        })()
    </script>	