{% use 'DashboardCommonBundle:Common:icons.html.twig' %}
<header>
    <div class="headerlocale">
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <div class="headerMenu">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="header-locale">
                            <div class="select-languages">
                                <div class="select-language">
                                    <div class="select-language-option-main">
                                        {% for item in locales %}
                                            {% if item.id == locale.id %}
                                                {% if item.isDefault %}
                                                    <a href="javascript:void(0)" class="locale-change" style="background:url('{{ asset('bundles/Default/img/flags/' ~ item.country)}}') 0 50% no-repeat;-webkit-background-size: 30px auto;background-size: 30px auto;">{{ item.name }}</a>
                                                {% else %}
                                                    <a href="javascript:void(0)" class="locale-change" style="background:url('{{ asset('bundles/Default/img/flags/' ~ item.country)}}') 0 50% no-repeat;-webkit-background-size: 30px auto;background-size: 30px auto;">{{ item.name }}</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="select-language-options">
                                        {% for item in locales %}
                                            {% if item.id != locale.id %}
                                                <div class="select-language-option">
                                                    {% if item.isDefault %}
                                                        <a href="{{ uri }}" class="locale-change" style="background:url('{{ asset('bundles/Default/img/flags/' ~ item.country)}}') 0 50% no-repeat;-webkit-background-size: 30px auto;background-size: 30px auto;">{{ item.name }}</a>
                                                    {% else %}
                                                        <a href="/{{ item.code }}{{ uri }}" class="locale-change" style="background:url('{{ asset('bundles/Default/img/flags/' ~ item.country)}}') 0 50% no-repeat;-webkit-background-size: 30px auto;background-size: 30px auto;">{{ item.name }}</a>
                                                    {% endif %}
                                                </div>  
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="select-location">
                                <a data-toggle="modal" data-target="#regionModal" class="top-select-region">
                                    {% if sessionCity %}
                                        {{ sessionCity.name }}
                                    {% else %}
                                        {% if sessionRegion %}
                                            {{ sessionRegion.name }}
                                        {% else %}
                                            {% trans %}Вся Испания{% endtrans %}
                                        {% endif %}
                                    {% endif %}
                                </a>            
                            </div>
                        </div>
                        <div>
                            <ul class="list-unstyled list-inline loginned-top-info">
                                <li>
                                    {% if app.user.userinfo.firstname or  app.user.userinfo.lastname %}
                                        {% if  app.request.locale == 'lv' %}
                                            <a href="{{path('account')}}">{{ app.user.userinfo.firstname }} {{app.user.userinfo.lastname}}</a>
                                        {% else %}
                                            <a href="{{path('accountLocale',{'_locale' : app.request.locale})}}">{{ app.user.userinfo.firstname }} {{app.user.userinfo.lastname}}</a>
                                        {% endif %}
                                    {% elseif app.user.vkID %}
                                        {% if  app.request.locale == 'lv' %}
                                            <a href="{{path('account')}}">{{ app.user.vkID }}</a>
                                        {% else %}
                                            <a href="{{path('accountLocale',{'_locale' : app.request.locale})}}">{{ app.user.vkID }}</a>
                                        {% endif %}
                                    {% elseif app.user.fbID %} 
                                        {% if  app.request.locale == 'lv' %}
                                            <a href="{{path('account')}}">{{ app.user.fbID }}</a>
                                        {% else %}
                                            <a href="{{path('accountLocale',{'_locale' : app.request.locale})}}">{{ app.user.fbID }}</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                                {% if messagesNew | length > 0 %}
                                    {% if  app.request.locale == 'lv' %}
                                        <li><a href="{{path('account_messages')}}" class="top-info-message">{{ messagesNew | length }}</a></li>
                                    {% else %}
                                        <li><a href="{{path('account_messagesLocale',{'_locale' : app.request.locale})}}" class="top-info-message">{{ messagesNew | length }}</a></li>
                                    {% endif %}
                                {% endif %}
                                <li><a class="top-info-purchase">{% trans %}Uz kontu{% endtrans %}: {{ user.userpurse.balanse }} {{ settings.currency.name }}</a></li>
                                <li><a href="{{path('logout')}}" class="top-info-logout"></a></li>
                            </ul>
                        </div>
                        {% else %}
                            <div class="header-locale">
                                <div class="select-languages">
                                    <div class="select-language">
                                        <div class="select-language-option-main">
                                            {% for item in locales %}
                                                {% if item.id == locale.id %}
                                                    {% if item.isDefault %}
                                                        <a href="javascript:void(0)" class="locale-change" style="background:url('{{ asset('bundles/Default/img/flags/' ~ item.country)}}') 0 50% no-repeat;-webkit-background-size: 30px auto;background-size: 30px auto;">{{ item.name }}</a>
                                                    {% else %}
                                                        <a href="javascript:void(0)" class="locale-change" style="background:url('{{ asset('bundles/Default/img/flags/' ~ item.country)}}') 0 50% no-repeat;-webkit-background-size: 30px auto;background-size: 30px auto;">{{ item.name }}</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="select-language-options">
                                            {% for item in locales %}
                                                {% if item.id != locale.id %}
                                                    <div class="select-language-option">
                                                        {% if item.isDefault %}
                                                            <a href="{{ uri }}" class="locale-change" style="background:url('{{ asset('bundles/Default/img/flags/' ~ item.country)}}') 0 50% no-repeat;-webkit-background-size: 30px auto;background-size: 30px auto;">{{ item.name }}</a>
                                                        {% else %}
                                                            <a href="/{{ item.code }}{{ uri }}" class="locale-change" style="background:url('{{ asset('bundles/Default/img/flags/' ~ item.country)}}') 0 50% no-repeat;-webkit-background-size: 30px auto;background-size: 30px auto;">{{ item.name }}</a>
                                                        {% endif %}
                                                    </div>  
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="select-location">
                                    <a data-toggle="modal" data-target="#regionModal" class="top-select-region">
                                        {% if sessionCity %}
                                            {{ sessionCity.name }}
                                        {% else %}
                                            {% if sessionRegion %}
                                                {{ sessionRegion.name }}
                                            {% else %}
                                                {% trans %}Вся Испания{% endtrans %}
                                            {% endif %}
                                        {% endif %}
                                    </a>            
                                </div>
                            </div>
                            <div>
                                <ul class="list-unstyled list-inline">
                                    {% if  app.request.locale == 'lv' %}   
                                        <li><a href="{{path('login')}}">{% trans %}Pierakstieties{% endtrans %}</a><div class="hover-border"></div></li>
                                        <li> / </li>
                                        <li><a href="{{path('register')}}">{% trans %}Reģistrācijas{% endtrans %}</a><div class="hover-border"></div></li>
                                    {% else %}
                                        <li><a href="{{path('loginLocale',{'_locale' : app.request.locale})}}">{% trans %}Pierakstieties{% endtrans %}</a></a><div class="hover-border"></div></li>
                                        <li> / </li>
                                        <li><a href="{{path('registerLocale',{'_locale' : app.request.locale})}}">{% trans %}Reģistrācijas{% endtrans %}</a></a><div class="hover-border"></div></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %} 
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row header-functions">
            <div class="col-lg-3 col-md-3 siteLogo">
                <div class="siteLogoImage">
                    {% if settings.siteLogo %}
                        {% if  app.request.locale == 'lv' %}
                            <a href="{{ path('main') }}">
                                <img src="{{ asset('bundles/images/site/') }}{{ settings.siteLogo }}" alt="" title="" />
                            </a>
                        {% else %}
                            <a href="{{ path('mainLocale',{'_locale' : app.request.locale}) }}">
                                <img src="{{ asset('bundles/images/site/') }}{{ settings.siteLogo }}" alt="" title="" />
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="siteMenuGamburger">
                    <button>{{ block('svgGamburger') }}</button>
                </div>
                <div class="siteMenuSearch">
                    <button>{{ block('svgSearch') }}</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 siteMainMenu">
                <ul class="list-unstyled list-inline">
                    <li class="active"><a href="">Легковые</a><div class="hover-border"></div></li>
                    <li><a href="">Мотоциклы</a><div class="hover-border"></div></li>
                    <li><a href="">Автодома</a><div class="hover-border"></div></li>
                    <li class="submenu"><a href="">Коммерческие
                            <div class="shadowBlock"></div>
                        </a>
                        <div class="hover-border"></div>
                        <div class="siteMainSubmenu">
                            <ul class="list-unstyled">
                                <li><a href="">Автобусы</a></li>
                                <li><a href="">Грузовики</a></li>
                                <li><a href="">Тягачи</a></li>
                                <li><a href="">Прицепы и полуприцепы</a></li>
                                <li><a href="">Сельскохозяйственная</a></li>
                                <li><a href="">Строительная и дорожная</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="">Погрузчики</a></li>
                                <li><a href="">Автокраны</a></li>
                                <li><a href="">Экскаваторы</a></li>
                                <li><a href="">Бульдозеры</a></li>
                                <li><a href="">Смопогрузчики</a></li>
                                <li><a href="">Коммунальная</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="">Услуги</a><div class="hover-border"></div></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 header-add-button-block hidden-sm hidden-xs">
                            {% if  app.request.locale == 'lv' %}
                                {% if app.user %}
                                    <a href="{{path('addproduct')}}" class="header-add-button pull-right">
                                        {{ block('svgAddAdvert') }}
                                    </a>
                                {% else %}
                                    <a href="{{path('login')}}" class="header-add-button pull-right">
                                        {{ block('svgAddAdvert') }}</a>
                                {% endif %}
                            {% else %}
                                {% if app.user %}
                                    <a href="{{path('addproductLocale',{'_locale' : app.request.locale})}}" class="header-add-button pull-right">{{ block('svgAddAdvert') }}</a>
                                {% else %}
                                    <a href="{{path('loginLocale',{'_locale' : app.request.locale})}}" class="header-add-button pull-right">{{ block('svgAddAdvert') }}</a>
                                {% endif %}
                            {% endif %}
			</div>
                        <div class="col-lg-3 col-md-3 header-add-button-block hidden-lg hidden-md">
                            {% if  app.request.locale == 'lv' %}
                                {% if app.user %}
                                    <a href="{{path('addproduct')}}" class="header-add-button pull-right">
                                        {{ block('svgAddAdvert') }}</a>
                                {% else %}
                                    <a href="{{path('login')}}" class="header-add-button pull-right">
                                    {{ block('svgAddAdvert') }}
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if app.user %}
                                    <a href="{{path('addproductLocale',{'_locale' : app.request.locale})}}" class="header-add-button pull-right">{{ block('svgAddAdvert') }}</a>
                                {% else %}
                                    <a href="{{path('loginLocale',{'_locale' : app.request.locale})}}" class="header-add-button pull-right">{{ block('svgAddAdvert') }}</a>
                                {% endif %}
                            {% endif %}
			</div>
        </div>
        {% for flashMessage in app.session.flashbag.get('notice_header') %}
            <div class="notice-message">
                {{ flashMessage | raw }}
            </div>                             
        {% endfor %}
    </div>
</header>
