{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block topbanner %}
    <div class="topBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 topBannerBlock">
                    {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'toppage'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<nav class="navbar navbar-default">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    {% if  app.request.locale == 'lv' %} 
                        <li class="arrow"><a href="{{ path('main') }}">{% trans %}Mājas{% endtrans %}</a></li>
                        <li><a href="">{{ page.title }}</a></li>
                    {% else %}
                        <li class="arrow"><a href="{{ path('mainLocale',{'_locale' : app.request.locale}) }}">{% trans %}Mājas{% endtrans %}</a></li>
                        <li><a href="">{{ page.title }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>
</nav>
<div class="container">
	<div class="row content-row">
		<div class="col-lg-9 col-md-9 left-column">
                    <div class="page-no-data">{{ page.text | raw }}</div>
		</div>
		<div class="col-lg-3 col-md-3 right-column">
			<script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email"></div>
			<div class="advertise-block hidden-sm hidden-xs" id="bannersSticky">
                            {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'rightcolumn'})) }}
			</div>
                        <div class="advertise-block hidden-lg hidden-md">
                            {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'rightcolumn'})) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}

