<div class="product-tabs-inner">
    <ul class="nav nav-tabs">
        <li role="presentation">
            {% if user %}
                <a data-toggle="modal" data-target="#messageModal" href="">
                    <img src="{{ asset('bundles/Default/img/message.svg') }}" alt="" title="" />
                    <img src="{{ asset('bundles/Default/img/messageHover.svg') }}" alt="" title="" />
                    {% trans %}Написать владельцу{% endtrans %}
                </a>
            {% else %}
                <a href="{{ path('login') }}">
                    <img src="{{ asset('bundles/Default/img/message.svg') }}" alt="" title="" />
                    <img src="{{ asset('bundles/Default/img/messageHover.svg') }}" alt="" title="" />
                    {% trans %}Написать владельцу{% endtrans %}
                </a>
            {% endif %}
        </li>
        <li role="presentation">
            <a data-toggle="modal" data-target="#friendMessageModal" href="">
                <img src="{{ asset('bundles/Default/img/friend.svg') }}" alt="" title="" />
                <img src="{{ asset('bundles/Default/img/friendHover.svg') }}" alt="" title="" />
                {% trans %}Сообщить другу{% endtrans %}
            </a>
        </li>
        <li role="presentation">
                <a data-toggle="modal" data-target="#complaintMessageModal" href="">
                    <img src="{{ asset('bundles/Default/img/complaint.svg') }}" alt="" title="" />
                    <img src="{{ asset('bundles/Default/img/complaintHover.svg') }}" alt="" title="" />
                    {% trans %}Пожаловаться{% endtrans %}
                </a>
            </li>
        <li role="presentation">
            {% if user %}
                <a href="javascript:void(0);" onclick="addFavoriteProduct({{ product.id }}, {% if user %}1{% else %}0{% endif %}, $(this))" aria-controls="settings" role="tab" data-toggle="tab">
                    {% if isFavorite %}
                        <img src="{{ asset('bundles/Default/img/favHover.svg') }}" alt="" title="" />
                    {% else %}
                        <img src="{{ asset('bundles/Default/img/fav.svg') }}" alt="" title="" />
                    {% endif %}
                    <img src="{{ asset('bundles/Default/img/favHover.svg') }}" alt="" title="" />
                    {% trans %}В избранное{% endtrans %}
                </a>
            {% else %}
                <a href="{{ path('login') }}">
                    <img src="{{ asset('bundles/Default/img/fav.svg') }}" alt="" title="" />
                    <img src="{{ asset('bundles/Default/img/favHover.svg') }}" alt="" title="" />
                    {% trans %}В избранное{% endtrans %}
                </a>
            {% endif %}
        </li>
    </ul>
</div>