{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% form_theme categoryForm _self %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    {%- endif -%}
{%- endblock form_label -%}

{%- block choice_widget_expanded -%}
    <div class="filter-category-table">
        <table class="table table-striped">
            {%- for child in form %}
                <tr>
                    <td width="30px">{{- form_widget(child) -}}</td>
                    <td>{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}</td>
                </tr>
            {% endfor -%}
        </table>
    </div>
{%- endblock choice_widget_expanded -%}

{% block _category_generations_widget %}
    <table class="table table-bordered table-generations">
        <thead>
            <tr>
                <th>{% trans %}Название{% endtrans %}</th>
                <th>{% trans %}Годы выпуска{% endtrans %}</th>
                <th>{% trans %}Характеристики{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_generations_entry_row %}
    <tr>
        <td>
            {{ form_widget(form.name)}}
            {{ form_widget(form.translations,{'id' : 'generation_translations_sub'})}}
        </td>
        <td>
            Начало: {{ form_widget(form.yearFrom)}}
            Окончание: {{ form_widget(form.yearTo)}}
        </td>
        <td>  
            <div style="padding-bottom: 15px;">
                <div>{{ form_widget(form.isRightWheel) }} Правый руль</div>
                <div>{{ form_widget(form.isGas) }} Газобалонное оборудование</div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#modification{{ form.vars.id }}" aria-expanded="false">Модификации</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#board{{ form.vars.id }}">Типы кузовов</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#items{{ form.vars.id }}">Комбинации</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="modification{{ form.vars.id }}" class="tab-pane fade active in">
                    {{ form_widget(form.modifications,{'id' : 'generation_modifications'})}}
                </div>
                <div id="board{{ form.vars.id }}" class="tab-pane fade">
                    {{ form_widget(form.boards,{'id' : 'generation_boards'})}}
                </div>
                <div id="items{{ form.vars.id }}" class="tab-pane fade">
                    {{ form_widget(form.items,{'id' : 'generation_items'})}}
                </div>
            </div>
        </td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить поколение?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить поколение"></i>
            </button> 
        </td>
    </tr>
{% endblock %}   

{% block _category_generations_entry_items_widget %}
    <button class="btn btn-sm btn-success m-b-15 add-generation-item" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Добавить</button>
    <table class="table table-bordered table-generation-items">
        <thead>
            <tr>
                <th>{% trans %}Тип кузова{% endtrans %}</th>
                <th>{% trans %}Двигатель{% endtrans %}</th>
                <th>{% trans %}Привод{% endtrans %}</th>
                <th>{% trans %}Коробка передач{% endtrans %}</th>
                <th>{% trans %}Модификации{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_generations_entry_items_entry_row %}
    <tr>
        <td>{{ form_widget(form.board)}}</td>
        <td>{{ form_widget(form.gasType)}}</td>
        <td>{{ form_widget(form.transmissionType)}}{{ form_widget(form.generation)}}</td>
        <td>{{ form_widget(form.gearType)}}</td>
        <td>{{ form_widget(form.itemModifications)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить пункт?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _category_generations_entry_modifications_widget %}
    <button class="btn btn-sm btn-success m-b-15 add-generation-modification" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Добавить</button>
    <table class="table table-bordered table-generation-modifications">
        <thead>
            <tr>
                <th>{% trans %}Мощность двигателя(л.с.){% endtrans %}</th>
                <th>{% trans %}Объем двигателя{% endtrans %}</th>
                <th>{% trans %}Год{% endtrans %}</th>
                <th>{% trans %}Порядок{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_generations_entry_modifications_entry_row %}
    <tr>
        <td>{{ form_widget(form.power)}}</td>
        <td>{{ form_widget(form.size)}}</td>
        <td>{{ form_widget(form.label)}}</td>
        <td>{{ form_widget(form.sortorder)}}{{ form_widget(form.generation)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить перевод?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод для языка"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _category_generations_entry_boards_widget %}
    <button class="btn btn-sm btn-success m-b-15 add-generation-board" type="button">
        <i class="fa fa-plus" aria-hidden="true"></i>Добавить</button>
    <table class="table table-bordered table-generation-boards">
        <thead>
            <tr>
                <th>{% trans %}Изображение{% endtrans %}</th>
                <th>{% trans %}Тип кузова{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_generations_entry_boards_entry_row %}
    <tr>
        <td>
            {% if form.image.vars.value %}
                <img src="{{ asset('bundles/images/category/generation/') }}{{ form.image.vars.value }}" alt="" title="" width="200px" />
            {%endif %}
            {{ form_widget(form.imageNew)}}
            {{ form_widget(form.image)}}
        </td>
        <td>{{ form_widget(form.board)}}{{ form_widget(form.generation)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить пункт?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _category_generations_entry_translations_widget %}
    <button class="btn btn-sm btn-success m-b-15 add-generation-translation" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Добавить перевод</button>
    <table class="table table-bordered table-generation-translations-sub">
        <thead>
            <tr>
                <th>{% trans %}Локализация{% endtrans %}</th>
                <th>{% trans %}Перевод{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_generations_entry_translations_entry_row %}
    <tr>
        <td>{{ form_widget(form.locale)}}</td>
        <td>{{ form_widget(form.value)}}{{ form_widget(form.generation)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить перевод?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод для языка"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _category_translations_widget %}
    <table class="table table-bordered table-translations">
        <thead>
            <tr>
                <th>{% trans %}Локализация{% endtrans %}</th>
                <th>{% trans %}Перевод{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_translations_entry_row %}
    <tr>
        <td>{{ form_widget(form.locale)}}</td>
        <td>{{ form_widget(form.value)}}{{ form_widget(form.category)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить перевод?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод для языка"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _category_descriptions_widget %}
    <table class="table table-bordered table-descriptions">
        <thead>
            <tr>
                <th>{% trans %}Локализация{% endtrans %}</th>
                <th>{% trans %}Перевод{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_descriptions_entry_row %}
    <tr>
        <td>{{ form_widget(form.locale)}}</td>
        <td>{{ form_widget(form.description)}}{{ form_widget(form.category)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить перевод?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод для языка"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _category_rates_widget %}
    <table class="table table-bordered table-rates">
        <thead>
            <tr>
                <th>{% trans %}ID тарифа для счетов{% endtrans %}</th>
                <th>{% trans %}Тариф{% endtrans %}</th>
                <th>{% trans %}Цена{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_rates_entry_row %}
    <tr>
        <td>{{ form_widget(form.billId)}}</td>
        <td>{{ form_widget(form.rate)}}</td>
        <td>{{ form_widget(form.price)}}{{ form_widget(form.category)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить объект?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод объект"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block title %}{% trans %} Панель управления - Редактировать категорию{% endtrans %}{% endblock %}

{% block body %}
    <div id="content" class="content">
        <ol class="breadcrumb pull-right">
            <li><a href="{{ path('admin_main') }}">Главная</a></li>
            <li><a href="{{ path('admin_product_category') }}">Категории</a></li>
            <li class="active">Категории</li>
        </ol>
        <h1 class="page-header">Категории <small>Редактировать категорию</small></h1>
        <div class="row">
            <div class="col-md-12 ui-sortable">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
                {% endfor %}
                <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <h4 class="panel-title">Информация о категории</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(categoryForm, {'attr' : {'class' : 'form-horizontal'}})}}
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#maininfo">Основная информация</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#translations">Переводы</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#descriptions">Переводы для описания</a>
                            </li> 
                            <li>
                                <a data-toggle="tab" href="#filters">Привязанные фильтры</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#generations">Поколения</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#rates">Тарифы</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#meta">Мета-теги</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="maininfo" class="tab-pane fade active in">
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.title)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.title,{'id' : 'forTranslit'})}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.name)}}</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary" type="button" id="generateTranslit">Транслит</button>
                                            </div>
                                            {{ form_widget(categoryForm.name, {'attr' : {'class' : 'form-control categoryTranslit'}})}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.formType)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.formType)}}
                                    </div>
                                </div>        
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.image)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.image)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.yearFrom)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.yearFrom)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.yearTo)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.yearTo)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.description)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.description)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.isShowFilters)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.isShowFilters)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.isShowPriceFilter)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.isShowPriceFilter)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.isShowBu)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.isShowBu)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.parent)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.parent)}}
                                    </div>
                                </div>     
                            </div>
                            <div id="translations" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                         <button class="btn btn-sm btn-success m-b-15" id="add-translation" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
 Добавить перевод</button>
                                        {{ form_widget(categoryForm.translations,{'id' : 'object_translations'})}}
                                        {% if categoryForm.translations | length <= 0 %}
                                            Переводы не добавлены
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="descriptions" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                         <button class="btn btn-sm btn-success m-b-15" id="add-description" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
 Добавить перевод</button>
                                        {{ form_widget(categoryForm.descriptions,{'id' : 'object_descriptions'})}}
                                        {% if categoryForm.descriptions | length <= 0 %}
                                            Переводы не добавлены
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="filters" class="tab-pane fade">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {% if category.filters | length > 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Название фильтра</th>
                                                        <th>Тип фильтра</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for filter in category.filters %}
                                                        <tr>
                                                            <td>{{ filter.name }}</td>
                                                            <td>{{ filter.type }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            К этой категории не привязано ни одного фильтра
                                        {% endif %}
                                    </div>
                                </div>            
                            </div>
                            <div id="generations" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                         <button class="btn btn-sm btn-success m-b-15" id="add-generation" type="button">
                                             <i class="fa fa-plus" aria-hidden="true"></i>Добавить поколение</button>
                                        {{ form_widget(categoryForm.generations)}}
                                        {% if categoryForm.generations | length <= 0 %}
                                            Поколения не добавлены
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="rates" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                         <button class="btn btn-sm btn-success m-b-15" id="add-category-rate" type="button">
                                             <i class="fa fa-plus" aria-hidden="true"></i>Добавить тариф</button>
                                        {{ form_widget(categoryForm.rates)}}
                                        {% if categoryForm.rates | length <= 0 %}
                                            Тарифы не добавлены
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="meta" class="tab-pane fade">
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagTitle)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagTitle)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagDescription)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagDescription)}}
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagAuthor)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagAuthor)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagRobots)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagRobots)}}
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagKeywords)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagKeywords)}}
                                    </div>
                                </div>  
                            </div>
                        <div class="form-group">
                            <label class="col-md-3 ">{{ form_label(categoryForm.save)}}</label>
                            <div class="col-md-9">
                                {{ form_widget(categoryForm.save,{'type' : 'submit'})}}
                            </div>
                        </div> 
                        {{ form_end(categoryForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


