{% if boards | length > 0 %}
    <td>
        <div class="advertFiltersItemName">{% trans %}Поколение{% endtrans %}</div>
    </td>
    <td>
        <div class="advertFiltersItemValue">
            <div class="addAdvertGenerations">
                {% for board in boards %}
                    <div class="addAdvertGeneration {% if board.generation.id == advertInfo.info.generation.id %}active{% endif %}" onclick="getGenerationEngineEdit({{board.generation.id }},{{ advertInfo.id }}, $(this))">
                        <div class="addAdvertGenerationIcon">
                            <svg width="45" height="22" viewBox="0 0 45 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M31.5304 17.9975C31.5304 20.2151 33.1952 21.9999 35.2636 21.9999C37.332 21.9999 38.9968 20.2151 38.9968 17.9975C38.9968 15.78 37.332 13.9951 35.2636 13.9951C33.1952 13.9951 31.4799 15.8341 31.5304 17.9975ZM33.0438 18.0516C33.0438 16.7535 34.0528 15.6718 35.2636 15.6718C36.4743 15.6718 37.4833 16.7535 37.4833 18.0516C37.4833 19.3497 36.4743 20.4314 35.2636 20.4314C34.0024 20.4314 32.9934 19.3497 33.0438 18.0516Z" fill="#616161"/>
                                <path d="M0 14.8607V18.0518C0 18.4845 0.353139 18.8631 0.756726 18.8631H3.73318C4.18722 18.8631 4.54036 18.5385 4.48991 18.0518C4.48991 14.9688 6.86099 12.4268 9.73655 12.4268C12.6121 12.4268 14.9832 14.9688 14.9832 18.0518C14.9832 18.4845 15.3363 18.8631 15.7399 18.8631H29.2096C29.6637 18.8631 30.0168 18.5385 29.9664 18.0518C29.9664 14.9688 32.3374 12.4268 35.213 12.4268C38.0886 12.4268 40.4596 14.9688 40.4596 18.0518C40.4596 18.4845 40.8128 18.8631 41.2164 18.8631H44.2433C44.6469 18.8631 45 18.4845 45 18.0518V14.8607C45 14.428 44.6469 14.0494 44.2433 14.0494L44.1424 12.0482C44.0919 10.7501 43.4865 9.61426 42.4776 8.91113C40.5605 7.55896 37.2814 6.85584 34.1031 6.80175C29.815 1.23083 23.1054 -0.932637 14.2769 0.365442H14.2265C9.38341 1.28491 7.21413 4.04333 5.59978 6.90992L1.36211 8.42435C1.05942 8.53252 0.857624 8.80296 0.857624 9.18156V13.9953C0.403588 13.9953 0.100897 14.3739 0 14.8607ZM21.037 6.42314L21.0874 2.09621C21.0874 1.87987 21.2892 1.66352 21.491 1.71761C25.5269 2.09621 28.8061 3.55655 31.4294 6.09863C31.6816 6.36906 31.5303 6.80175 31.1771 6.80175H21.3901C21.1883 6.80175 21.037 6.63949 21.037 6.42314ZM11.9563 2.9616C11.9563 2.79934 12.0572 2.63708 12.2085 2.58299C12.8644 2.36665 13.5706 2.1503 14.3778 1.98804C16.0426 1.71761 17.657 1.60943 19.12 1.60943C19.3217 1.60943 19.4731 1.82578 19.4731 2.04213V6.42314C19.4731 6.63949 19.3217 6.80175 19.12 6.80175H12.4103C12.2085 6.80175 12.0572 6.63949 12.0572 6.42314L11.9563 2.9616ZM7.76906 6.15271C8.37444 5.23324 9.03027 4.53011 9.83744 3.88107C10.0897 3.71881 10.4428 3.88107 10.4428 4.20559L10.4933 6.36906C10.4933 6.63949 10.3419 6.80175 10.1401 6.80175H8.1222C7.81951 6.80175 7.66816 6.42314 7.76906 6.15271Z" fill="#616161"/>
                                <path d="M6.05371 17.9975C6.05371 20.2151 7.71851 21.9999 9.7869 21.9999C11.8553 21.9999 13.5201 20.2151 13.5201 17.9975C13.5201 15.78 11.8553 13.9951 9.7869 13.9951C7.71851 13.9951 6.05371 15.8341 6.05371 17.9975ZM7.56716 18.0516C7.56716 16.7535 8.57613 15.6718 9.7869 15.6718C10.9977 15.6718 12.0066 16.7535 12.0066 18.0516C12.0066 19.3497 10.9977 20.4314 9.7869 20.4314C8.57613 20.4314 7.56716 19.3497 7.56716 18.0516Z" fill="#616161"/>
                            </svg>
                        </div>
                        <div class="addAdvertGenerationName">{{ board.generation.name }}</div>
                        <div class="addAdvertGenerationYears">{{ board.generation.yearFrom }} - {{ board.generation.yearTo }}</div>
                        <input name="generation[]" type="radio" class="hidden-radio-parameter" value="{{ board.generation.id }}"  {% if board.generation.id == advertInfo.info.generation.id %}checked="checked"{% endif %}/>
                    </div>    
                {% endfor %}
            </div>
        </div>
    </td>
{% endif %}
