{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Личный кабинет{% endtrans %} - {% trans %}Сообщения{% endtrans %}{% endblock %}

{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    {% if locale.isDefault %}
                        <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% else %}
                        <li><a href="{{ path('mainLocale',{'_locale' : app.request.locale}) }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% endif %}
                    {% if  locale.isDefault %}
                        <li><a href="{{ path('account', {'_locale' : locale.code}) }}">
                    {% else %}
                        <li><a href="{{ path('accountLocale', {'_locale' : locale.code}) }}">
                    {% endif %}
                        {% trans %}Личный кабинет{% endtrans %}
                    </a></li>
                    <li>/</li>
                    <li>
                    {% if  locale.isDefault %}
                        <a href="{{path('account_messages')}}">
                    {% else %}
                        <a href="{{path('account_messagesLocale',{'_locale' : app.request.locale})}}">
                    {% endif %}
                        {% trans %}Сообщения{% endtrans %}
                    </a></li>
                </ul>
            </div>
        </div>
      </div>
</nav> 
<div class="container">
    <div class="row content-row aligned">
        <div class="col-lg-2 col-md-2">
            <div class="account-block-header"><h1>{% trans %}Личный кабинет{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="accountBlockHeader">
                <div class="account-block-header"><h1><b>{% trans %}Сообщения{% endtrans %}</b></h1></div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        {{ render(controller('DashboardCommonBundle:Account:getSidebar',{'routeName' : routeName})) }}
        <div class="col-ld-10 col-md-10">
            <div class="accountMessagesTools">
                <div class="accountMessagesToolsLeft">
                    <div class="accountMessagesToolsCheck">
                        <input type="checkbox" id="" name="checkAll" class="custom-checkbox" value="1" onclick="selectAll($(this))"/>
                        <span>{% trans %}Выбрать все{% endtrans %}</span>
                    </div>
                    <div class="accountMessagesToolsSelect">
                        <ul class="list-unstyled list-inline">
                            <li><a href="javascript:void(0)" class="active" onclick="selectConversations(null,$(this))">{% trans %}Все{% endtrans %}</a></li>
                            <li><a href="javascript:void(0)" onclick="selectConversations('active',$(this))">{% trans %}Непрочитанные{% endtrans %}</a></li>
                            <li><a href="javascript:void(0)" onclick="selectConversations('readed',$(this))">{% trans %}Прочитанные{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accountMessagesToolsRight">
                    <button>{% trans %}Отметить прочитанным{% endtrans %}</button>
                    <button>{% trans %}Удалить{% endtrans %}</button>
                </div>
            </div>
            <div class="account-advert-block-content">
                <div class="accountWriteToSupport">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 9px;">
                        <path d="M12 0C9.82812 0 7.82031 0.535156 5.97656 1.60547C4.13281 2.67578 2.67578 4.13281 1.60547 5.97656C0.535156 7.82031 0 9.82812 0 12C0 14.1719 0.535156 16.1797 1.60547 18.0234C2.67578 19.8672 4.13281 21.3242 5.97656 22.3945C7.82031 23.4648 9.82812 24 12 24C14.1719 24 16.1797 23.4648 18.0234 22.3945C19.8672 21.3242 21.3242 19.8672 22.3945 18.0234C23.4648 16.1797 24 14.1719 24 12C24 9.82812 23.4648 7.82031 22.3945 5.97656C21.3242 4.13281 19.8672 2.67578 18.0234 1.60547C16.1797 0.535156 14.1719 0 12 0ZM15 1.94531C15.8438 2.19531 16.6406 2.54688 17.3906 3C18.1406 3.45312 18.8164 3.98047 19.418 4.58203C20.0195 5.18359 20.5469 5.85938 21 6.60938C21.4531 7.35938 21.8047 8.15625 22.0547 9H17.1797C16.6484 8.07812 15.9219 7.35156 15 6.82031V1.94531ZM16.5 12C16.5 13.25 16.0586 14.3125 15.1758 15.1875C14.293 16.0625 13.2344 16.5 12 16.5C11.1875 16.5 10.4375 16.3008 9.75 15.9023C9.0625 15.5039 8.51562 14.957 8.10938 14.2617C7.70312 13.5664 7.5 12.8125 7.5 12C7.5 10.7656 7.94141 9.70703 8.82422 8.82422C9.70703 7.94141 10.7656 7.5 12 7.5C12.8125 7.5 13.5625 7.70312 14.25 8.10938C14.9375 8.51562 15.4844 9.0625 15.8906 9.75C16.2969 10.4375 16.5 11.1875 16.5 12ZM10.5 1.61719C11 1.53906 11.5 1.5 12 1.5C12.5 1.5 13 1.53906 13.5 1.61719V6.21094C13 6.07031 12.5039 6 12.0117 6C11.5195 6 11.0156 6.07031 10.5 6.21094V1.61719ZM9 1.94531V6.82031C8.54688 7.08594 8.13672 7.40234 7.76953 7.76953C7.40234 8.13672 7.08594 8.54688 6.82031 9H1.94531C2.64844 6.64062 4.01562 4.76562 6.04688 3.375C6.96875 2.73438 7.95312 2.25781 9 1.94531ZM1.5 12C1.5 11.875 1.50391 11.75 1.51172 11.625L1.53516 11.25L1.57031 10.875L1.61719 10.5H6.21094C6.07031 11 6 11.5 6 12C6 12.5 6.0625 13 6.1875 13.5H1.61719C1.53906 12.9688 1.5 12.4688 1.5 12ZM9 22.0547C7.3125 21.5547 5.83984 20.6758 4.58203 19.418C3.32422 18.1602 2.44531 16.6875 1.94531 15H6.82031C7.35156 15.9219 8.07812 16.6484 9 17.1797V22.0547ZM13.5 22.3828C13 22.4609 12.5 22.5 12 22.5C11.5 22.5 11 22.4609 10.5 22.3828V17.8125C11.0156 17.9375 11.5195 18 12.0117 18C12.5039 18 13 17.9375 13.5 17.8125V22.3828ZM15 22.0547V17.1797C15.9219 16.6484 16.6484 15.9219 17.1797 15H22.0547C21.7109 16.125 21.2031 17.1602 20.5312 18.1055C19.8594 19.0508 19.0508 19.8633 18.1055 20.543C17.1602 21.2227 16.125 21.7266 15 22.0547ZM17.8125 13.5C17.875 13.25 17.9219 13 17.9531 12.75C17.9844 12.5 18 12.25 18 12C18 11.5 17.9297 11 17.7891 10.5H22.3828C22.4609 11.0312 22.5 11.5312 22.5 12C22.5 12.4688 22.4609 12.9688 22.3828 13.5H17.8125Z" fill="#EB840B"/>
                    </svg>
                    <a href="">{% trans %}Написать в техподдержку{% endtrans %}</a>
                </div>
                {% if conversations %}
                    {% set newMessages = 0 %}
                    {% for conversation in conversations %}
                        {% for message in conversation.messages %}
                            {% if message.userTo.id == user.id and message.isNew == 1 and message.userOwner.id == user.id %}
                                {% set newMessages = newMessages + 1 %}
                            {% endif %}
                        {% endfor%}
                    {% endfor%}
                {% endif %}
                {% if  locale.isDefault %}
                    
                {% else %}
                    <div class="accountSettingsTabs">
                        <ul class="nav nav-tabs settingsTabs" id="myTab" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#inbox" role="tab" aria-controls="home" aria-selected="true" >
                                    {% trans %}Сообщения{% endtrans %}
                                    {% if newMessages > 0 %}
                                        <span class="numberNewItems"><span>{{ newMessages }}</span></span>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" style="padding-left: 0;padding-right: 0;">
                            <div class="tab-pane fade active in" id="inbox" role="tabpanel">
                                <div class="accountMessages">
                                    {% if conversations %}
                                        {% for conversation in conversations %}
                                            {% set isActive = 0 %}
                                            {% set lastMessage = 0 %}
                                            {% if conversation.messages %}
                                                {% for message in conversation.messages %}
                                                    {% if message.userTo.id == user.id and message.isNew == 1 and message.userOwner.id == user.id %}
                                                        {% set isActive = 1 %}
                                                    {% endif %}
                                                    {% set lastMessage = message %}
                                                {% endfor %}
                                            {% endif %}
                                            <div class="accountMessageItem {% if isActive %}active{% endif %}">
                                                <div class="accountMessageItemUser">
                                                    <div class="accountMessageItemCheck">
                                                        <input type="checkbox" id="" name="conversation[]" class="custom-checkbox" value="{{ conversation.id }}">
                                                    </div>
                                                    <div class="accountMessageItemEnvelope">
                                                        <svg width="35" height="28" viewBox="0 0 35 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M4.30909 1H30.7818C32.6018 1 34.0909 2.4625 34.0909 4.25V23.75C34.0909 25.5375 32.6018 27 30.7818 27H4.30909C2.48909 27 1 25.5375 1 23.75V4.25C1 2.4625 2.48909 1 4.30909 1Z" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M34.0909 4.25L17.5455 15.625L1 4.25" stroke="#616161" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                    <div class="accountMessageItemUserAvatar">
                                                        {% if conversation.userOne.id == user.id %}
                                                            {% if conversation.userTwo %}
                                                                {% if conversation.userTwo.userinfo.avatar %}
                                                                    <img src="{{ asset('bundles/images/users/avatars/' ~ conversation.userTwo.userinfo.avatar) }}" alt="" title="" />
                                                                {% else %}
                                                                    <svg width="50" height="50" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <circle cx="32" cy="32" r="32" fill="#F5AA01"/>
                                                                        <path d="M31.9996 55.9001C18.7996 55.9001 8.09961 45.2001 8.09961 32.0001C8.09961 18.8001 18.7996 8.1001 31.9996 8.1001C45.1996 8.1001 55.8996 18.8001 55.8996 32.0001C55.8996 45.2001 45.1996 55.9001 31.9996 55.9001ZM31.9996 10.7001C20.2996 10.7001 10.6996 20.3001 10.6996 32.0001C10.6996 43.7001 20.2996 53.3001 31.9996 53.3001C43.6996 53.3001 53.2996 43.7001 53.2996 32.0001C53.2996 20.3001 43.6996 10.7001 31.9996 10.7001Z" fill="white"/>
                                                                        <path d="M17.9996 49.3002L15.5996 48.2002C16.2996 46.5002 18.4996 45.6002 20.9996 44.5002C23.3996 43.4002 26.3996 42.1002 26.3996 40.5002V38.3002C25.4996 37.6002 24.0996 36.0002 23.8996 33.7002C23.1996 33.0002 22.0996 31.7002 22.0996 30.1002C22.0996 29.1002 22.4996 28.3002 22.7996 27.8002C22.5996 26.7002 22.1996 24.5002 22.1996 22.8002C22.1996 17.3002 25.9996 13.7002 31.9996 13.7002C33.6996 13.7002 35.7996 14.2002 36.8996 15.4002C39.5996 15.9002 41.7996 19.1002 41.7996 22.8002C41.7996 25.2002 41.3996 27.2002 41.0996 28.1002C41.3996 28.6002 41.6996 29.3002 41.6996 30.1002C41.6996 32.0002 40.7996 33.2002 39.8996 33.8002C39.6996 36.1002 38.3996 37.6002 37.5996 38.3002V40.5002C37.5996 41.9002 40.0996 42.8002 42.3996 43.7002C45.0996 44.7002 47.8996 45.7002 48.7996 48.0002L46.2996 48.9002C45.8996 47.7002 43.4996 46.9002 41.4996 46.1002C38.3996 45.0002 34.8996 43.7002 34.8996 40.5002V36.9002L35.4996 36.5002C35.5996 36.5002 37.2996 35.3002 37.2996 33.0002V32.1002L38.0996 31.8002C38.1996 31.7002 38.9996 31.3002 38.9996 30.1002C38.9996 29.7002 38.6996 29.3002 38.5996 29.2002L38.0996 28.6002L38.2996 27.9002C38.2996 27.9002 38.9996 25.7002 38.9996 22.7002C38.9996 20.2002 37.5996 17.9002 36.0996 17.9002H35.2996L34.8996 17.2002C34.5996 16.7002 33.3996 16.2002 31.7996 16.2002C27.2996 16.2002 24.5996 18.6002 24.5996 22.7002C24.5996 24.6002 25.2996 27.7002 25.2996 27.7002L25.4996 28.4002L24.9996 28.9002C24.9996 28.9002 24.5996 29.4002 24.5996 29.9002C24.5996 30.6002 25.4996 31.5002 25.8996 31.9002L26.3996 32.3002V33.0002C26.3996 35.2002 28.2996 36.4002 28.2996 36.4002L28.8996 36.8002V40.4002C28.8996 43.7002 25.1996 45.4002 21.8996 46.8002C20.4996 47.6002 18.3996 48.6002 17.9996 49.3002Z" fill="white"/>
                                                                    </svg>
                                                                {% endif %}
                                                            {% else %}
                                                                <svg width="50" height="50" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="32" cy="32" r="32" fill="#F5AA01"/>
                                                                    <path d="M31.9996 55.9001C18.7996 55.9001 8.09961 45.2001 8.09961 32.0001C8.09961 18.8001 18.7996 8.1001 31.9996 8.1001C45.1996 8.1001 55.8996 18.8001 55.8996 32.0001C55.8996 45.2001 45.1996 55.9001 31.9996 55.9001ZM31.9996 10.7001C20.2996 10.7001 10.6996 20.3001 10.6996 32.0001C10.6996 43.7001 20.2996 53.3001 31.9996 53.3001C43.6996 53.3001 53.2996 43.7001 53.2996 32.0001C53.2996 20.3001 43.6996 10.7001 31.9996 10.7001Z" fill="white"/>
                                                                    <path d="M17.9996 49.3002L15.5996 48.2002C16.2996 46.5002 18.4996 45.6002 20.9996 44.5002C23.3996 43.4002 26.3996 42.1002 26.3996 40.5002V38.3002C25.4996 37.6002 24.0996 36.0002 23.8996 33.7002C23.1996 33.0002 22.0996 31.7002 22.0996 30.1002C22.0996 29.1002 22.4996 28.3002 22.7996 27.8002C22.5996 26.7002 22.1996 24.5002 22.1996 22.8002C22.1996 17.3002 25.9996 13.7002 31.9996 13.7002C33.6996 13.7002 35.7996 14.2002 36.8996 15.4002C39.5996 15.9002 41.7996 19.1002 41.7996 22.8002C41.7996 25.2002 41.3996 27.2002 41.0996 28.1002C41.3996 28.6002 41.6996 29.3002 41.6996 30.1002C41.6996 32.0002 40.7996 33.2002 39.8996 33.8002C39.6996 36.1002 38.3996 37.6002 37.5996 38.3002V40.5002C37.5996 41.9002 40.0996 42.8002 42.3996 43.7002C45.0996 44.7002 47.8996 45.7002 48.7996 48.0002L46.2996 48.9002C45.8996 47.7002 43.4996 46.9002 41.4996 46.1002C38.3996 45.0002 34.8996 43.7002 34.8996 40.5002V36.9002L35.4996 36.5002C35.5996 36.5002 37.2996 35.3002 37.2996 33.0002V32.1002L38.0996 31.8002C38.1996 31.7002 38.9996 31.3002 38.9996 30.1002C38.9996 29.7002 38.6996 29.3002 38.5996 29.2002L38.0996 28.6002L38.2996 27.9002C38.2996 27.9002 38.9996 25.7002 38.9996 22.7002C38.9996 20.2002 37.5996 17.9002 36.0996 17.9002H35.2996L34.8996 17.2002C34.5996 16.7002 33.3996 16.2002 31.7996 16.2002C27.2996 16.2002 24.5996 18.6002 24.5996 22.7002C24.5996 24.6002 25.2996 27.7002 25.2996 27.7002L25.4996 28.4002L24.9996 28.9002C24.9996 28.9002 24.5996 29.4002 24.5996 29.9002C24.5996 30.6002 25.4996 31.5002 25.8996 31.9002L26.3996 32.3002V33.0002C26.3996 35.2002 28.2996 36.4002 28.2996 36.4002L28.8996 36.8002V40.4002C28.8996 43.7002 25.1996 45.4002 21.8996 46.8002C20.4996 47.6002 18.3996 48.6002 17.9996 49.3002Z" fill="white"/>
                                                                </svg>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if conversation.userOne %}
                                                                {% if conversation.userOne.userinfo.avatar %}
                                                                    <img src="{{ asset('bundles/images/users/avatars/' ~ conversation.userOne.userinfo.avatar) }}" alt="" title="" />
                                                                {% else %}
                                                                    <svg width="50" height="50" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <circle cx="32" cy="32" r="32" fill="#F5AA01"/>
                                                                        <path d="M31.9996 55.9001C18.7996 55.9001 8.09961 45.2001 8.09961 32.0001C8.09961 18.8001 18.7996 8.1001 31.9996 8.1001C45.1996 8.1001 55.8996 18.8001 55.8996 32.0001C55.8996 45.2001 45.1996 55.9001 31.9996 55.9001ZM31.9996 10.7001C20.2996 10.7001 10.6996 20.3001 10.6996 32.0001C10.6996 43.7001 20.2996 53.3001 31.9996 53.3001C43.6996 53.3001 53.2996 43.7001 53.2996 32.0001C53.2996 20.3001 43.6996 10.7001 31.9996 10.7001Z" fill="white"/>
                                                                        <path d="M17.9996 49.3002L15.5996 48.2002C16.2996 46.5002 18.4996 45.6002 20.9996 44.5002C23.3996 43.4002 26.3996 42.1002 26.3996 40.5002V38.3002C25.4996 37.6002 24.0996 36.0002 23.8996 33.7002C23.1996 33.0002 22.0996 31.7002 22.0996 30.1002C22.0996 29.1002 22.4996 28.3002 22.7996 27.8002C22.5996 26.7002 22.1996 24.5002 22.1996 22.8002C22.1996 17.3002 25.9996 13.7002 31.9996 13.7002C33.6996 13.7002 35.7996 14.2002 36.8996 15.4002C39.5996 15.9002 41.7996 19.1002 41.7996 22.8002C41.7996 25.2002 41.3996 27.2002 41.0996 28.1002C41.3996 28.6002 41.6996 29.3002 41.6996 30.1002C41.6996 32.0002 40.7996 33.2002 39.8996 33.8002C39.6996 36.1002 38.3996 37.6002 37.5996 38.3002V40.5002C37.5996 41.9002 40.0996 42.8002 42.3996 43.7002C45.0996 44.7002 47.8996 45.7002 48.7996 48.0002L46.2996 48.9002C45.8996 47.7002 43.4996 46.9002 41.4996 46.1002C38.3996 45.0002 34.8996 43.7002 34.8996 40.5002V36.9002L35.4996 36.5002C35.5996 36.5002 37.2996 35.3002 37.2996 33.0002V32.1002L38.0996 31.8002C38.1996 31.7002 38.9996 31.3002 38.9996 30.1002C38.9996 29.7002 38.6996 29.3002 38.5996 29.2002L38.0996 28.6002L38.2996 27.9002C38.2996 27.9002 38.9996 25.7002 38.9996 22.7002C38.9996 20.2002 37.5996 17.9002 36.0996 17.9002H35.2996L34.8996 17.2002C34.5996 16.7002 33.3996 16.2002 31.7996 16.2002C27.2996 16.2002 24.5996 18.6002 24.5996 22.7002C24.5996 24.6002 25.2996 27.7002 25.2996 27.7002L25.4996 28.4002L24.9996 28.9002C24.9996 28.9002 24.5996 29.4002 24.5996 29.9002C24.5996 30.6002 25.4996 31.5002 25.8996 31.9002L26.3996 32.3002V33.0002C26.3996 35.2002 28.2996 36.4002 28.2996 36.4002L28.8996 36.8002V40.4002C28.8996 43.7002 25.1996 45.4002 21.8996 46.8002C20.4996 47.6002 18.3996 48.6002 17.9996 49.3002Z" fill="white"/>
                                                                    </svg>
                                                                {% endif %}
                                                            {% else %}
                                                                <svg width="50" height="50" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <circle cx="32" cy="32" r="32" fill="#F5AA01"/>
                                                                        <path d="M31.9996 55.9001C18.7996 55.9001 8.09961 45.2001 8.09961 32.0001C8.09961 18.8001 18.7996 8.1001 31.9996 8.1001C45.1996 8.1001 55.8996 18.8001 55.8996 32.0001C55.8996 45.2001 45.1996 55.9001 31.9996 55.9001ZM31.9996 10.7001C20.2996 10.7001 10.6996 20.3001 10.6996 32.0001C10.6996 43.7001 20.2996 53.3001 31.9996 53.3001C43.6996 53.3001 53.2996 43.7001 53.2996 32.0001C53.2996 20.3001 43.6996 10.7001 31.9996 10.7001Z" fill="white"/>
                                                                        <path d="M17.9996 49.3002L15.5996 48.2002C16.2996 46.5002 18.4996 45.6002 20.9996 44.5002C23.3996 43.4002 26.3996 42.1002 26.3996 40.5002V38.3002C25.4996 37.6002 24.0996 36.0002 23.8996 33.7002C23.1996 33.0002 22.0996 31.7002 22.0996 30.1002C22.0996 29.1002 22.4996 28.3002 22.7996 27.8002C22.5996 26.7002 22.1996 24.5002 22.1996 22.8002C22.1996 17.3002 25.9996 13.7002 31.9996 13.7002C33.6996 13.7002 35.7996 14.2002 36.8996 15.4002C39.5996 15.9002 41.7996 19.1002 41.7996 22.8002C41.7996 25.2002 41.3996 27.2002 41.0996 28.1002C41.3996 28.6002 41.6996 29.3002 41.6996 30.1002C41.6996 32.0002 40.7996 33.2002 39.8996 33.8002C39.6996 36.1002 38.3996 37.6002 37.5996 38.3002V40.5002C37.5996 41.9002 40.0996 42.8002 42.3996 43.7002C45.0996 44.7002 47.8996 45.7002 48.7996 48.0002L46.2996 48.9002C45.8996 47.7002 43.4996 46.9002 41.4996 46.1002C38.3996 45.0002 34.8996 43.7002 34.8996 40.5002V36.9002L35.4996 36.5002C35.5996 36.5002 37.2996 35.3002 37.2996 33.0002V32.1002L38.0996 31.8002C38.1996 31.7002 38.9996 31.3002 38.9996 30.1002C38.9996 29.7002 38.6996 29.3002 38.5996 29.2002L38.0996 28.6002L38.2996 27.9002C38.2996 27.9002 38.9996 25.7002 38.9996 22.7002C38.9996 20.2002 37.5996 17.9002 36.0996 17.9002H35.2996L34.8996 17.2002C34.5996 16.7002 33.3996 16.2002 31.7996 16.2002C27.2996 16.2002 24.5996 18.6002 24.5996 22.7002C24.5996 24.6002 25.2996 27.7002 25.2996 27.7002L25.4996 28.4002L24.9996 28.9002C24.9996 28.9002 24.5996 29.4002 24.5996 29.9002C24.5996 30.6002 25.4996 31.5002 25.8996 31.9002L26.3996 32.3002V33.0002C26.3996 35.2002 28.2996 36.4002 28.2996 36.4002L28.8996 36.8002V40.4002C28.8996 43.7002 25.1996 45.4002 21.8996 46.8002C20.4996 47.6002 18.3996 48.6002 17.9996 49.3002Z" fill="white"/>
                                                                </svg>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="accountMessageItemUserName">
                                                        {% if conversation.userOne.id == user.id %}
                                                            {% if conversation.userTwo %}
                                                                {{ conversation.userTwo.userinfo.firstname }} {{ conversation.userTwo.userinfo.lastname }}
                                                            {% else %}
                                                                {% trans %}Lietotājs ir dzēsts{% endtrans %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if conversation.userOne %}
                                                                {{conversation.userOne.userinfo.firstname}} {{conversation.userOne.userinfo.lastname}}
                                                            {% else %}
                                                                {% trans %}Lietotājs ir dzēsts{% endtrans %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="accountMessageItemTitle">
                                                    <div class="accountMessageItemTitleName">
                                                        {% if lastMessage.subject %}
                                                            {{ lastMessage.subject }}
                                                        {% else %}
                                                            {{ lastMessage.message | striptags('<img>') }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="accountMessageItemTitleDate">
                                                        {{ lastMessage.sentDate | date('d.m.Y в H:i') }}
                                                    </div>
                                                </div>
                                                <div class="accountMessageItemButton">
                                                    <a href="{{ path('account_conversationLocale', {'conversationId' : conversation.id, '_locale' : locale.code}) }}">{% trans %}Ответить{% endtrans %}</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% if pagination %}
                                    <div class="row">
                                        <div class="col-lg-12 padination">
                                            <ul class="list-unstyled list-inline pull-right">
                                                <li class="current"><a href="">1</a></li>
                                                <li><a href="">2</a></li>
                                                <li><a href="">3</a></li>
                                                <li><a href="">></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
