{% extends 'DashboardCommonBundle:Common:base.html.twig' %}
{% use 'DashboardCommonBundle:Common:icons.html.twig' %}

{% block title %}{{ page.metaTagTitle }}{% endblock %}
{% block metatags %}
    <meta content="{{ page.metaTagDescription }}" name="description" />
    <meta content="{{ page.metaTagAuthor }}" name="author" />
    <meta content="{{ page.metaTagRobots }}" name="robots" />
    <meta content="{{ page.metaTagKeywords }}" name="keywords" />
{% endblock %}

{% block topbanner %}
    <div class="topBanner hiddem-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 topBannerBlock">
                    {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'toppage'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="mainPageFilters">
        <div class="mainPageAutolayer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-offset-1 col-lg-offset-1 mainPageFiltersBlock">
                        <div class="mainPageFiltersHeader"><h1>{% trans %}Продажа автомобилей{% endtrans %}</h1></div>
                        {% include 'DashboardCommonBundle:Default:filtersForm.html.twig' with {'categories' : categories, 'request' : app.request} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="mainPageSitHeader"><h2>{% trans %}Доска бесплатных объявлений в Испании{% endtrans %}</h2></div>
                <div class="mainPageSiteSubheader">{% trans %}С нами Вы сможете{% endtrans %}:</div>
            </div>
            <div class="col-lg-12">                
                <div class="row">
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Найти<br/>транспорт{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneFloat">
                                    <form action="{{ path('search') }}" method="post">
                                        <div class="header-search-box">
                                            <input name="searchText" type="text" placeholder="{% trans %}Найти{% endtrans %}..." {% if app.request.get('searchText') %} value="{{ app.request.get('searchText')}}" {% endif %} />
                                            <a data-toggle="modal" data-target="#regionModal" class="top-select-region">
                                                {% if sessionCity %}
                                                    {{ sessionCity.name }}
                                                {% else %}
                                                    {% trans %}Испания{% endtrans %}
                                                {% endif %}
                                            </a>
                                            <input type="submit" class="header-search-button" value="" />
                                        </div>
                                        <div class="infoPaneCheckbox">
                                            <div class="blackCheckbox">
                                                <div class="blackCheckboxInput checked">
                                                    <input type="checkbox" name="searchInNames" checked="checked" value="1" />
                                                </div>
                                                {% trans %}Искать в названиях{% endtrans %}
                                            </div>
                                        </div>
                                    </form>
                                </div>  
                                <div class="siteInfoPaneContent">
                                    <div class="description">
                                        {% trans %}Напишите интересующую Вас модель или воспользуйтесь{% endtrans %} <a href="{{ path('search') }}">{% trans %}расширенным поиском{% endtrans %}</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Продать<br/>свой транспорт{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneFloat">
                                    {% if app.user and app.user.roles[0].role != "ROLE_SERVICE"%}
                                        <a href="{{path('addAdvert')}}" class="siteInfoPaneAddadvert">{% trans %}Отправить заявку{% endtrans %}</a>
                                    {% else %}
                                        <a href="{{path('login')}}" class="siteInfoPaneAddadvert">{% trans %}Отправить заявку{% endtrans %}</a>
                                    {% endif %}
                                </div>
                                <div class="siteInfoPaneContent">
                                    <div class="description">
                                        <a href="{{path('register')}}">{% trans %}Зарегистрируйтесь</a> и добавляйте объявления{% endtrans %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Услуги{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneContent">
                                    <ul class="list-unstyled list-inline">
                                        <li><a href="{{ path('services') }}">Сервисы</a></li>
                                        <li><a href="{{ path('dealers') }}">Дилеры</a></li>
                                    </ul>
                                    <div class="description">{% trans %}Узнайте где можно воспользоваться сервисами, взять или застраховать авто{% endtrans %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="owl-carousel" id="owlMainSlider">
                            {{ render(controller('DashboardCommonBundle:Default:getBanners',{'position' : 'slider'})) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mainPageText">
            {{ page.text | raw }}
        </div>
    </div>
    {% if settings.mainPageDefaultCategory %}
        <div class="mainPageAutoListBlock">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="mainPageAutoListHeader">
                            <h3>{{ settings.mainPageDefaultCategory.title}}</h3>
                        </div>
                        {% if settings.mainPageDefaultCategory.children | length > 0 %}
                            <div class="mainPageAutoList">
                                {% if settings.mainPageDefaultCategory.children | length > settings.categoryPanelItemsNumber %}
                                    <ul class="list-unstyled list-inline shortCategoryList">
                                        {% for child in settings.mainPageDefaultCategory.children | slice(0, settings.categoryPanelItemsNumber )%}
                                            {% if child.isActive %}
                                                <li>
                                                    <a href="{{ path('category',{'categoryId' : child.id, 'categoryName' : child.name}) }}">{{ child.title }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <ul class="list-unstyled list-inline fullCategoryList">
                                        {% for child in settings.mainPageDefaultCategory.children %}
                                            {% if child.isActive %}
                                                <li>
                                                    <a href="{{ path('category',{'categoryId' : child.id, 'categoryName' : child.name}) }}">{{ child.title }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="list-unstyled list-inline">
                                        {% for child in settings.mainPageDefaultCategory.children %}
                                            {% if child.isActive %}
                                                <li>
                                                    <a href="{{ path('category',{'categoryId' : child.id, 'categoryName' : child.name}) }}">{{ child.title }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="mainPageAutoListShowAll">
                                    <button onclick="showHideAllCategories($(this))" data-text="{% trans %}Свернуть{% endtrans %}">{% trans %}Показать все{% endtrans %}</button>
                                </div>
                            </div>
                        {% endif %}
                        <div class="mainPageBottomBanner hidden-sm hidden-xs">
                            {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'centerpage'})) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    {% endif %}
{% endblock %}