{% extends 'DashboardCommonBundle:Common:base.html.twig' %}
{% use 'DashboardCommonBundle:Common:icons.html.twig' %}

{% block title %}{{ page.metaTagTitle }}{% endblock %}
{% block metatags %}
    <meta content="{{ page.metaTagDescription }}" name="description" />
    <meta content="{{ page.metaTagAuthor }}" name="author" />
    <meta content="{{ page.metaTagRobots }}" name="robots" />
    <meta content="{{ page.metaTagKeywords }}" name="keywords" />
{% endblock %}

{% block topbanner %}
    <div class="topBanner hiddem-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 topBannerBlock">
                    {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'toppage'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="mainPageFilters">
        <div class="mainPageAutolayer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-offset-1 col-lg-offset-1 mainPageFiltersBlock">
                        <div class="mainPageFiltersHeader"><h1>{% trans %}Продажа автомобилей{% endtrans %}</h1></div>
                        {% if categories %}
                            <div class="mainPageFiltersTabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    {% set i = 1 %}
                                    {% for category in categories %}
                                        <li role="presentation" {% if i == 1 %}class="active"{% endif %}>
                                            <a href="#categoryFilters{{ category.id }}" aria-controls="home" role="tab" data-toggle="tab">
                                                {{ category.image |raw }}
                                                <span>
                                                    {% if category.translations | length > 0 %}
                                                        {% for translation in category.translations %}
                                                            {% if translation.locale.id == locale.id %}
                                                                {{ translation.value }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}        
                                                        {{ category.title}}
                                                    {% endif %}
                                                </span><div class="shadowBlock"></div></a>
                                        </li>
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% set i = 1 %}
                                    {% for category in categories %}
                                        <div role="tabpanel" class="tab-pane {% if i == 1 %}active{% endif %}" id="categoryFilters{{ category.id }}">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 static-filters hidden-sm hidden-xs">
                                                    <div class="filter">
                                                        <input name="searchNew" type="checkbox" value="1" class="custom-checkbox" /> {% trans %}Новые авто{% endtrans %}
                                                    </div>
                                                    <div class="filter">
                                                        <input name="searchProbeg" type="checkbox" value="1" class="custom-checkbox" /> {% trans %}С пробегом{% endtrans %}
                                                    </div>
                                                </div>
                                                {% if category.filters %}
                                                    {% for filter in category.filters %}
                                                        <div class="col-lg-3 col-md-3">
                                                            {% set filterName = '' %}
                                                            {% if filter.translations | length > 0 %}
                                                                        {% for translation in filter.translations %}
                                                                            {% if translation.locale.id == locale.id %}
                                                                                {% set filterName = translation.value %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% else %}    
                                                                        {% set filterName = filter.name %}}
                                                                    {% endif %}
                                                            <select name="1" class="custom-select" id="filter[]" multiple="multiple" placeholder="{{ filterName }}">
                                                                {% if filter.values | length > 0 %}
                                                                    {% for filterValue in filter.values %}
                                                                        <option value="{{ filterValue.id }}">
                                                                        {% if filterValue.translations | length > 0 %}
                                                                            {% for translation in filterValue.translations %}
                                                                                {% if translation.locale.id == locale.id %}
                                                                                    {{ translation.value }}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% else %}        
                                                                            {{ filterValue.value}}
                                                                        {% endif %}
                                                                        </option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if category.isShowPriceFilter %}
                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="filtersFromTo">
                                                            <input name="categoryPriceStart[]" value="" placeholder="Цена от" />
                                                            <input name="categoryPriceEnd[]" value="" placeholder="до" />
                                                        </div>
                                                    </div>  
                                                {% endif %}
                                                <div class="col-lg-3 col-md-3 additionalFiltersBlock">
                                                    <select name="" id="" class="custom-select">
                                                        <option value="0">Марка авто</option>
                                                        <option value="1">Audi</option>
                                                        <option value="2">BMW</option>
                                                        <option value="3">Mersedes</option>
                                                        <option value="4">Toyota</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-12 mainPageFiltersButtons">
                                                    <div class="mainPageFiltersSettings">
                                                        <button class="showAllParameters">{% trans %}Все параметры{% endtrans %}<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#EB840B"/>
    </svg></button>
                                                        <button class="clearFilters">{% trans %}Сбросить{% endtrans %}<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"/>
    </svg>
                                                        </button>
                                                    </div>
                                                    {% if category.allProductsNumber %}
                                                        <div class="mainPageFiltersShowResults">
                                                            <button>{% trans %}Показать{% endtrans %} {{ category.allProductsNumber }} {% trans %}предложений{% endtrans %}</button>
                                                        </div>
                                                    {% endif %}
                                                    <script>
                                                        $(document).ready(function(){
                                                            $(".showAllParameters").click(function(){
                                                                var svg = '<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#EB840B"/></svg>';
                                                                if($(this).hasClass("active")){
                                                                    $(".additionalFiltersBlock").fadeOut();
                                                                    $(this).html("{% trans %}Все параметры{% endtrans %}" + svg);
                                                                }else{
                                                                    $(".additionalFiltersBlock").fadeIn();
                                                                    $(this).html("{% trans %}Свернуть{% endtrans %}" + svg);
                                                                }
                                                                $(this).toggleClass("active");
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cookieAlertBlock">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 cookieAlerts">
                    <div class="cookieAlertMessage">
                        {% trans %}Información importante sobre cookies: El sitio web de la auto28.es utiliza cookies propias para mejorar la navegación. Las cookies utilizadas no contienen ningún tipo de información de carácter personal. Si continua navegando entendemos acepta su uso{% endtrans %}.
                    </div>
                    <div class="cookieAlertLink">
                        <a href="">{% trans %}Más información{% endtrans %}</a>
                    </div>
                    <div class="cookieAlertButton">
                        <button onclick="$('.cookieAlertBlock').remove();">{% trans %}Aceptar{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="mainPageSitHeader"><h2>{% trans %}Доска бесплатных объявлений в Испании{% endtrans %}</h2></div>
                <div class="mainPageSiteSubheader">{% trans %}С нами Вы сможете{% endtrans %}:</div>
            </div>
            <div class="col-lg-12">                
                <div class="row">
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Найти<br/>транспорт{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneFloat">
                                    {% if  app.request.locale == 'lv' %}
                                        <form action="{{ path('search') }}" method="post">
                                    {% else %}
                                        <form action="{{ path('searchLocale',{'_locale' : app.request.locale}) }}" method="post">
                                    {% endif %}
                                        <div class="header-search-box">
                                            <input name="searchText" type="text" placeholder="{% trans %}SITE MEKLĒŠANA{% endtrans %}..." {% if app.request.get('searchText') %} value="{{ app.request.get('searchText')}}" {% endif %} />
                                            <a data-toggle="modal" data-target="#regionModal" class="top-select-region">
                                                {% if sessionCity %}
                                                    {{ sessionCity.name }}
                                                {% else %}
                                                    {% if sessionRegion %}
                                                        {{ sessionRegion.name }}
                                                    {% else %}
                                                        {% trans %}Вся Испания{% endtrans %}
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                            <input type="submit" class="header-search-button" value="" />
                                        </div>
                                        <div class="infoPaneCheckbox">
                                            <div class="blackCheckbox">
                                                <div class="blackCheckboxInput">
                                                    <input type="checkbox" />
                                                </div>
                                                Искать в названиях
                                            </div>
                                        </div>
                                    </form>
                                </div>  
                                <div class="siteInfoPaneContent">
                                    <div class="description">
                                        {% trans %}Напишите интересующую Вас модель или воспользуйтесь <a href="">расширенным поиском</a>{% endtrans %}
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Продать<br/>свой транспорт{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneFloat">
                                    <a href="" class="siteInfoPaneAddadvert">Отправить заявку</a>
                                </div>
                                <div class="siteInfoPaneContent">
                                    <div class="description">
                                        {% trans %}<a href="">Зарегистрируйтесь</a> и добавляйте объявления{% endtrans %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Услуги{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneContent">
                                    <ul class="list-unstyled list-inline">
                                        <li><a href="">Сервисы</a></li>
                                        <li><a href="">Диллеры</a></li>
                                    </ul>
                                    <div class="description">Узнайте где можно воспользоваться сервисами, взять или застраховать авто</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="owl-carousel" id="owlMainSlider">
                            <div class="siteInfoPane no-shadow">
                                <div class="siteInfoPaneInner dilers">
                                    <div class="innerHeader">
                                        <h4>БМВ X5. Скидка -10%</h4>
                                    </div>
                                    <div class="siteInfoPaneContent dilers">
                                        <div class="description">Акция! От официального дилера БМВ в Малаге "Рога и копыта".<br/>Скидки на BMW X5 до 10%. Спешите! Предложений ограничено!</div>
                                    </div>
                                    <div class="siteInfoPaneContentButton">
                                        <a href="">Смотреть подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="siteInfoPane">
                                <div class="siteInfoPaneInner dilers">
                                    <div class="innerHeader">
                                        <h4>БМВ X5. Скидка -10%</h4>
                                    </div>
                                    <div class="siteInfoPaneContent dilers">
                                        <div class="description">Акция! От официального дилера БМВ в Малаге "Рога и копыта".<br/>Скидки на BMW X5 до 10%. Спешите! Предложений ограничено!</div>
                                    </div>
                                    <div class="siteInfoPaneContentButton">
                                        <a href="">Смотреть подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mainPageText">
            {{ page.text | raw }}
        </div>
    </div>
    {% if settings.mainPageDefaultCategory %}
        <div class="mainPageAutoListBlock">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="mainPageAutoListHeader">
                            <h3>
                                {% if settings.mainPageDefaultCategory.translations | length > 0 %}
                                    {% for translation in settings.mainPageDefaultCategory.translations %}
                                        {% if translation.locale.id == locale.id %}
                                            {{ translation.value }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}        
                                    {{ settings.mainPageDefaultCategory.title}}
                                {% endif %}
                            </h3>
                        </div>
                        {% if settings.mainPageDefaultCategory.children | length > 0 %}
                            <div class="mainPageAutoList">
                                {% if settings.mainPageDefaultCategory.children | length > settings.categoryPanelItemsNumber %}
                                    <ul class="list-unstyled list-inline shortCategoryList">
                                        {% for child in settings.mainPageDefaultCategory.children | slice(0, settings.categoryPanelItemsNumber )%}
                                            {% set categoryTitle = '' %}
                                            {% if child.translations | length > 0 %}
                                                {% for translation in child.translations %}
                                                    {% if translation.locale.id == locale.id %}
                                                        {% set categoryTitle =  translation.value %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}        
                                                {% set categoryTitle = child.title %}
                                            {% endif %}
                                            <li>
                                                <a href="{% if locale.isDefault %}{{ path('category',{'categoryName' : child.name}) }}{% else %}{{ path('categoryLocale',{'categoryName' : child.name,'_locale' : locale.code}) }}{% endif %}">{{ categoryTitle }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="list-unstyled list-inline fullCategoryList">
                                        {% for child in settings.mainPageDefaultCategory.children %}
                                            {% set categoryTitle = '' %}
                                            {% if child.translations | length > 0 %}
                                                {% for translation in child.translations %}
                                                    {% if translation.locale.id == locale.id %}
                                                        {% set categoryTitle =  translation.value %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}        
                                                {% set categoryTitle =  child.title %}
                                            {% endif %}
                                            <li>
                                                <a href="{% if locale.isDefault %}{{ path('category',{'categoryName' : child.name}) }}{% else %}{{ path('categoryLocale',{'categoryName' : child.name,'_locale' : locale.code}) }}{% endif %}">{{ categoryTitle }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="list-unstyled list-inline">
                                        {% for child in settings.mainPageDefaultCategory.children %}
                                            {% set categoryTitle = '' %}
                                            {% if child.translations | length > 0 %}
                                                {% for translation in child.translations %}
                                                    {% if translation.locale.id == locale.id %}
                                                        {% set categoryTitle =  translation.value %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}        
                                                {% set categoryTitle =  child.title %}
                                            {% endif %}
                                            <li>
                                                <a href="{% if locale.isDefault %}{{ path('category',{'categoryName' : child.name}) }}{% else %}{{ path('categoryLocale',{'categoryName' : child.name,'_locale' : locale.code}) }}{% endif %}">{{ categoryTitle }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="mainPageAutoListShowAll">
                                    <button onclick="showHideAllCategories($(this))" data-text="{% trans %}Свернуть{% endtrans %}">{% trans %}Показать все{% endtrans %}</button>
                                </div>
                            </div>
                        {% endif %}
                        <div class="mainPageBottomBanner hidden-sm hidden-xs">
                            {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'centerpage'})) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    {% endif %}
{% endblock %}