{% extends 'DashboardCommonBundle:Common:base.html.twig' %}
{% use 'DashboardCommonBundle:Common:icons.html.twig' %}

{% block title %}{{ page.metaTagTitle }}{% endblock %}
{% block metatags %}
    <meta content="{{ page.metaTagDescription }}" name="description" />
    <meta content="{{ page.metaTagAuthor }}" name="author" />
    <meta content="{{ page.metaTagRobots }}" name="robots" />
    <meta content="{{ page.metaTagKeywords }}" name="keywords" />
{% endblock %}

{% block topbanner %}{% endblock %}

{% block body %}
    <div class="mainPageFilters">
        <div class="mainPageAutolayer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-offset-1 col-lg-offset-1 mainPageFiltersBlock">
                        <div class="mainPageFiltersHeader"><h1>{% trans %}Продажа автомобилей{% endtrans %}</h1></div>
                        <div class="mainPageFiltersTabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                        <svg width="45" height="22" viewBox="0 0 45 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M31.5304 17.9975C31.5304 20.2151 33.1952 21.9999 35.2636 21.9999C37.332 21.9999 38.9968 20.2151 38.9968 17.9975C38.9968 15.78 37.332 13.9951 35.2636 13.9951C33.1952 13.9951 31.4799 15.8341 31.5304 17.9975ZM33.0438 18.0516C33.0438 16.7535 34.0528 15.6718 35.2636 15.6718C36.4743 15.6718 37.4833 16.7535 37.4833 18.0516C37.4833 19.3497 36.4743 20.4314 35.2636 20.4314C34.0024 20.4314 32.9934 19.3497 33.0438 18.0516Z" fill="#616161"/>
<path d="M0 14.8607V18.0518C0 18.4845 0.353139 18.8631 0.756726 18.8631H3.73318C4.18722 18.8631 4.54036 18.5385 4.48991 18.0518C4.48991 14.9688 6.86099 12.4268 9.73655 12.4268C12.6121 12.4268 14.9832 14.9688 14.9832 18.0518C14.9832 18.4845 15.3363 18.8631 15.7399 18.8631H29.2096C29.6637 18.8631 30.0168 18.5385 29.9664 18.0518C29.9664 14.9688 32.3374 12.4268 35.213 12.4268C38.0886 12.4268 40.4596 14.9688 40.4596 18.0518C40.4596 18.4845 40.8128 18.8631 41.2164 18.8631H44.2433C44.6469 18.8631 45 18.4845 45 18.0518V14.8607C45 14.428 44.6469 14.0494 44.2433 14.0494L44.1424 12.0482C44.0919 10.7501 43.4865 9.61426 42.4776 8.91113C40.5605 7.55896 37.2814 6.85584 34.1031 6.80175C29.815 1.23083 23.1054 -0.932637 14.2769 0.365442H14.2265C9.38341 1.28491 7.21413 4.04333 5.59978 6.90992L1.36211 8.42435C1.05942 8.53252 0.857624 8.80296 0.857624 9.18156V13.9953C0.403588 13.9953 0.100897 14.3739 0 14.8607ZM21.037 6.42314L21.0874 2.09621C21.0874 1.87987 21.2892 1.66352 21.491 1.71761C25.5269 2.09621 28.8061 3.55655 31.4294 6.09863C31.6816 6.36906 31.5303 6.80175 31.1771 6.80175H21.3901C21.1883 6.80175 21.037 6.63949 21.037 6.42314ZM11.9563 2.9616C11.9563 2.79934 12.0572 2.63708 12.2085 2.58299C12.8644 2.36665 13.5706 2.1503 14.3778 1.98804C16.0426 1.71761 17.657 1.60943 19.12 1.60943C19.3217 1.60943 19.4731 1.82578 19.4731 2.04213V6.42314C19.4731 6.63949 19.3217 6.80175 19.12 6.80175H12.4103C12.2085 6.80175 12.0572 6.63949 12.0572 6.42314L11.9563 2.9616ZM7.76906 6.15271C8.37444 5.23324 9.03027 4.53011 9.83744 3.88107C10.0897 3.71881 10.4428 3.88107 10.4428 4.20559L10.4933 6.36906C10.4933 6.63949 10.3419 6.80175 10.1401 6.80175H8.1222C7.81951 6.80175 7.66816 6.42314 7.76906 6.15271Z" fill="#616161"/>
<path d="M6.05371 17.9975C6.05371 20.2151 7.71851 21.9999 9.7869 21.9999C11.8553 21.9999 13.5201 20.2151 13.5201 17.9975C13.5201 15.78 11.8553 13.9951 9.7869 13.9951C7.71851 13.9951 6.05371 15.8341 6.05371 17.9975ZM7.56716 18.0516C7.56716 16.7535 8.57613 15.6718 9.7869 15.6718C10.9977 15.6718 12.0066 16.7535 12.0066 18.0516C12.0066 19.3497 10.9977 20.4314 9.7869 20.4314C8.57613 20.4314 7.56716 19.3497 7.56716 18.0516Z" fill="#616161"/>
</svg>
                                        {% trans %}Легковые{% endtrans %}</a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                        <svg width="41" height="22" viewBox="0 0 41 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.98563 13.936C2.71617 13.936 0 16.484 0 19.864C0 23.244 2.66587 26 5.93533 26C9.20479 26 11.8707 23.244 11.8707 19.864C11.8707 19.604 11.8707 19.344 11.8204 19.084L13.3293 18.408L15.8946 21.06C16.0455 21.216 16.1964 21.268 16.3976 21.268C16.5485 21.268 16.6994 21.216 16.8 21.164L23.2383 16.692C23.2383 16.692 23.2383 16.692 23.2886 16.64C25.2 14.924 27.9162 14.56 29.8779 14.56C30.1797 14.56 30.4815 14.612 30.7329 14.612C28.3689 17.316 24.9485 17.004 24.9485 17.004L22.0814 19.24H29.3246C29.2743 19.5 29.2743 19.708 29.2743 19.968C29.2743 23.348 31.7892 26 35.0587 26C38.3282 26 40.994 23.244 40.994 19.864C40.994 18.928 40.7425 17.94 40.3401 17.108C40.994 17.42 41.1952 16.848 40.7928 16.328C40.7928 16.328 38.9318 12.844 33.8012 13.572L35.3605 12.116C35.4611 12.012 35.5114 11.856 35.5617 11.7C35.6623 11.284 35.6623 10.92 35.7126 10.556H34.4551C33.3988 8.684 35.3102 7.384 35.3102 7.384C35.4611 7.592 35.5617 7.748 35.6623 7.956C35.3102 5.512 34.1533 3.744 33.097 2.6C31.4371 0.78 29.5761 0.104 29.5258 0.0519997C29.4755 -2.98321e-07 29.3246 0 29.2743 0C29.0228 0 28.8719 0.104 28.721 0.26C28.5701 0.468 28.5198 0.832 28.6707 1.092C29.4252 2.392 29.7773 3.328 29.9282 4.004L28.8719 3.796C28.5198 3.744 28.1677 4.004 28.1174 4.368C28.0671 4.732 28.3186 5.096 28.6707 5.148L29.9785 5.356C29.9785 5.46 29.9785 5.46 29.9282 5.512C29.6264 6.084 28.8719 6.136 28.5701 6.136C28.5198 6.136 28.5198 6.136 28.4695 6.136C25.7533 5.304 23.7916 4.992 23.7413 4.992C23.3892 4.992 22.9868 4.94 22.685 4.94C21.0252 4.94 19.5162 5.616 18.4096 6.864C17.9569 7.384 17.6551 7.904 17.4539 8.268C14.5868 7.904 12.9773 6.188 12.9773 6.188C12.8264 6.032 12.6755 5.98 12.4743 5.98L4.72815 6.032C4.47665 6.032 4.22515 6.188 4.17485 6.448L3.72216 7.384C3.52096 7.696 3.67186 8.112 4.02395 8.32L4.72815 8.684H3.92336C3.62156 8.684 3.37006 8.944 3.37006 9.256C3.37006 9.568 3.62156 9.828 3.92336 9.828H4.27545L2.01198 12.636C1.81078 12.896 1.86108 13.26 2.06228 13.468C2.16288 13.572 2.31377 13.624 2.41437 13.624C2.61557 13.624 2.76647 13.572 2.86707 13.416L5.73413 9.88H6.33773L7.59521 12.844L12.424 14.924V15.912L10.8647 16.588C9.80839 14.976 7.99761 13.936 5.98563 13.936ZM12.424 13.312L8.6515 11.7L8.04791 10.296L12.424 12.428V13.312ZM35.2096 23.296C33.4994 23.296 32.091 21.84 32.091 20.02C32.091 19.396 32.2922 18.772 32.594 18.252L33.8012 20.8L36.3162 19.5L35.0084 16.744C35.0587 16.744 35.1593 16.744 35.2096 16.744C36.9701 16.744 38.3785 18.2 38.3785 20.02C38.3785 21.84 36.9701 23.296 35.2096 23.296ZM5.98563 23.296C4.22515 23.296 2.86707 21.84 2.86707 20.072C2.86707 18.252 4.27545 16.796 6.03593 16.796C6.89102 16.796 7.64551 17.16 8.24911 17.732L5.63353 18.876L6.74012 21.528L9.1042 20.488C8.903 22.048 7.59521 23.296 5.98563 23.296Z" fill="#616161"/>
</svg>
                                        {% trans %}Мотоциклы{% endtrans %}
                                    </a></li>
                                <li role="presentation">
                                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><svg width="42" height="22" viewBox="0 0 42 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3468 17.7109C17.3445 17.7109 16.5427 18.0703 15.8411 18.7376C15.1897 19.405 14.8389 20.329 14.8389 21.3557C14.8389 22.3824 15.1395 23.2551 15.8411 23.9738C16.5427 24.6411 17.3445 25.0005 18.3468 25.0005C19.349 25.0005 20.1508 24.6925 20.8524 23.9738C21.5039 23.3064 21.8547 22.3824 21.8547 21.3557C21.8547 20.329 21.554 19.4563 20.8524 18.7376C20.1508 18.0703 19.349 17.7109 18.3468 17.7109ZM16.9937 22.7417C16.6429 22.3824 16.4425 21.9204 16.4425 21.407C16.4425 20.8937 16.6429 20.4317 16.9937 20.0723C17.3445 19.713 17.7955 19.5077 18.3468 19.5077C18.8479 19.5077 19.349 19.713 19.6998 20.0723C20.0506 20.4317 20.2511 20.8937 20.2511 21.407C20.2511 21.9204 20.0506 22.3824 19.6998 22.7417C19.349 23.1011 18.898 23.3064 18.3468 23.3064C17.8456 23.3064 17.3445 23.1011 16.9937 22.7417Z" fill="#616161"/>
<path d="M0.907403 3.23409C0.255934 4.10678 -0.0447437 5.0308 0.00536923 6.05749V17.9158C0.00536923 18.8398 0.35616 19.6612 1.00763 20.3799C1.6591 21.0472 2.41079 21.4066 3.26271 21.4066H13.9368C13.9368 20.1232 14.3377 19.0452 15.1896 18.1725C16.0415 17.2998 17.0939 16.8891 18.3467 16.8891C19.5995 16.8891 20.6519 17.2998 21.5038 18.1725C22.3557 19.0452 22.7566 20.1232 22.7566 21.4066H42V19.6612H36.8384C37.3395 19.6612 37.5901 19.0965 37.5901 17.9158V6.62218C37.5901 5.80082 37.4898 5.0308 37.1892 4.36345C36.8885 3.6961 36.5878 3.18275 36.237 2.82341C35.8862 2.46407 35.4853 2.15606 35.0343 1.84805C34.5833 1.54004 34.2325 1.38604 34.0822 1.3347L33.581 1.1807C32.9296 1.02669 30.8248 0.770021 27.3169 0.462013C23.809 0.154005 20.8523 0 18.3968 0C15.8411 0 12.8844 0.154005 9.57694 0.462013C6.3196 0.770021 4.31508 1.07803 3.6135 1.28337C2.4609 1.69405 1.55887 2.3614 0.907403 3.23409ZM25.4126 10.1643V6.10883C25.4126 5.59548 25.6131 5.39014 26.014 5.39014H31.7269C31.8772 5.39014 32.0275 5.44148 32.1779 5.59548C32.2781 5.69815 32.3783 5.90349 32.3783 6.05749V10.2669C32.3783 10.6263 32.1278 10.7803 31.6767 10.7803H25.9138C25.5128 10.7803 25.3124 10.5749 25.3124 10.1643H25.4126ZM4.31508 6.05749C4.31508 5.54415 4.56565 5.33881 5.01666 5.33881H17.7453C18.1462 5.33881 18.3467 5.59548 18.3467 6.05749V10.2669C18.3467 10.6263 18.1462 10.7803 17.7453 10.7803H5.01666C4.51553 10.7803 4.31508 10.6263 4.31508 10.2669V6.05749Z" fill="#616161"/>
</svg>
                                        {% trans %}Автодома{% endtrans %}</a></li>
                                <li role="presentation">
                                    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><svg width="42" height="22" viewBox="0 0 42 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30.1408 16.8494C28.1435 16.8494 26.5249 18.4535 26.5249 20.4246C26.5249 22.4 28.1435 23.9999 30.1408 23.9999C32.1386 23.9999 33.7546 22.3997 33.7546 20.4246C33.7546 18.4536 32.1387 16.8494 30.1408 16.8494ZM30.1408 22.08C29.218 22.08 28.4717 21.341 28.4717 20.4247C28.4717 19.512 29.218 18.7735 30.1408 18.7735C31.0635 18.7735 31.8106 19.512 31.8106 20.4247C31.8108 21.341 31.0635 22.08 30.1408 22.08Z" fill="#616161"/>
<path d="M6.032 16.8494C4.03455 16.8494 2.41748 18.4535 2.41748 20.4246C2.41748 22.4 4.03455 23.9999 6.032 23.9999C8.02543 23.9999 9.64652 22.3997 9.64652 20.4246C9.64652 18.4536 8.02543 16.8494 6.032 16.8494ZM6.032 22.08C5.10727 22.08 4.35841 21.341 4.35841 20.4247C4.35841 19.512 5.10727 18.7735 6.032 18.7735C6.95263 18.7735 7.7019 19.512 7.7019 20.4247C7.7019 21.341 6.95263 22.08 6.032 22.08Z" fill="#616161"/>
<path d="M41.309 0H11.0808C10.7017 0 10.3935 0.304092 10.3935 0.679987V4.58685C10.3935 4.95001 10.6807 5.16729 10.8646 5.16729H17.1935C17.437 5.16729 17.6428 5.30181 17.765 5.49499L16.7646 6.46714C16.6401 6.28094 16.441 6.15072 16.1994 6.15072H10.3935V6.22634H9.79652C9.41459 6.22634 9.10919 6.53026 9.10919 6.90932L6.69871 9.42165L2.06603 9.98732C1.68212 9.98732 1.37615 10.2876 1.37615 10.6673L0.917268 13.1045V15.5847C0.917268 15.8855 0.715882 16.1425 0.435173 16.229L0 19.0893C0 19.4647 0.308272 19.7726 0.687172 19.7726H1.08535V19.832H1.54259C1.59788 19.3931 1.71067 18.9704 1.87202 18.58C2.58495 17.011 4.17463 15.9131 6.03172 15.9131C6.64277 15.9131 7.22642 16.0358 7.75789 16.2528L7.80129 16.2096C9.15767 16.8691 10.1433 18.216 10.3415 19.8319H25.4846C25.7819 17.5483 27.7529 15.7785 30.1411 15.7785C32.5296 15.7785 34.4987 17.5483 34.7939 19.8319H41.3093C41.6931 19.8319 42 19.5275 42 19.1477V0.679744C41.9998 0.304092 41.6929 0 41.309 0ZM15.3986 9.41037C15.3986 9.78927 15.1066 10.0982 14.749 10.0982H9.33871C8.95563 10.0982 8.64785 9.79357 8.64785 9.41833L10.0259 7.93665C10.0259 7.55743 10.3335 7.25747 10.7137 7.25747H14.749C15.1066 7.25747 15.3986 7.56189 15.3986 7.94062V9.41037Z" fill="#616161"/>
</svg>
                                        {% trans %}Коммерческие{% endtrans %}</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 static-filters">
                                            <div class="filter">
                                                <input name="searchWithFoto" type="checkbox" value="1" class="custom-checkbox"  checked="checked" /> {% trans %}Новые авто{% endtrans %}
                                            </div>
                                            <div class="filter">
                                                <input name="searchWithFoto" type="checkbox" value="1" class="custom-checkbox"  /> {% trans %}С пробегом{% endtrans %}
                                            </div>
                                            <div class="filter">
                                                <input name="searchWithFoto" type="checkbox" value="1" class="custom-checkbox" /> {% trans %}С фото{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 additionalFiltersBlock">
                                            <select name="" id="" class="custom-select">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 additionalFiltersBlock">
                                            <select name="" id="" class="custom-select">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 additionalFiltersBlock">
                                            <select name="" id="" class="custom-select">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 additionalFiltersBlock">
                                            <select name="" id="" class="custom-select">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 additionalFiltersBlock">
                                            <select name="" id="" class="custom-select">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 additionalFiltersBlock">
                                            <select name="" id="" class="custom-select">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                            <div class="col-lg-12 mainPageFiltersButtons">
                                                <div class="mainPageFiltersSettings">
                                                    <button class="showAllParameters">{% trans %}Все параметры{% endtrans %}<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#EB840B"/>
</svg></button>
                                                    <button class="clearFilters">{% trans %}Сбросить{% endtrans %}<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"/>
</svg>
                                                    </button>
                                                </div>
                                                <div class="mainPageFiltersShowResults">
                                                    <button>{% trans %}Показать 150 666 предложений{% endtrans %}</button>
                                                </div>
                                                <script>
                                                    $(document).ready(function(){
                                                        $(".showAllParameters").click(function(){
                                                            var svg = '<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#EB840B"/></svg>';
                                                            if($(this).hasClass("active")){
                                                                $(".additionalFiltersBlock").fadeOut();
                                                                $(this).html("{% trans %}Все параметры{% endtrans %}" + svg);
                                                            }else{
                                                                $(".additionalFiltersBlock").fadeIn();
                                                                $(this).html("{% trans %}Свернуть{% endtrans %}" + svg);
                                                            }
                                                            $(this).toggleClass("active");
                                                        });
                                                    });
                                                </script>
                                            </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">...</div>
                                <div role="tabpanel" class="tab-pane" id="messages">...</div>
                                <div role="tabpanel" class="tab-pane" id="settings">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="mainPageSitHeader"><h2>{% trans %}Доска бесплатных объявлений в Испании{% endtrans %}</h2></div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Найти<br/>транспорт{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneContent">
                                    <div class="description">
                                        {% trans %}Напишите интересующую Вас модель или воспользуйтесь <a href="">расширенным поиском</a>{% endtrans %}
                                    </div>
                                </div>
                                <div class="siteInfoPaneFloat">
                                    {% if  app.request.locale == 'lv' %}
                                        <form action="{{ path('search') }}" method="post">
                                    {% else %}
                                        <form action="{{ path('searchLocale',{'_locale' : app.request.locale}) }}" method="post">
                                    {% endif %}
                                        <div class="header-search-box">
                                            <input name="searchText" type="text" placeholder="{% trans %}SITE MEKLĒŠANA{% endtrans %}..." {% if app.request.get('searchText') %} value="{{ app.request.get('searchText')}}" {% endif %} />
                                            <a data-toggle="modal" data-target="#regionModal" class="top-select-region">
                                                {% if sessionCity %}
                                                    {{ sessionCity.name }}
                                                {% else %}
                                                    {% if sessionRegion %}
                                                        {{ sessionRegion.name }}
                                                    {% else %}
                                                        {% trans %}Вся Испания{% endtrans %}
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                            <input type="submit" class="header-search-button" value="" />
                                        </div>
                                        <div class="infoPaneCheckbox">
                                            <div class="blackCheckbox">
                                                <div class="blackCheckboxInput">
                                                    <input type="checkbox" />
                                                </div>
                                                Искать в названиях
                                            </div>
                                        </div>
                                    </form>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Продать<br/>свой транспорт{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneContent">
                                    <div class="description">
                                        {% trans %}<a href="">Зарегистрируйтесь</a> и добавляйте объявления{% endtrans %}
                                    </div>
                                </div>
                                <div class="siteInfoPaneFloat">
                                    <a href="" class="siteInfoPaneAddadvert">Отправить заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner">
                                <div class="innerHeader">
                                    <h4>{% trans %}Услуги{% endtrans %}</h4>
                                </div>
                                <div class="siteInfoPaneContent">
                                    <ul class="list-unstyled list-inline">
                                        <li><a href="">Сервисы</a></li>
                                        <li><a href="">Кредиты</a></li>
                                        <li><a href="">Страхование</a></li>
                                        <li><a href="">Диллеры</a></li>
                                    </ul>
                                    <div class="description">Узнайте где можно воспользоваться сервисами, взять или застраховать авто</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-mg-6">
                        <div class="siteInfoPane">
                            <div class="siteInfoPaneInner dilers">
                                <div class="innerHeader">
                                    <h4>БМВ X5. Скидка -10%</h4>
                                </div>
                                <div class="siteInfoPaneContent dilers">
                                    <div class="description">Акция! От официального дилера БМВ в Малаге "Рога и копыта".<br/>Скидки на BMW X5 до 10%. Спешите! Предложений ограничено!</div>
                                </div>
                                <div class="siteInfoPaneContentButton">
                                    <a href="">Смотреть подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mainPageText">
            <div class="col-md-7 col-md-offset-3">
                <div class="mainPageContentHeader"><h3>COnsigue el coche de tus suenos con Auto28.es, el mercado de automoviles online mas grande de Europa!</h3></div>
            </div>
            <div class="col-md-offset-1 col-md-10 mainPageContentText">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, esse maiores vitae nisi illum dolorum sequi assumenda aperiam ipsam dolorem quo aliquid numquam eligendi rerum reiciendis totam quos at et iste iure fugit laudantium sunt velit quidem consectetur nemo iusto ex atque ipsa adipisci repellat in nam quia maxime autem dignissimos accusantium. Dicta, assumenda, dolore, ipsam quia praesentium eius quisquam aut voluptatibus reiciendis quam cum hic. Cupiditate, earum, excepturi, beatae totam ut fugit aliquam dolore explicabo ad soluta quos temporibus dignissimos quae nemo animi dolorem cumque dolor enim aspernatur corporis deserunt delectus quod ratione! Inventore, corporis, sequi dicta veniam quo eaque repudiandae minus eius porro ratione eos similique aliquid consequatur quae molestiae ipsa nam perferendis quibusdam quam mollitia minima debitis magnam laborum quisquam est doloremque facere aspernatur nemo dolorem error adipisci iste nulla quaerat. Magni, maiores, voluptate sapiente voluptatem inventore laborum odit est perspiciatis non pariatur reprehenderit dolore iure in expedita quas similique possimus dicta. Ullam, perspiciatis, praesentium inventore quibusdam obcaecati reiciendis tempora doloribus dolorem aperiam ut fugit quod eveniet labore cupiditate cumque porro ab unde sunt deserunt consequuntur! Quibusdam, corrupti, voluptates, debitis consectetur laborum tenetur labore expedita tempora dicta necessitatibus perspiciatis quas recusandae quae illum corporis deserunt rerum molestiae praesentium accusamus beatae ex nemo doloremque architecto minus laudantium iusto id aperiam. Nihil, at, voluptas, quas ad ipsam natus officiis omnis pariatur odio modi molestiae nam amet ducimus reiciendis ea sit deserunt recusandae. Ad, ipsum iusto ratione quis qui accusantium. Deleniti reiciendis nemo eius porro dignissimos earum aut voluptas itaque iste perferendis? A, eos, iste, veritatis voluptas culpa maxime voluptatem incidunt aperiam recusandae labore in praesentium officiis vel odio quidem iure ipsam placeat possimus minus doloremque mollitia facilis debitis at aut molestiae saepe impedit eligendi omnis laudantium eum doloribus necessitatibus ad itaque magnam nam provident velit? Animi, velit, minus, sunt natus aliquam rem eaque sequi iste magnam nemo amet nam dignissimos cumque labore temporibus et voluptatum praesentium atque deleniti illum. Nemo, molestiae, nam, quisquam, laboriosam consequatur doloremque mollitia voluptatem expedita placeat velit magnam eveniet nisi tempore dolor fugiat soluta tempora minus ullam neque vero praesentium odit voluptas cupiditate aliquid assumenda ipsum amet nihil quibusdam aut. Quis, doloremque tempore inventore eum voluptas deserunt veniam praesentium asperiores. Nesciunt, cum, voluptas veritatis similique dolor eos ipsum fugit beatae necessitatibus nemo quia tenetur autem aperiam qui maxime minus aspernatur inventore dicta tempore expedita eaque asperiores natus explicabo itaque culpa. Deleniti fugit suscipit sit perspiciatis?</p>
            </div>
        </div>
    </div>
    <div class="mainPageAutoListBlock">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="mainPageAutoListHeader"><h3>{% trans %}Легковые автомобили{% endtrans %}</h3></div>
                    <div class="mainPageAutoList">
                        <ul class="list-unstyled list-inline">
                            <li><a href="">Audi</a></li>
                            <li><a href="">Alfa Romeo</a></li>
                            <li><a href="">BMW</a></li>
                            <li><a href="">Cadillac</a></li>
                            <li><a href="">Chevrolet</a></li>
                            <li><a href="">Chrysler</a></li>
                            <li><a href="">Citroen</a></li>
                            <li><a href="">Dacia</a></li>
                            <li><a href="">Dodge</a></li>
                            <li><a href="">Fiat</a></li>
                        </ul>
                        <div class="mainPageAutoListShowAll">
                            <button>{% trans %}Показать все{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}