{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{{ page.metaTagTitle }}{% endblock %}
{% block metatags %}
    <meta content="{{ page.metaTagDescription }}" name="description" />
    <meta content="{{ page.metaTagAuthor }}" name="author" />
    <meta content="{{ page.metaTagRobots }}" name="robots" />
    <meta content="{{ page.metaTagKeywords }}" name="keywords" />
{% endblock %}

{% block topbanner %}{% endblock %}

{% block body %}
    <div class="mainPageFilters">
        <div class="mainPageAutolayer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mainPageFiltersBlock">
                        <div class="mainPageFiltersHeader"><h1>{% trans %}Продажа автомобилей{% endtrans %}</h1></div>
                        <div class="mainPageFiltersTabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">{% trans %}Легковые{% endtrans %}</a></li>
                                <li role="presentation">
                                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">{% trans %}Мотоциклы{% endtrans %}</a></li>
                                <li role="presentation">
                                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">{% trans %}Автодома{% endtrans %}</a></li>
                                <li role="presentation">
                                    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{% trans %}Коммерческие{% endtrans %}</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 static-filters">
                                            <input name="searchWithFoto" type="checkbox" value="1" class="custom-checkbox"  checked="checked" /> {% trans %}Новые авто{% endtrans %}
                                            <input name="searchWithFoto" type="checkbox" value="1" class="custom-checkbox"  /> {% trans %}С пробегом{% endtrans %}
                                            <input name="searchWithFoto" type="checkbox" value="1" class="custom-checkbox" /> {% trans %}С фото{% endtrans %}
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <select name="" class="custom-select" id="">
                                                <option value="0">Марка авто</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Mersedes</option>
                                                <option value="4">Toyota</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">...</div>
                                <div role="tabpanel" class="tab-pane" id="messages">...</div>
                                <div role="tabpanel" class="tab-pane" id="settings">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}