{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{{ page.metaTagTitle}}{% endblock %}
{% block metatags %}
    <meta content="{{ page.metaTagDescription }}" name="description" />
    <meta content="{{ page.metaTagAuthor }}" name="author" />
    <meta content="{{ page.metaTagRobots }}" name="robots" />
    <meta content="{{ page.metaTagKeywords }}" name="keywords" />
{% endblock %}

{% block topbanner %}
    <div class="topBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 topBannerBlock">
                    {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'toppage'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    <li><a href="">{{ page.title }}</a></li>
                </ul>
            </div>
        </div>
      </div>
</nav>
<div class="container">
    <div class="row content-row">
        <div class="col-lg-9 col-md-9">
            <div class="content-block-header">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="page-content">
                {{ page.text | raw }}
                {% if page.blocks | length > 0 %}
                    <div class="pagContentTabs">
                        <div class="pagContentTabsSelectors">
                            <ul class="list-unstyled">
                                {% set i = 1 %}
                                {% for block in page.blocks %}
                                    <li><a class="tabBlockLink" href="#block{{ block.id }}" aria-controls="home" role="tab" data-toggle="tab">{{ block.blockTitle }}<div class="whiteBlock"></div></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="pagContentTabsContent">
                            {% set i = 1 %}
                            {% for block in page.blocks %}
                                <div role="tabpanel" class="tab-pane" id="block{{ block.id }}">{{ block.blockContent | raw }}</div>
                            {% set i = i + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <script>
                    $(".pagContentTabs").find(".tabBlockLink").each(function(){
                        if($(this).attr("href") === window.location.hash){
                            $(this).parent().addClass("active");
                        }
                    });
                    $(".pagContentTabs").find(".tab-pane").each(function(){
                        if("#" + $(this).attr("id") === window.location.hash){
                            $(this).addClass("active");
                        }
                    });
                </script>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky">
            <div class="advertise-block">
                {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page, 'position' : 'rightcolumn'})) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
