{% extends 'DashboardCommonBundle:Common:base.html.twig' %}
{% use 'DashboardCommonBundle:Common:icons.html.twig' %}

{% if app.user %}

{% form_theme orderForm _self %}

{% form_theme productMessageForm _self %}

{% form_theme friendMessageForm _self %}

{% form_theme complaintMessageForm _self %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}



{%- block checkbox_widget -%}
    {%- for attrname, attrvalue in attr -%}
        {%- if attrname in ['id'] -%}
            <div class="div-checkbox {% if checked %} active {% endif %}" data-checkbox="{{ attrvalue }}"></div> {% trans %}Sūtiet man vēstules kopiju{% endtrans %}
        {%- endif -%}
    {%- endfor -%}   
    <input type="checkbox" {{ block('widget_attributes') }} value="1" {% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{% endif %}

{% block title %}
    {% if product.metaTagTitle%}
        {{ product.metaTagTitle }}
    {% else %}
        {{ product.name }}
    {% endif %}
{% endblock %}

{% block topbanner %}
    <div class="topBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 topBannerBlock">
                    {{ render(controller('DashboardCommonBundle:Default:getBanners',{'category' : product.category, 'position' : 'toppage'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block metatags %}
    <meta content="{{ product.metaTagDescription }}" name="description" />
    <meta content="" name="author" />
    <meta content="" name="robots" />
    <meta content="" name="keywords" />
{% endblock %}

{% block metasocials %}
{% if product.mainfoto %}
<link rel="image_src" href="{{ absolute_url(asset('bundles/images/products/' ~ product.mainfoto)) }}" />
{% endif %}
<meta property="og:title" content="{{ product.name }}" />
<meta property="og:description" content="{{ product.name }}" />
{% if product.mainfoto %}
<meta property="og:image" content="{{ absolute_url(asset('bundles/images/products/' ~ product.mainfoto)) }}" />
{% endif %}
<meta property="og:url" content="{{ absolute_url(path('product', {'productId' : product.id,'productName' : product.translit}))}}" />
<meta property="og:site_name" content="Доска объявлений gribupardot.sunweb.by." />
<link rel="canonical" href="{{ absolute_url(path('product', {'productId' : product.id,'productName' : product.translit}))}}" />
{% endblock %}

{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    {% if locale.isDefault %}
                        <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% else %}
                        <li><a href="{{ path('mainLocale',{'_locale' : app.request.locale}) }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% endif %}
                    {% if categoriesBread %}
                        {% for cat in categoriesBread %}
                            <li>
                                {% if  locale.isDefault %}
                                    <a href="{{ path('category', {'_locale' : locale.code,'categoryName' : cat.name }) }}">
                                {% else %}
                                    <a href="{{ path('categoryLocale', {'_locale' : locale.code,'categoryName' : cat.name }) }}">
                                {% endif %}
                                    {% if cat.translations | length > 0 %}
                                        {% for translation in cat.translations %}
                                            {% if translation.locale.id == locale.id %}
                                                {{ translation.value }}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}        
                                        {{ cat.title}}
                                    {% endif %}
                                </a>
                            </li>
                            <li>/</li>
                        {% endfor %}
                    {% endif %}
                    <li class="arrow"><a href="">{{ product.name | slice(0, 60) }}</a></li>
                </ul>
            </div>
        </div>
      </div>
</nav>    
<div class="container">
    <div class="row content-row">
        <div class="col-lg-9 col-md-9">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="notice-message">
                    {{ flashMessage | raw }}
                </div>                             
            {% endfor %}      
            <div class="row product-block">
                <div class="col-lg-9 col-md-9">
                    <div class="content-block-header"><h1>{{ product.name }}</h1></div>
                    <div class="advertInfo">
                        <div class="advertInfoTypes">2019 г., 3.0 л., 250 л.с., бензин, автомат, Sevilla</div>
                        <div class="advertInfoViews">{% trans %}Просмотров{% endtrans %}: {{ product.views }}, {% trans %}сегодня{% endtrans %}: {{ product.viewsPerDate }}</div>
                        <div class="advertInfoDate">{{ product.dateAdded | date("d.m.Y")}} #{{ product.id }}</div>
                    </div>
                </div>
                <div class="col-md-3 price">
                    <div class="content-block-header"><h1>{{ product.price }} &euro;</h1></div>
                    <div class="creditRule">от 500 &euro;/мес.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="row advertFotos">
                        <div class="advertMainFoto">
                            <a href="#zero" data-toggle="modal" data-target="#productSlider"><img src="{{ asset('bundles/Default/img/advert/main.jpg') }}" alt="" title="" /></a>
                        </div>
                        <div class="advertFotoIcons">
                            <div class="advertIcons">
                                <ul class="list-unstyled list-inline">
                                    <li><a href="#zero" data-toggle="modal" data-target="#productSlider"><img src="{{ asset('bundles/Default/img/advert/icon-1.jpg') }}" alt="" title="" /></a></li>
                                    <li><a href="#one" data-toggle="modal" data-target="#productSlider"><img src="{{ asset('bundles/Default/img/advert/icon-2.jpg') }}" alt="" title="" /></a></li>
                                    <li><a href="#two" data-toggle="modal" data-target="#productSlider"><img src="{{ asset('bundles/Default/img/advert/icon-3.jpg') }}" alt="" title="" /></a></li>
                                    <li><a href="#zero" data-toggle="modal" data-target="#productSlider">
                                            <img src="{{ asset('bundles/Default/img/advert/icon-1.jpg') }}" alt="" title="" />
                                            <div class="advertIconCover">{% trans %}Еще 6 фото{% endtrans %}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="advertParameters">
                                <div class="advertFiltersValues">
                                    <div class="advertFiltersHeader"><h3>{% trans %}Технические характеристики{% endtrans %}</h3></div>
                                    <div class="advertFiltersTieser">
                                        <div class="adverFiltersItem">
                                            {% trans %}Год выпуска{% endtrans %} &nbsp;<b>3/2019</b>
                                        </div>
                                        <div class="adverFiltersItem">
                                            {% trans %}Пробег{% endtrans %} &nbsp;<b>11 000 км</b>
                                        </div>
                                        <div class="categoryAdvertType garant">
                                            {% trans %}Гарантия{% endtrans %}
                                            <div class="categoryAdvertGarantNum">7</div>
                                        </div>
                                    </div>
                                    <div class="advertFilersDescription">
                                        <ul class="list-unstyled">
                                            <li>
                                                <div class="advertFilterName">Марка</div>
                                                <div class="advertFilterValue">Mitsubishi</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Модель</div>
                                                <div class="advertFilterValue">Outlander</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Поколение</div>
                                                <div class="advertFilterValue">III Рестайлинг 3</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Кузов</div>
                                                <div class="advertFilterValue">внедорожник 5 дв.</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Двигатель</div>
                                                <div class="advertFilterValue">2.0 л. / 146 л.с. / Бенизин</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Коробка</div>
                                                <div class="advertFilterValue">Автомат</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Привод</div>
                                                <div class="advertFilterValue">полный</div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li>
                                                <div class="advertFilterName">Цвет</div>
                                                <div class="advertFilterValue">синий</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Руль</div>
                                                <div class="advertFilterValue">левый</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Владельцы</div>
                                                <div class="advertFilterValue">1 владелец</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Владение</div>
                                                <div class="advertFilterValue">2 месяца</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Состояние</div>
                                                <div class="advertFilterValue">Не требует ремонта</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Торг</div>
                                                <div class="advertFilterValue">Нет</div>
                                            </li>
                                            <li>
                                                <div class="advertFilterName">Обмен</div>
                                                <div class="advertFilterValue">Нет</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="advertAdditionals">
                                    <div class="advertAdditionalsHeader">{% trans %}Оборудование{% endtrans %}</div>
                                    <div class="advertAdditionalsItems">
                                        <ul class="list-unstyled">
                                            <li>ABS</li>
                                            <li>Подлокотник</li>
                                            <li>Бортовой компьютер</li>
                                            <li>CD плеер</li>
                                            <li>Электрические окна</li>
                                            <li>Электрическое боковое зеркало</li>
                                            <li>Электрический иммобилайзер</li>
                                            <li>Гарантия</li>
                                            <li>Isofix</li>
                                            <li>Руль с кожанной обивкой</li>
                                            <li>Литые диски</li>
                                            <li>Датчик света</li>
                                            <li>Противотуманные фонари</li>
                                            <li>Запасное колесо</li>
                                            <li>Система контроля давления в шинах</li>
                                            <li>Датчик дождя</li>
                                            <li>Руководство по техническому обслуживанию</li>
                                            <li>Усилитель руля</li>
                                            <li>Звуковая система</li>
                                            <li>Спортивная подвеска</li>
                                            <li>Спортивный пакет</li>
                                            <li>Спортивные сидения</li>
                                            <li>Контроль тяги</li>
                                            <li>Тюнер / Радио</li>
                                            <li>Зимние шины</li>
                                            <li>Центральный замок</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="advertText">
                                    <div class="advertTextHeader"><h3>{% trans %}Комментарий продавца{% endtrans %}</h3></div>
                                    <div class="advertTextText">
                                        <p>Торг для реальных покупателей</p>
                                        <p>Автомобиль куплен у официального дилера BMW в Калининграде. В эксплуатации с апреля 2018 года. Немецкая сборка. Стоит ТО. Состояние абсолютно нового авто так как весь год машина больше стояла, чем ездила в связи с постоянными и длетельными командировками. На хранение зимние колеса в сборе 18" с легкосплавными дисками Вщгиду-ызщлу 632.</p>
                                        <p>Цвет и отделка салона:</p>
                                        <p>
                                            -Серый Гранит металлик <br>
                                            -Кожа Dakota Слоновая кость с эксклюзивным швом/контрастной окантовкой - Черый<br>
                                            -Сопртивные сидения для водителя и переднего пассажира
                                        </p>
                                        <p>Торг для реальных покупателей</p>
                                        <p>Автомобиль куплен у официального дилера BMW в Калининграде. В эксплуатации с апреля 2018 года. Немецкая сборка. Стоит ТО. Состояние абсолютно нового авто так как весь год машина больше стояла, чем ездила в связи с постоянными и длетельными командировками. На хранение зимние колеса в сборе 18" с легкосплавными дисками Вщгиду-ызщлу 632.</p>
                                        <p>Цвет и отделка салона:</p>
                                        <p>
                                            -Серый Гранит металлик <br>
                                            -Кожа Dakota Слоновая кость с эксклюзивным швом/контрастной окантовкой - Черый<br>
                                            -Сопртивные сидения для водителя и переднего пассажира
                                        </p>
                                        <p>Торг для реальных покупателей</p>
                                        <p>Автомобиль куплен у официального дилера BMW в Калининграде. В эксплуатации с апреля 2018 года. Немецкая сборка. Стоит ТО. Состояние абсолютно нового авто так как весь год машина больше стояла, чем ездила в связи с постоянными и длетельными командировками. На хранение зимние колеса в сборе 18" с легкосплавными дисками Вщгиду-ызщлу 632.</p>
                                        <p>Цвет и отделка салона:</p>
                                        <p>
                                            -Серый Гранит металлик <br>
                                            -Кожа Dakota Слоновая кость с эксклюзивным швом/контрастной окантовкой - Черый<br>
                                            -Сопртивные сидения для водителя и переднего пассажира
                                        </p>
                                        {{ product.description | raw }}
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-lg-12 product-tabs">
                                <div class="product-tabs-inner">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation">
                                            {% if  locale.isDefault %}
                                                {% if app.user %}
                                                    <a data-toggle="modal" data-target="#messageModal" href="">
                                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" fill="#F5AA01" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                {% trans %}Написать владельцу{% endtrans %}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('login') }}">
                                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" fill="#F5AA01" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    {% trans %}Написать владельцу{% endtrans %}
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                {% if app.user %}
                                                    <a data-toggle="modal" data-target="#messageModal" href="">
                                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" fill="#F5AA01" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        {% trans %}Написать владельцу{% endtrans %}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('loginLocale',{'_locale' : app.request.locale}) }}">
                                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" fill="#F5AA01" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        {% trans %}Написать владельцу{% endtrans %}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                        <li role="presentation">
                                            <a data-toggle="modal" data-target="#friendMessageModal" href="">
                                                <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.4 1H22.6C23.92 1 25 2.125 25 3.5V18.5C25 19.875 23.92 21 22.6 21H3.4C2.08 21 1 19.875 1 18.5V3.5C1 2.125 2.08 1 3.4 1Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M25 3L13 11L1 3" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.4 1H22.6C23.92 1 25 2.125 25 3.5V18.5C25 19.875 23.92 21 22.6 21H3.4C2.08 21 1 19.875 1 18.5V3.5C1 2.125 2.08 1 3.4 1Z" fill="#F5AA01" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M25 3L13 11L1 3" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                {% trans %}Сообщить другу{% endtrans %}
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a data-toggle="modal" data-target="#complaintMessageModal" href="">
                                                <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M18.1918 22.0025H5.82666C4.80306 22.0095 3.79603 21.7457 2.90897 21.2383C2.02191 20.7308 1.2868 19.998 0.7791 19.115C0.268933 18.2504 0 17.2663 0 16.2641C0 15.2619 0.268933 14.2779 0.7791 13.4133L6.98935 2.86234C7.50153 1.99125 8.23448 1.26864 9.11521 0.766444C9.99594 0.264251 10.9937 0 12.0092 0C13.0247 0 14.0225 0.264251 14.9032 0.766444C15.784 1.26864 16.5169 1.99125 17.0291 2.86234L23.2209 13.4133C23.7311 14.2779 24 15.2619 24 16.2641C24 17.2663 23.7311 18.2504 23.2209 19.115C22.7147 19.9953 21.9825 20.7264 21.099 21.2336C20.2155 21.7409 19.2123 22.0063 18.1918 22.0025ZM12.0092 1.83566C11.3165 1.8295 10.6345 2.00617 10.033 2.3476C9.43155 2.68904 8.9321 3.18301 8.58575 3.77901L2.39395 14.3391C2.04747 14.9239 1.86476 15.5901 1.86476 16.2687C1.86476 16.9473 2.04747 17.6135 2.39395 18.1983C2.73678 18.8015 3.23598 19.3024 3.83965 19.649C4.44333 19.9955 5.12944 20.1752 5.82666 20.1692H18.1918C18.8906 20.1768 19.5786 19.998 20.184 19.6513C20.7895 19.3046 21.2901 18.8028 21.6337 18.1983C21.9802 17.6135 22.1629 16.9473 22.1629 16.2687C22.1629 15.5901 21.9802 14.9239 21.6337 14.3391L15.4327 3.77901C15.0864 3.18301 14.5869 2.68904 13.9854 2.3476C13.3839 2.00617 12.702 1.8295 12.0092 1.83566Z" fill="#616161"/>
                                                    <path d="M12.0101 7.33596C11.9312 7.33523 11.8532 7.35313 11.7826 7.3882C11.7119 7.42326 11.6507 7.47447 11.6039 7.53763C11.5533 7.59778 11.5184 7.6694 11.5023 7.74615C11.4862 7.8229 11.4894 7.90241 11.5116 7.97763L12.0101 9.97599L12.5086 7.97763C12.5309 7.90241 12.5341 7.8229 12.518 7.74615C12.5019 7.6694 12.467 7.59778 12.4163 7.53763C12.3695 7.47447 12.3083 7.42326 12.2377 7.3882C12.1671 7.35313 12.0891 7.33523 12.0101 7.33596Z" fill="#616161"/>
                                                    <path d="M13.8554 6.41895C13.6341 6.14382 13.3533 5.92169 13.0338 5.76903C12.7143 5.61638 12.3644 5.53711 12.0098 5.53711C11.6553 5.53711 11.3054 5.61638 10.9859 5.76903C10.6664 5.92169 10.3856 6.14382 10.1643 6.41895C9.94142 6.69781 9.78701 7.02443 9.71333 7.3729C9.63965 7.72137 9.64872 8.08209 9.73983 8.42647L11.0871 13.9724C11.1371 14.1706 11.2523 14.3465 11.4145 14.4722C11.5767 14.5979 11.7765 14.6662 11.9822 14.6662C12.1879 14.6662 12.3877 14.5979 12.5498 14.4722C12.712 14.3465 12.8272 14.1706 12.8773 13.9724L14.2706 8.41731C14.3615 8.07498 14.3713 7.7164 14.2993 7.36969C14.2272 7.02297 14.0753 6.69755 13.8554 6.41895ZM12.5081 7.9773L12.0098 9.97566L11.5115 7.9773C11.4893 7.90208 11.4861 7.82257 11.5022 7.74582C11.5183 7.66907 11.5532 7.59744 11.6038 7.5373C11.6511 7.47468 11.7124 7.42386 11.7829 7.38886C11.8533 7.35385 11.9311 7.33563 12.0098 7.33563C12.0886 7.33563 12.1663 7.35385 12.2368 7.38886C12.3073 7.42386 12.3686 7.47468 12.4159 7.5373C12.4665 7.59744 12.5014 7.66907 12.5175 7.74582C12.5336 7.82257 12.5304 7.90208 12.5081 7.9773Z" fill="#616161"/>
                                                    <path d="M12.0092 18.336C12.7736 18.336 13.3933 17.7204 13.3933 16.961C13.3933 16.2016 12.7736 15.5859 12.0092 15.5859C11.2447 15.5859 10.625 16.2016 10.625 16.961C10.625 17.7204 11.2447 18.336 12.0092 18.336Z" fill="#616161"/>
                                                </svg>
                                                <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M18.1918 22.0025H5.82666C4.80306 22.0095 3.79603 21.7457 2.90897 21.2383C2.02191 20.7308 1.2868 19.998 0.7791 19.115C0.268933 18.2504 0 17.2663 0 16.2641C0 15.2619 0.268933 14.2779 0.7791 13.4133L6.98935 2.86234C7.50153 1.99125 8.23448 1.26864 9.11521 0.766444C9.99594 0.264251 10.9937 0 12.0092 0C13.0247 0 14.0225 0.264251 14.9032 0.766444C15.784 1.26864 16.5169 1.99125 17.0291 2.86234L23.2209 13.4133C23.7311 14.2779 24 15.2619 24 16.2641C24 17.2663 23.7311 18.2504 23.2209 19.115C22.7147 19.9953 21.9825 20.7264 21.099 21.2336C20.2155 21.7409 19.2123 22.0063 18.1918 22.0025ZM12.0092 1.83566C11.3165 1.8295 10.6345 2.00617 10.033 2.3476C9.43155 2.68904 8.9321 3.18301 8.58575 3.77901L2.39395 14.3391C2.04747 14.9239 1.86476 15.5901 1.86476 16.2687C1.86476 16.9473 2.04747 17.6135 2.39395 18.1983C2.73678 18.8015 3.23598 19.3024 3.83965 19.649C4.44333 19.9955 5.12944 20.1752 5.82666 20.1692H18.1918C18.8906 20.1768 19.5786 19.998 20.184 19.6513C20.7895 19.3046 21.2901 18.8028 21.6337 18.1983C21.9802 17.6135 22.1629 16.9473 22.1629 16.2687C22.1629 15.5901 21.9802 14.9239 21.6337 14.3391L15.4327 3.77901C15.0864 3.18301 14.5869 2.68904 13.9854 2.3476C13.3839 2.00617 12.702 1.8295 12.0092 1.83566Z" fill="#EB840B"/>
                                                    <path d="M12.0092 1.83566C11.3165 1.8295 10.6345 2.00617 10.033 2.3476C9.43155 2.68904 8.9321 3.18301 8.58575 3.77901L2.39395 14.3391C2.04747 14.9239 1.86476 15.5901 1.86476 16.2687C1.86476 16.9473 2.04747 17.6135 2.39395 18.1983C2.73678 18.8015 3.23598 19.3024 3.83965 19.649C4.44333 19.9955 5.12944 20.1752 5.82666 20.1692H18.1918C18.8906 20.1768 19.5786 19.998 20.184 19.6513C20.7895 19.3046 21.2901 18.8028 21.6337 18.1983C21.9802 17.6135 22.1629 16.9473 22.1629 16.2687C22.1629 15.5901 21.9802 14.9239 21.6337 14.3391L15.4327 3.77901C15.0864 3.18301 14.5869 2.68904 13.9854 2.3476C13.3839 2.00617 12.702 1.8295 12.0092 1.83566Z" fill="#EB840B"/>
                                                    <path d="M18.1918 22.0025H5.82666C4.80306 22.0095 3.79603 21.7457 2.90897 21.2383C2.02191 20.7308 1.2868 19.998 0.7791 19.115C0.268933 18.2504 0 17.2663 0 16.2641C0 15.2619 0.268933 14.2779 0.7791 13.4133L6.98935 2.86234C7.50153 1.99125 8.23448 1.26864 9.11521 0.766444C9.99594 0.264251 10.9937 0 12.0092 0C13.0247 0 14.0225 0.264251 14.9032 0.766444C15.784 1.26864 16.5169 1.99125 17.0291 2.86234L23.2209 13.4133C23.7311 14.2779 24 15.2619 24 16.2641C24 17.2663 23.7311 18.2504 23.2209 19.115C22.7147 19.9953 21.9825 20.7264 21.099 21.2336C20.2155 21.7409 19.2123 22.0063 18.1918 22.0025ZM12.0092 1.83566C11.3165 1.8295 10.6345 2.00617 10.033 2.3476C9.43155 2.68904 8.9321 3.18301 8.58575 3.77901L2.39395 14.3391C2.04747 14.9239 1.86476 15.5901 1.86476 16.2687C1.86476 16.9473 2.04747 17.6135 2.39395 18.1983C2.73678 18.8015 3.23598 19.3024 3.83965 19.649C4.44333 19.9955 5.12944 20.1752 5.82666 20.1692H18.1918C18.8906 20.1768 19.5786 19.998 20.184 19.6513C20.7895 19.3046 21.2901 18.8028 21.6337 18.1983C21.9802 17.6135 22.1629 16.9473 22.1629 16.2687C22.1629 15.5901 21.9802 14.9239 21.6337 14.3391L15.4327 3.77901C15.0864 3.18301 14.5869 2.68904 13.9854 2.3476C13.3839 2.00617 12.702 1.8295 12.0092 1.83566Z" fill="#616161"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8549 6.41904C13.6336 6.1439 13.3528 5.92177 13.0333 5.76912C12.7138 5.61646 12.3639 5.5372 12.0094 5.5372C11.6548 5.5372 11.3049 5.61646 10.9854 5.76912C10.6659 5.92177 10.3851 6.1439 10.1638 6.41904C9.94093 6.6979 9.78652 7.02452 9.71284 7.37298C9.63916 7.72145 9.64823 8.08218 9.73934 8.42656L11.0866 13.9724C11.1366 14.1707 11.2518 14.3466 11.414 14.4723C11.5762 14.598 11.776 14.6663 11.9817 14.6663C12.1874 14.6663 12.3872 14.598 12.5493 14.4723C12.7115 14.3466 12.8268 14.1707 12.8768 13.9724L14.2701 8.41739C14.361 8.07507 14.3708 7.71649 14.2988 7.36977C14.2267 7.02306 14.0748 6.69764 13.8549 6.41904Z" fill="#616161"/>
                                                    <path d="M12.0092 18.3358C12.7736 18.3358 13.3933 17.7202 13.3933 16.9608C13.3933 16.2014 12.7736 15.5858 12.0092 15.5858C11.2447 15.5858 10.625 16.2014 10.625 16.9608C10.625 17.7202 11.2447 18.3358 12.0092 18.3358Z" fill="#616161"/>
                                                </svg>
                                                {% trans %}Пожаловаться{% endtrans %}
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            {% if app.user %}
                                                <a href="javascript:void(0);" onclick="addFavoriteProduct({{ product.id }},'{{ app.request.locale }}', 0)" aria-controls="settings" role="tab" data-toggle="tab">
                                                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133V2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    {% trans %}В избранное{% endtrans %}
                                                </a>
                                            {% else %}
                                                {% if  locale.isDefault %}
                                                    <a href="{{ path('login') }}">
                                                        <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133V2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        {% trans %}В избранное{% endtrans %}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('loginLocale',{'_locale' : app.request.locale}) }}">
                                                        <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133V2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        {% trans %}В избранное{% endtrans %}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advertSellerInfo">
                        <div class="advertSellerInfoHeader">
                            <button class="headerButton" data-toggle="modal" data-target="#complaintMessageModal">{% trans %}Пожаловаться{% endtrans %}</button>
                            {{ block('categoryAdvertShare') }}
                        </div>
                        <div class="advertSellerInfoInner">
                            <div class="advertSellerInfoAdvertName">{{ product.name }}</div>
                            <div class="advertSellerName">OcasionPlus Las Rozas</div>
                            <div class="advertSellerStatus">Vendedor profesional</div>
                            <div class="advertSellerRating">
                                <div class="advertSellerRatingStar"></div>
                                <div class="advertSellerRatingStar"></div>
                                <div class="advertSellerRatingStar"></div>
                                <div class="advertSellerRatingStar half"></div>
                                <div class="advertSellerRatingStar empty"></div>
                                <div class="advertSellerRatingValue">(90)</div>
                            </div>
                            <div class="advertSellerLinks">
                                {% if  locale.isDefault %}
                                    <div class="advertSellerLink"><a href="{{ path('user_products', {'userId' : product.user.id }) }}">{% trans %}Все объявления продавца{% endtrans %}</a></div>
                                    <div class="advertSellerLink"><a href="{{ path('user_reviews', {'userId' : product.user.id }) }}">{% trans %}Отзывы о продавце{% endtrans %}</a></div>
                                {% else %}
                                    <div class="advertSellerLink"><a href="{{ path('user_productsLocale', {'_locale' : app.request.locale,'userId' : product.user.id }) }}">{% trans %}Все объявления продавца{% endtrans %}</a></div>
                                    <div class="advertSellerLink"><a href="{{ path('user_reviewsLocale', {'_locale' : app.request.locale,'userId' : product.user.id }) }}">{% trans %}Отзывы о продавце{% endtrans %}</a></div>
                                {% endif %}
                            </div>
                            <div class="advertSellerContacts">
                                <div class="advertSellerContactsHeader">{% trans %}Контактная информация{% endtrans %}</div>
                                <div class="advertSellerTime">с 9:00 до 21:00</div>
                                <div class="advertContact phone">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21.9994 16.9738V19.9846C22.0005 20.2642 21.9432 20.5408 21.831 20.7969C21.7188 21.053 21.5542 21.2829 21.3478 21.4719C21.1415 21.6608 20.8978 21.8047 20.6325 21.8942C20.3672 21.9838 20.0861 22.017 19.8072 21.9919C16.7128 21.6563 13.7404 20.601 11.1289 18.9108C8.69921 17.3699 6.63926 15.3141 5.09534 12.8892C3.39586 10.271 2.33824 7.29008 2.00816 4.18795C1.98303 3.91042 2.01608 3.63071 2.1052 3.36663C2.19432 3.10254 2.33757 2.85987 2.52581 2.65407C2.71405 2.44826 2.94317 2.28383 3.19858 2.17123C3.45398 2.05864 3.73008 2.00036 4.0093 2.0001H7.02608C7.5141 1.9953 7.98722 2.16778 8.35725 2.48537C8.72727 2.80297 8.96896 3.24401 9.03727 3.72629C9.1646 4.68982 9.40074 5.63587 9.74118 6.54642C9.87648 6.90563 9.90576 7.29602 9.82556 7.67133C9.74536 8.04665 9.55903 8.39115 9.28867 8.66402L8.01156 9.93859C9.44308 12.4512 11.5276 14.5315 14.0451 15.9602L15.3222 14.6856C15.5956 14.4158 15.9408 14.2298 16.3169 14.1498C16.6929 14.0698 17.0841 14.099 17.444 14.234C18.3564 14.5738 19.3043 14.8095 20.2698 14.9365C20.7582 15.0053 21.2044 15.2509 21.5233 15.6265C21.8422 16.0021 22.0116 16.4817 21.9994 16.9738Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    +49 (0)2433 938034
                                </div>
                                <div class="advertContact message">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    {% if  locale.isDefault %}
                                        {% if app.user %}
                                            <a data-toggle="modal" data-target="#messageModal" href="">{% trans %}Написать сообщение{% endtrans %}</a>
                                        {% else %}
                                            <a href="{{ path('login') }}">{% trans %}Написать сообщение{% endtrans %}</a>
                                        {% endif %}
                                    {% else %}
                                        {% if app.user %}
                                            <a data-toggle="modal" data-target="#messageModal" href="">{% trans %}Написать сообщение{% endtrans %}</a>
                                        {% else %}
                                            <a href="{{ path('loginLocale',{'_locale' : app.request.locale}) }}">{% trans %}Написать сообщение{% endtrans %}</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="advertSellerOrder">
                                <button data-toggle="modal" data-target="#orderModal">{% trans %}Оставить заявку{% endtrans %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="categorySpecialAdverts new">
                                    <div class="categorySpecialAdvertsHeader">
                                        <h3>{% trans %}Похожие предложения{% endtrans %}</h3>
                                        <div class="categorySpecialAdvertsHeaderNew">
                                            <div class="categorySpecialAdvertsSliderNav" id="sameDealerAdvertsNav"></div>
                                        </div>
                                    </div>
                                    <div class="categorySpecialAdvertsSlider owl-carousel" id="sameDealerAdverts">
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                    </div>
                                </div>
                            <div class="categorySpecialAdverts new">
                                    <div class="categorySpecialAdvertsHeader">
                                        <h3>{% trans %}Новые автомобили от дилеров{% endtrans %}</h3>
                                        <div class="categorySpecialAdvertsHeaderNew">
                                            <a href="">{% trans %}Все предложения{% endtrans %}</a>
                                            <div class="categorySpecialAdvertsSliderNav" id="newDealerAdvertsNav"></div>
                                        </div>
                                    </div>
                                    <div class="categorySpecialAdvertsSlider owl-carousel" id="newDealerAdverts">
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                        <div class="categorySpecialAdvert">
                                            <div class="categorySpecialAdvertImage">
                                                <a href=""><img src="{{ asset('bundles/Default/img/special-auto.jpg') }}" alt="" title="" /></a>
                                            </div>
                                            <div class="categorySpecialAdvertName"><a href>BMW X5 II (E70) 30d</a></div>
                                            <div class="categorySpecialAdvertFeatures">
                                                <div class="categorySpecialAdvertFeature">2019, Новый</div>
                                                <div class="categorySpecialAdvertFeature">1,4 л/82 л.с./Бензин</div>
                                            </div>
                                            <div class="categorySpecialAdvertPrice">40 165 &euro;</div>
                                        </div>
                                    </div>
                                </div>            
                        <div class="productpage-banner hidden-sm hidden-xs">
                            {{ render(controller('DashboardCommonBundle:Default:getBanners',{'position' : 'centerpage'})) }}
			</div>
		</div>
                <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs">
                        <div class="advertise-block">
                            {{ render(controller('DashboardCommonBundle:Default:getBanners',{'category' : product.category, 'position' : 'rightcolumn'})) }}
			</div>
		</div>
                <div class="col-lg-3 col-md-3 right-column hidden-lg hidden-md">
                    <div class="advertise-block">
                        {{ render(controller('DashboardCommonBundle:Default:getBanners',{'category' : product.category, 'position' : 'rightcolumn'})) }}
                    </div>
		</div>
	</div>
</div>
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="regionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 1.4524L24.5476 0L13 11.5578L1.4524 0L0 1.4524L11.5578 13L0 24.5476L1.4524 26L13 14.4422L24.5476 26L26 24.5476L14.4422 13L26 1.4524Z" fill="white"/>
                    </svg>
                </button>
                {{ form_start(orderForm, {'method':'POST','attr': {'class': 'form-horizontal'}}) }}
                    <div class="modal-header">
                        <h3>{% trans %}Оставить заявку{% endtrans %}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{ form_label(orderForm.name) }}</label>
                            <div class="col-lg-8 col-md-8">
                                {{ form_widget(orderForm.name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{ form_label(orderForm.email) }}</label>
                            <div class="col-lg-8 col-md-8">
                                {{ form_widget(orderForm.email) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{ form_label(orderForm.phone) }}</label>
                            <div class="col-lg-8 col-md-8">
                                {{ form_widget(orderForm.phone) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{ form_label(orderForm.comment) }}</label>
                            <div class="col-lg-8 col-md-8">
                                {{ form_widget(orderForm.comment) }}
                            </div>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">{{ form_widget(orderForm.save,{'type' : 'submit'}) }}</div>
                    </div>
                {{ form_end(orderForm)}}
            </div>
        </div>
    </div>
    <div class="modal fade" id="friendMessageModal" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 1.4524L24.5476 0L13 11.5578L1.4524 0L0 1.4524L11.5578 13L0 24.5476L1.4524 26L13 14.4422L24.5476 26L26 24.5476L14.4422 13L26 1.4524Z" fill="white"/>
                    </svg>
                </button>
                {{ form_start(friendMessageForm, {'method':'POST','attr': {'class': 'form-horizontal'}}) }}
                    <div class="modal-header">
                        <h3>{% trans %}Сообщить другу{% endtrans %}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{ form_label(friendMessageForm.friendemail) }}</label>
                            <div class="col-lg-8 col-md-8">
                                {{ form_widget(friendMessageForm.friendemail) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{ form_label(friendMessageForm.friendname) }}</label>
                            <div class="col-lg-8 col-md-8">
                                {{ form_widget(friendMessageForm.friendname) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">{{ form_widget(friendMessageForm.save,{'type' : 'submit'}) }}</div>
                    </div>
                {{ form_end(friendMessageForm)}}
            </div>
        </div>
    </div>
    <div class="modal fade" id="complaintMessageModal" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 1.4524L24.5476 0L13 11.5578L1.4524 0L0 1.4524L11.5578 13L0 24.5476L1.4524 26L13 14.4422L24.5476 26L26 24.5476L14.4422 13L26 1.4524Z" fill="white"/>
                    </svg>
                </button>
                {{ form_start(complaintMessageForm, {'method':'POST','attr': {'class': 'form-horizontal'}}) }}
                    <div class="modal-header">
                        <h3>{% trans %}Пожаловаться{% endtrans %}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{ form_label(complaintMessageForm.username) }}</label>
                            <div class="col-lg-8 col-md-8">
                                {{ form_widget(complaintMessageForm.username) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">{{ form_label(complaintMessageForm.reason) }}</label>
                            <div class="col-lg-8 col-md-8">
                                {{ form_widget(complaintMessageForm.reason) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">{{ form_widget(complaintMessageForm.save,{'type' : 'submit'}) }}</div>
                    </div>
                {{ form_end(complaintMessageForm)}}
            </div>
        </div>
    </div>
    <div class="modalProductSlider modal fade" role="dialog" id="productSlider">
        <div class="productSliderInner">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 advertSliderMainFoto">
                        <div class="advertMainFoto owl-carousel" id="productModalSlider">
                            <div data-hash="zero"><img src="{{ asset('bundles/Default/img/advert/main.jpg') }}" alt="" title="" /></div>
                            <div data-hash="one"><img src="{{ asset('bundles/Default/img/advert/main.jpg') }}" alt="" title="" /></div>
                            <div data-hash="two"><img src="{{ asset('bundles/Default/img/advert/main.jpg') }}" alt="" title="" /></div>
                        </div>
                        <div class="productModalSliderIcons">
                            <div class="advertIcons">
                                <ul class="list-unstyled list-inline">
                                    <li><a href="#zero"><img src="{{ asset('bundles/Default/img/advert/icon-1.jpg') }}" alt="" title="" /></a></li>
                                    <li><a href="#one"><img src="{{ asset('bundles/Default/img/advert/icon-2.jpg') }}" alt="" title="" /></a></li>
                                    <li><a href="#two"><img src="{{ asset('bundles/Default/img/advert/icon-3.jpg') }}" alt="" title="" /></a></li>
                                    <li><a href="#zero"><img src="{{ asset('bundles/Default/img/advert/icon-1.jpg') }}" alt="" title="" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 productSliderInfo">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26 1.4524L24.5476 0L13 11.5578L1.4524 0L0 1.4524L11.5578 13L0 24.5476L1.4524 26L13 14.4422L24.5476 26L26 24.5476L14.4422 13L26 1.4524Z" fill="#222B2A"/>
                            </svg>
                        </button>
                        <div class="advertSellerInfo">
                            <div class="advertSellerInfoInner">
                                <div class="advertSellerInfoAdvertName">{{ product.name }}</div>
                                <div class="price">
                                    <div class="content-block-header"><h1>{{ product.price }} &euro;</h1></div>
                                    <div class="creditRule">от 500 &euro;/мес.</div>
                                </div>
                                <div class="advertSellerName">OcasionPlus Las Rozas</div>
                                <div class="advertSellerStatus">Vendedor profesional</div>
                                <div class="advertSellerContacts">
                                    <div class="advertSellerContactsHeader">{% trans %}Контактная информация{% endtrans %}</div>
                                    <div class="advertSellerTime">с 9:00 до 21:00</div>
                                    <div class="advertContact phone">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21.9994 16.9738V19.9846C22.0005 20.2642 21.9432 20.5408 21.831 20.7969C21.7188 21.053 21.5542 21.2829 21.3478 21.4719C21.1415 21.6608 20.8978 21.8047 20.6325 21.8942C20.3672 21.9838 20.0861 22.017 19.8072 21.9919C16.7128 21.6563 13.7404 20.601 11.1289 18.9108C8.69921 17.3699 6.63926 15.3141 5.09534 12.8892C3.39586 10.271 2.33824 7.29008 2.00816 4.18795C1.98303 3.91042 2.01608 3.63071 2.1052 3.36663C2.19432 3.10254 2.33757 2.85987 2.52581 2.65407C2.71405 2.44826 2.94317 2.28383 3.19858 2.17123C3.45398 2.05864 3.73008 2.00036 4.0093 2.0001H7.02608C7.5141 1.9953 7.98722 2.16778 8.35725 2.48537C8.72727 2.80297 8.96896 3.24401 9.03727 3.72629C9.1646 4.68982 9.40074 5.63587 9.74118 6.54642C9.87648 6.90563 9.90576 7.29602 9.82556 7.67133C9.74536 8.04665 9.55903 8.39115 9.28867 8.66402L8.01156 9.93859C9.44308 12.4512 11.5276 14.5315 14.0451 15.9602L15.3222 14.6856C15.5956 14.4158 15.9408 14.2298 16.3169 14.1498C16.6929 14.0698 17.0841 14.099 17.444 14.234C18.3564 14.5738 19.3043 14.8095 20.2698 14.9365C20.7582 15.0053 21.2044 15.2509 21.5233 15.6265C21.8422 16.0021 22.0116 16.4817 21.9994 16.9738Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        +49 (0)2433 938034
                                    </div>
                                    <div class="advertContact message">
                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21 10.4445C21.0038 11.911 20.6612 13.3577 20 14.6667C19.216 16.2353 18.0108 17.5546 16.5194 18.477C15.0279 19.3993 13.3091 19.8882 11.5555 19.8889C10.089 19.8927 8.64234 19.5501 7.33332 18.8889L1 21L3.11111 14.6667C2.44992 13.3577 2.10729 11.911 2.11111 10.4445C2.11179 8.69086 2.60068 6.97208 3.52302 5.48064C4.44536 3.98919 5.76472 2.78399 7.33332 2.00003C8.64234 1.33884 10.089 0.996208 11.5555 1.00003H12.1111C14.427 1.1278 16.6145 2.10532 18.2546 3.74543C19.8947 5.38553 20.8722 7.57297 21 9.88891V10.4445Z" stroke="#747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        {% if  locale.isDefault %}
                                            {% if app.user %}
                                                <a data-toggle="modal" data-target="#messageModal" href="">{% trans %}Написать сообщение{% endtrans %}</a>
                                            {% else %}
                                                <a href="{{ path('login') }}">{% trans %}Написать сообщение{% endtrans %}</a>
                                            {% endif %}
                                        {% else %}
                                            {% if app.user %}
                                                <a data-toggle="modal" data-target="#messageModal" href="">{% trans %}Написать сообщение{% endtrans %}</a>
                                            {% else %}
                                                <a href="{{ path('loginLocale',{'_locale' : app.request.locale}) }}">{% trans %}Написать сообщение{% endtrans %}</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="advertSellerOrder">
                                    <button data-toggle="modal" data-target="#orderModal">{% trans %}Оставить заявку{% endtrans %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if app.user %}
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="regionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(profileMessageForm, {'method':'POST','attr': {'class': 'form-horizontal'}}) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title" id="regionModalLabel">{% trans %}Nosūtīt ziņu{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">{{ form_label(profileMessageForm.subject) }}</label>
                        <div class="col-lg-8 col-md-8">
                           {{ form_widget(profileMessageForm.subject) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">{{ form_label(profileMessageForm.message) }}</label>
                        <div class="col-lg-8 col-md-8">
                            {{ form_widget(profileMessageForm.message) }}
                        </div>
                    </div>
                    {{ form_widget(profileMessageForm.userFrom, {'value' : user.id }) }}
                    {{ form_widget(profileMessageForm.userTo, {'value' : product.user.id }) }}
                </div>
                <div class="modal-footer">
                    <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            {{ form_widget(profileMessageForm.save,{'type' : 'submit'}) }}
                        </div>
                    <div class="col-sm-3"></div>
                </div>
                {{ form_end(profileMessageForm)}}
            </div>
        </div>
    </div>     
{% endif %}
{% endblock %}
