{% if locale.isDefault %}
    {{ form_start(regionFilterForm, {"attr" : {"id" : "categoryFilterForm", "onsubmit" : "if($('#selectCategory').val() && $('#selectCategory').val() != 0){$(this).attr('action','/category/' + $('#selectCategory').val())}return true;"}}) }}
{% else %}
    {{ form_start(regionFilterForm, {"attr" : {"id" : "categoryFilterForm", "onsubmit" : "if($('#selectCategory').val() && $('#selectCategory').val() != 0){$(this).attr('action','/" ~ locale.code ~ "/category/' + $('#selectCategory').val())}return true;"}}) }}
{% endif %}
    <div class="row search-form-inputs">
        <div class="col-lg-4 col-md-4 search-box">
            <input name="searchText" placeholder="{% trans %}Teksta meklēšana{% endtrans %}" type="text" {% if app.request.get('searchText') %} value="{{ app.request.get('searchText')}}" {% endif %} />
        </div>
        {% if allcategories | length > 0 %}
            <div class="col-lg-4 col-md-4 position-relative search-box">
                <select name="searchCategory" class="custom-select" id="selectCategory" data-locale="{{ locale.code }}">
                    <option value="0">{% trans %}Izvēlieties kategoriju{% endtrans %}</option>
                    {% for category in allcategories %}
                        {% if category.name == app.request.get('searchCategory') %}
                            <option value="{{ category.name }}" selected="selected">
                                {% if category.translations | length > 0 %}
                                    {% for translation in category.translations %}
                                        {% if translation.locale.id == locale.id %}
                                            {{ translation.value }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}        
                                    {{ category.title }}
                                {% endif %}
                            </option>
                        {% else %}
                            <option value="{{ category.name }}">
                                {% if category.translations | length > 0 %}
                                    {% for translation in category.translations %}
                                        {% if translation.locale.id == locale.id %}
                                            {{ translation.value }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}        
                                    {{ category.title }}
                                {% endif %}
                            </option>
                        {% endif %}
                        {% if category.children | length > 0 %}
                            {% for child in category.children %}
                                {% if child.name == app.request.get('searchCategory') %}
                                    <option value="{{ child.name }}" selected="selected">
                                        {% if child.translations | length > 0 %}
                                            {% for translation in child.translations %}
                                                {% if translation.locale.id == locale.id %}
                                                    {{ translation.value }}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}        
                                            {{ child.title }}
                                        {% endif %}
                                    </option>
                                {% else %}
                                    <option value="{{ child.name }}">
                                        {% if child.translations | length > 0 %}
                                            {% for translation in child.translations %}
                                                {% if translation.locale.id == locale.id %}
                                                    {{ translation.value }}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}        
                                            {{ child.title }}
                                        {% endif %}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="col-lg-4 col-md-4 search-box">
            {{ form_widget(regionFilterForm.regionFilter,{'id' : 'filterRegion'}) }}
            <script>
                $('#filterRegion').change(function() {
                    var $form = $('#categoryFilterForm');
                    var data = {};
                    data[$('#filterRegion').attr('name')] = $('#filterRegion').val();
                                          
                    $.ajax({
                        url : $form.attr('action'),
                        type: $form.attr('method'),
                        data : data,
                        success: function(html) {
                            $('#filterCities').html($(html).find('#filterCities').html());
                            $('#filterCity').customSelect();
                        }
                    });
                });
            </script>
        </div>
        <div class="col-lg-4 col-md-4 search-box" id="filterCities">
            {{ form_widget(regionFilterForm.cityFilter,{'id' : 'filterCity'}) }}
        </div>
    </div>
    <div class="load-category-filters-spinner">
        <i class="fa fa-spinner fa-pulse fa-fw"></i> {% trans %}Filtru ielāde{% endtrans %}
    </div>
    <div class="row search-form-inputs category-filters" id="categoryLoadedFilters"></div>
    <div class="row latest-search-row">
        <div class="col-lg-6 col-md-6">
            <div class="checkboxes biger">
                <table>
                    <tr>
                        <td>
                            <input name="searchWithFoto" type="checkbox" value="1" class="custom-checkbox" {% if app.request.get('searchWithFoto') %} checked="checked" {% endif %}/> {% trans %}C FOTO{% endtrans %}
                        </td>
                        <td> 
                            <input name="searchIsBu" type="checkbox" value="1" class="custom-checkbox" {% if app.request.get('searchIsBu') %} checked="checked" {% endif %}/> {% trans %}Б/У{% endtrans %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <button class="submit-search-form pull-right" type="submit">{% trans %}MEKLĒT{% endtrans %}</button>
        </div>
    </div>
{{ form_end(regionFilterForm) }}