{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Lietotāja profils{% endtrans %}{% endblock %}

{% if app.user %}
    {% form_theme messageForm _self %}
{% endif %}

{% block body %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    {% if  app.request.locale == 'lv' %}
                        <li class="arrow"><a href="/">{% trans %}Mājas{% endtrans %}</a></li>
                        <li class="arrow"><a href="{{ path('profile' , { 'userId' : user.id }) }}">{% trans %}Lietotāja profils{% endtrans %}</a></li>
                        <li><a href="{{ path('profile' , { 'userId' : user.id }) }}">{% trans %}Lietotāju pārskati{% endtrans %}</a></li>
                    {% else %}
                        <li class="arrow"><a href="/{{ app.request.locale }}">{% trans %}Mājas{% endtrans %}</a></li>
                        <li class="arrow"><a href="{{ path('profileLocale' , { '_locale' : app.request.locale,'userId' : user.id }) }}">{% trans %}Lietotāja profils{% endtrans %}</a></li>
                        <li><a href="{{ path('profileLocale' , { '_locale' : app.request.locale,'userId' : user.id }) }}">{% trans %}Lietotāju pārskati{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% if  app.request.locale == 'lv' %}
<div class="container">
    <div class="row content-row">
        <div class="col-lg-5 col-md-5">
            <div class="account-block-header"><h1>{% trans %}Lietotāja profils{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-12">
            <div class="row account-main-content-block">
                <div class="col-ld-3 col-md-3">
                    <ul class="list-unstyled account-menu-list">
                        <li><a href="{{ path('user_products', {'userId' : user.id }) }}">{% trans %}Lietotāju reklāmas{% endtrans %}</a></li>
                        <li><a href="{{ path('user_reviews', {'userId' : user.id }) }}">{% trans %}Lietotāju pārskati{% endtrans %}</a></li>
                        {% if app.user %}
                            <li class="list-divider"></li>
                            <li><a href="" data-toggle="modal" data-target="#messageModal">{% trans %}Nosūtīt ziņu{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-ld-9 col-md-9 account-block-content">
                    <div class="account-advert-block account-block">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="notice-message">
                                {{ flashMessage | raw }}
                            </div>                             
                        {% endfor %}
                        <div class="account-advert-block-content userprofile-maindata">
                            <div class="row advert-category-adverts">
                                <div class="col-lg-8 col-md-8">
                                    <div class="review-user-block">
                                        <div class="form-group">
                                            <div class="col-lg-3 col-md-3 control-label ">
                                                {% if user.userinfo.avatar %}
                                                    <img class="img-circle" src="{{ asset('bundles/images/users/avatars/') }}{{ user.userinfo.avatar }}" alt="" title="" style="width:90px;height:90px" />
                                                {% elseif user.userinfo.sex %}
                                                    <img class="img-circle" src="{{ asset('bundles/images/users/avatars/no-avatar-' ~ user.userinfo.sex ~ '.png') }}" alt="" title="" style="width:90px;height:90px" />
                                                {% else %}
                                                    <img class="img-circle" src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" style="width:90px;height:90px" />
                                                {% endif %}
                                            </div> 
                                            <div class="col-lg-7 col-md-7">
                                                <div class="username">{{ user.userinfo.firstname }} {{ user.userinfo.lastname }}</div>
                                                <div class="userregion">
                                                    {% if user.userinfo.city %} 
                                                        {% if user.userinfo.city.translations | length > 0 %}
                                                            {% for translation in user.userinfo.city.translations %}
                                                                {% if translation.locale.id == locale.id %}
                                                                    {{ translation.value }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ user.userinfo.city.name }}
                                                        {% endif %}
                                                    {% else%}
                                                        {% trans %}Visa Latvija{% endtrans %}
                                                    {% endif %}
                                                    {% if user.userinfo.region %}, 
                                                        {% if user.userinfo.region.translations | length > 0 %}
                                                            {% for translation in user.userinfo.region.translations %}
                                                                {% if translation.locale.id == locale.id %}
                                                                    {{ translation.value }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ user.userinfo.region.name }}
                                                        {% endif %}
                                                    {% else%}, 
                                                        {% trans %}Visa Latvija{% endtrans %}
                                                    {% endif %}
                                                </div>
                                                <div class="userrating">{% trans %}Vērtējums{% endtrans %}: {{ user.userinfo.rating }} %</div>
                                                <div class="userrecord">
                                                    {{ user.receivedOrders | length }} <i class="fa fa-shopping-cart" aria-hidden="true"></i> /
                                                    <a href="">
                                                        {% set rating = 0 %}
                                                        {% for review in user.targetReviews %}
                                                            {% if review.status == 1%}
                                                                {% set rating = rating + 1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                         {{ rating }} <i class="fa fa-heart" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 user-block-actions">
                                    <div class="user-block-phone-number">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                        <div class="seller-block-phone">+3XXX-XXX-XXX</div>
                                        {% if app.user %}
                                            <div class="seller-block-phone-show"><a href="javascript:void(0)" class="seller-block-phone-show" onclick="showUserNumer({{ user.id }})">{% trans %}Rādīt istabu{% endtrans %}</a><i class="fa fa-spin fa-spinner seller-number-spinner"></i></div>    
                                        {% else %}
                                            <div class="seller-block-phone-show"><a href="javascript:void(0)" onclick="window.location.href='{{ path('login') }}'">{% trans %}Rādīt istabu{% endtrans %}</a></div>
                                        {% endif %}
                                    </div>
                                    <div class="user-block-writemessage"><i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        {% if app.user %}
                                            <a data-toggle="modal" data-target="#messageModal" href="">{% trans %}Uzrakstiet ziņu{% endtrans %}</a>
                                        {% else %}
                                            <a href="{{ path('login') }}">{% trans %}Uzrakstiet ziņu{% endtrans %}</a>
                                        {% endif %}
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <div class="account-advert-block-content userprofile-reviews">
                                <div class="row">
                                   <div class="col-lg-6 col-md-6">
                                       <div class="userprofile-review-header">{% trans %}Lietotāju pārskati{% endtrans %}</div>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="account-reviews-block">
                                            {% if user.reviews or user.targetReviews %}
                                                <div>
                                                    <ul class="nav nav-tabs review-nav-tabs" role="tablist">
                                                        <li role="presentation" class="active"><a href="#my" aria-controls="home" role="tab" data-toggle="tab">{% trans %}Lietotāju pārskati{% endtrans %}</a></li>
                                                        <li role="presentation"><a href="#onme" aria-controls="profile" role="tab" data-toggle="tab">{% trans %}Lietotāju atsauksmes{% endtrans %}</a></li>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active reviews-tab-pane" id="my">
                                                            <div class="account-reviews-block">
                                                                {% if user.reviews | length > 0 %}
                                                                    {% for myreview in user.reviews %}
                                                                        <div class="account-review-block review-status{{ myreview.status }}">
                                                                            <div class="row">
                                                                                <div class="col-lg-2 col-md-2 review-user-rating">
                                                                                    <div class="review-rating-cover">
                                                                                        <div class="review-ocenka review-ocenka{{ myreview.status }}"></div>
                                                                                        {% if myreview.user %}
                                                                                            <div class="review-user-avatar">
                                                                                                <a href="{{ path('profile', {'userId' : myreview.user.id}) }}">
                                                                                                    {% if myreview.user.userinfo.avatar %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/' ~ myreview.user.userinfo.avatar) }}" alt="" title="" />
                                                                                                    {% elseif myreview.user.userinfo.sex %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/no-avatar-' ~ myreview.user.userinfo.sex ~ '.png') }}" alt="" title="" />
                                                                                                    {% else %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" />
                                                                                                    {% endif %}
                                                                                                </a>
                                                                                                <!--<div class="user-online"></div>-->
                                                                                            </div>
                                                                                        {% else %}
                                                                                            <div class="review-user-avatar">
                                                                                                <img src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" />
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-9 col-md-9">
                                                                                    <div class="row">
                                                                                        {% if myreview.user %}
                                                                                            <div class="col-lg-6">
                                                                                                <a href="{{ path('profile', {'userId' : myreview.user.id}) }}">
                                                                                                    <div class="review-from-name">{{ myreview.user.userinfo.firstname }} {{ myreview.user.userinfo.lastname }}</div>
                                                                                                </a>
                                                                                                <div class="review-from-rating">{% trans %}Vērtējums{% endtrans %}: <span>{{ myreview.user.userinfo.rating }} %</span></div>
                                                                                            </div>
                                                                                        {% else %}
                                                                                            <div class="col-lg-6">
                                                                                                {% trans %}Lietotājs ir dzēsts{% endtrans %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                        <div class="col-lg-6">
                                                                                            <div class="review-product">
                                                                                                {% if myreview.product %}
                                                                                                    <a href="{{ path('product', {'productId' : myreview.product.id, 'productName' : myreview.product.translit }) }}">{{ myreview.product.name }}</a>
                                                                                                {% else %}
                                                                                                    {% trans %}Reklāma ir noņemta{% endtrans %}
                                                                                                {% endif %}
                                                                                            </div>
                                                                                            <div class="review-dateadded"><div>{{ myreview.dateAdded | date("d.m.Y в H:i") }}</div></div>        
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 col-md-12 review-message">
                                                                                            {{ myreview.reviewText }}
                                                                                        </div>
                                                                                        {% if myreview.answer %}
                                                                                            <div class="col-lg-12 col-md-12 review-answer">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-4 review-answer-status review-answer-status{{ myreview.answer.status }}">{% trans %}Atbildes novērtējums{% endtrans %}: </div>
                                                                                                    <div class="col-md-8 review-answer-text">{{ myreview.answer.reviewText }}</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                        {% if myreview.answerTo %}
                                                                                            <div class="col-lg-12 col-md-12 review-answer">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-12"><strong>{% trans %}Šī ir atbilde uz atsauksmi{% endtrans %}:</strong>  {{ myreview.answerTo.reviewText }}</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>    
                                                                    {% endfor%}
                                                                    {% if user.reviews | length > 1120 %}
                                                                        <div class="row review-block-bottom">
                                                                           <div class="col-lg-4 show-number-filter">
                                                                               <div class="row">
                                                                                   <div class="col-lg-7 show-number-label">{% trans %}Parādīts ar{% endtrans %}:</div>
                                                                                   <div class="col-lg-5">
                                                                                       <div class="div-select show-number">20</div>
                                                                                       <div class="div-select-options show-number" data-select="birthdaymonth">
                                                                                            <div class="select-option" data-value="20">20</div>
                                                                                            <div class="select-option" data-value="40">40</div>
                                                                                            <div class="select-option" data-value="60">60</div>
                                                                                            <div class="select-option" data-value="80">80</div>
                                                                                       </div>
                                                                                       <select id="birthdaymonth" class="form-control hidden-input" placeholder="{% trans %}Mēnesis{% endtrans %}" name="">
                                                                                            <option value="20">20</option>
                                                                                            <option value="40">40</option>
                                                                                            <option value="60">60</option>
                                                                                            <option value="80">80</option>
                                                                                       </select>
                                                                                   </div>
                                                                               </div>
                                                                           </div>
                                                                           <div class="col-lg-8 padination">
                                                                                <ul class="list-unstyled list-inline pull-right">
                                                                                    <li class="current"><a href="">1</a></li>
                                                                                    <li><a href="">2</a></li>
                                                                                    <li><a href="">3</a></li>
                                                                                    <li><a href="">4</a></li>
                                                                                    <li><a href="">5</a></li>
                                                                                    <li><a href="">></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <div class="account-block-content-notfound">{% trans %}Nav atsauksmju{% endtrans %}</div>
                                                                {% endif %}
                                                            </div>    
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane reviews-tab-pane" id="onme">
                                                            <div class="account-reviews-block">
                                                            {% if user.targetReviews | length > 0 %}
                                                                {% for targetReview in user.targetReviews %}
                                                                        <div class="account-review-block review-status{{ targetReview.status }}">
                                                                            <div class="row">
                                                                                <div class="col-lg-2 col-md-2 review-user-rating">
                                                                                    <div class="review-rating-cover">
                                                                                        <div class="review-ocenka review-ocenka{{ targetReview.status }}"></div>
                                                                                        {% if targetReview.user %}
                                                                                            <div class="review-user-avatar">
                                                                                                <a href="{{ path('profile', {'userId' : targetReview.user.id}) }}">
                                                                                                    {% if targetReview.user.userinfo.avatar %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/' ~ targetReview.user.userinfo.avatar) }}" alt="" title="" />
                                                                                                    {% elseif targetReview.user.userinfo.sex %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/no-avatar-' ~ targetReview.user.userinfo.sex ~ '.png') }}" alt="" title="" />
                                                                                                    {% else %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" />
                                                                                                    {% endif %}
                                                                                                </a>
                                                                                                <!--<div class="user-online"></div>-->
                                                                                            </div>
                                                                                        {% else %}
                                                                                            <div class="review-user-avatar">
                                                                                                <img src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" />
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-10 col-md-10">
                                                                                    <div class="row">
                                                                                        {% if targetReview.user %}
                                                                                            <div class="col-lg-6">
                                                                                                <a href="{{ path('profile', {'userId' : targetReview.user.id}) }}">
                                                                                                    <div class="review-from-name">{{ targetReview.user.userinfo.firstname }} {{ targetReview.user.userinfo.lastname }}</div>
                                                                                                </a>
                                                                                                <div class="review-from-rating">{% trans %}Vērtējums{% endtrans %}: <span>{{ targetReview.user.userinfo.rating }} %</span></div>
                                                                                            </div>
                                                                                        {% else %}
                                                                                            <div class="col-lg-6">
                                                                                                {% trans %}Lietotājs ir dzēsts{% endtrans %}
                                                                                            </div>
                                                                                        {% endif %}    
                                                                                        <div class="col-lg-6">
                                                                                            {% if targetReview.product %}
                                                                                                <div class="review-product"><a href="{{ path('product', {'productId' : targetReview.product.id, 'productName' : targetReview.product.translit }) }}">{{ targetReview.product.name }}</a></div>
                                                                                            {% else %}
                                                                                                {% trans %}Reklāma ir noņemta{% endtrans %}
                                                                                            {% endif %}
                                                                                            <div class="review-dateadded"><div>{{ targetReview.dateAdded | date("d.m.Y в H:i") }}</div></div>        
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 col-md-12 review-message">
                                                                                            {{ targetReview.reviewText }}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>     
                                                                {% endfor %}
                                                                {% if user.targetReviews | length > 1120 %}
                                                                        <div class="row review-block-bottom">
                                                                           <div class="col-lg-4 show-number-filter">
                                                                               <div class="row">
                                                                                   <div class="col-lg-7 show-number-label">{% trans %}Parādīts ar{% endtrans %}:</div>
                                                                                   <div class="col-lg-5">
                                                                                       <div class="div-select show-number">20</div>
                                                                                       <div class="div-select-options show-number" data-select="birthdaymonth">
                                                                                            <div class="select-option" data-value="20">20</div>
                                                                                            <div class="select-option" data-value="40">40</div>
                                                                                            <div class="select-option" data-value="60">60</div>
                                                                                            <div class="select-option" data-value="80">80</div>
                                                                                       </div>
                                                                                       <select id="birthdaymonth" class="form-control hidden-input" placeholder="{% trans %}Mēnesis{% endtrans %}" name="">
                                                                                            <option value="20">20</option>
                                                                                            <option value="40">40</option>
                                                                                            <option value="60">60</option>
                                                                                            <option value="80">80</option>
                                                                                       </select>
                                                                                   </div>
                                                                               </div>
                                                                           </div>
                                                                           <div class="col-lg-8 padination">
                                                                                <ul class="list-unstyled list-inline pull-right">
                                                                                    <li class="current"><a href="">1</a></li>
                                                                                    <li><a href="">2</a></li>
                                                                                    <li><a href="">3</a></li>
                                                                                    <li><a href="">4</a></li>
                                                                                    <li><a href="">5</a></li>
                                                                                    <li><a href="">></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                            {% else %}
                                                                <div class="account-block-content-notfound">{% trans %}Nav atsauksmju{% endtrans %}</div>
                                                            {% endif %}           
                                                            </div>      
                                                        </div>
                                                    </div>
                                                  </div>
                                                  {% else %}
                                                      <div class="account-block-content-notfound">{% trans %}Nav atsauksmju{% endtrans %}</div>
                                                  {% endif %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row content-row">
        <div class="col-lg-5 col-md-5">
            <div class="account-block-header"><h1>{% trans %}Lietotāja profils{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-12">
            <div class="row account-main-content-block">
                <div class="col-ld-3 col-md-3">
                    <ul class="list-unstyled account-menu-list">
                        <li><a href="{{ path('user_productsLocale', {'_locale' : app.request.locale,'userId' : user.id }) }}">{% trans %}Lietotāju reklāmas{% endtrans %}</a></li>
                        <li><a href="{{ path('user_reviewsLocale', {'_locale' : app.request.locale,'userId' : user.id }) }}">{% trans %}Lietotāju pārskati{% endtrans %}</a></li>
                        {% if app.user %}
                            <li class="list-divider"></li>
                            <li><a href="" data-toggle="modal" data-target="#messageModal">{% trans %}Nosūtīt ziņu{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-ld-9 col-md-9 account-block-content">
                    <div class="account-advert-block account-block">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="notice-message">
                                {{ flashMessage | raw }}
                            </div>                             
                        {% endfor %}
                        <div class="account-advert-block-content userprofile-maindata">
                            <div class="row advert-category-adverts">
                                <div class="col-lg-8 col-md-8">
                                    <div class="review-user-block">
                                        <div class="form-group">
                                            <div class="col-lg-3 col-md-3 control-label ">
                                                {% if user.userinfo.avatar %}
                                                    <img class="img-circle" src="{{ asset('bundles/images/users/avatars/') }}{{ user.userinfo.avatar }}" alt="" title="" style="width:90px;height:90px" />
                                                {% elseif user.userinfo.sex %}
                                                    <img class="img-circle" src="{{ asset('bundles/images/users/avatars/no-avatar-' ~ user.userinfo.sex ~ '.png') }}" alt="" title="" style="width:90px;height:90px" />
                                                {% else %}
                                                    <img class="img-circle" src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" style="width:90px;height:90px" />
                                                {% endif %}
                                            </div> 
                                            <div class="col-lg-7 col-md-7">
                                                <div class="username">{{ user.userinfo.firstname }} {{ user.userinfo.lastname }}</div>
                                                <div class="userregion">
                                                    {% if user.userinfo.city %} 
                                                        {% if user.userinfo.city.translations | length > 0 %}
                                                            {% for translation in user.userinfo.city.translations %}
                                                                {% if translation.locale.id == locale.id %}
                                                                    {{ translation.value }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ user.userinfo.city.name }}
                                                        {% endif %}
                                                    {% else%}
                                                        {% trans %}Visa Latvija{% endtrans %}
                                                    {% endif %}
                                                    {% if user.userinfo.region %}, 
                                                        {% if user.userinfo.region.translations | length > 0 %}
                                                            {% for translation in user.userinfo.region.translations %}
                                                                {% if translation.locale.id == locale.id %}
                                                                    {{ translation.value }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ user.userinfo.region.name }}
                                                        {% endif %}
                                                    {% else%}, 
                                                        {% trans %}Visa Latvija{% endtrans %}
                                                    {% endif %}
                                                </div>
                                                <div class="userrating">{% trans %}Vērtējums{% endtrans %}: {{ user.userinfo.rating }} %</div>
                                                <div class="userrecord">
                                                    {{ user.receivedOrders | length }} <i class="fa fa-shopping-cart" aria-hidden="true"></i> /
                                                    <a href="">
                                                        {% set rating = 0 %}
                                                        {% for review in user.targetReviews %}
                                                            {% if review.status == 1%}
                                                                {% set rating = rating + 1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                         {{ rating }} <i class="fa fa-heart" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 user-block-actions">
                                    <div class="user-block-phone-number">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                        <div class="seller-block-phone">+3XXX-XXX-XXX</div>
                                        {% if app.user %}
                                            <div class="seller-block-phone-show"><a href="javascript:void(0)" class="seller-block-phone-show" onclick="showUserNumer({{ user.id }})">{% trans %}Rādīt istabu{% endtrans %}</a><i class="fa fa-spin fa-spinner seller-number-spinner"></i></div>    
                                        {% else %}
                                            <div class="seller-block-phone-show"><a href="javascript:void(0)" onclick="window.location.href='{{ path('loginLocale',{'_locale' : app.request.locale}) }}'">{% trans %}Rādīt istabu{% endtrans %}</a></div>
                                        {% endif %}
                                    </div>
                                    <div class="user-block-writemessage"><i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        {% if app.user %}
                                            <a data-toggle="modal" data-target="#messageModal" href="">{% trans %}Uzrakstiet ziņu{% endtrans %}</a>
                                        {% else %}
                                            <a href="{{ path('loginLocale',{'_locale' : app.request.locale}) }}">{% trans %}Uzrakstiet ziņu{% endtrans %}</a>
                                        {% endif %}
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <div class="account-advert-block-content userprofile-reviews">
                                <div class="row">
                                   <div class="col-lg-6 col-md-6">
                                       <div class="userprofile-review-header">{% trans %}Lietotāju pārskati{% endtrans %}</div>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="account-reviews-block">
                                            {% if user.reviews or user.targetReviews %}
                                                <div>
                                                    <ul class="nav nav-tabs review-nav-tabs" role="tablist">
                                                        <li role="presentation" class="active"><a href="#my" aria-controls="home" role="tab" data-toggle="tab">{% trans %}Lietotāju pārskati{% endtrans %}</a></li>
                                                        <li role="presentation"><a href="#onme" aria-controls="profile" role="tab" data-toggle="tab">{% trans %}Lietotāju atsauksmes{% endtrans %}</a></li>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active reviews-tab-pane" id="my">
                                                            <div class="account-reviews-block">
                                                                {% if user.reviews | length > 0 %}
                                                                    {% for myreview in user.reviews %}
                                                                        <div class="account-review-block review-status{{ myreview.status }}">
                                                                            <div class="row">
                                                                                <div class="col-lg-2 col-md-2 review-user-rating">
                                                                                    <div class="review-rating-cover">
                                                                                        <div class="review-ocenka review-ocenka{{ myreview.status }}"></div>
                                                                                        {% if myreview.user %}
                                                                                            <div class="review-user-avatar">
                                                                                                <a href="{{ path('profileLocale', {'_locale' : app.request.locale,'userId' : myreview.user.id}) }}">
                                                                                                    {% if myreview.user.userinfo.avatar %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/' ~ myreview.user.userinfo.avatar) }}" alt="" title="" />
                                                                                                    {% elseif myreview.user.userinfo.sex %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/no-avatar-' ~ myreview.user.userinfo.sex ~ '.png') }}" alt="" title="" />
                                                                                                    {% else %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" />
                                                                                                    {% endif %}
                                                                                                </a>
                                                                                                <!--<div class="user-online"></div>-->
                                                                                            </div>
                                                                                        {% else %}
                                                                                            <div class="review-user-avatar">
                                                                                                <img src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" />
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-9 col-md-9">
                                                                                    <div class="row">
                                                                                        {% if myreview.user %}
                                                                                            <div class="col-lg-6">
                                                                                                <a href="{{ path('profileLocale', {'_locale' : app.request.locale,'userId' : myreview.user.id}) }}">
                                                                                                    <div class="review-from-name">{{ myreview.user.userinfo.firstname }} {{ myreview.user.userinfo.lastname }}</div>
                                                                                                </a>
                                                                                                <div class="review-from-rating">{% trans %}Vērtējums{% endtrans %}: <span>{{ myreview.user.userinfo.rating }} %</span></div>
                                                                                            </div>
                                                                                        {% else %}
                                                                                            <div class="col-lg-6">
                                                                                                {% trans %}Lietotājs ir dzēsts{% endtrans %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                        <div class="col-lg-6">
                                                                                            <div class="review-product">
                                                                                                {% if myreview.product %}
                                                                                                    <a href="{{ path('productLocale', {'_locale' : app.request.locale,'productId' : myreview.product.id, 'productName' : myreview.product.translit }) }}">{{ myreview.product.name }}</a>
                                                                                                {% else %}
                                                                                                    {% trans %}Reklāma ir noņemta{% endtrans %}
                                                                                                {% endif %}
                                                                                            </div>
                                                                                            <div class="review-dateadded"><div>{{ myreview.dateAdded | date("d.m.Y в H:i") }}</div></div>        
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 col-md-12 review-message">
                                                                                            {{ myreview.reviewText }}
                                                                                        </div>
                                                                                        {% if myreview.answer %}
                                                                                            <div class="col-lg-12 col-md-12 review-answer">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-4 review-answer-status review-answer-status{{ myreview.answer.status }}">{% trans %}Atbildes novērtējums{% endtrans %}: </div>
                                                                                                    <div class="col-md-8 review-answer-text">{{ myreview.answer.reviewText }}</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                        {% if myreview.answerTo %}
                                                                                            <div class="col-lg-12 col-md-12 review-answer">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-12"><strong>{% trans %}Šī ir atbilde uz atsauksmi{% endtrans %}:</strong>  {{ myreview.answerTo.reviewText }}</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>    
                                                                    {% endfor%}
                                                                    {% if user.reviews | length > 1120 %}
                                                                        <div class="row review-block-bottom">
                                                                           <div class="col-lg-4 show-number-filter">
                                                                               <div class="row">
                                                                                   <div class="col-lg-7 show-number-label">{% trans %}Parādīts ar{% endtrans %}:</div>
                                                                                   <div class="col-lg-5">
                                                                                       <div class="div-select show-number">20</div>
                                                                                       <div class="div-select-options show-number" data-select="birthdaymonth">
                                                                                            <div class="select-option" data-value="20">20</div>
                                                                                            <div class="select-option" data-value="40">40</div>
                                                                                            <div class="select-option" data-value="60">60</div>
                                                                                            <div class="select-option" data-value="80">80</div>
                                                                                       </div>
                                                                                       <select id="birthdaymonth" class="form-control hidden-input" placeholder="{% trans %}Mēnesis{% endtrans %}" name="">
                                                                                            <option value="20">20</option>
                                                                                            <option value="40">40</option>
                                                                                            <option value="60">60</option>
                                                                                            <option value="80">80</option>
                                                                                       </select>
                                                                                   </div>
                                                                               </div>
                                                                           </div>
                                                                           <div class="col-lg-8 padination">
                                                                                <ul class="list-unstyled list-inline pull-right">
                                                                                    <li class="current"><a href="">1</a></li>
                                                                                    <li><a href="">2</a></li>
                                                                                    <li><a href="">3</a></li>
                                                                                    <li><a href="">4</a></li>
                                                                                    <li><a href="">5</a></li>
                                                                                    <li><a href="">></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <div class="account-block-content-notfound">{% trans %}Nav atsauksmju{% endtrans %}</div>
                                                                {% endif %}
                                                            </div>    
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane reviews-tab-pane" id="onme">
                                                            <div class="account-reviews-block">
                                                            {% if user.targetReviews | length > 0 %}
                                                                {% for targetReview in user.targetReviews %}
                                                                        <div class="account-review-block review-status{{ targetReview.status }}">
                                                                            <div class="row">
                                                                                <div class="col-lg-2 col-md-2 review-user-rating">
                                                                                    <div class="review-rating-cover">
                                                                                        <div class="review-ocenka review-ocenka{{ targetReview.status }}"></div>
                                                                                        {% if targetReview.user %}
                                                                                            <div class="review-user-avatar">
                                                                                                <a href="{{ path('profileLocale', {'_locale' : app.request.locale,'userId' : targetReview.user.id}) }}">
                                                                                                    {% if targetReview.user.userinfo.avatar %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/' ~ targetReview.user.userinfo.avatar) }}" alt="" title="" />
                                                                                                    {% elseif targetReview.user.userinfo.sex %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/no-avatar-' ~ targetReview.user.userinfo.sex ~ '.png') }}" alt="" title="" />
                                                                                                    {% else %}
                                                                                                        <img src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" />
                                                                                                    {% endif %}
                                                                                                </a>
                                                                                                <!--<div class="user-online"></div>-->
                                                                                            </div>
                                                                                        {% else %}
                                                                                            <div class="review-user-avatar">
                                                                                                <img src="{{ asset('bundles/images/users/avatars/no-avatar.png') }}" alt="" title="" />
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-10 col-md-10">
                                                                                    <div class="row">
                                                                                        {% if targetReview.user %}
                                                                                            <div class="col-lg-6">
                                                                                                <a href="{{ path('profileLocale', {'_locale' : app.request.locale,'userId' : targetReview.user.id}) }}">
                                                                                                    <div class="review-from-name">{{ targetReview.user.userinfo.firstname }} {{ targetReview.user.userinfo.lastname }}</div>
                                                                                                </a>
                                                                                                <div class="review-from-rating">{% trans %}Vērtējums{% endtrans %}: <span>{{ targetReview.user.userinfo.rating }} %</span></div>
                                                                                            </div>
                                                                                        {% else %}
                                                                                            <div class="col-lg-6">
                                                                                                {% trans %}Lietotājs ir dzēsts{% endtrans %}
                                                                                            </div>
                                                                                        {% endif %}    
                                                                                        <div class="col-lg-6">
                                                                                            {% if targetReview.product %}
                                                                                                <div class="review-product"><a href="{{ path('productLocale', {'_locale' : app.request.locale,'productId' : targetReview.product.id, 'productName' : targetReview.product.translit }) }}">{{ targetReview.product.name }}</a></div>
                                                                                            {% else %}
                                                                                                {% trans %}Reklāma ir noņemta{% endtrans %}
                                                                                            {% endif %}
                                                                                            <div class="review-dateadded"><div>{{ targetReview.dateAdded | date("d.m.Y в H:i") }}</div></div>        
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 col-md-12 review-message">
                                                                                            {{ targetReview.reviewText }}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>     
                                                                {% endfor %}
                                                                {% if user.targetReviews | length > 1120 %}
                                                                        <div class="row review-block-bottom">
                                                                           <div class="col-lg-4 show-number-filter">
                                                                               <div class="row">
                                                                                   <div class="col-lg-7 show-number-label">{% trans %}Parādīts ar{% endtrans %}:</div>
                                                                                   <div class="col-lg-5">
                                                                                       <div class="div-select show-number">20</div>
                                                                                       <div class="div-select-options show-number" data-select="birthdaymonth">
                                                                                            <div class="select-option" data-value="20">20</div>
                                                                                            <div class="select-option" data-value="40">40</div>
                                                                                            <div class="select-option" data-value="60">60</div>
                                                                                            <div class="select-option" data-value="80">80</div>
                                                                                       </div>
                                                                                       <select id="birthdaymonth" class="form-control hidden-input" placeholder="{% trans %}Mēnesis{% endtrans %}" name="">
                                                                                            <option value="20">20</option>
                                                                                            <option value="40">40</option>
                                                                                            <option value="60">60</option>
                                                                                            <option value="80">80</option>
                                                                                       </select>
                                                                                   </div>
                                                                               </div>
                                                                           </div>
                                                                           <div class="col-lg-8 padination">
                                                                                <ul class="list-unstyled list-inline pull-right">
                                                                                    <li class="current"><a href="">1</a></li>
                                                                                    <li><a href="">2</a></li>
                                                                                    <li><a href="">3</a></li>
                                                                                    <li><a href="">4</a></li>
                                                                                    <li><a href="">5</a></li>
                                                                                    <li><a href="">></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                            {% else %}
                                                                <div class="account-block-content-notfound">{% trans %}Nav atsauksmju{% endtrans %}</div>
                                                            {% endif %}           
                                                            </div>      
                                                        </div>
                                                    </div>
                                                  </div>
                                                  {% else %}
                                                      <div class="account-block-content-notfound">{% trans %}Nav atsauksmju{% endtrans %}</div>
                                                  {% endif %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if app.user %}
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="regionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(messageForm, {'method':'POST','attr': {'class': 'form-horizontal'}}) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title" id="regionModalLabel">{% trans %}Nosūtīt ziņu{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">{{ form_label(messageForm.subject) }}</label>
                        <div class="col-lg-8 col-md-8">
                           {{ form_widget(messageForm.subject) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">{{ form_label(messageForm.message) }}</label>
                        <div class="col-lg-8 col-md-8">
                            {{ form_widget(messageForm.message) }}
                        </div>
                    </div>
                    {{ form_widget(messageForm.userFrom, {'value' : sessionUser.id }) }}
                    {{ form_widget(messageForm.userTo, {'value' : user.id }) }}
                </div>
                <div class="modal-footer">
                    <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            {{ form_widget(messageForm.save,{'type' : 'submit'}) }}
                        </div>
                    <div class="col-sm-3"></div>
                </div>
                {{ form_end(messageForm)}}
            </div>
        </div>
    </div>
{% endif %}

{% endblock%}

