{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% form_theme registerForm _self %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block checkbox_widget -%}
    {%- for attrname, attrvalue in attr -%}
        {%- if attrname in ['id'] -%}
            <div class="register-form-checkbox active" data-checkbox="{{ attrvalue }}">
                <div class="register-form-checkbox-area"></div>
            </div>
        {%- endif -%}
    {%- endfor -%}   
    {{ (translation_domain is same as(false) ? label | raw : label |trans({}, translation_domain) | raw) }}
    <input type="checkbox" {{ block('widget_attributes') }} value="1" checked="checked" />
{%- endblock checkbox_widget -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="form-group">
                <div class="col-lg-1"></div>
                <div class="col-sm-12 col-md-11">
                    <div class="alert alert-danger">
                        <button class="close-alert" data-dismiss="alert" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ error.message }}
                    </div>
                </div>
            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{% block title %}{% trans %}Регистрация{% endtrans %}{% endblock %}

{% block body %}
{% if settings.isShowCaptcha %}    
    <script>
            
            var registerCaptcha;
            
            var onloadCallback = function() {
              registerCaptcha = grecaptcha.render('registerCaptcha', {
                'sitekey' : '6Lc6wCkTAAAAAHoOUvGPxIsIVZ67R09ZYGhmILND'
              });
            };

    </script>
{% endif %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    <li><a href="">{% trans %}Регистрация{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
      </div>
</nav>
<div class="">
    <div class="container">
        <div class="row login-blocks">
            <div class="col-lg-5 col-md-5 col-md-offset-1">
                <div class="loginBlock">
                    {% if success %}   
                                {% if settings.isModerate %}
                                    <div class="register-block result">
                                        <h1 class="register-block-header">{% trans %}Регистрация{% endtrans %}</h1>
                                        <div class="register-block-description confirm-restore">
                                            {% trans %}Ваш аккаунт зарегистрирован в системе и проходит модерацию нашими специалистами. Регистрационные данные отправлены на введенный Вами email{% endtrans %}
                                        </div>
                                        <div class="resultEmail">{{ email }}</div>
                                        <div class="resultNavigation"><a href="{{path('login')}}">Войдите</a>, используя свои данные</div>
                                    </div>
                                {% else %}
                                    <div class="register-block result">
                                        <h1 class="register-block-header">{% trans %}Регистрация{% endtrans %}</h1>
                                        <div class="register-block-description confirm-restore">
                                            {% trans %}Ваш аккаунт успешно зарегистрирован в системе. Регистрационные данные отправлены на введенный Вами email{% endtrans %}
                                        </div>
                                        <div class="resultEmail">{{ email }}</div>
                                        <div class="resultNavigation"><a href="{{path('login')}}">Войдите</a>, используя свои данные</div>
                                    </div>    
                                {% endif %}
                            {% else %}
                                <div class="register-block">
                                    <h1 class="register-block-header"><a href="{{path('login')}}">{% trans %}Войти{% endtrans %}</a> {% trans %} или Зарегистрироваться{% endtrans %}</h1>
                                        {% for flashMessage in app.session.flashbag.get('notice') %}
                                            <div class="notice-message">
                                                {{ flashMessage | raw }}
                                            </div>                             
                                        {% endfor %}
                                        {{form_errors(registerForm)}}
                                    <div class="register-form-forms">
                                        {{ form_start(registerForm, {'method':'POST'}) }}
                                            <div class="registerInputBlock">
                                                {{ form_widget(registerForm.username) }}
                                                <div class="inputMessage"></div>
                                            </div>
                                            <div class="registerInputBlock">
                                                {{ form_widget(registerForm.email) }}
                                                <div class="inputMessage"></div>
                                            </div>
                                            <div class="registerInputBlock">
                                                {{ form_widget(registerForm.link) }}
                                            </div>
                                            <div class="registerInputBlock">
                                                {{ form_widget(registerForm.password) }}
                                                <div class="inputMessage">{% trans %}Пароль должен содержать не менее 6 символов{% endtrans %}</div>
                                            </div>
                                            {% if settings.isShowCaptcha %}
                                                <div class="register-password-block">
                                                    <div class="g-recaptcha" id="registerCaptcha"></div>
                                                </div>
                                            {% endif %}
                                            <button type="submit">{% trans %}Зарегистрироваться{% endtrans %}</button>
                                        {{ form_end(registerForm)}}
                                    </div>
                                    <div class="registerDescription">
                                        {% trans %}Нажимая кнопку я соглашаюсь с <a href="">Условиями обслуживания</a> и  <a href="">Политикой конфиденциальности{% endtrans %}</a>
                                    </div>
                                </div>
                            {% endif %}
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="socialLoginBlock">
                    <h1 class="register-block-header social">{% trans %}Войти через соц. сети{% endtrans %}</h1>
                    <div class="register-block-description">
                        {% trans %}Если у Вас есть профиль в социальной сети Facebook,<br/> можете использовать его для входа {% endtrans %}
                    </div> 
                    <div class="oauth-link">
                        <a href="/connect/facebook" class="oauth facebook">{% trans %}Войти через Facebook{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
