{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% form_theme resotreForm _self %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{% block title %}{% trans %}Восстановление доступа{% endtrans %}{% endblock %}

{% block body %}
{% if settings.isShowCaptcha %} 
    <script>
            
            var loginCaptcha;
            
            var onloadCallback = function() {
              loginCaptcha = grecaptcha.render('registerCaptcha', {
                'sitekey' : '6Lc6wCkTAAAAAHoOUvGPxIsIVZ67R09ZYGhmILND'
              });
            };

    </script>
{% endif %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    <li><a href="">{% trans %}Восстановление доступа{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
      </div>
</nav>
<div class="">
    <div class="container">
        <div class="row login-blocks">
            <div class="col-lg-5 col-md-5 col-md-offset-1">
                <div class="loginBlock">
                    {% if success %}
                            <div class="register-block result">
                                <h1 class="register-block-header">{% trans %}Восстановление доступа{% endtrans %}</h1>
                                <div class="register-block-description confirm-restore">
                                    {% trans %}Ссылка для восстановления пароля отправлена на почту{% endtrans %}
                                </div>
                                <div class="resultEmail">{{ email }}</div>
                                <div class="resultNavigation"><a href="{{path('login')}}">Войдите</a>, если вспомнили пароль</div>
                            </div>  
                        {% else %}
                            <div class="register-block">
                                <h1 class="register-block-header">{% trans %}Восстановить доступ{% endtrans %}</h1>
                                <div class="register-form-forms">
                                    {{ form_start(resotreForm, {'method':'POST'}) }}
                                        <div class="registerInputBlock">
                                            {{ form_widget(resotreForm.email) }}
                                            <div class="inputMessage">
                                                {% if error %}
                                                    {{ error | raw }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if settings.isShowCaptcha %}
                                            <div class="register-password-block">
                                                <div class="g-recaptcha" id="registerCaptcha"></div>
                                            </div>
                                        {% endif %}
                                        {{ form_widget(resotreForm.save,{'type' : 'submit'})}}
                                    {{ form_end(resotreForm)}}
                                </div>
                                <div class="forgotPassword">
                                    {% trans %}или{% endtrans %}
                                    <a class="registerUserLink" href="{{path('login')}}">{% trans %}Войти{% endtrans %}</a>
                                </div>
                            </div>    
                        {% endif %}
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="socialLoginBlock">
                    <h1 class="register-block-header social">{% trans %}Войти через соц. сети{% endtrans %}</h1>
                    <div class="register-block-description">
                        {% trans %}Если у Вас есть профиль в социальной сети Facebook,<br/> можете использовать его для входа {% endtrans %}
                    </div> 
                    <div class="oauth-link">
                        <a href="/connect/facebook" class="oauth facebook">{% trans %}Войти через Facebook{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>            
{% endblock %}

