<script src="https://www.paypal.com/sdk/js?client-id={{ payment.clientId }}&currency={{ locale.currency.code }}"></script>
<div class="accountBottomPaymentSummValueButton" id="paypalButtonContainer"></div>
<script>
    paypal.Buttons({
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    currency_code:'{{locale.currency.code }}',
                    value: '{{ bill.price }}'
                },
                description: '{{ bill.id }}'
            }]
        });
    },
    onApprove: function(data, actions) {
        $(".accountSettingsTabsProcess").addClass('active');
        actions.order.capture().then(function(details) {
            $.ajax({
                url: '/paypal-transaction-verify',
                type:'post',
                data: 'billClass={{ bill.className }}&orderId=' + data.orderID,
                dataType: 'json',
                beforeSend: function(){
                    
                },
                success: function(data){
                    $(".accountSettingsTabsProcess").removeClass('active');
                    if(data.statusCode === 200){
                        if(data.result.status === 'COMPLETED'){
                            window.location.href = '/account/payment/success/{{ bill.id }}/{{ payment.id }}/{{ bill.className}}';
                        }else{
                            alert('В процессе оплаты возникли ошибки. Попробуйте повторить оплату позже.');
                        }   
                    }else{
                        alert('В процессе оплаты возникли ошибки. Попробуйте повторить оплату позже.');
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $(".accountSettingsTabsProcess").removeClass('active');
                    alert('В процессе оплаты возникли ошибки. Попробуйте повторить оплату позже.');
                }
            });
        });
    }
  }).render('#paypalButtonContainer');
</script>