{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Вход в личный кабинет{% endtrans %}{% endblock %}

{% block body %}
{% if settings.isShowCaptcha %}
<script>
    var loginCaptcha;
    var onloadCallback = function() {
        loginCaptcha = grecaptcha.render('loginCaptcha', {
            'sitekey' : '6Lc6wCkTAAAAAHoOUvGPxIsIVZ67R09ZYGhmILND'
        });
    };
</script>
{% endif %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    <li><a href="">{% trans %}Вход в личный кабинет{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
      </div>
</nav>
<div class="">
    <div class="container">
        <div class="row login-blocks">
            <div class="col-lg-5 col-md-5 col-md-offset-1">
                <div class="loginBlock">
                            <div class="register-block">
                                <div class="register-block-header">{% trans %}Войти или{% endtrans %} <a href="{{path('register')}}">{% trans %}Зарегистрироваться{% endtrans %}</a></div>
                                {% if error %}
                                    <div class="alert alert-danger">
                                        <button class="close-alert" data-dismiss="alert" type="button">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        {{ error.message | replace({"Bad credentials." : "<b>Ошибка!</b> Неверный логин или пароль", "User account is disabled." : "<b>Ошибка!</b> Ваш аккаунт заблокирован."}) | raw }}
                                    </div>
                                {% endif %}
                                <div class="register-form-forms">
                                    <form action="{{path('login')}}" method="post">
                                        <div class="registerInputBlock">
                                            <input class="email" name="_username" value="{{ last_username }}" placeholder="{% trans %}E-mail{% endtrans %}" required />
                                            <div class="inputMessage"></div>
                                        </div>
                                        <div class="registerInputBlock">
                                            <input class="password" name="_password" type="password" value="" placeholder="{% trans %}Пароль{% endtrans %}" required />
                                            <div class="inputMessage"></div>
                                        </div>
                                        {% if settings.isShowCaptcha %}
                                            {% if app.session.get('loginerror') %}
                                                <div class="g-recaptcha" id="loginCaptcha"></div>
                                            {% endif %}
                                        {% endif %}
                                        <input type="hidden" name="_failure_path" value="{{path('login')}}" />
                                        <input type="hidden" name="_target_path" value="{{ path('account') }}" />
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                        <button type="submit">{% trans %}Войти{% endtrans %}</button>
                                    </form>
                                </div>
                                <div class="forgotPassword">
                                    <a class="fogotPaswordLink" href="{{path('restore')}}">{% trans %}Забыли пароль?{% endtrans %}</a>
                                    {% trans %}У вас нет аккаунта?{% endtrans %}
                                    <a class="registerUserLink" href="{{path('register')}}">{% trans %}Зарегистрироваться{% endtrans %}</a>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="socialLoginBlock">
                    <h1 class="register-block-header social">{% trans %}Войти через соц. сети{% endtrans %}</h1>
                    <div class="register-block-description">
                        {% trans %}Если у Вас есть профиль в социальной сети Facebook, можете использовать его для входа {% endtrans %}
                    </div> 
                    <div class="oauth-link">
                        <a href="/connect/facebook" class="oauth facebook">{% trans %}Войти через Facebook{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
