{% extends 'DashboardCommonBundle:Common:base.html.twig' %}
{% use 'DashboardCommonBundle:Common:icons.html.twig' %}

{% block title %}{{ category.metaTagTitle }}{% endblock %}
{% block metatags %}
    <meta content="{{ category.metaTagDescription }}" name="description" />
    <meta content="{{ category.metaTagAuthor }}" name="author" />
    <meta content="{{ category.metaTagRobots }}" name="robots" />
    <meta content="{{ category.metaTagKeywords }}" name="keywords" />
{% endblock %}

{% block topbanner %}
    <div class="topBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 topBannerBlock">
                    {{ render(controller('DashboardCommonBundle:Default:getBanners',{'category' : category,'position' : 'toppage'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    {% if categories %}
                        {% set i = 0 %}
                        {% for cat in categories %}
                            <li>
                                 <a href="{{ path('category',{'categoryId' : category.id, 'categoryName' : category.name}) }}">
                                    {{ cat.title}}
                                </a>
                            </li>
                            {% if i < categories  | length - 1 %}
                                <li>/</li>
                            {% endif %}
                            {% set i = i + 1 %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>
</nav>
<div class="container">
	<div class="row content-row">
		<div class="col-lg-9 col-md-9 left-column">
			<div class="content-block-header">
                            <h1>{{ category.title }}</h1>
                        </div>
                            <div class="mainPageFiltersTabs category-filters">
                                <div class="tab-content">
                                    {% include 'DashboardCommonBundle:Default:Category/filterForm.html.twig' with {'category' : category, 'formFilters' : formFilters,'productsTotalCount' : productsTotalCount, 'request' : app.request} %}
                                </div>
                            </div>                              
                            <div class="hidden-sm hidden-xs" style="text-align:center;">
                                {{ render(controller('DashboardCommonBundle:Default:getBanners',{'category' : category, 'position' : 'centerpage'})) }}
                            </div>
                            {% if products | length > 0 %}
                            <div class="categorySorts">
                                    <div class="categorySortFields">
                                        <div class="categorySortParams static-filters">
                                            <select name="" id="" class="custom-select" placeholder="{% trans %}По дате{% endtrans %}">
                                                <option value="{{ path('category',{'categoryId' : category.id, 'categoryName' : category.name}) }}?sortorder=dateAdded&order=ASC">{% trans %}Сначала старые{% endtrans %}</option>
                                                <option value="{{ path('category',{'categoryId' : category.id, 'categoryName' : category.name}) }}?sortorder=dateAdded&order=DESC">{% trans %}Сначала новые{% endtrans %}</option>
                                            </select>
                                            <select name="" id="" class="custom-select" placeholder="{% trans %}По цене{% endtrans %}">
                                                <option value="{{ path('category',{'categoryId' : category.id, 'categoryName' : category.name}) }}?sortorder=pi.price&order=ASC">{% trans %}Сначала дешевые{% endtrans %}</option>
                                                <option value="{{ path('category',{'categoryId' : category.id, 'categoryName' : category.name}) }}?sortorder=pi.price&order=DESC">{% trans %}Сначала дорогие{% endtrans %}</option>
                                            </select>
                                            <div class="filter">
                                                <input name="creditProducts" type="checkbox" value="1" class="custom-checkbox" /> {% trans %}В кредит{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="categoryViewButtons">
                                            <a href="javascript:void(0)" class="template {% if view == 'grid' %}active{% endif %}" data-pattern="grid">
                                             <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.39583 3.30591C4.39583 3.51963 4.18952 3.69291 3.93507 3.69291H0.462185C0.207736 3.69291 0.00142599 3.51963 0.00142599 3.30591V0.388979C0.00142599 0.175263 0.207736 0.0019794 0.462185 0.0019794H3.93507C4.18952 0.0019794 4.39583 0.175263 4.39583 0.388979V3.30591Z" fill="#616161"/>
                                                <path d="M13.1961 3.30393C13.1961 3.51765 12.9898 3.69093 12.7353 3.69093H9.26246C9.00801 3.69093 8.8017 3.51765 8.8017 3.30393V0.386999C8.8017 0.173283 9.00801 0 9.26246 0H12.7353C12.9898 0 13.1961 0.173283 13.1961 0.386999V3.30393Z" fill="#616161"/>
                                                <path d="M22 3.30393C22 3.51765 21.7937 3.69093 21.5392 3.69093H18.0664C17.8119 3.69093 17.6056 3.51765 17.6056 3.30393V0.386999C17.6056 0.173283 17.8119 0 18.0664 0H21.5392C21.7937 0 22 0.173283 22 0.386999V3.30393Z" fill="#616161"/>
                                                <path d="M4.3944 9.95968C4.3944 10.1734 4.18809 10.3467 3.93364 10.3467H0.460759C0.20631 10.3467 0 10.1734 0 9.95968V7.04275C0 6.82904 0.20631 6.65575 0.460759 6.65575H3.93364C4.18809 6.65575 4.3944 6.82904 4.3944 7.04275V9.95968Z" fill="#616161"/>
                                                <path d="M13.1971 9.95937C13.1971 10.1731 12.9908 10.3464 12.7364 10.3464H9.26348C9.00903 10.3464 8.80272 10.1731 8.80272 9.95937V7.04244C8.80272 6.82873 9.00903 6.65544 9.26348 6.65544H12.7364C12.9908 6.65544 13.1971 6.82873 13.1971 7.04244V9.95937Z" fill="#616161"/>
                                                <path d="M21.9998 9.95937C21.9998 10.1731 21.7935 10.3464 21.5391 10.3464H18.0662C17.8117 10.3464 17.6054 10.1731 17.6054 9.95937V7.04244C17.6054 6.82873 17.8117 6.65544 18.0662 6.65544H21.5391C21.7935 6.65544 21.9998 6.82873 21.9998 7.04244V9.95937Z" fill="#616161"/>
                                                <path d="M4.3944 16.6127C4.3944 16.8264 4.18809 16.9997 3.93364 16.9997H0.460759C0.20631 16.9997 0 16.8264 0 16.6127V13.6957C0 13.482 0.20631 13.3087 0.460759 13.3087H3.93364C4.18809 13.3087 4.3944 13.482 4.3944 13.6957V16.6127Z" fill="#616161"/>
                                                <path d="M13.1971 16.613C13.1971 16.8267 12.9908 17 12.7364 17H9.26348C9.00903 17 8.80272 16.8267 8.80272 16.613V13.6961C8.80272 13.4824 9.00903 13.3091 9.26348 13.3091H12.7364C12.9908 13.3091 13.1971 13.4824 13.1971 13.6961V16.613Z" fill="#616161"/>
                                                <path d="M21.9998 16.613C21.9998 16.8267 21.7935 17 21.5391 17H18.0662C17.8117 17 17.6054 16.8267 17.6054 16.613V13.6961C17.6054 13.4824 17.8117 13.3091 18.0662 13.3091H21.5391C21.7935 13.3091 21.9998 13.4824 21.9998 13.6961V16.613Z" fill="#616161"/>
                                            </svg>
                                         </a>
                                        <a href="javascript:void(0)" class="template {% if view == 'list' %}active{% endif %}" data-pattern="list">
                                            <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.3697 3.7726C3.18873 3.7726 3.85268 3.10865 3.85268 2.28962C3.85268 1.47059 3.18873 0.806641 2.3697 0.806641C1.55067 0.806641 0.886719 1.47059 0.886719 2.28962C0.886719 3.10865 1.55067 3.7726 2.3697 3.7726Z" fill="#616161"/>
                                                <path d="M24.2349 3.26491H9.03595C8.55101 3.26491 8.15788 2.87179 8.15788 2.38685V2.1924C8.15788 1.70746 8.551 1.31433 9.03595 1.31433H24.2349C24.7198 1.31433 25.1129 1.70745 25.1129 2.1924V2.38685C25.113 2.87179 24.7198 3.26491 24.2349 3.26491Z" fill="#616161"/>
                                                <path d="M2.3697 10.4833C3.18873 10.4833 3.85268 9.81937 3.85268 9.00034C3.85268 8.18131 3.18873 7.51736 2.3697 7.51736C1.55067 7.51736 0.886719 8.18131 0.886719 9.00034C0.886719 9.81937 1.55067 10.4833 2.3697 10.4833Z" fill="#616161"/>
                                                <path d="M24.2349 9.97563H9.03595C8.55101 9.97563 8.15788 9.58251 8.15788 9.09756V8.90311C8.15788 8.41817 8.551 8.02504 9.03595 8.02504H24.2349C24.7198 8.02504 25.1129 8.41816 25.1129 8.90311V9.09756C25.113 9.58251 24.7198 9.97563 24.2349 9.97563Z" fill="#616161"/>
                                                <path d="M2.3697 17.194C3.18873 17.194 3.85268 16.5301 3.85268 15.7111C3.85268 14.892 3.18873 14.2281 2.3697 14.2281C1.55067 14.2281 0.886719 14.892 0.886719 15.7111C0.886719 16.5301 1.55067 17.194 2.3697 17.194Z" fill="#616161"/>
                                                <path d="M24.2349 16.6864H9.03595C8.55101 16.6864 8.15788 16.2932 8.15788 15.8083V15.6138C8.15788 15.1289 8.551 14.7358 9.03595 14.7358H24.2349C24.7198 14.7358 25.1129 15.1289 25.1129 15.6138V15.8083C25.113 16.2932 24.7198 16.6864 24.2349 16.6864Z" fill="#616161"/>
                                                <path d="M2.3697 3.7726C3.18873 3.7726 3.85268 3.10865 3.85268 2.28962C3.85268 1.47059 3.18873 0.806641 2.3697 0.806641C1.55067 0.806641 0.886719 1.47059 0.886719 2.28962C0.886719 3.10865 1.55067 3.7726 2.3697 3.7726Z" stroke="#616161" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M24.2349 3.26491H9.03595C8.55101 3.26491 8.15788 2.87179 8.15788 2.38685V2.1924C8.15788 1.70746 8.551 1.31433 9.03595 1.31433H24.2349C24.7198 1.31433 25.1129 1.70745 25.1129 2.1924V2.38685C25.113 2.87179 24.7198 3.26491 24.2349 3.26491Z" stroke="#616161" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M2.3697 10.4833C3.18873 10.4833 3.85268 9.81937 3.85268 9.00034C3.85268 8.18131 3.18873 7.51736 2.3697 7.51736C1.55067 7.51736 0.886719 8.18131 0.886719 9.00034C0.886719 9.81937 1.55067 10.4833 2.3697 10.4833Z" stroke="#616161" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M24.2349 9.97563H9.03595C8.55101 9.97563 8.15788 9.58251 8.15788 9.09756V8.90311C8.15788 8.41817 8.551 8.02504 9.03595 8.02504H24.2349C24.7198 8.02504 25.1129 8.41816 25.1129 8.90311V9.09756C25.113 9.58251 24.7198 9.97563 24.2349 9.97563Z" stroke="#616161" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M2.3697 17.194C3.18873 17.194 3.85268 16.5301 3.85268 15.7111C3.85268 14.892 3.18873 14.2281 2.3697 14.2281C1.55067 14.2281 0.886719 14.892 0.886719 15.7111C0.886719 16.5301 1.55067 17.194 2.3697 17.194Z" stroke="#616161" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M24.2349 16.6864H9.03595C8.55101 16.6864 8.15788 16.2932 8.15788 15.8083V15.6138C8.15788 15.1289 8.551 14.7358 9.03595 14.7358H24.2349C24.7198 14.7358 25.1129 15.1289 25.1129 15.6138V15.8083C25.113 16.2932 24.7198 16.6864 24.2349 16.6864Z" stroke="#616161" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            </a>
                                        </div>
                                    </div>
                                    {% if premiumProducts | length > 0 %}
                                        {% for product in premiumProducts %}
                                            {% include 'DashboardCommonBundle:Default:Products/regular.html.twig' with {'product' : product,'locale' : locale, 'service' : 'premium', 'user' : user} %}
                                        {% endfor %}
                                    {% endif %}
                            </div>
                            {% if specialProducts | length > 0 %}
                                    <div class="categorySpecialAdverts">
                                        <div class="categorySpecialAdvertsHeader">
                                            <h3>{% trans %}Спецпредложения{% endtrans %}</h3>
                                            <div class="categorySpecialAdvertsSliderNav" id="specialDealerAdvertsNav"></div>
                                        </div>
                                        <div class="categorySpecialAdvertsSlider owl-carousel" id="specialDealerAdverts">
                                            {% for product in specialProducts %}
                                                <div class="categorySpecialAdvert">
                                                    <div class="categorySpecialAdvertImage">
                                                        <a href="{{ path('product',{'productId' : product.id, 'productName' : product.translit}) }}">
                                                            {% if product.fotos | length > 0 %}
                                                                <img src="{{ asset('bundles/images/products/' ~ product.fotos[0].foto) }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="categorySpecialAdvertName">
                                                        <a href="{{ path('product',{'productId' : product.id, 'productName' : product.translit}) }}">
                                                            {{ product.name }} {% if product.info.generation %}{{ product.info.generation.name }}{% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="categorySpecialAdvertFeatures">
                                                        <div class="categorySpecialAdvertFeature">{{ product.info.year }}, {% if product.info.shape %}{{ product.info.shape.title }}{% endif %}</div>
                                                        <div class="categorySpecialAdvertFeature">
                                                            {% if product.info.modification %}{{ product.info.modification.size }} /  {{ product.info.modification.power }} {% trans %}л.с.{% endtrans %}  / {% endif %} {% if product.info.gasType %} {{ product.info.gasType.value }}{% endif %}
                                                        </div>
                                                    </div>
                                                        <div class="categorySpecialAdvertPrice">
                                                            {{ product.info.price }} {{ locale.currency.label | raw }}
                                                        </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                            {% endif %}
                            <div class="categoryAdverts {{ view }}">
                                    {% if upProducts | length > 0 %}
                                        {% for product in upProducts %}
                                            {% include 'DashboardCommonBundle:Default:Products/regular.html.twig' with {'product' : product,'locale' : locale, 'service' : '', 'user' : user} %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if products | length > 0 %}
                                        {% for product in products %}
                                            {% include 'DashboardCommonBundle:Default:Products/regular.html.twig' with {'product' : product,'locale' : locale, 'service' : '', 'user' : user} %}
                                        {% endfor %}
                                    {% endif %}
                            </div> 
                            {% if pagination and products | length > 0 %}
                                    <div class="row">
                                        <div class="col-lg-12 padination">
                                            {{ pagination | raw }}
                                        </div>
                                    </div>
                            {% endif %}
                        {% else %}
                            <div class="accountNocontent">{% trans %}Объявлений не найдено{% endtrans %}</div>
                        {% endif %}
                        {% if dealerProducts | length > 0 %}
                                    <div class="categorySpecialAdverts new">
                                        <div class="categorySpecialAdvertsHeader">
                                            <h3>{% trans %}Новые автомобили от дилеров{% endtrans %}</h3>
                                            <div class="categorySpecialAdvertsHeaderNew">
                                                {% if dealerProducts | length > 10 %}
                                                    <a href="">{% trans %}Все предложения{% endtrans %}</a>
                                                {% endif %}
                                                <div class="categorySpecialAdvertsSliderNav" id="newDealerAdvertsNav"></div>
                                            </div>
                                        </div>
                                        <div class="categorySpecialAdvertsSlider owl-carousel" id="newDealerAdverts">
                                            {% for product in dealerProducts %}
                                                <div class="categorySpecialAdvert">
                                                    <div class="categorySpecialAdvertImage">
                                                        <a href="{{ path('product',{'productId' : product.id, 'productName' : product.translit}) }}">
                                                            {% if product.fotos | length > 0 %}
                                                                <img src="{{ asset('bundles/images/products/' ~ product.fotos[0].foto) }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="categorySpecialAdvertName">
                                                        <a href="{{ path('product',{'productId' : product.id, 'productName' : product.translit}) }}">
                                                            {{ product.name }} {% if product.info.generation %}{{ product.info.generation.name }}{% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="categorySpecialAdvertFeatures">
                                                        <div class="categorySpecialAdvertFeature">{{ product.info.year }}, {% if product.info.shape %}{{ product.info.shape.title }}{% endif %}</div>
                                                        <div class="categorySpecialAdvertFeature">
                                                            {% if product.info.modification %}{{ product.info.modification.size }} /  {{ product.info.modification.power }} {% trans %}л.с.{% endtrans %}  / {% endif %} {% if product.info.gasType %} {{ product.info.gasType.value }}{% endif %}
                                                        </div>
                                                    </div>
                                                        <div class="categorySpecialAdvertPrice">
                                                            {{ product.info.price }} {{ locale.currency.label | raw }}
                                                        </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="categoryDescription">
                                    {{ category.description | raw}}
                                </div>
                    <div class="hidden-sm hidden-xs" style="text-align:center;padding-bottom: 5.8rem;">
                        {{ render(controller('DashboardCommonBundle:Default:getBanners',{'category' : category, 'position' : 'centerpage'})) }}
                    </div>
		</div>
		<div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky">
                    <div class="advertise-block">
                        {{ render(controller('DashboardCommonBundle:Default:getBanners',{'category' : category, 'position' : 'rightcolumn'})) }}
                    </div>
		</div>
	</div>
</div>
{% endblock %}
