{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% block title %}{% trans %}Панель управления BootBoard v1.0{% endtrans %} - {% trans %}Языки сайта{% endtrans %}{% endblock %}

{% block body %}
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="{{ path('admin_main') }}">Главная</a></li>
        <li class="active">Локализация</li>
    </ol>
    <h1 class="page-header">Локализация <small>Настройка языков сайта</small></h1>    
    <div class="row">
        <div class="col-md-12 ui-sortable">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="notice-message">
                    {{ flashMessage | raw }}
                </div>                             
            {% endfor %}
            <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                <div class="panel-heading ui-sortable-handle">
                    <div class="btn-group pull-right">
                        <button class="btn btn-success btn-xs" type="button">Действия</button>
                        <button data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">
                            <span class="caret"></span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{{ path('editLocaleAdmin') }}" title="Добавить">Добавить</a></li>
                            <li><a href="javascript:void(0)" onclick="document.form.submit();">Сохранить</a></li>
                            <li><a href="javascript:void(0)" onclick="if(confirm('Вы действительно хотите удалить отмеченные пункты?')){$('#form_action').val('delete');document.form.submit();}">Удалить отмеченные</a></li>
                        </ul>
                    </div>
                    <h4 class="panel-title">Языки сайта</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        {% if locales %}
                            {{ form_start(form) }}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input class="selectAllItems" type="checkbox"></th>
                                        <th>{% trans %}Название{% endtrans %}</th>
                                        <th>{% trans %}Код языка{% endtrans %}</th>
                                        <th>{% trans %}Флаг{% endtrans %}</th>
                                        <th>{% trans %}Активен{% endtrans %}</th>
                                        <th>{% trans %}По умолчанию{% endtrans %}</th>
                                        <th>{% trans %}Порядок{% endtrans %}</th>
                                        <th>{% trans %}Действия{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for locale in locales %}
                                                <tr>
                                                    <td><input name="localeId[]" value="1" class="checkbox-item" type="checkbox"></td>
                                                    <td>{{ locale.name }}</td>
                                                    <td>{{ locale.code }}</td>
                                                    <td><img src="{{ asset('bundles/Default/img/flags/' ~ locale.country) }}" style="width:32px;"/></td>
                                                    <td>
                                                        <input name="localeActive[{{ locale.id }}]" type="checkbox" class="switch-input" {% if locale.isActive %}checked=""{% endif %} value="1" />
                                                    </td>
                                                    <td><input name="localeDefault[]" type="radio" {% if locale.isDefault %}checked=""{% endif %} value="{{ locale.id }}" /></td>
                                                    <td>
                                                        <input name="sortorder[{{ locale.id }}]" value="{{ locale.sortorder }}" class="item-sortorder"/>
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('editLocaleAdmin', {'localeId' : locale.id}) }}" class="btn btn-primary" title="{% trans %}Редактировать{% endtrans %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                </tbody>
                            </table>
                            {{ form_end(form) }}
                        {% else %}
                            Языки сайта не добавлены
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
