{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% form_theme categoryForm _self %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    {%- endif -%}
{%- endblock form_label -%}

{%- block choice_widget_expanded -%}
    <div class="filter-category-table">
        <table class="table table-striped">
            {%- for child in form %}
                <tr>
                    <td width="30px">{{- form_widget(child) -}}</td>
                    <td>{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}</td>
                </tr>
            {% endfor -%}
        </table>
    </div>
{%- endblock choice_widget_expanded -%}

{% block _category_translations_widget %}
    <table class="table table-bordered table-translations">
        <thead>
            <tr>
                <th>{% trans %}Локализация{% endtrans %}</th>
                <th>{% trans %}Перевод{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_translations_entry_row %}
    <tr>
        <td>{{ form_widget(form.locale)}}</td>
        <td>{{ form_widget(form.value)}}{{ form_widget(form.category)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить перевод?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод для языка"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _category_descriptions_widget %}
    <table class="table table-bordered table-descriptions">
        <thead>
            <tr>
                <th>{% trans %}Локализация{% endtrans %}</th>
                <th>{% trans %}Перевод{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _category_descriptions_entry_row %}
    <tr>
        <td>{{ form_widget(form.locale)}}</td>
        <td>{{ form_widget(form.description)}}{{ form_widget(form.category)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить перевод?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод для языка"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block title %}{% trans %} Панель управления - Редактировать категорию{% endtrans %}{% endblock %}

{% block body %}
    <div id="content" class="content">
        <ol class="breadcrumb pull-right">
            <li><a href="{{ path('admin_main') }}">Главная</a></li>
            <li><a href="{{ path('admin_product_category') }}">Категории</a></li>
            <li class="active">Категории</li>
        </ol>
        <h1 class="page-header">Категории <small>Редактировать категорию</small></h1>
        <div class="row">
            <div class="col-md-12 ui-sortable">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
                {% endfor %}
                <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <h4 class="panel-title">Информация о категории</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(categoryForm, {'attr' : {'class' : 'form-horizontal'}})}}
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#maininfo">Основная информация</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#translations">Переводы</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#descriptions">Переводы для описания</a>
                            </li> 
                            <li>
                                <a data-toggle="tab" href="#filters">Привязанные фильтры</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#meta">Мета-теги</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="maininfo" class="tab-pane fade active in">
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.imageNew)}}</label>
                                    <div class="col-md-9">
                                    {% if categoryForm.vars.value.image is not null %}
                                        <img class="m-b-15" src="{{ asset('bundles/images/category/' ~ categoryForm.vars.value.image) }}" alt="" title="" />
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 "></label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.imageNew) }}
                                        {{ form_widget(categoryForm.image) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.title)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.title,{'id' : 'forTranslit'})}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.name)}}</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary" type="button" id="generateTranslit">Транслит</button>
                                            </div>
                                            {{ form_widget(categoryForm.name, {'attr' : {'class' : 'form-control categoryTranslit'}})}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.description)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.description)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.isShowFilters)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.isShowFilters)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.isShowPriceFilter)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.isShowPriceFilter)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.isShowBu)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.isShowBu)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.parent)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.parent)}}
                                    </div>
                                </div>     
                            </div>
                            <div id="translations" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                         <button class="btn btn-sm btn-success m-b-15" id="add-translation" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
 Добавить перевод</button>
                                        {{ form_widget(categoryForm.translations,{'id' : 'object_translations'})}}
                                        {% if categoryForm.translations | length <= 0 %}
                                            Переводы не добавлены
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="descriptions" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                         <button class="btn btn-sm btn-success m-b-15" id="add-description" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
 Добавить перевод</button>
                                        {{ form_widget(categoryForm.descriptions,{'id' : 'object_descriptions'})}}
                                        {% if categoryForm.descriptions | length <= 0 %}
                                            Переводы не добавлены
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="filters" class="tab-pane fade">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {% if category.filters | length > 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Название фильтра</th>
                                                        <th>Тип фильтра</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for filter in category.filters %}
                                                        <tr>
                                                            <td>{{ filter.name }}</td>
                                                            <td>{{ filter.type }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            К этой категории не привязано ни одного фильтра
                                        {% endif %}
                                    </div>
                                </div>            
                            </div>
                            <div id="meta" class="tab-pane fade">
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagTitle)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagTitle)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagDescription)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagDescription)}}
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagAuthor)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagAuthor)}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagRobots)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagRobots)}}
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-md-3 ">{{ form_label(categoryForm.metaTagKeywords)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(categoryForm.metaTagKeywords)}}
                                    </div>
                                </div>  
                            </div>
                        <div class="form-group">
                            <label class="col-md-3 ">{{ form_label(categoryForm.save)}}</label>
                            <div class="col-md-9">
                                {{ form_widget(categoryForm.save,{'type' : 'submit'})}}
                            </div>
                        </div> 
                        {{ form_end(categoryForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


