{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% form_theme productForm _self %}

{% block _product_fotos_widget %}
    <table class="table table-bordered table-product-fotos">
        <thead>
            <tr>
                <th>{% trans %}Изображение{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock _product_fotos_widget %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    {%- endif -%}
{%- endblock form_label -%}

{% block _product_fotos_entry_row %}
    <tr>
        <td>
            {% if form.foto.vars.value %}
                <img src="{{ asset('bundles/images/products/') }}{{ form.foto.vars.value }}" alt="" title="" width="200px" />
            {%endif %}
            {{ form_widget(form.fotoNew)}}
            {{ form_widget(form.foto)}}
            {{ form_widget(form.product) }}
        </td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить изображение?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить изображение"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _product_service_widget %}
    <table class="table table-bordered table-product-service">
        <thead>
            <tr>
                <th>{% trans %}Услуга{% endtrans %}</th>
                <th>{% trans %}Дата начала{% endtrans %}</th>
                <th>{% trans %}Дата окончания{% endtrans %}</th>
                <th>{% trans %}Количество единиц{% endtrans %}</th>
                <th>{% trans %}Активна{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>{{ form_widget(form) }}</tbody>
    </table> 
{% endblock _product_service_widget %}

{% block _product_service_entry_row %}
    <tr>
        <td>{{ form_widget(form.service)}}</td>
        <td>{{ form_widget(form.dateAdded)}}</td>
        <td>{{ form_widget(form.dateEnd)}}</td>
        <td>{{ form_widget(form.count)}}</td>
        <td>{{ form_widget(form.isActive)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить услугу?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить услугу"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block title %}{% trans %}Панель управления{% endtrans %} - {% trans %}Редактировать объявление{% endtrans %}{% endblock %}

{% block body %}
<div id="content" class="content">
        <ol class="breadcrumb pull-right">
            <li><a href="{{ path('admin_main') }}">Главная</a></li>
            <li><a href="{{ path('admin_product') }}">Объявления</a></li>
            <li class="active">Редактировать объявление</li>
        </ol>
        <div class="row">
            <div class="col-md-12 ui-sortable">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
                {% endfor %}
                <div class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <h4 class="panel-title">Редактировать объявление</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(productForm, {'attr' : {'class' : 'form-horizontal'}})}}
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#maininfo">Общая информация</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#images">Изображения</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#additionals">Дополнительно</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#service">Услуги</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                                <div id="maininfo" class="tab-pane fade active in">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="col-md-12">{{ form_label(productForm.name)}}</label>
                                                    <div class="col-md-12">
                                                        {{ form_widget(productForm.name)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">{{ form_label(productForm.baseCategory)}}</label>
                                                    <div class="col-md-12">
                                                        {{ form_widget(productForm.baseCategory)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">{{ form_label(productForm.category)}}</label>
                                                    <div class="col-md-12">
                                                        {{ form_widget(productForm.category)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">{{ form_label(productForm.info.year)}}</label>
                                                    <div class="col-md-12">
                                                        {{ form_widget(productForm.info.year)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">{{ form_label(productForm.info.probeg)}}</label>
                                                    <div class="col-md-12">
                                                        {{ form_widget(productForm.info.probeg)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">{{ form_label(productForm.info.price)}}</label>
                                                    <div class="col-md-12">
                                                        {{ form_widget(productForm.info.price)}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.authorName)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.authorName)}}
                                                    </div>
                                                </div> 
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.authorEmail)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.authorEmail)}}
                                                    </div>
                                                </div>  
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.authorPhone)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.authorPhone)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.region)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.region, {'id' : 'adminRegion'})}}
                                                    </div>
                                                </div> 
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.city)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.city, {'id' : 'adminCity'})}}
                                                    </div>
                                                </div> 
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.cityCode)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.cityCode, {'id' : 'adminCity'})}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.isConfirm)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.isConfirm)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.isActive)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.isActive)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.isBlocked)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.isBlocked)}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{{ form_label(productForm.correctReason)}}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(productForm.correctReason)}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div id="images" class="tab-pane fade">
                                    <div class="row">
                                            <div class="col-md-12">
                                                <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                                                    <div class="panel-heading ui-sortable-handle">
                                                        <h4 class="panel-title">Изображения галереи</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <button class="btn btn-sm btn-success m-b-15" id="add-product-image" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
 Добавить изображение</button>
                                                            {{ form_widget(productForm.fotos)}}
                                                            
                                                            {% if productForm.fotos | length <= 0 %}
                                                                Изображений не найдено
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div id="additionals" class="tab-pane fade">
                                    <div class="form-group">
                                        <label class="col-md-12">{{ form_label(productForm.info.shape)}}</label>
                                        <div class="col-md-12">
                                            {{ form_widget(productForm.info.shape)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">{{ form_label(productForm.info.owners)}}</label>
                                        <div class="col-md-12">
                                            {{ form_widget(productForm.info.owners)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">{{ form_label(productForm.info.vin)}}</label>
                                        <div class="col-md-12">
                                            {{ form_widget(productForm.info.vin)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">{{ form_label(productForm.info.garant)}}</label>
                                        <div class="col-md-12">
                                            {{ form_widget(productForm.info.garant)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">{{ form_label(productForm.info.wheel)}}</label>
                                        <div class="col-md-9">
                                            {{ form_widget(productForm.info.wheel)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">{{ form_label(productForm.info.isGasBaloon)}}</label>
                                        <div class="col-md-9">
                                            {{ form_widget(productForm.info.isGasBaloon)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">{{ form_label(productForm.info.nds)}}</label>
                                        <div class="col-md-9">
                                            {{ form_widget(productForm.info.nds)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">{{ form_label(productForm.info.torg)}}</label>
                                        <div class="col-md-9">
                                            {{ form_widget(productForm.info.torg)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">{{ form_label(productForm.info.description)}}</label>
                                        <div class="col-md-12">
                                            {{ form_widget(productForm.info.description)}}
                                        </div>
                                    </div>
                                </div>
                                <div id="service" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                                                <div class="panel-heading ui-sortable-handle">
                                                    <h4 class="panel-title">Услуги</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <button class="btn btn-sm btn-success m-b-15" id="add-product-service" data-services="{{ services | length }}" type="button">
                                                        <i class="fa fa-plus" aria-hidden="true"></i> Добавить услугу</button>
                                                        {{ form_widget(productForm.service)}}
                                                        {% if productForm.service | length <= 0 %}
                                                            Услуги не добавлены
                                                        {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">{{ form_label(productForm.save)}}</label>
                                    <div class="col-md-9">
                                        {{ form_widget(productForm.save,{'type' : 'submit', 'attr' : {'class' : 'btn btn-success pull-right'}})}}
                                    </div>
                                </div> 
			</div>
                        {{ form_end(productForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

