{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% block title %}{% trans %} Панель управления - Регионы{% endtrans %}{% endblock %}

{% block body %}
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="{{ path('admin_main') }}">Главная</a></li>
        <li class="active">Регионы</li>
    </ol>
    <h1 class="page-header">Регионы <small>Города и регионы</small></h1>
    <div class="row">
        <div class="col-md-12 ui-sortable">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="notice-message">
                    {{ flashMessage | raw }}
                </div>                             
            {% endfor %}
            <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                <div class="panel-heading ui-sortable-handle">
                    <div class="btn-group pull-right">
                        <button class="btn btn-success btn-xs" type="button">Действия</button>
                        <button data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">
                            <span class="caret"></span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{{ path('admin_settings_region_edit') }}">Добавить</a></li>
                            <li><a href="#" onclick="if(confirm('Вы действительно хотите удалить отмеченные регионы?'))document.deleteSelected.submit(); else return false;">Удалить отмеченные</a></li>
                            <li><a href="#" onclick="document.deleteSelected.submit();">Сохранить</a></li>
                        </ul>
                    </div>
                    <h4 class="panel-title">Регионы</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        {% if regions %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" class="selectAllItems" /></th>
                                        <th>Название</th>
                                        <th>Количество городов</th>
                                        <th>Порядок</th>
                                        <th>Действия</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form action="{{ path('admin_settings_region')}}" method="POST" name="deleteSelected" id="deleteSelected">
                                        {% for region in regions %}
                                            <tr>
                                                <td><input name="regionIds[]" value="{{ region.id }}" type="checkbox" class="checkbox-item" /></td>
                                                <td>{{ region.name }}</td>
                                                <td>{{ region.city | length }}</td>
                                                <td><input name="sortorder[{{ region.id}}]" value="{{ region.sortorder }}" /></td>
                                                <td>
                                                    <a class="btn btn-success" href="{{ path('admin_settings_region_edit',{ regionId : region.id }) }}">
                                                        <i class="fa fa-pencil" title="Редактировать категорию"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </form>
                                </tbody>
                            </table>
                        {% else %}
                            Регионы не добавлены
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

