{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% form_theme regionForm _self %}
{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    {%- endif -%}
{%- endblock form_label -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{% block _region_translations_widget %}
    <table class="table table-bordered table-translations">
        <thead>
            <tr>
                <th>{% trans %}Локализация{% endtrans %}</th>
                <th>{% trans %}Перевод{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _region_translations_entry_row %}
    <tr>
        <td>{{ form_widget(form.locale)}}</td>
        <td>{{ form_widget(form.value)}}{{ form_widget(form.mark)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить перевод?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод для языка"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _region_city_entry_translations_widget %}
    <button class="btn btn-sm btn-success m-b-15 add-translation-sub" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Добавить перевод</button>
    <table class="table table-bordered table-translations-sub">
        <thead>
            <tr>
                <th>{% trans %}Локализация{% endtrans %}</th>
                <th>{% trans %}Перевод{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _region_city_entry_translations_entry_row %}
    <tr>
        <td>{{ form_widget(form.locale)}}</td>
        <td>{{ form_widget(form.value)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить перевод?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить перевод для языка"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block _region_city_widget %}
    <table class="table table-bordered table-region-city">
        <thead>
            <tr>
                <th>{% trans %}Значение{% endtrans %}</th>
                <th>{% trans %}Переводы{% endtrans %}</th>
                <th>{% trans %}Порядок{% endtrans %}</th>
                <th>{% trans %}Действия{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
                {{ form_widget(form) }}
        </tbody>
    </table> 
{% endblock %}

{% block _region_city_entry_row %}
    <tr>
        <td>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_widget(form.name)}}
                </div>
            </div> 
        </td>
        <td>
            {{ form_widget(form.translations,{'id' : 'object_translations_sub'})}}
        </td>
        <td>{{ form_widget(form.sortorder)}}</td>
        <td><button class="btn btn-danger" onclick="if(!confirm('Вы уверены, что хотите удалить значение?'))return false;else $(this).parent().parent().remove()">
                <i class="fa fa-times" title="Удалить значение"></i>
            </button> 
        </td>
    </tr>
{% endblock %}

{% block title %}{% trans %} Панель управления - Редактировать регион{% endtrans %}{% endblock %}

{% block body %}
    <div id="content" class="content">
        <ol class="breadcrumb pull-right">
            <li><a href="{{ path('admin_main') }}">Главная</a></li>
            <li><a href="{{ path('admin_settings_region') }}">Регионы</a></li>
            <li class="active">Редактировать регион</li>
        </ol>
        <h1 class="page-header">Регионы <small>Редактировать регион</small></h1>
        <div class="row">
            <div class="col-md-12 ui-sortable">
                {% for flashMessage in app.session.flashbag.get('notice_region') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
                {% endfor %}
                <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                    <div class="panel-heading ui-sortable-handle">
                        <h4 class="panel-title">Информация о регионе</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(regionForm, {'attr' : {'class' : 'form-horizontal'}})}}
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#maininfo">Основная информация</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#translations">Переводы</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#filtervalues">Города</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="maininfo" class="tab-pane fade active in">
                                <div class="form-group">
                                    <label class="col-md-12">{{ form_label(regionForm.name)}}</label>
                                    <div class="col-md-12">
                                        {{ form_widget(regionForm.name)}}
                                    </div>
                                </div>
                            </div>
                            <div id="translations" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                         <button class="btn btn-sm btn-success m-b-15" id="add-translation" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
 Добавить перевод</button>
                                        {{ form_widget(regionForm.translations,{'id' : 'object_translations'})}}
                                        {% if regionForm.translations | length <= 0 %}
                                            Переводы не добавлены
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="filtervalues" class="tab-pane fade">
                                <button class="btn btn-sm btn-success m-b-15" id="add-region-city" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
 Добавить город</button>     
                                {{ form_widget(regionForm.city)}}
                                                            
                                {% if regionForm.city | length <= 0 %}
                                    Городов не найдено
                                {% endif %}
                            </div>
                        <div class="form-group">
                            <label class="col-md-3 ">{{ form_label(regionForm.save)}}</label>
                            <div class="col-md-9">
                                {{ form_widget(regionForm.save,{'type' : 'submit'})}}
                            </div>
                        </div> 
                        {{ form_end(regionForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}