{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% block title %}{% trans %} Панель управления - Группы пользователей{% endtrans %}{% endblock %}

{% block body %}
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="{{ path('admin_main') }}">Главная</a></li>
        <li class="active">Группы пользователей</li>
    </ol>
    <h1 class="page-header">Группы пользователей <small>Добавление и удаление групп пользователей</small></h1>
    <div class="row">
        <div class="col-md-12 ui-sortable">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
            {% endfor %}
            <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                <div class="panel-heading ui-sortable-handle">
                    <div class="btn-group pull-right">
                        <button class="btn btn-success btn-xs" type="button">Действия</button>
                        <button data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">
                            <span class="caret"></span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{{ path('admin_role_edit') }}">Добавить группу</a></li>
                            <li><a href="#" onclick="if(confirm('Вы действительно хотите удалить отмеченные группы?'))document.deleteSelected.submit(); else return false;">Удалить отмеченные</a></li>
                        </ul>
                    </div>
                    <h4 class="panel-title">Группы пользователей</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        {% if roles %}
                            <form action="{{ path('admin_roles')}}" method="POST" name="deleteSelected" id="deleteSelected">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" class="selectAllItems" /></th>
                                            <th>Название</th>
                                            <th>Код группы</th>
                                            <th>Пользователей в группе</th>
                                            <th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for role in roles %}
                                                <tr>
                                                    <td><input name="role[]" value="{{ role.id }}" type="checkbox" class="checkbox-item" /></td>
                                                    <td>
                                                        {{ role.name }}
                                                    </td>
                                                    <td>{{ role.role }}</td>
                                                    <td>{{ role.users | length }}</td>
                                                    <td>
                                                        <a class="btn btn-success" href="{{ path('admin_role_edit', {'roleId' : role.id}) }}">
                                                            <i class="fa fa-pencil" title="Редактировать категорию"></i>
                                                        </a>
                                                        <a class="btn btn-danger" href="{{ path('admin_roles', {'roleId' : role.id}) }}" 
                                                                                  onclick="if(!confirm('Вы уверены, что хотите удалить группу пользователей?'))return false;">
                                                            <i class="fa fa-times" title="Удалить группу пользователей"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </form>
                                    </tbody>
                                </table>
                            </form>
                        {% else %}
                            Не добавлено ни одной группы пользователей
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

