{% extends 'DashboardAdminBundle:Common:adminbase.html.twig' %}

{% block title %}{% trans %} Панель управления - Типы объявлений{% endtrans %}{% endblock %}

{% block body %}
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="{{ path('admin_main') }}">Главная</a></li>
        <li class="active">Типы объявлений</li>
    </ol>
    <h1 class="page-header">Типы объявлений <small>Настройка типов объявлений</small></h1>
    <div class="row">
        <div class="col-md-12 ui-sortable">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
            {% endfor %}
            <div data-sortable-id="table-basic-7" class="panel panel-inverse">
                <div class="panel-heading ui-sortable-handle">
                    <div class="btn-group pull-right">
                        <button class="btn btn-success btn-xs" type="button">Действия</button>
                        <button data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">
                            <span class="caret"></span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{{ path('admin_settings_selltype_edit') }}">Добавить</a></li>
                            <li><a href="#" onclick="if(confirm('Вы действительно хотите удалить отмеченные типы?'))document.deleteSelected.submit(); else return false;">Удалить отмеченные</a></li>
                        </ul>
                    </div>
                    <h4 class="panel-title">Типы объявлений</h4>
                </div>
                <div class="panel-body">
                    {%if selltypes %}
                        <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" class="selectAllItems" /></th>
                                            <th>Тип объявления</th>
                                            <th>Всего объявлений этого типа</th>
                                            <th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form action="{{ path('admin_settings_selltype')}}" method="POST" name="deleteSelected" id="deleteSelected">
                                            {% for selltype in selltypes %}
                                                <tr>
                                                    <td><input name="selltypeId[]" value="{{ selltype.id }}" type="checkbox" class="checkbox-item" /></td>
                                                    <td>
                                                        {{ selltype.title }}
                                                    </td>
                                                    <td>{{ selltype.product | length }}</td>
                                                    <td>
                                                        <a class="btn btn-success" href="{{ path('admin_settings_selltype_edit',{ selltypeId : selltype.id }) }}">
                                                            <i class="fa fa-pencil" title="Редактировать"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </form>
                                    </tbody>
                        </table>
                    {% else %}
                        Типов объявлений пока не добавлено
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
