{% if categories %}
    <div class="mainPageFiltersTabs">
        <ul class="nav nav-tabs" role="tablist">
            {% if app.request.get('category') %}
                {% for category in categories %}
                    <li role="presentation" {% if category.id == app.request.get('category') %}class="active"{% endif %}>
                        <a href="#categoryFilters{{ category.id }}" aria-controls="home" role="tab" data-toggle="tab">
                            {{ category.image |raw }}
                            <span>{{ category.title}}</span>
                            <div class="shadowBlock"></div>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                {% set i = 1 %}
                {% for category in categories %}
                    <li role="presentation" {% if i == 1 %}class="active"{% endif %}>
                        <a href="#categoryFilters{{ category.id }}" aria-controls="home" role="tab" data-toggle="tab">
                            {{ category.image |raw }}
                            <span>{{ category.title}}</span>
                            <div class="shadowBlock"></div>
                        </a>
                    </li>
                    {% set i = i + 1 %}
                {% endfor %}
            {% endif %}
        </ul>
        <div class="tab-content">
            {% set i = 1 %}
            {% for category in categories %}
            {% if app.request.get('category') %}
                    <div role="tabpanel" class="tab-pane {% if category.id == app.request.get('category') %}active{% endif %}" id="categoryFilters{{ category.id }}">
            {% else %}
                    <div role="tabpanel" class="tab-pane {% if i == 1 %}active{% endif %}" id="categoryFilters{{ category.id }}">
            {% endif %}
                    <form action="{{ path('search') }}" method="POST">
                    <input name="category" type="hidden" value="{{ category.id }}" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 static-filters hidden-sm hidden-xs">
                            <div class="filter">
                                {% set checked = 0 %}
                                {% if request.request.get('searchNew') or request.query.get('searchNew') %}
                                    {% set checked = 'checked=checked' %}
                                {% endif %}
                                <input name="searchNew" type="checkbox" value="1" class="custom-checkbox" {{ checked }} /> {% trans %}Новые{% endtrans %}
                            </div>
                            <div class="filter">
                                {% set checked = 0 %}
                                {% if request.request.get('searchOld') or request.query.get('searchOld') %}
                                    {% set checked = 'checked=checked' %}
                                {% endif %}
                                <input name="searchOld" type="checkbox" value="1" class="custom-checkbox" {{ checked }}/> {% trans %}С пробегом{% endtrans %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <input name="searchText" class="filterInput" value="{{ app.request.get('searchText') }}" placeholder="Текст для поиска" type="text" />
                                </div>
                                {% if category.isUseChildrensLikeType %}
                                    {% if category.children | length > 0 %}
                                        <div class="col-lg-3 col-md-3" id="categoryType{{ category.id }}">
                                            <select name="categoryFilter[type]" class="custom-select" placeholder="{% trans %}Тип{% endtrans %}" onchange="getSubCategories($(this), $('#categoryMark{{ category.id }}'), 'mark')">
                                                {% for child in category.children %}
                                                    {% set selected = '' %}
                                                    {% if request.request.get('categoryFilter') and request.request.get('categoryFilter')['type'] is defined %}
                                                        {% if child.id == request.request.get('categoryFilter')['type'] %}
                                                            {% set selected = 'selected=selected' %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <option value="0"></option>
                                                    <option value="{{ child.id}}" {{ selected }}>
                                                        {{ child.title }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if category.children | length > 0 %}
                                        <div class="col-lg-3 col-md-3" id="categoryMark{{ category.id }}">
                                            <select name="categoryFilter[mark]" class="custom-select" placeholder="{% trans %}Марка{% endtrans %}" onchange="getSubCategories($(this), $('#categoryModel{{ category.id }}'), 'model')">
                                                {% for child in category.children %}
                                                    {% set selected = '' %}
                                                    {% if request.request.get('categoryFilter') and request.request.get('categoryFilter')['mark'] is defined %}
                                                        {% if child.id == request.request.get('categoryFilter')['mark'] %}
                                                            {% set selected = 'selected=selected' %}
                                                        {% endif %}
                                                    {% elseif categories[1] is defined %}
                                                        {% if child.id == categories[1].id %}
                                                            {% set selected = 'selected=selected' %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <option value="0"></option>
                                                    <option value="{{ child.id}}" {{ selected }}>
                                                        {{ child.title }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if category.isUseChildrensLikeType %}
                                    <div class="col-lg-3 col-md-3" id="categoryMark{{ category.id }}">
                                        <select name="categoryFilter[mark]" class="custom-select" placeholder="{% trans %}Марка{% endtrans %}" onchange="getSubCategories($(this), $('#categoryModel{{ category.id }}'), 'model')">
                                            {% if app.request.get('category') and app.request.get('category') == category.id %}
                                                {% for child in categoryMarks %}
                                                    {% set selected = '' %}
                                                    {% if request.request.get('categoryFilter') and request.request.get('categoryFilter')['mark'] is defined %}
                                                        {% if child.id == request.request.get('categoryFilter')['mark'] %}
                                                            {% set selected = 'selected=selected' %}
                                                        {% endif %}
                                                    {% elseif categories[2] is defined %}
                                                        {% if child.id == categories[2].id %}
                                                            {% set selected = 'selected=selected' %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <option value="0"></option>
                                                    <option value="{{ child.id}}" {{ selected }}>
                                                        {{ child.title }}
                                                    </option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3" id="categoryModel{{ category.id }}">
                                        <select name="categoryFilter[model][]" class="custom-select" placeholder="{% trans %}Модель{% endtrans %}" multiple="multiple">
                                            {% if app.request.get('category') and app.request.get('category') == category.id %}
                                                {% for child in categoryModels %}
                                                    {% set selected = '' %}
                                                    {% if request.request.get('categoryFilter') and request.request.get('categoryFilter')['model'] is defined %}
                                                        {% for key,value in request.request.get('categoryFilter')['model'] %}
                                                            {% if child.id == value %}
                                                                {% set selected = 'selected=selected' %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% elseif categories[3] is defined %}
                                                        {% if child.id == categories[3].id %}
                                                            {% set selected = 'selected=selected' %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <option value="{{ child.id}}" {{ selected }}>
                                                        {{ child.title }}
                                                    </option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                {% else %}
                                    <div class="col-lg-3 col-md-3" id="categoryModel{{ category.id }}">
                                        <select name="categoryFilter[model][]" class="custom-select" placeholder="{% trans %}Модель{% endtrans %}" multiple="multiple">
                                            {% if app.request.get('category') and app.request.get('category') == category.id %}
                                                {% for child in categoryModels %}
                                                    {% set selected = '' %}
                                                    {% if request.request.get('categoryFilter') and request.request.get('categoryFilter')['model'] is defined %}
                                                        {% for key,value in request.request.get('categoryFilter')['model'] %}
                                                            {% if child.id == value %}
                                                                {% set selected = 'selected=selected' %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% elseif categories[2] is defined %}
                                                        {% if child.id == categories[2].id %}
                                                            {% set selected = 'selected=selected' %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <option value="{{ child.id}}" {{ selected }}>
                                                        {{ child.title }}
                                                    </option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div> 
                                {% endif %}
                                {% if category.filters %}
                                    {% for filter in category.filters %}
                                        {% if filter.isSearch %}
                                            {% if filter.type.name == 'select' or filter.type.name == 'checkbox' or filter.type.name == 'radio' or filter.type.name == 'multiselect'%}
                                                <div class="col-lg-3 col-md-3">
                                                    <select name="filter[{{ filter.id }}]" class="custom-select" placeholder="{{ filter.name  }}" {% if filter.type.name == 'multiselect' %}multiple="multiple"{% endif %} onchange="sendFiltersForm()">
                                                        {% for value in filter.values %}
                                                            <option value="{{ value.id }}">{{ value.value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% endif %}
                                            {% if filter.type == 'color' %}
                                                <div class="col-lg-3 col-md-3">
                                                    <select name="filter[{{ filter.id }}]" class="custom-select" placeholder="{{ filter.name  }}" multiple="multiple" onchange="sendFiltersForm()">
                                                        {% for value in filter.values %}
                                                            <option value="{{ value.id }}">{{ value.value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% endif %}
                                            {% if filter.type == 'selectable' %}
                                                <div class="col-lg-3 col-md-3">
                                                    <div class="filtersFromTo">
                                                        <input name="{{ filter.productParameter }}Selectable[{{ filter.id }}]" placeholder="{{ filter.name}}, {% trans %}от{% endtrans %}" />
                                                        <input name="{{ filter.productParameter }}Selectable[{{ filter.id }}]" placeholder="{{ filter.name}}, {% trans %}до{% endtrans %}" />
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if filter.type == 'region_select' %}
                                                <div class="col-lg-3 col-md-3">
                                                    <div class="filtersFromTo">
                                                        <select name="{{ filter.productParameter }}RangeList[{{ filter.id }}]" class="custom-select" placeholder="{{ filter.name  }}, {% trans %}от{% endtrans %}" onchange="sendFiltersForm()">
                                                            {% for value in filter.values %}
                                                                <option value="{{ value.id }}">{{ value.value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <select name="{{ filter.productParameter }}RangeList[{{ filter.id }}]" class="custom-select" placeholder="{{ filter.name  }} {% trans %}до{% endtrans %}" onchange="sendFiltersForm()">
                                                            {% for value in filter.values %}
                                                                <option value="{{ value.id }}">{{ value.value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if category.isShowPriceFilter %}
                                    <div class="col-lg-3 col-md-3">
                                        <div class="filtersFromTo">
                                            <input name="filterSelectablePrice[]" value="" placeholder="{% trans %}Цена от{% endtrans %}" type="text" />
                                            <input name="filterSelectablePrice[]" value="" placeholder="{% trans %}до{% endtrans %}" type="text" />
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12 mainPageFiltersButtons">
                            <div class="mainPageFiltersSettings">
                                <button type="button" class="showAllParameters">{% trans %}Все параметры{% endtrans %}<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#EB840B"/>
    </svg></button>
                                <button type="button" class="clearFilters" onclick="clearFormFilters($('#categoryFilters{{ category.id }}'))">{% trans %}Сбросить{% endtrans %}<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"/>
    </svg>
                                </button>
                            </div>
                            <div class="mainPageFiltersShowResults">
                                <button>{% trans %}Искать{% endtrans %}</button>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    $(".showAllParameters").click(function(){
                                        var svg = '<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2725 -3.18e-08L12 0.754687L6 7L-3.29884e-08 0.754687L0.723749 -4.92901e-07L6 5.48698L11.2725 -3.18e-08Z" fill="#EB840B"/></svg>';
                                        if($(this).hasClass("active")){
                                            $(".additionalFiltersBlock").fadeOut();
                                            $(this).html("{% trans %}Все параметры{% endtrans %}" + svg);
                                        }else{
                                            $(".additionalFiltersBlock").fadeIn();
                                            $(this).html("{% trans %}Свернуть{% endtrans %}" + svg);
                                        }
                                        $(this).toggleClass("active");
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    </form>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        </div>
    </div>
{% endif %}