{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Личный кабинет{% endtrans %} - {% trans %}Мо объявления{% endtrans %}{% endblock %}
{% block bodyClass %}class="userAccount"{% endblock %}
{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    {% if locale.isDefault %}
                        <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% else %}
                        <li><a href="{{ path('mainLocale',{'_locale' : app.request.locale}) }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% endif %}
                    {% if  locale.isDefault %}
                        <li><a href="{{ path('account', {'_locale' : locale.code}) }}">
                    {% else %}
                        <li><a href="{{ path('accountLocale', {'_locale' : locale.code}) }}">
                    {% endif %}
                        {% trans %}Личный кабинет{% endtrans %}
                    </a></li>
                    <li>/</li>
                    <li>
                    {% if  locale.isDefault %}
                        <a href="{{path('account_products_blocked')}}">
                    {% else %}
                        <a href="{{path('account_products_blockedLocale',{'_locale' : app.request.locale})}}">
                    {% endif %}
                        {% trans %}Заблокированные объявления{% endtrans %}
                    </a></li>
                </ul>
            </div>
        </div>
      </div>
</nav> 
<div class="container">
    <div class="row content-row aligned">
        <div class="col-lg-2 col-md-2">
            <div class="account-block-header"><h1>{% trans %}Личный кабинет{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="accountBlockHeader">
                <div class="account-block-header"><h1>{% trans %}<b>Объявления</b> на корректировке{% endtrans %}</h1></div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        {{ render(controller('DashboardCommonBundle:Account:getSidebar',{'routeName' : routeName})) }}
        <div class="col-ld-10 col-md-10">
            <div class="account-advert-block account-block">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
                {% endfor %}
                <div class="account-advert-block-content">
                    <div class="row advert-category-adverts">
                        <div class="col-lg-12 col-md-12">
                            <div class="accountNocontent">{% trans %}Нет заблокированных объявлений{% endtrans %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

