{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Личный кабинет{% endtrans %} - {% trans %}Мои объявления{% endtrans %}{% endblock %}
{% block bodyClass %}class="userAccount"{% endblock %}
{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    {% if locale.isDefault %}
                        <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% else %}
                        <li><a href="{{ path('mainLocale',{'_locale' : app.request.locale}) }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% endif %}
                    {% if  locale.isDefault %}
                        <li><a href="{{ path('account', {'_locale' : locale.code}) }}">
                    {% else %}
                        <li><a href="{{ path('accountLocale', {'_locale' : locale.code}) }}">
                    {% endif %}
                        {% trans %}Личный кабинет{% endtrans %}
                    </a></li>
                    <li>/</li>
                    <li>
                    {% if  locale.isDefault %}
                        <a href="{{path('account_favproducts')}}">
                    {% else %}
                        <a href="{{path('account_favproductsLocale',{'_locale' : app.request.locale})}}">
                    {% endif %}
                        {% trans %}Избранные объявления{% endtrans %}
                    </a></li>
                </ul>
            </div>
        </div>
      </div>
</nav> 
<div class="container">
    <div class="row content-row aligned">
        <div class="col-lg-2 col-md-2">
            <div class="account-block-header"><h1>{% trans %}Личный кабинет{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="accountBlockHeader">
                <div class="account-block-header"><h1>{% trans %}<b>Избранные</b> объявления{% endtrans %}</h1></div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        {{ render(controller('DashboardCommonBundle:Account:getSidebar',{'routeName' : routeName})) }}
        <div class="col-ld-10 col-md-10">
            <div class="account-advert-block account-block">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
                {% endfor %}
                <div class="account-advert-block-content">
                    <div class="row advert-category-adverts">
                        <div class="col-lg-12 col-md-12">
                            <div class="accountAdverts line" style="padding-top: 0;">
                                        <div class="accountAdvert cube">
                                            <div class="accountAdvertLikeButton">
                                                <button>
                                                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133V2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="inner">
                                                <a href="">
                                                    <div class="accountAdvertImage">
                                                        <img src="{{ asset('bundles/Default/img/advert/auto.png') }}" alt="" title="" />
                                                    </div>
                                                    <div class="accountAdvertInfoName">Jeep Compass II</div>
                                                    <div class="accountAdvertInfoBoard">
                                                        <div class="accountAdvertInfoBoardItem">Внедорожник 5 дв.</div>
                                                    </div>
                                                    <div class="accountAdvertInfoModification">
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2019, 198 000 км
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2.4 л / 82 л.с. / Бензин
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 9px;">
                                                                <path d="M5.5 3.38135C5.10444 3.38135 4.71776 3.4946 4.38886 3.70679C4.05996 3.91897 3.80362 4.22056 3.65224 4.57341C3.50087 4.92626 3.46126 5.31452 3.53843 5.68911C3.6156 6.06369 3.80608 6.40777 4.08579 6.67783C4.36549 6.94789 4.72186 7.1318 5.10982 7.20631C5.49778 7.28082 5.89991 7.24258 6.26537 7.09643C6.63082 6.95027 6.94318 6.70276 7.16294 6.38521C7.3827 6.06765 7.5 5.6943 7.5 5.31238C7.5 4.80024 7.28929 4.30907 6.91421 3.94693C6.53914 3.5848 6.03043 3.38135 5.5 3.38135ZM5.5 6.2779C5.30222 6.2779 5.10888 6.22127 4.94443 6.11518C4.77998 6.00909 4.65181 5.85829 4.57612 5.68187C4.50043 5.50544 4.48063 5.31131 4.51922 5.12402C4.5578 4.93673 4.65304 4.76469 4.79289 4.62966C4.93275 4.49463 5.11093 4.40267 5.30491 4.36542C5.49889 4.32816 5.69996 4.34728 5.88268 4.42036C6.06541 4.49344 6.22159 4.61719 6.33147 4.77597C6.44135 4.93475 6.5 5.12142 6.5 5.31238C6.5 5.56845 6.39464 5.81404 6.20711 5.99511C6.01957 6.17618 5.76522 6.2779 5.5 6.2779Z" fill="#616161"/>
                                                                <path d="M5.5 0.00195312C4.04131 0.00195313 2.64236 0.561434 1.61091 1.55732C0.579463 2.5532 0 3.90391 0 5.3123C0 9.85506 5 13.2875 5.215 13.4323L5.5 13.6254L5.785 13.4323C6 13.2875 11 9.85506 11 5.3123C11 3.90391 10.4205 2.5532 9.38909 1.55732C8.35764 0.561434 6.95869 0.00195313 5.5 0.00195312ZM5.5 12.433C4.465 11.6509 1 8.76402 1 5.3123C1 4.15998 1.47411 3.05485 2.31802 2.24004C3.16193 1.42523 4.30653 0.96747 5.5 0.96747C6.69347 0.96747 7.83807 1.42523 8.68198 2.24004C9.52589 3.05485 10 4.15998 10 5.3123C10 8.76402 6.535 11.6509 5.5 12.433Z" fill="#616161"/>
                                                            </svg>
                                                            Seville
                                                        </div>
                                                        <div class="accountAdvertInfoPrice">
                                                            <div class="accountAdvertInfoPriceValue">
                                                                250.000 €
                                                            </div>
                                                            <div class="accountAdvertInfoPriceCredit">
                                                                от 12 500 €/мес.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="accountAdvertBottomFunctions">
                                                <div class="accountAdvertBottomFunction">
                                                    <button>
                                                        Убрать из избранных
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left:1.5rem">
<path d="M11 0.613989L10.3855 -0.000488281L5.5 4.88936L0.614477 -0.000488281L0 0.613989L4.88985 5.49951L0 10.385L0.614477 10.9995L5.5 6.10966L10.3855 10.9995L11 10.385L6.11015 5.49951L11 0.613989Z" fill="#494949"/>
</svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accountAdvert cube">
                                            <div class="accountAdvertLikeButton">
                                                <button>
                                                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133V2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="inner">
                                                <a href="">
                                                    <div class="accountAdvertImage">
                                                        <img src="{{ asset('bundles/Default/img/advert/auto.png') }}" alt="" title="" />
                                                    </div>
                                                    <div class="accountAdvertInfoName">Jeep Compass II</div>
                                                    <div class="accountAdvertInfoBoard">
                                                        <div class="accountAdvertInfoBoardItem">Внедорожник 5 дв.</div>
                                                    </div>
                                                    <div class="accountAdvertInfoModification">
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2019, 198 000 км
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2.4 л / 82 л.с. / Бензин
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 9px;">
                                                                <path d="M5.5 3.38135C5.10444 3.38135 4.71776 3.4946 4.38886 3.70679C4.05996 3.91897 3.80362 4.22056 3.65224 4.57341C3.50087 4.92626 3.46126 5.31452 3.53843 5.68911C3.6156 6.06369 3.80608 6.40777 4.08579 6.67783C4.36549 6.94789 4.72186 7.1318 5.10982 7.20631C5.49778 7.28082 5.89991 7.24258 6.26537 7.09643C6.63082 6.95027 6.94318 6.70276 7.16294 6.38521C7.3827 6.06765 7.5 5.6943 7.5 5.31238C7.5 4.80024 7.28929 4.30907 6.91421 3.94693C6.53914 3.5848 6.03043 3.38135 5.5 3.38135ZM5.5 6.2779C5.30222 6.2779 5.10888 6.22127 4.94443 6.11518C4.77998 6.00909 4.65181 5.85829 4.57612 5.68187C4.50043 5.50544 4.48063 5.31131 4.51922 5.12402C4.5578 4.93673 4.65304 4.76469 4.79289 4.62966C4.93275 4.49463 5.11093 4.40267 5.30491 4.36542C5.49889 4.32816 5.69996 4.34728 5.88268 4.42036C6.06541 4.49344 6.22159 4.61719 6.33147 4.77597C6.44135 4.93475 6.5 5.12142 6.5 5.31238C6.5 5.56845 6.39464 5.81404 6.20711 5.99511C6.01957 6.17618 5.76522 6.2779 5.5 6.2779Z" fill="#616161"/>
                                                                <path d="M5.5 0.00195312C4.04131 0.00195313 2.64236 0.561434 1.61091 1.55732C0.579463 2.5532 0 3.90391 0 5.3123C0 9.85506 5 13.2875 5.215 13.4323L5.5 13.6254L5.785 13.4323C6 13.2875 11 9.85506 11 5.3123C11 3.90391 10.4205 2.5532 9.38909 1.55732C8.35764 0.561434 6.95869 0.00195313 5.5 0.00195312ZM5.5 12.433C4.465 11.6509 1 8.76402 1 5.3123C1 4.15998 1.47411 3.05485 2.31802 2.24004C3.16193 1.42523 4.30653 0.96747 5.5 0.96747C6.69347 0.96747 7.83807 1.42523 8.68198 2.24004C9.52589 3.05485 10 4.15998 10 5.3123C10 8.76402 6.535 11.6509 5.5 12.433Z" fill="#616161"/>
                                                            </svg>
                                                            Seville
                                                        </div>
                                                        <div class="accountAdvertInfoPrice">
                                                            <div class="accountAdvertInfoPriceValue">
                                                                250.000 €
                                                            </div>
                                                            <div class="accountAdvertInfoPriceCredit">
                                                                от 12 500 €/мес.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="accountAdvertBottomFunctions">
                                                <div class="accountAdvertBottomFunction">
                                                    <button>
                                                        Убрать из избранных
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left:1.5rem">
<path d="M11 0.613989L10.3855 -0.000488281L5.5 4.88936L0.614477 -0.000488281L0 0.613989L4.88985 5.49951L0 10.385L0.614477 10.9995L5.5 6.10966L10.3855 10.9995L11 10.385L6.11015 5.49951L11 0.613989Z" fill="#494949"/>
</svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accountAdvert cube">
                                            <div class="accountAdvertLikeButton">
                                                <button>
                                                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133V2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="inner">
                                                <a href="">
                                                    <div class="accountAdvertImage">
                                                        <img src="{{ asset('bundles/Default/img/advert/auto.png') }}" alt="" title="" />
                                                    </div>
                                                    <div class="accountAdvertInfoName">Jeep Compass II</div>
                                                    <div class="accountAdvertInfoBoard">
                                                        <div class="accountAdvertInfoBoardItem">Внедорожник 5 дв.</div>
                                                    </div>
                                                    <div class="accountAdvertInfoModification">
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2019, 198 000 км
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2.4 л / 82 л.с. / Бензин
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 9px;">
                                                                <path d="M5.5 3.38135C5.10444 3.38135 4.71776 3.4946 4.38886 3.70679C4.05996 3.91897 3.80362 4.22056 3.65224 4.57341C3.50087 4.92626 3.46126 5.31452 3.53843 5.68911C3.6156 6.06369 3.80608 6.40777 4.08579 6.67783C4.36549 6.94789 4.72186 7.1318 5.10982 7.20631C5.49778 7.28082 5.89991 7.24258 6.26537 7.09643C6.63082 6.95027 6.94318 6.70276 7.16294 6.38521C7.3827 6.06765 7.5 5.6943 7.5 5.31238C7.5 4.80024 7.28929 4.30907 6.91421 3.94693C6.53914 3.5848 6.03043 3.38135 5.5 3.38135ZM5.5 6.2779C5.30222 6.2779 5.10888 6.22127 4.94443 6.11518C4.77998 6.00909 4.65181 5.85829 4.57612 5.68187C4.50043 5.50544 4.48063 5.31131 4.51922 5.12402C4.5578 4.93673 4.65304 4.76469 4.79289 4.62966C4.93275 4.49463 5.11093 4.40267 5.30491 4.36542C5.49889 4.32816 5.69996 4.34728 5.88268 4.42036C6.06541 4.49344 6.22159 4.61719 6.33147 4.77597C6.44135 4.93475 6.5 5.12142 6.5 5.31238C6.5 5.56845 6.39464 5.81404 6.20711 5.99511C6.01957 6.17618 5.76522 6.2779 5.5 6.2779Z" fill="#616161"/>
                                                                <path d="M5.5 0.00195312C4.04131 0.00195313 2.64236 0.561434 1.61091 1.55732C0.579463 2.5532 0 3.90391 0 5.3123C0 9.85506 5 13.2875 5.215 13.4323L5.5 13.6254L5.785 13.4323C6 13.2875 11 9.85506 11 5.3123C11 3.90391 10.4205 2.5532 9.38909 1.55732C8.35764 0.561434 6.95869 0.00195313 5.5 0.00195312ZM5.5 12.433C4.465 11.6509 1 8.76402 1 5.3123C1 4.15998 1.47411 3.05485 2.31802 2.24004C3.16193 1.42523 4.30653 0.96747 5.5 0.96747C6.69347 0.96747 7.83807 1.42523 8.68198 2.24004C9.52589 3.05485 10 4.15998 10 5.3123C10 8.76402 6.535 11.6509 5.5 12.433Z" fill="#616161"/>
                                                            </svg>
                                                            Seville
                                                        </div>
                                                        <div class="accountAdvertInfoPrice">
                                                            <div class="accountAdvertInfoPriceValue">
                                                                250.000 €
                                                            </div>
                                                            <div class="accountAdvertInfoPriceCredit">
                                                                от 12 500 €/мес.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="accountAdvertBottomFunctions">
                                                <div class="accountAdvertBottomFunction">
                                                    <button>
                                                        Убрать из избранных
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left:1.5rem">
<path d="M11 0.613989L10.3855 -0.000488281L5.5 4.88936L0.614477 -0.000488281L0 0.613989L4.88985 5.49951L0 10.385L0.614477 10.9995L5.5 6.10966L10.3855 10.9995L11 10.385L6.11015 5.49951L11 0.613989Z" fill="#494949"/>
</svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accountAdvert cube">
                                            <div class="accountAdvertLikeButton">
                                                <button>
                                                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133V2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" fill="#EB840B"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M20.3807 2.59133C19.8676 2.08683 19.2583 1.68663 18.5878 1.41358C17.9172 1.14054 17.1985 1 16.4727 1C15.7468 1 15.0281 1.14054 14.3576 1.41358C13.687 1.68663 13.0778 2.08683 12.5646 2.59133L11.4997 3.63785L10.4348 2.59133C9.39834 1.57276 7.99258 1.00053 6.52679 1.00053C5.06099 1.00053 3.65523 1.57276 2.61876 2.59133C1.58229 3.6099 1 4.99139 1 6.43187C1 7.87235 1.58229 9.25383 2.61876 10.2724L3.68367 11.3189L11.4997 19L19.3158 11.3189L20.3807 10.2724C20.8941 9.76814 21.3013 9.16942 21.5791 8.51045C21.857 7.85148 22 7.14517 22 6.43187C22 5.71857 21.857 5.01225 21.5791 4.35328C21.3013 3.69431 20.8941 3.09559 20.3807 2.59133Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="inner">
                                                <a href="">
                                                    <div class="accountAdvertImage">
                                                        <img src="{{ asset('bundles/Default/img/advert/auto.png') }}" alt="" title="" />
                                                    </div>
                                                    <div class="accountAdvertInfoName">Jeep Compass II</div>
                                                    <div class="accountAdvertInfoBoard">
                                                        <div class="accountAdvertInfoBoardItem">Внедорожник 5 дв.</div>
                                                    </div>
                                                    <div class="accountAdvertInfoModification">
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2019, 198 000 км
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2.4 л / 82 л.с. / Бензин
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 9px;">
                                                                <path d="M5.5 3.38135C5.10444 3.38135 4.71776 3.4946 4.38886 3.70679C4.05996 3.91897 3.80362 4.22056 3.65224 4.57341C3.50087 4.92626 3.46126 5.31452 3.53843 5.68911C3.6156 6.06369 3.80608 6.40777 4.08579 6.67783C4.36549 6.94789 4.72186 7.1318 5.10982 7.20631C5.49778 7.28082 5.89991 7.24258 6.26537 7.09643C6.63082 6.95027 6.94318 6.70276 7.16294 6.38521C7.3827 6.06765 7.5 5.6943 7.5 5.31238C7.5 4.80024 7.28929 4.30907 6.91421 3.94693C6.53914 3.5848 6.03043 3.38135 5.5 3.38135ZM5.5 6.2779C5.30222 6.2779 5.10888 6.22127 4.94443 6.11518C4.77998 6.00909 4.65181 5.85829 4.57612 5.68187C4.50043 5.50544 4.48063 5.31131 4.51922 5.12402C4.5578 4.93673 4.65304 4.76469 4.79289 4.62966C4.93275 4.49463 5.11093 4.40267 5.30491 4.36542C5.49889 4.32816 5.69996 4.34728 5.88268 4.42036C6.06541 4.49344 6.22159 4.61719 6.33147 4.77597C6.44135 4.93475 6.5 5.12142 6.5 5.31238C6.5 5.56845 6.39464 5.81404 6.20711 5.99511C6.01957 6.17618 5.76522 6.2779 5.5 6.2779Z" fill="#616161"/>
                                                                <path d="M5.5 0.00195312C4.04131 0.00195313 2.64236 0.561434 1.61091 1.55732C0.579463 2.5532 0 3.90391 0 5.3123C0 9.85506 5 13.2875 5.215 13.4323L5.5 13.6254L5.785 13.4323C6 13.2875 11 9.85506 11 5.3123C11 3.90391 10.4205 2.5532 9.38909 1.55732C8.35764 0.561434 6.95869 0.00195313 5.5 0.00195312ZM5.5 12.433C4.465 11.6509 1 8.76402 1 5.3123C1 4.15998 1.47411 3.05485 2.31802 2.24004C3.16193 1.42523 4.30653 0.96747 5.5 0.96747C6.69347 0.96747 7.83807 1.42523 8.68198 2.24004C9.52589 3.05485 10 4.15998 10 5.3123C10 8.76402 6.535 11.6509 5.5 12.433Z" fill="#616161"/>
                                                            </svg>
                                                            Seville
                                                        </div>
                                                        <div class="accountAdvertInfoPrice">
                                                            <div class="accountAdvertInfoPriceValue">
                                                                250.000 €
                                                            </div>
                                                            <div class="accountAdvertInfoPriceCredit">
                                                                от 12 500 €/мес.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="accountAdvertBottomFunctions">
                                                <div class="accountAdvertBottomFunction">
                                                    <button>
                                                        Убрать из избранных
                                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left:1.5rem">
<path d="M11 0.613989L10.3855 -0.000488281L5.5 4.88936L0.614477 -0.000488281L0 0.613989L4.88985 5.49951L0 10.385L0.614477 10.9995L5.5 6.10966L10.3855 10.9995L11 10.385L6.11015 5.49951L11 0.613989Z" fill="#494949"/>
</svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
