{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    <li><a href="{{ path('addAdvert') }}">{% trans %}Добавить объявление{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
      </div>
</nav>  
<div class="container" id="addAdvertStep">
    <div class="row content-row">
        <div class="col-lg-9 col-md-9 left-column">
                <div class="content-block-header">
                    <h1>{% trans %}Выберите категорию{% endtrans %}</h1>
                </div>
                {% if categories %}
                    <div class="mainPageFiltersTabs category-filters addProduct">
                        <ul class="nav nav-tabs" role="tablist">
                            {% set i = 1 %}
                            {% for category in categories %}
                                <li role="presentation" {% if i == 1 %}class="active"{% endif %}>
                                    <a href="#category{{ category.id }}" aria-controls="home" role="tab" data-toggle="tab" class="block">
                                        {% if category.image %}
                                            {{ category.image | raw }}
                                        {% endif %}
                                        <span class="block">
                                            {{ category.title}}
                                        </span><div class="shadowBlock"></div></a>
                                </li>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% set i = 1 %}
                            {% for category in categories %}
                                <div role="tabpanel" class="tab-pane {% if i == 1 %}active{% endif %}" id="category{{ category.id }}">
                                    {% set allowCategory = 0 %}
                                    {% if user.roles[0].role == 'ROLE_DEALER' %}
                                        {% if user.rates | length > 0 %}
                                            {% for userRate in user.rates %}
                                                {% if userRate.category.id == category.id and userRate.isActive %}
                                                    {% set allowCategory = 1 %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        {% set allowCategory = 1 %}
                                    {% endif %}
                                    {% if allowCategory %}
                                        {% if category.children %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="searchCategoryFiled">
                                                        <input type="text" placeholder="{% trans %}Выберите марку{% endtrans %}" onkeyup="selectCategoryItems($(this), {{ settings.categoryPanelItemsNumber}})"/>
                                                    </div>
                                                    {% if category.children | length > settings.categoryPanelItemsNumber %}
                                                        <div class="mainPageAutoList">
                                                            <ul class="list-unstyled list-inline justLinks shortCategoryList">
                                                                {% set i = 0 %}
                                                                {% for child in category.children %}
                                                                    {% if i >= settings.categoryPanelItemsNumber %}
                                                                        {% set hide = 'hideCategory' %}
                                                                    {% else %}
                                                                        {% set hide = 'visible' %}
                                                                    {% endif %}
                                                                    {% if category.formType == 1 %}
                                                                        <li class="categoryItem {{ hide }}" data-title="{{ child.title | lower }}">
                                                                            <a href="javascript:void(0)" onclick="getStep11({{ child.id }}, '{{ locale.code }}')" >
                                                                                {{ child.title }}
                                                                            </a>
                                                                        </li>
                                                                    {% else %}
                                                                        <li class="categoryItem {{ hide }}" data-title="{{ child.title | lower }}">
                                                                            <a href="{{ path('addCategoryAdvert', {'categoryName' : child.name }) }}">
                                                                                {{ child.title }}
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% set i = i + 1 %}
                                                                {% endfor %}
                                                            </ul>
                                                            
                                                        </div>
                                                    {% else %}
                                                        <div class="mainPageAutoList">
                                                            <ul class="list-unstyled list-inline justLinks">
                                                                {% for child in category.children %}
                                                                    {% if category.formType == 1 %}
                                                                        <li class="categoryItem">
                                                                            <a href="javascript:void(0)" onclick="getStep11({{ child.id }}, '{{ locale.code }}')">
                                                                                {{ child.title}}
                                                                            </a>
                                                                        </li>
                                                                    {% else %}
                                                                        <li class="categoryItem">
                                                                            <a href="{{ path('addCategoryAdvert', {'categoryName' : child.name }) }}">
                                                                                {{ child.title}}
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {% if category.children | length > settings.categoryPanelItemsNumber %}
                                                    <div class="col-lg-12 addAdvertFiltersButtons">
                                                        <div class="mainPageFiltersShowResults">
                                                            <button onclick="showHideAllCategories($(this))" data-text="{% trans %}Свернуть{% endtrans %}">{% trans %}Показать все марки{% endtrans %}</button>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="notAllowedCategory">
                                            {% trans %}Ваш тариф не позволяет добавлять объявления в эту категорию{% endtrans %}
                                        </div>
                                    {% endif %}
                                </div>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
        </div>
        <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky">
            {% include 'DashboardCommonBundle:Product:add/steps.html.twig' with {'locale' : locale, 'advertInfo' : advertInfo} %}
        </div>
    </div>
</div>
<div class="modal fade" id="addAdvertModal" tabindex="-1" role="dialog" aria-labelledby="regionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26 1.4524L24.5476 0L13 11.5578L1.4524 0L0 1.4524L11.5578 13L0 24.5476L1.4524 26L13 14.4422L24.5476 26L26 24.5476L14.4422 13L26 1.4524Z" fill="white"/>
                </svg>
            </button>
            <div class="modal-header" style="border:none">
                <h3 class="modal-title" id="addAdvertModalHeader"></h3>
            </div>
            <div class="modal-body">
                <div class="productToolsText" id="addAdvertModalText"></div>
                <div class="productToolsButtons cookieAlertButton" id="productToolsButtons"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


