{% if boards %}
    <td><div class="advertFiltersItemName">{% trans %}Поколение{% endtrans %}</div></td>
    <td>
            <div class="advertFiltersItemValue">
                <div class="addAdvertGenerations">
                    {% for board in boards %}
                    <div class="addAdvertGeneration" onclick="getGenerationEngine({{board.generation.id }},'{{ locale.code }}', $(this))">
                        <img src="{{ asset('bundles/images/category/generation/' ~ board.image) }}" alt="" title="" />
                        <div class="addAdvertGenerationName">{{ board.generation.name }}</div>
                        <div class="addAdvertGenerationYears">{{ board.generation.yearFrom }} - {{ board.generation.yearTo }}</div>
                    </div>    
                    {% endfor %}
                </div>
            </div>
    </td>
{% endif %}
