{% if category %}
    <div class="row content-row">
    <div class="col-lg-9 col-md-9 left-column">
        <div class="content-block-header">
            <h3>
                {% if category.parent.translations | length > 0 %}
                    {% for translation in category.parent.translations %}
                        {% if translation.locale.id == locale.id %}
                            {{ translation.value }}
                        {% endif %}
                    {% endfor %}
                {% else %}        
                    {{ category.parent.title}}
                {% endif %}
                 / 
                {% if category.translations | length > 0 %}
                    {% for translation in category.translations %}
                        {% if translation.locale.id == locale.id %}
                            {{ translation.value }}
                        {% endif %}
                    {% endfor %}
                {% else %}        
                    {{ category.title}}
                {% endif %} 
                {% if generation.translations | length > 0 %}
                    {% for translation in generation.translations %}
                        {% if translation.locale.id == locale.id %}
                            {{ translation.value }}
                        {% endif %}
                    {% endfor %}
                {% else %}        
                    {{ generation.name }}
                {% endif %} 
            </h3>
        </div>
        <div class="addAdvertStepNavigation">
                <a href="javascript:void(0)" onclick="getStep4('{{ locale.code }}')" class="back">{% trans %}Вернуться назад{% endtrans %}</a>
                <a href="javascript:void(0)" class="clear" onclick="removeSession()">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:10px">
                    <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"></path>
                </svg>{% trans %}Очистить{% endtrans %}</a>
        </div>
            <div class="advertFiltersItems justFilter">
                <div class="advertFiltersItem justFilter">
                    <div class="advertFiltersItemName">{% trans %}Контакты{% endtrans %}</div>
                    <div class="advertFiltersItemValue static-filters" style="padding-right: 0;">
                        <table class="table table-striped" id="advertFiltersItemsTable">
                            <tr>
                                <td><span class="addAdvertParameterLabel">{% trans %}Имя{% endtrans %}<sup> *</sup></span></td>
                                <td>
                                    {% if user %}
                                        <input value="{{ user.userinfo.firstname }} {{ user.userinfo.lastname }}" name="contactName" placeholder="{% trans %}Иван Иванов{% endtrans %}" class="parameterValue" required="required" type="text" />
                                    {% else %}
                                        <input name="contactName" placeholder="{% trans %}Иван Иванов{% endtrans %}" class="parameterValue" required="required" type="text" />
                                    {% endif %}
                                </td>
                                <td><span class="addAdvertParameterLabel">{% trans %}Индекс города{% endtrans %}<sup> *</sup></span></td>
                                <td>
                                    <div class="addAdvertContextParamenter">
                                        <input name="contactCityCode" placeholder="{% trans %}Индекс{% endtrans %}" class="parameterValue" onkeyup="getCityCodesByValue($(this),'{{ locale.code}}')" required="required" type="text" />
                                        <div class="addAdvertContextParamenterValues"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="addAdvertParameterLabel">{% trans %}Телефон{% endtrans %}<sup> *</sup></span></td>
                                <td>
                                    {% if user %}
                                        <input value="{{ user.userinfo.phone }}" name="contactPhone" placeholder="{% trans %}Телефон{% endtrans %}" class="parameterValue masked-phone" required="required" type="text"/>
                                    {% else %}
                                        <input name="contactPhone" placeholder="{% trans %}Телефон{% endtrans %}" class="parameterValue masked-phone" required="required" type="text" />
                                    {% endif %}
                                    <script>$(".masked-phone").mask("+34 99 999 99 99");</script>
                                </td>
                                <td><span class="addAdvertParameterLabel">{% trans %}Город{% endtrans %}<sup> *</sup></span></td>
                                <td>
                                    <div class="addAdvertContextParamenter">
                                        {% if user and user.userinfo.city %}
                                            <input value="{{ user.userinfo.city.name }}" name="contactCity" placeholder="{% trans %}Город{% endtrans %}}" class="parameterValue" required="required" onkeyup="getCitiesByValue($(this), '{{ locale.code }}')" type="text" />
                                        {% else %}
                                            <input name="contactCity" placeholder="{% trans %}Город{% endtrans %}" class="parameterValue" onkeyup="getCitiesByValue($(this), '{{ locale.code }}')" required="required" type="text" />
                                        {% endif %}
                                        <div class="addAdvertContextParamenterValues"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="addAdvertParameterLabel">{% trans %}E-mail{% endtrans %}<sup> *</sup></span></td>
                                <td>
                                    {% if user %}
                                        <input value="{{ user.email }}" name="contactEmail" placeholder="{% trans %}E-mail{% endtrans %}" class="parameterValue" required="required" type="text" />
                                    {% else %}
                                        <input name="contactEmail" placeholder="{% trans %}E-mail{% endtrans %}" class="parameterValue" required="required" type="text" />
                                    {% endif %}
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="advertFiltersItem justFilter">
                    <div class="advertFiltersItemName">{% trans %}Ваше объявление{% endtrans %}</div>
                    <div class="advertFiltersItemValue" style="padding-right: 0;display: block;">
                        <div class="categoryAdverts list">
                            <div class="categoryAdvertCover">
                                        <div class="categoryAdvert addAdvert">
                                            <div class="categoryAdvertImages">
                                                {% if advertImages %}
                                                    <img src="{{ asset('bundles/images/products/' ~ advertImages[0].name) }}" alt="" title="" />
                                                {% endif %}
                                            </div>
                                            <div class="categoryAdvertInfo">
                                                <div class="categoryAdvertCommonInfo">
                                                    <div class="categoryAdvertMainInfo">
                                                        <div class="categoryAdvertName">
                                                            {% if category.parent.translations | length > 0 %}
                                                                {% for translation in category.parent.translations %}
                                                                    {% if translation.locale.id == locale.id %}
                                                                        {{ translation.value }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}        
                                                                {{ category.parent.title}}
                                                            {% endif %}
                                                             / 
                                                            {% if category.translations | length > 0 %}
                                                                {% for translation in category.translations %}
                                                                    {% if translation.locale.id == locale.id %}
                                                                        {{ translation.value }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}        
                                                                {{ category.title}}
                                                            {% endif %} 
                                                            {% if generation.translations | length > 0 %}
                                                                {% for translation in generation.translations %}
                                                                    {% if translation.locale.id == locale.id %}
                                                                        {{ translation.value }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}        
                                                                {{ generation.name }}
                                                            {% endif %} 
                                                        </div>
                                                        <div class="categoryAdvertTypes">
                                                            <div class="categoryAdvertType">
                                                                {{ board.value }}
                                                            </div>
                                                            <div class="categoryAdvertType">
                                                                {{ shape.title }}
                                                            </div>
                                                            {% if advertInfo.garant %}
                                                                <div class="categoryAdvertType garant">
                                                                    {% trans %}Гарантия{% endtrans %}
                                                                    <div class="categoryAdvertGarantNum">{{ advertInfo.garant }}</div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="categoryAdvertInfoFeatures">
                                                            <div class="categoryAdvertInfoFeature grid">{{ advertInfo.year }}, {{ advertInfo.probeg }} {% trans %}км{% endtrans %}</div>
                                                            <div class="categoryAdvertInfoFeature">{{ modification.size }} / {{ modification.power }} {% trans %}л.с.{% endtrans %} / {{ gas.value }}</div>
                                                            <div class="categoryAdvertInfoFeature">{{ transmission.value }} {% trans %}привод{% endtrans %}</div>
                                                            <div class="categoryAdvertInfoFeature">{{ gear.value }}</div>
                                                            <div class="categoryAdvertInfoFeature">
                                                                {{ color.value }}
                                                            </div>
                                                        </div>
                                                        <div class="categoryAdvertInfoRegion">
                                                            <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 3.37939C5.10444 3.37939 4.71776 3.49265 4.38886 3.70483C4.05996 3.91702 3.80362 4.2186 3.65224 4.57145C3.50087 4.9243 3.46126 5.31257 3.53843 5.68716C3.6156 6.06174 3.80608 6.40582 4.08579 6.67588C4.36549 6.94594 4.72186 7.12985 5.10982 7.20436C5.49778 7.27887 5.89992 7.24063 6.26537 7.09447C6.63082 6.94832 6.94318 6.70081 7.16294 6.38325C7.3827 6.0657 7.5 5.69235 7.5 5.31043C7.5 4.79829 7.28929 4.30712 6.91422 3.94498C6.53914 3.58284 6.03043 3.37939 5.5 3.37939V3.37939ZM5.5 6.27595C5.30222 6.27595 5.10888 6.21932 4.94443 6.11323C4.77998 6.00714 4.65181 5.85634 4.57612 5.67992C4.50043 5.50349 4.48063 5.30936 4.51922 5.12207C4.5578 4.93477 4.65304 4.76274 4.79289 4.62771C4.93275 4.49268 5.11093 4.40072 5.30491 4.36346C5.49889 4.32621 5.69996 4.34533 5.88269 4.41841C6.06541 4.49149 6.22159 4.61524 6.33147 4.77402C6.44135 4.9328 6.5 5.11947 6.5 5.31043C6.5 5.5665 6.39464 5.81208 6.20711 5.99315C6.01957 6.17422 5.76522 6.27595 5.5 6.27595V6.27595Z" fill="#616161"></path>
        <path d="M5.5 0C4.04131 0 2.64236 0.559481 1.61091 1.55536C0.579463 2.55125 0 3.90195 0 5.31034C0 9.8531 5 13.2855 5.215 13.4303L5.5 13.6234L5.785 13.4303C6 13.2855 11 9.8531 11 5.31034C11 3.90195 10.4205 2.55125 9.38909 1.55536C8.35764 0.559481 6.95869 0 5.5 0ZM5.5 12.431C4.465 11.649 1 8.76207 1 5.31034C1 4.15802 1.47411 3.0529 2.31802 2.23809C3.16193 1.42327 4.30653 0.965517 5.5 0.965517C6.69347 0.965517 7.83807 1.42327 8.68198 2.23809C9.52589 3.0529 10 4.15802 10 5.31034C10 8.76207 6.535 11.649 5.5 12.431Z" fill="#616161"></path>
        </svg>
                                                            <span>Seville</span>
                                                        </div>
                                                    </div>
                                                    <div class="categoryAdvertInfoPrice">
                                                        <div class="categoryAdvertPrice">
                                                            {{ advertInfo.price }} &euro;
                                                        </div>
                                                    </div>
                                                    <div class="categoryAdvertInfoYear">{{ advertInfo.year }}</div>
                                                    <div class="categoryAdvertInfoProbeg">{{ advertInfo.probeg }} {% trans %}км{% endtrans %}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
                {% if role.servicePacks or role.services %}
                <div class="advertFiltersItem justFilter">
                    <div class="advertFiltersItemValue" style="padding-right: 0;">
                        <div class="advertFiltersServicesTabs">
                            <ul class="nav nav-tabs addAdvertServicesTabs" id="myTab" role="tablist">
                                {% if role.servicePacks %}
                                    {% set num = 1 %}
                                    {% for servicePack in role.servicePacks %}
                                        {% set packPrice = 0 %}
                                        {% if servicePack.prices %}
                                            {% for price in servicePack.prices %}
                                                {% if price.category.id == baseCategory.id %}
                                                    {% set packPrice = price.price %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% set packPrice = price.price %}
                                        {% endif %}
                                        <li class="nav-item {% if num == 1 %}active{% endif %}">
                                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#servicePack{{ servicePack.id }}" role="tab" aria-controls="home" aria-selected="true" onclick="selectServicePack({{ servicePack.id }}, '{{ packPrice }} {{ locale.currency.label | raw }}', '{% trans %}Разместить и оплатить{% endtrans %}')">
                                                {% if servicePack.translations | length > 0 %}
                                                    {% for translation in servicePack.translations %}
                                                        {% if translation.locale.id == locale.id %}
                                                            {{ translation.value | raw }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}        
                                                    {{ servicePack.name | raw }}
                                                {% endif %} 
                                                <span class="tabServicePrice">
                                                    {{ packPrice }} {{ locale.currency.label | raw }}
                                                </span>
                                            </a>
                                        </li>
                                        {% if num == 1 %}
                                            <script>selectServicePack({{ servicePack.id }}, '{{ packPrice }} {{ locale.currency.label | raw }}', '{% trans %}Разместить и оплатить{% endtrans %}');</script>
                                        {% endif %}
                                        {% set num = num + 1 %}
                                    {% endfor %}
                                {% endif %}
                                {% if role.services | length > 0 %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#services" role="tab" aria-controls="contact" aria-selected="false" onclick="selectService($(this), '{% trans %}Разместить{% endtrans %}')">
                                            {% trans %}Estándar<br/>venta{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                                <div class="tab-content addAdvertServiceTabsBlock" id="myTabContent">
                                    {% if role.servicePacks %}
                                        {% set num = 1 %}
                                        {% for servicePack in role.servicePacks %}
                                            <div class="tab-pane fade {% if num == 1 %}active in{% endif %}" id="servicePack{{ servicePack.id }}" role="tabpanel" aria-labelledby="home-tab">
                                                <div class="{{ servicePack.bgClass }}">
                                                    <div class="addAdvertServiceDescriptionBg"></div>
                                                    <div class="addAdvertServiceDescription">
                                                        {{ servicePack.description | raw }}
                                                    </div>
                                                    {% if servicePack.services | length > 0 %}
                                                        <div class="addAdvertServiceItems">
                                                            {% for service in servicePack.services %}
                                                                <div class="addAdvertServiceItem">
                                                                    <div class="addAdvertServiceItemIcon">
                                                                        {{ service.service.icon | raw }}
                                                                    </div>
                                                                    <div class="addAdvertServiceItemName">
                                                                        <div class="addAdvertServiceItemTitle">{{ service.service.title }}</div>
                                                                        <div class="addAdvertServiceItemSubtitle">{{ service.label }}</div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}    
                                                </div>
                                            </div>
                                            {% set num = num + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if role.services | length > 0 %}
                                    <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="service">
                                            <div class="addAdvertServiceDescriptionBgGray"></div>
                                            <div class="addAdvertServiceDescription">
                                                {{ settings.serviceTabText | raw }}
                                            </div>
                                            <div class="addAdvertServiceItems">
                                                {% for service in role.services %}
                                                    {% set servicePrice = 0 %}
                                                    {% if service.prices %}
                                                        {% for price in service.prices %}
                                                            {% if price.category.id == baseCategory.id %}
                                                                {% set servicePrice = price.price %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {% set servicePrice = service.price %}
                                                    {% endif %}
                                                    <div class="addAdvertServiceItem">
                                                        <div class="addAdvertServiceItemIcon">
                                                            {{ service.icon | raw }}
                                                        </div>
                                                        <div class="addAdvertServiceItemName">
                                                            <div class="addAdvertServiceItemTitle">
                                                                {% if service.translations | length > 0 %}
                                                                    {% for translation in service.translations %}
                                                                        {% if translation.locale.id == locale.id %}
                                                                            {{ translation.value }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% else %}        
                                                                    {{ service.title }}
                                                                {% endif %} 
                                                            </div>
                                                            <div class="addAdvertServiceItemSubtitle">{{ service.days }} {% trans %}дней{% endtrans %}</div>
                                                        </div>
                                                        <div class="addAdvertServiceItemCheckbox">
                                                            <div class="addAdvertServiceItemCheck" data-price="{{ servicePrice }}" onclick="addService($(this), '{% trans %}Разместить{% endtrans %}', '{% trans %}Разместить и оплатить{% endtrans %}','{{ locale.currency.label | raw }}')">
                                                                <input name="service[]" value="{{ service.id }}" type="checkbox" /> 
                                                            </div>
                                                            {{ servicePrice }} {{ locale.currency.label | raw }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <input name="servicePack" value="" type="hidden" />
            </div>
            <div class="cookieAlertButton nextStep" style="padding-bottom: 3rem;">
                <div class="addAdvertUserAgreement">
                    Нажимая на кнопку «Опубликовать объявление», вы принимаете условия <a href="">Пользовательского соглашения</a>
                </div>
                <button onclick="addAdvert('{{ locale.code }}','{% trans %}Заполните поля помеченный звездочкой{% endtrans %}', null)" id="addAdvertFinalButton">{% trans %}Разместить и оплатить <span>6,99</span> &euro;{% endtrans %}</button>
            </div> 
            <div class="cookieAlertButton nextStep gray">
                <button onclick="addAdvert('{{ locale.code }}','{% trans %}Заполните поля помеченный звездочкой{% endtrans %}', 1)">{% trans %}Сохранить как черновик{% endtrans %}</button>
            </div>
    </div>
        <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky">
             {% include 'DashboardCommonBundle:Product:add/steps.html.twig' with {'locale' : locale, 'advertInfo' : advertInfo} %}
        </div>
    </div>
{% endif %}