{% if category %}
    <div class="row content-row">
    <div class="col-lg-9 col-md-9 left-column">
        <div class="content-block-header">
            <h3>{{ category.parent.title}} / {{ category.title}} {% if modification %}{{ modification.label }}{% endif %}</h3>
        </div>
        <div class="addAdvertStepNavigation">
                <a href="javascript:void(0)" onclick="getStep12({{ category.id }}, '{{ locale.code }}')" class="back">{% trans %}Вернуться назад{% endtrans %}</a>
                <a href="javascript:void(0)" class="clear" onclick="removeSession()">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:10px">
                    <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"></path>
                </svg>{% trans %}Очистить{% endtrans %}</a>
        </div>
        <div class="advertFiltersTable">
            <div class="advertFiltersTableHeader">{% trans %}Внешний вид{% endtrans %}</div>
            <div class="advertFiltersItems">
                <table class="table table-striped" id="advertFiltersItemsTable">
                    <tbody>
                        {% if baseCategory.filters | length > 0 %}
                            {% for filter in baseCategory.filters %}
                                {% if filter.type.name == 'color' and filter.step == '2'%}
                                <tr>
                                    <td>
                                        <div class="advertFiltersItemName">{{ filter.name }}</div>
                                    </td>
                                    <td>
                                        <div class="advertFiltersItemName">{{ filter.name }}</div>
                                        <div class="advertFiltersItemValue">
                                            <ul class="list-unstyled list-inline color">
                                                {% if filter.values | length > 0 %}
                                                    {% for color in filter.values %}
                                                        <li><a href="javascript:void(0)" style="background-color: {{ color.additionalValue }}" title="{{ color.value }}" onclick="setColor({{ color.id }},'{{ locale.code }}',$(this))" {% if advertInfo.color == color.id %}class="active"{% endif %}></a></li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <tr class="addAdvertFotoBlock">
                            <td><div class="advertFiltersItemName">{% trans %}Фотографии{% endtrans %}</div></td>
                            <td>
                                <div class="advertFiltersItemValue fotos" id="advertFotos">
                                    <div class="advertFotosStartBg">
                                        <div class="addFotoIcon"><div class="addFotoIconInner"></div></div><div class="addFotoDescription">{% trans %}Кликните для загрузки изображений, можно выбрать несколько. Общее количество изображений не должно превышать 30.{% endtrans %}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cookieAlertButton nextStep">
                <button onclick="getStep3('{{ locale.code }}')">{% trans %}Следующий шаг{% endtrans %}</button>
            </div>
        </div>            
    </div>
        <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky">
             {% include 'DashboardCommonBundle:Product:add/steps.html.twig' with {'locale' : locale, 'advertInfo' : advertInfo} %}
        </div>
    </div>
    <script>
        myDropzone = new Dropzone("div#advertFotos", {
            url: "/account/advert/ajaxloadfotos",
            dictDefaultMessage : '<div class="advertFotosStartBg"><div class="addFotoIcon"><div class="addFotoIconInner"></div></div><div class="addFotoDescription">{% trans %}Кликните для загрузки изображений, можно выбрать несколько. Общее количество изображений не должно превышать 30.{% endtrans %}</div></div>',
            maxFiles : 30,
            maxFilesize: 256,
            filesizeBase: 1024,
            previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  \n\
                                                                <div class=\"dz-image\">\n\
                                                                    <img data-dz-thumbnail />\n\
                                                                </div>\n  \n\
                                                                \n\
                                                                <div class=\"dz-progress\">\n\
                                                                    <span class=\"dz-upload\" data-dz-uploadprogress></span>\n\
                                                                </div>\n  \n\
                                                                <div class=\"dz-error-message\">\n\
                                                                    <span data-dz-errormessage></span>\n\
                                                                </div>\n  \n\</div>",
            acceptedFiles: 'image/*',
            thumbnailWidth: 260,
            thumbnailHeight: 150,
            addRemoveLinks:true,
            dictRemoveFile: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/><path d="M15 9L9 15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9L15 15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
            dictCancelUploadConfirmation : ' ',
            init:function() {
                {% if advertImages | length > 0 %}
                    $(".advertFotosStartBg").remove();
                {% endif%}
                var myDropzone = this;
                var existingFiles = [
                    {% if advertImages | length > 0 %}
                        {% for image in advertImages %}
                            { name: "{{ image.name }}", size: 12345678,imageUrl:'/bundles/images/products/{{ image.name }}' },
                        {% endfor%}
                    {% endif %}
                ];
                for (i = 0; i < existingFiles.length; i++) {
                    myDropzone.emit("addedfile",existingFiles[i]);
                    myDropzone.files.push(existingFiles[i]);
                    var imageName = document.createAttribute("imageName");
                    imageName.value = existingFiles[i].name;
                    myDropzone.files[i].previewElement.attributes.setNamedItem(imageName);
                    myDropzone.createThumbnailFromUrl(existingFiles[i], existingFiles[i].imageUrl);
                    myDropzone.emit("complete", existingFiles[i]);
                }
                myDropzone.options.dictCancelUploadConfirmation = '';
                var existingFileCount = existingFiles.length; 
                myDropzone.options.maxFiles = myDropzone.options.maxFiles - existingFileCount;
                var fotosNum = $(".dz-preview").length;
                if(myDropzone.options.maxFiles != 0 && fotosNum > 0){
                    $("div#advertFotos").append('<div class="addFotoIcon"><div class="addFotoIconInner">{% trans %}Осталось{% endtrans %} ' + myDropzone.options.maxFiles + '</div></div>');
                    $(".addFotoIcon").click(function(){$("#advertFotos").trigger('click');});
                }
            },
            complete: function complete(file) {
                if (file._removeLink) {
                    file._removeLink.innerHTML = this.options.dictRemoveFile;
                }
                if (file.previewElement) {
                    return file.previewElement.classList.add("dz-complete");
                }
            },
            success: function(file, response){
                var answer = JSON.parse(response);
                $(".advertFotosStartBg").remove();
                $(".addFotoIcon").remove();
                
                if(answer.imageName){
                    var imageName = document.createAttribute("imageName");
                    imageName.value = answer.imageName;
                    file.previewElement.attributes.setNamedItem(imageName);
                }
                
                $("div#advertFotos").append('<div class="addFotoIcon"><div class="addFotoIconInner">{% trans %}Осталось{% endtrans %} ' + (30 - $(".dz-preview").length) + '</div></div>');
                $(".addFotoIcon").click(function(){$("#advertFotos").trigger('click');});
            },
            error: function(file){
                myDropzone.removeFile(file);
            },
            removedfile: function(file){
                $(".addFotoIcon").remove();
                
                var _ref;
                var ret = (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                
                $("div#advertFotos").append('<div class="addFotoIcon"><div class="addFotoIconInner">{% trans %}Осталось{% endtrans %} ' + (30 - $(".dz-preview").length) + '</div></div>');
                $(".addFotoIcon").click(function(){$("#advertFotos").trigger('click');});
                
                if($(".dz-preview").length === 0){
                    $("div#advertFotos").html(this.options.dictDefaultMessage);
                    $(".advertFotosStartBg").click(function(){$("#advertFotos").trigger('click');});
                }
                
                var imageName = file.previewElement.attributes.getNamedItem("imageName").value;
                $.ajax({
                    url: '/account/addadvert/deleteimage/' + imageName,
                    type:'get',
                    dataType: 'html'
                });
                
                return ret;
            }
            });
        $(".advertFotosStartBg").click(function(){$("#advertFotos").trigger('click');});
    </script>
{% endif %}