{% if category %}
<div class="row content-row">
        <div class="col-lg-9 col-md-9 left-column">
                <div class="content-block-header">
                    <h3>
                        {% if category.translations | length > 0 %}
                            {% for translation in category.translations %}
                                {% if translation.locale.id == locale.id %}
                                    {{ translation.value }}
                                {% endif %}
                            {% endfor %}
                        {% else %}        
                            {{ category.title}}
                        {% endif %}
                    </h3>
                </div>
                    <div class="addAdvertStepNavigation">
                        <a href="{{ path('addAdvert') }}" class="back">{% trans %}Вернуться назад{% endtrans %}</a>
                        <a href="javascript:void(0)" class="clear" onclick="removeSession()">
                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:10px">
                            <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"></path>
                        </svg>{% trans %}Очистить{% endtrans %}</a>
                    </div>
                    <div class="mainPageFiltersTabs category-filters active">
                        {% if category.children | length > 0 %}
                            <div class="tab-content justTab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="searchCategoryFiled">
                                            <input type="text" placeholder="{% trans %}Выберите модель{% endtrans %}" onkeyup="selectCategoryItems($(this), {{ settings.categoryPanelItemsNumber}})"/>
                                        </div>
                                        <div class="mainPageAutoList">
                                            <ul class="list-unstyled list-inline justLinks">
                                                {% for child in category.children %}
                                                    {% set categoryTitle = '' %}
                                                    {% if child.translations | length > 0 %}
                                                        {% for translation in child.translations %}
                                                            {% if translation.locale.id == locale.id %}
                                                                {% set categoryTitle =  translation.value %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}        
                                                        {% set categoryTitle = child.title %}
                                                    {% endif %}
                                                    <li class="categoryItem visible" data-title="{{ categoryTitle | lower }}">
                                                        <a href="javascript:void(0)" onclick="getStep12({{ child.id }}, '{{ locale.code }}')" >
                                                            {{ categoryTitle }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-content justTab">
                                <div class="row">
                                    <div class="col-lg-12 no-result">
                                        {% trans %}Моделей для этого авто не найдено{% endtrans %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
        </div>
        <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky">
            {% include 'DashboardCommonBundle:Product:add/steps.html.twig' with {'locale' : locale, 'advertInfo' : advertInfo} %}
        </div>
    </div>
{% endif %}
