{% if category %}
<div class="row content-row">
    <div class="col-lg-9 col-md-9 left-column">
        <div class="content-block-header">
            <h3>
                {{ category.parent.title}} / {{ category.title}}
            </h3>
        </div>
        <div class="addAdvertStepNavigation">
                <a href="javascript:void(0)" onclick="getStep11({{ category.parent.id }}, '{{ locale.code }}')" class="back">{% trans %}Вернуться назад{% endtrans %}</a>
                <a href="javascript:void(0)" class="clear" onclick="removeSession()">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:10px">
                    <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"></path>
                </svg>{% trans %}Очистить{% endtrans %}</a>
        </div>
        <div class="advertFiltersTable">
            <div class="advertFiltersTableHeader">{% trans %}Выбор автомобиля{% endtrans %}</div>
            <div class="advertFiltersItems">
                <table class="table table-striped" id="advertFiltersItemsTable">
                    <tbody>
                    <tr>
                        <td><div class="advertFiltersItemName">{% trans %}Год{% endtrans %}</div></td>
                        <td>
                            <div class="advertFiltersItemName">{% trans %}Год{% endtrans %}</div>
                            <div class="advertFiltersItemValue">
                                {% if (category.yearTo - category.yearFrom) <= 10 %}
                                    <ul class="list-unstyled list-inline years">
                                        {% for i in category.yearTo .. category.yearFrom %}
                                            <li onclick="radioSetActive($(this))">
                                                <a href="javascript:void(0" onclick="getBoardTypesByYear({{ i }},'{{ locale.code }}')"  {% if i == advertInfo.year %}class="active"{% endif %}>{{ i }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="list-unstyled list-inline years">
                                        {% for i in category.yearTo .. category.yearTo - 10 %}<li onclick="radioSetActive($(this))"><a href="javascript:void(0)" onclick="getBoardTypesByYear({{ i }},'{{ locale.code }}', '{% trans %}Старше{% endtrans %}')"  {% if i == advertInfo.year %}class="active"{% endif %}>{{ i }}</a></li>{% endfor %}
                                        <li class="yearsOlder">
                                            <a href="javascript:void(0)" onclick="showYearsOlder(event)" class="olderBloakcTrigger" >
                                                <span>Старше</span>
                                                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 1.4rem;">
                                                    <path d="M11.2583 0.105469L11.9839 0.837385L5.99984 6.89426L0.0158004 0.837385L0.737626 0.105468L5.99984 5.42689L11.2583 0.105469Z" fill="#616161"/>
                                                </svg>
                                            </a>
                                            <div class="yearsOlderItems">
                                                {% for i in category.yearTo - 11 .. category.yearFrom %}
                                                    <div class="yearsOlderItem"><a href="javascript:void(0)" onclick="getBoardTypesByOldYear({{ i }},'{{ locale.code }}', $(this))">{{ i }}</a></div>
                                                    {% if i == advertInfo.year %}
                                                    <script>
                                                        $(".olderBloakcTrigger span").html({{i}});
                                                        $(".years").find('li').each(function(){$(this).find('a').removeClass('active');});
                                                        $(".olderBloakcTrigger").addClass('active');
                                                    </script>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr id="addAdvertCarBoards">
                        {% include 'DashboardCommonBundle:Product:add/boards.html.twig' with {'boards' : boards, 'locale' : locale,'advertInfo' : advertInfo} %}
                    </tr>
                    <tr id="addAdvertCarEngines">
                        {% include 'DashboardCommonBundle:Product:add/gasTypes.html.twig' with {'gasTypes' : gasTypes, 'locale' : locale,'advertInfo' : advertInfo} %}
                    </tr>
                    <tr id="addAdvertCarGears">
                        {% include 'DashboardCommonBundle:Product:add/gearTypes.html.twig' with {'gearTypes' : gearTypes, 'locale' : locale,'advertInfo' : advertInfo} %}
                    </tr>
                    <tr id="addAdvertCarTransmittions">
                        {% include 'DashboardCommonBundle:Product:add/transmittionTypes.html.twig' with {'transmittionTypes' : transmittionTypes, 'locale' : locale,'advertInfo' : advertInfo} %}
                    </tr>
                    <tr id="addAdvertCarModifications">
                        {% include 'DashboardCommonBundle:Product:add/modifications.html.twig' with {'modifications' : modifications, 'locale' : locale,'advertInfo' : advertInfo} %}
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="cookieAlertButton nextStep {% if not advertInfo.modification %}hide{% endif %}">
                <button onclick="getStep2('{{ locale.code }}')">{% trans %}Следующий шаг{% endtrans %}</button>
            </div>
        </div>            
    </div>
        <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky">
             {% include 'DashboardCommonBundle:Product:add/steps.html.twig' with {'locale' : locale, 'advertInfo' : advertInfo} %}
        </div>
    </div>
{% endif %}
