{% if category %}
    <div class="row content-row">
    <div class="col-lg-9 col-md-9 left-column">
        <div class="content-block-header">
            <h3>
                {% if category.parent.translations | length > 0 %}
                    {% for translation in category.parent.translations %}
                        {% if translation.locale.id == locale.id %}
                            {{ translation.value }}
                        {% endif %}
                    {% endfor %}
                {% else %}        
                    {{ category.parent.title}}
                {% endif %}
                 / 
                {% if category.translations | length > 0 %}
                    {% for translation in category.translations %}
                        {% if translation.locale.id == locale.id %}
                            {{ translation.value }}
                        {% endif %}
                    {% endfor %}
                {% else %}        
                    {{ category.title}}
                {% endif %} 
                {% if generation.translations | length > 0 %}
                    {% for translation in generation.translations %}
                        {% if translation.locale.id == locale.id %}
                            {{ translation.value }}
                        {% endif %}
                    {% endfor %}
                {% else %}        
                    {{ generation.name }}
                {% endif %} 
            </h3>
        </div>
        <div class="addAdvertStepNavigation">
                <a href="javascript:void(0)" onclick="getStep3('{{ locale.code }}')" class="back">{% trans %}Вернуться назад{% endtrans %}</a>
                <a href="javascript:void(0)" class="clear" onclick="removeSession()">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:10px">
                    <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"></path>
                </svg>{% trans %}Очистить{% endtrans %}</a>
        </div>
            <div class="advertFiltersItems justFilter">
                <div class="advertFiltersItem justFilter">
                    <div class="advertFiltersItemName">{% trans %}Состояние автомобиля{% endtrans %}</div>
                    <div class="advertFiltersItemValue static-filters" style="padding-right: 0;">
                        <table class="table table-striped" id="advertFiltersItemsTable">
                            <tr>
                                <td><span class="addAdvertParameterLabel">{% trans %}Пробег{% endtrans %}</span></td>
                                <td><input type="text" name="probeg" placeholder="{% trans %}км{% endtrans %}" class="parameterValue" {% if advertInfo.probeg %}value="{{ advertInfo.probeg }}"{% endif %}/></td>
                                <td><span class="addAdvertParameterLabel">{% trans %}Состояние{% endtrans %}</span></td>
                                <td>
                                    <select name="condition" class="custom-select" placeholder="{% trans %}Выберите состояние{% endtrans %}">
                                        {% if conditions %}
                                            {% for condition in conditions %}
                                                <option value="{{ condition.id }}" {% if advertInfo.condition == condition.id %}selected="selected"{% endif %}>
                                                    {% if condition.translations | length > 0 %}
                                                        {% for translation in condition.translations %}
                                                            {% if translation.locale.id == locale.id %}
                                                                {{ translation.value }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}        
                                                        {{ condition.title }}
                                                    {% endif %} 
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="addAdvertParameterLabel">{% trans %}Владельцы{% endtrans %}</span></td>
                                <td>
                                    <select name="owners" class="custom-select" placeholder="{% trans %}Количество владельцев{% endtrans %}">
                                        <option value="Один" {% if advertInfo.owners == 'Один' %}selected="selected"{% endif %}>Один</option>
                                        <option value="Два" {% if advertInfo.owners == 'Два' %}selected="selected"{% endif %}>Два</option>
                                        <option value="Три" {% if advertInfo.owners == 'Три' %}selected="selected"{% endif %}>Три</option>
                                        <option value="Больше трех" {% if advertInfo.owners == 'Больше трех' %}selected="selected"{% endif %}>Больше трех</option>
                                    </select>
                                </td>
                                <td><span class="addAdvertParameterLabel">{% trans %}VIN Номер{% endtrans %}</span></td>
                                <td>
                                    <input type="text" name="vin" placeholder="{% trans %}17 знаков{% endtrans %}" class="parameterValue" {% if advertInfo.vin %}value="{{ advertInfo.vin }}"{% endif %} />
                                </td>
                                <td>
                                    <span class="addAdvertSubParameterLabel">{% trans %}- Номер VIN на сайте не показывается{% endtrans %}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="addAdvertParameterLabel">
                                        {% trans %}Дополнительное<br/>описание{% endtrans %}
                                        <span>{% trans %}Не более 3000 знаков{% endtrans %}</span>
                                    </span>
                                </td>
                                <td colspan="3">
                                    <textarea name="description" placeholder="{% trans %}Введите описание автомобиля{% endtrans %}" class="parameterValue">{% if advertInfo.description %}{{ advertInfo.description }}{% endif %}</textarea>
                                </td>
                                <td></td>
                            </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3">
                                        <div class="addAdvertParameterDescription">
                                            <div class="addAdvertParameterDescriptionTitle">{% trans %}О чем стоит написать{% endtrans %}:</div>
                                            <div class="addAdvertParameterDescriptionText">
                                                <ul class="list-unstyled">
                                                    <li>- регулярно ли делалось тех.обслуживание,</li>
                                                    <li>- есть ли дефекты кузова и других частей автомобиля,</li>
                                                    <li>- какие ремонтные работы производились,</li>
                                                    <li>- какие расходные материалы менялись и как давно</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                        </table>
                    </div>
                </div>
                <div class="advertFiltersItem justFilter">
                    <div class="advertFiltersItemName">{% trans %}Стоимость{% endtrans %}</div>
                    <div class="advertFiltersItemValue static-filters" style="padding-right: 0;">
                        <table class="table table-striped" id="advertFiltersItemsTable">
                            <tr>
                                <td><span class="addAdvertParameterLabel">{% trans %}Цена{% endtrans %}</span></td>
                                <td>
                                    <div class="addAdvertPriceParameters">
                                        <input type="text" name="price" placeholder="{% trans %}Цена{% endtrans %}" class="parameterValue"  {% if advertInfo.price %}value="{{ advertInfo.price }}"{% endif %} style="max-width:41rem;margin-right: 7rem;"/>
                                        <div class="filter">
                                            <input name="NDS" type="checkbox" value="1" class="custom-checkbox"  {% if advertInfo.nds %}checked="checked"{% endif %} />
                                            {% trans %}НДС включен{% endtrans %}
                                        </div>
                                        <div class="filter">
                                            <input name="torg" type="checkbox" value="1" class="custom-checkbox" {% if advertInfo.torg %}checked="checked"{% endif %} />
                                            {% trans %}Торг{% endtrans %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="addAdvertParameterLabel">{% trans %}Гарантия{% endtrans %}</span></td>
                                <td>
                                    <div class="addAdvertPriceGarant">
                                        <div class="categoryAdvertType garant {% if advertInfo.garant == 1 %}active{% endif %}" onclick="selectGarant($(this))">
                                            {% trans %}Гарантия{% endtrans %}
                                            <div class="categoryAdvertGarantNum">1</div>
                                            <input name="garant" value="1" type="radio" {% if advertInfo.garant == 1 %}checked="checked"{% endif %} />
                                        </div>
                                        <div class="categoryAdvertType garant {% if advertInfo.garant == 3 %}active{% endif %}" onclick="selectGarant($(this))">
                                            {% trans %}Гарантия{% endtrans %}
                                            <div class="categoryAdvertGarantNum">3</div>
                                            <input name="garant" value="3" type="radio" {% if advertInfo.garant == 3 %}checked="checked"{% endif %} />
                                        </div>
                                        <div class="categoryAdvertType garant {% if advertInfo.garant == 7 %}active{% endif %}" onclick="selectGarant($(this))">
                                            {% trans %}Гарантия{% endtrans %}
                                            <div class="categoryAdvertGarantNum">7</div>
                                            <input name="garant" value="7" type="radio" {% if advertInfo.garant == 7 %}checked="checked"{% endif %} />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cookieAlertButton nextStep">
                <button onclick="getStep5('{{ locale.code }}')">{% trans %}Следующий шаг{% endtrans %}</button>
            </div>           
    </div>
        <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky">
             {% include 'DashboardCommonBundle:Product:add/steps.html.twig' with {'locale' : locale, 'advertInfo' : advertInfo} %}
        </div>
    </div>
{% endif %}