{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Сервисы{% endtrans %}{% endblock %}

{% block body %}
<div class="dealersContainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                {% if app.request.get('serviceAuto') or app.request.get('serviceJob') or app.request.get('serviceSearchAction') %}
                    <div class="searchReturnBlock">
                        <a href="{{ path('services') }}">
                            <svg width="21" height="26" viewBox="0 0 21 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9127 6.97806L8.18122 13.0222L13.024 18.9775" stroke="#222B2A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {% trans %}Вернутся на главную{% endtrans %}
                        </a>
                    </div>
                {% endif %}
                <form action="{{ path('services') }}" method="POST">
                <div class="mapListSearchBlock">
                        <div class="mapListSearchBlockForm">
                            <div class="formParameterField dealerSearchFormItem {% if app.request.get('serviceAuto') %}active{% endif %}" id="selectServiceAuto">
                                <input name="serviceAuto" type="text" placeholder="{% trans %}Марка авто{% endtrans %}" value="{% if app.request.get('serviceAuto') %}{{ app.request.get('serviceAuto') }}{% endif %}"/>
                                <button type="button" onclick="clearServiceAuto($(this), event)">
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="formParameterField dealerSearchFormItem {% if app.request.get('serviceJob') %}active{% endif %}" id="selectServiceJob">
                                <input name="serviceJob" type="text" placeholder="{% trans %}Тип работ{% endtrans %}" value="{% if app.request.get('serviceJob') %}{{ app.request.get('serviceJob') }}{% endif %}"  />
                                <button type="button" onclick="clearServiceJob($(this), event)">
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 0.614477L10.3855 0L5.5 4.88985L0.614477 0L0 0.614477L4.88985 5.5L0 10.3855L0.614477 11L5.5 6.11015L10.3855 11L11 10.3855L6.11015 5.5L11 0.614477Z" fill="#494949"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="formParameterField button">
                                <input name="serviceAutoId" type="hidden" value="{% if app.request.get('serviceAutoId') %}{{ app.request.get('serviceAutoId') }}{% endif %}" />
                                <input name="serviceSearchAction" type="hidden" value="1" />
                                <button type="submit" class="find" id="formFindButton">{% trans %}Найти{% endtrans %}</button>
                            </div>
                        </div>
                </div>
                <div class="servicesContentInnerBlock">
                {% if autos | length > 0 %}
                    <div class="mapListItems hide" id="serviceAutosList">
                        <div class="col-lg-12">
                            <div class="row">
                                {% for auto in autos %}
                                    <div class="col-xs-3 mapListAutoLabel {% if app.request.get('dealerAutoId') and app.request.get('dealerAutoId') == auto.id %}active{% endif %}">
                                        <a href="javascript:void(0)" class="mapListAuto" onclick="selectServiceAuto({{ auto.id }},'{{ auto.title }}',$(this))">
                                            <span class="mapListAutoLogo">{{ auto.image | raw }}</span>
                                            <span class="mapListAutoName">{{ auto.title }}</span>
                                        </a>
                                    </div>
                                {% endfor %}    
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if categories | length > 0 %}
                    <div class="mapListItems hide" id="serviceJobsList">
                        <div class="col-lg-12">
                            <div class="servicesPageJobsList">
                                {% for jobCategory in categories %}
                                    {% set checked = 0 %}
                                    {% if app.request.get('jobCategory') %}
                                        {% for categoryId in app.request.get('jobCategory') %}
                                            {% if jobCategory.id == categoryId %}
                                                {% set checked = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <div class="servicesPageServiceBlock {% if checked %}active{% endif %}" onclick="$(this).toggleClass('active')">
                                        <div class="servicesPageServiceName">
                                            <div class="servicesPageServiceNameIcon">
                                                <div class="servicesPageServiceNameIconImage">{{ jobCategory.icon | raw }}</div>
                                                <div class="servicesPageServiceMainCheckbox">
                                                    <div class="style-checkbox {% if checked %}checked{% endif %}" onclick="setJobCategory($(this), event)" id="jobCategoryId{{ jobCategory.id }}">
                                                        <input type="checkbox" name="jobCategory[]" data-value="{{ jobCategory.name }}" value="{{ jobCategory.id }}" {% if checked %}checked="checked"{% endif %} />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="servicesPageServiceNameTitle">
                                                {{ jobCategory.name }}
                                            </div>
                                        </div>
                                        {% if jobCategory.jobs | length > 0 %}
                                            <div class="servicesPageServiceSubBlock">
                                                {% for job in jobCategory.jobs %}
                                                    {% set checkedJob = 0 %}
                                                    {% if app.request.get('job') %}
                                                        {% for jobId in app.request.get('job') %}
                                                            {% if job.id == jobId %}
                                                                {% set checkedJob = 1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <div class="servicesPageServiceSubBlockItem">
                                                        <div class="servicesPageServiceNameIcon">
                                                            <div class="style-checkbox {% if checkedJob %}checked{% endif %}" onclick="setJob($(this), event)">
                                                                <input type="checkbox" name="job[]" value="{{ job.id }}" data-value="{{ job.name }}" {% if checkedJob %}checked="checked"{% endif %} />
                                                            </div>
                                                        </div>
                                                        <div class="servicesPageServiceSubBlockItemName">{{ job.name }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div> 
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if app.request.get('serviceAuto') or app.request.get('serviceJob') or app.request.get('serviceSearchAction') %}    
                    <div class="mapListItems" id="mainServicesList">
                        {% if services | length > 0 %}
                            {% for service in services %}
                                {% if service.dealerinfo.salons | length > 0 %}
                                    {% for salon in service.dealerinfo.salons %}
                                        {% if salon.isActive %}
                                            {% include 'DashboardCommonBundle:Office:item.html.twig' with {'salon' : salon} %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}    
                        {% else %}
                            <div class="serviceSearchNotFound">{% trans %}Сервисов с желаемыми параметрами не найдено{% endtrans %}</div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="mapListItems" id="mainServicesList">
                        <div class="row">
                            {% if categories %}
                                {% for category in categories %}
                                    {% if category.image %}
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mapListPopularService" onclick="setServiceJobCategoryId({{ category.id }},'{{ category.name }}')">
                                                <a href="javascript:void(0)">
                                                    <div class="mapListPopularServiceImage">
                                                        <img src="{{ asset('bundles/images/jobs/' ~ category.image) }}" alt="" title="" />
                                                    </div>
                                                    <div class="mapListPopularServiceName">
                                                        {{ category.name }}
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                {% if categories %}
                                    <div class="mapListServicesJobs">
                                        <div class="pageContentJobsLists">
                                            {% for i in 1..2 %}
                                                <div class="pageContentJobsList">
                                                    {% for j in jobsPerList*i - jobsPerList..jobsPerList*i - 1 %}
                                                        <div class="pageContentJobsItem" onclick="setServiceJobCategoryId({{ allCategories[j].id }},'{{ allCategories[j].name }}')">
                                                            <div class="pageContentJobsItemIcon">
                                                                {{ allCategories[j].icon | raw }}
                                                            </div>
                                                            <div class="pageContentJobsItemTitle">
                                                                <a href="javascript:void(0)">{{ allCategories[j].name }}</a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mapListItemsHeader">{% trans %}Популярные марки{% endtrans %}</div>
                            {% if autos | length > 0 %}
                                {% if autos | length > settings.categoryPanelItemsNumber %}
                                    <div class="mapAutoNamesList">
                                        {% for child in autos | slice(0, settings.categoryPanelItemsNumber )%}
                                            <div class="mapAutoName">
                                                <a href="javascript:void(0)" onclick="selectServiceAuto({{ child.id }},'{{ child.title }}',$(this))">{{ child.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="mapAutoNamesList hide">
                                        {% for child in autos %}
                                            <div class="mapAutoName">
                                                <a href="javascript:void(0)" onclick="selectServiceAuto({{ child.id }},'{{ child.title }}',$(this))">{{ child.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="mainPageAutoListShowAll">
                                        <button onclick="showHideAllServicesCategories($(this))" data-text="{% trans %}Свернуть{% endtrans %}">{% trans %}Показать все марки{% endtrans %}</button>
                                    </div>
                                {% else %}
                                    <div class="mapAutoNamesList">
                                        {% for child in autos %}
                                            <div class="mapAutoName">
                                                <a href="javascript:void(0)" onclick="selectServiceAuto({{ child.id }},'{{ child.title }}',$(this))">{{ child.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        <div class="mapListItemsHeader">{% trans %}Популярные сервисы{% endtrans %}</div>
                        {% for service in services %}
                            {% if service.dealerinfo.salons | length > 0 %}
                                {% for salon in service.dealerinfo.salons %}
                                    {% if salon.isActive %}
                                        {% include 'DashboardCommonBundle:Office:item.html.twig' with {'salon' : salon} %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                </form>
            </div>
            <div id="map" class="mapImage"></div>
                <script>
                    var map;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: {{ settings.centerLat }}, lng: {{ settings.centerLng }} },
                            zoom: 6
                        });
                        
                        var dealerWindows = [];
                            {% for service in services %}
                                {% if service.dealerinfo.salons | length > 0 %}
                                    {% for salon in service.dealerinfo.salons %}
                                        {% if salon.isActive %}
                                            dealerWindows[{{ salon.id }}] = '<div class="mapListItem" id="dealer{{ salon.id }}" ><a href="{{ path('servicePage',{'serviceId' : salon.id,'serviceName' : salon.name}) }}" class="mapListItemLink"></a><div class="mapListItemImage">{% if salon.logotype %}<div class="mapListItemImageSrc"><img src="{{ asset('bundles/images/dealers/salons/' ~ salon.logotype) }}" alt="{{ salon.name }}" title="{{ salon.name }}" /></div>{% endif %}<div class="mapListItemImageRating"><div class="accountReviewRating">{% set reviewRating = salon.rating %}{% if reviewRating > 0 %}{% for i in 1..reviewRating %}<svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.4741 16.4598C10.187 16.2624 9.81297 16.2624 9.52586 16.4598L4.59695 19.8476C3.89851 20.3277 3.01742 19.5906 3.32918 18.7871L5.46858 13.2727C5.61869 12.8858 5.4854 12.4433 5.14908 12.2121L0.382204 8.93567C-0.321474 8.45201 0.0106287 7.32113 0.856344 7.32113H6.00222C6.35174 7.32113 6.66604 7.10174 6.79585 6.76715L9.20637 0.553979C9.49293 -0.184659 10.5071 -0.18466 10.7936 0.553978L13.2041 6.76715C13.334 7.10174 13.6483 7.32113 13.9978 7.32113H19.1437C19.9894 7.32113 20.3215 8.45201 19.6178 8.93567L14.8509 12.2121C14.5146 12.4433 14.3813 12.8858 14.5314 13.2727L16.6708 18.7871C16.9826 19.5906 16.1015 20.3277 15.403 19.8476L10.4741 16.4598Z" fill="#F5AA01"/></svg>{% endfor %}{% endif %}{% if reviewRating < 5 %}{% for i in (reviewRating + 1)..5 %}<svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7574 16.0477C10.2996 15.7331 9.70036 15.7331 9.24264 16.0477L4.31373 19.4356C4.17172 19.5332 4.02319 19.514 3.90506 19.4152C3.78475 19.3146 3.7243 19.151 3.79532 18.9679L5.93472 13.4536C6.16664 12.8558 5.96433 12.1658 5.4323 11.8001L0.665424 8.52362C0.516486 8.42125 0.469212 8.25402 0.517993 8.08791C0.566447 7.92292 0.689557 7.82113 0.856344 7.82113H6.00222C6.56535 7.82113 7.06021 7.46811 7.262 6.948L9.67251 0.734829C9.79399 0.421724 10.206 0.421724 10.3275 0.734829L12.738 6.948C12.9398 7.46811 13.4346 7.82113 13.9978 7.82113H19.1437C19.3104 7.82113 19.4336 7.92291 19.482 8.08791C19.5308 8.25402 19.4835 8.42125 19.3346 8.52362L14.5677 11.8001C14.0357 12.1658 13.8334 12.8558 14.0653 13.4536L16.2047 18.9679C16.2757 19.151 16.2153 19.3146 16.0949 19.4152C15.9768 19.514 15.8283 19.5332 15.6863 19.4356L10.7574 16.0477Z" stroke="#F5AA01"/></svg>{% endfor %}{% endif %}</div><div class="accountReviewRatingNum">{{ salon.reviews | length }}</div></div></div><div class="mapListItemInfo"><div class="mapListItemInfoName">{{ salon.name }}</div>{% if salon.website %}<div class="mapListItemInfoText">Web: <a href="http://{{ salon.website }}">{{ salon.website }}</a></div>{% endif %}{% if salon.phones | length > 0 %}<div class="mapListItemInfoText">{% trans %}Телефоны{% endtrans %}:{% set i = 0 %}{% for phone in salon.phones %}{{ phone.phone }}{% if i < salon.phones | length - 1 %},{% endif %}{% set i = i + 1 %}{% endfor %}</div>{% endif %}<div class="mapListItemInfoText"><svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1C4.58867 1 1 4.37117 1 8.51358C1 14.7178 8.46733 20.6752 8.78533 20.9258C8.84474 20.9733 8.92012 20.9995 8.99818 21C9.07624 21.0005 9.15196 20.9751 9.212 20.9283C9.53 20.682 17 14.8272 17 8.51358C17 4.37117 13.4113 1 9 1ZM9.00133 20.2733C7.774 19.2452 1.66667 13.8616 1.66667 8.51358C1.66667 4.71491 4.95667 1.62499 9 1.62499C13.0433 1.62499 16.3333 4.71491 16.3333 8.51358C16.3333 13.9522 10.232 19.259 9.00133 20.2733Z" stroke="#616161"/><path d="M9 5C6.794 5 5 6.794 5 9C5 11.206 6.794 13 9 13C11.206 13 13 11.206 13 9C13 6.794 11.206 5 9 5ZM9 12.3333C7.162 12.3333 5.66667 10.838 5.66667 9C5.66667 7.162 7.162 5.66667 9 5.66667C10.838 5.66667 12.3333 7.162 12.3333 9C12.3333 10.838 10.838 12.3333 9 12.3333Z" stroke="#616161"/></svg>{{ salon.address }}</div></div></div>';
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                      
                        {% if coordinates | length > 0 %}
                            var markers = locations.map(function(location, i) {
                                var infowindow = new google.maps.InfoWindow({
                                    content: dealerWindows[location.id]
                                });
                                
                                var marker = new google.maps.Marker({position: {lat: location.lat, lng: location.lng}});
                                
                                marker.addListener('click', function() {
                                    map.setZoom(20);
                                    map.setCenter(marker.getPosition());
                                    infowindow.open(map, marker);
                                });

                                return marker;
                            });

                            var markerCluster = new MarkerClusterer(map, markers,{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

                        {% endif %}
                    }
                    {% if coordinates | length > 0 %}
                        var locations = [
                            {% for key, coordinate in coordinates %}
                                {lat: {{ coordinate.lat}}, lng: {{ coordinate.lng }}, id: {{ key }} },
                            {% endfor %}
                        ]
                    {% endif %}
                </script>
        </div>
    </div>                   
</div>
{% endblock %}    