{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Сервисы{% endtrans %}{% endblock %}

{% block body %}
<div class="dealersContainer">
    <div class="container">
        <div class="row">
            {% if services | length > 0 %}
            <div class="col-lg-4 col-md-4">
                <div class="mapListSearchBlock">
                    <form action="{{ path('services') }}" method="POST">
                        <div class="mapListSearchBlockForm">
                            <div class="formParameterField" id="selectAutoMark">
                                <input name="serviceAuto" type="text" placeholder="{% trans %}Марка авто{% endtrans %}" value="{% if app.request.get('serviceAuto') %}{{ app.request.get('serviceAuto') }}{% endif %}"/>
                            </div>
                            <div class="formParameterField">
                                 <input name="serviceJob" type="text" placeholder="{% trans %}Тип работ{% endtrans %}" value="{% if app.request.get('serviceJob') %}{{ app.request.get('serviceJob') }}{% endif %}"/>
                            </div>
                            <div class="formParameterField button">
                                <input name="serviceAutoId" type="hidden" value="{% if app.request.get('serviceAutoId') %}{{ app.request.get('serviceAutoId') }}{% endif %}" />
                                <input name="serviceJobId" type="hidden" value="{% if app.request.get('serviceJobId') %}{{ app.request.get('serviceJobId') }}{% endif %}" />
                                <button type="submit" class="find" id="formFindButton">{% trans %}Найти{% endtrans %}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mapListItems">
                    <div class="row">
                        {% if categories %}
                            {% for category in categories %}
                                {% if category.image %}
                                    <div class="col-lg-6 col-md-6">
                                        <div class="mapListPopularService" onclick="setServiceJobId({{ category.id }},'{{ category.name }}')">
                                            <a href="javascript:void(0)">
                                                <div class="mapListPopularServiceImage">
                                                    <img src="{{ asset('bundles/images/jobs/' ~ category.image) }}" alt="" title="" />
                                                </div>
                                                <div class="mapListPopularServiceName">
                                                    {{ category.name }}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if categories %}
                                <div class="mapListServicesJobs">
                                    <div class="pageContentJobsLists">
                                        {% for i in 1..2 %}
                                            <div class="pageContentJobsList">
                                                {% for j in jobsPerList*i - jobsPerList..jobsPerList*i - 1 %}
                                                    <div class="pageContentJobsItem" onclick="setServiceJobId({{ allCategories[j].id }},'{{ allCategories[j].name }}')">
                                                        <div class="pageContentJobsItemIcon">
                                                            {{ allCategories[j].icon | raw }}
                                                        </div>
                                                        <div class="pageContentJobsItemTitle">
                                                            <a href="javascript:void(0)">{{ allCategories[j].name }}</a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mapListItemsHeader">{% trans %}Популярные марки{% endtrans %}</div>
                    {% if autos | length > 0 %}
                            {% if autos | length > settings.categoryPanelItemsNumber %}
                                <div class="mapAutoNamesList">
                                    {% for child in autos | slice(0, settings.categoryPanelItemsNumber )%}
                                        <div class="mapAutoName">
                                            <a href="javascript:void(0)" onclick="setServiceAutoId({{ child.id }},'{{ child.title }}',$(this))">{{ child.title }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="mapAutoNamesList hide">
                                    {% for child in autos %}
                                        <div class="mapAutoName">
                                            <a href="javascript:void(0)" onclick="setServiceAutoId({{ child.id }},'{{ child.title }}',$(this))">{{ child.title }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="mainPageAutoListShowAll">
                                    <button onclick="showHideAllServicesCategories($(this))" data-text="{% trans %}Свернуть{% endtrans %}">{% trans %}Показать все марки{% endtrans %}</button>
                                </div>
                            {% else %}
                                <div class="mapAutoNamesList">
                                    {% for child in autos %}
                                        <div class="mapAutoName">
                                            <a href="javascript:void(0)" onclick="setServiceAutoId({{ child.id }},'{{ child.title }}',$(this))">{{ child.title }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                    {% endif %}
                    <div class="mapListItemsHeader">{% trans %}Популярные сервисы{% endtrans %}</div>
                    {% for service in services %}
                        {% if service.dealerinfo.salons | length > 0 %}
                            {% for salon in service.dealerinfo.salons %}
                                {% if salon.isActive %}
                                    {% include 'DashboardCommonBundle:Office:item.html.twig' with {'salon' : salon} %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="map" class="mapImage"></div>
                <script>
                    var map;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: {{ settings.centerLat }}, lng: {{ settings.centerLng }} },
                            zoom: 6
                        });
                      
                        {% if coordinates | length > 0 %}
                            var markers = locations.map(function(location, i) {
                                return new google.maps.Marker({position: location});
                            });

                            var markerCluster = new MarkerClusterer(map, markers,{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

                        {% endif %}
                    }
                    {% if coordinates | length > 0 %}
                        var locations = [
                            {% for coordinate in coordinates %}
                                {lat: {{ coordinate.lat}}, lng: {{ coordinate.lng }} },
                            {% endfor %}
                        ]
                    {% endif %} 
                </script>
            {% else %}
                <div class="col-lg-12 col-md-12">
                    <div class="content-block-header">
                        <h1>{% trans %}Сервисы{% endtrans %}</h1>
                    </div>
                    <div class="accountNocontent" style="padding-top: 4rem;padding-bottom: 4rem;">{% trans %}Информации по сервисам пока нет{% endtrans %}</div>
                </div>
            {% endif %}
        </div>
    </div>                   
</div>
{% endblock %}    