{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Личный кабинет{% endtrans %} - {% trans %}Мои объявления{% endtrans %}{% endblock %}
{% block bodyClass %}class="userAccount"{% endblock %}
{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    {% if locale.isDefault %}
                        <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% else %}
                        <li><a href="{{ path('mainLocale',{'_locale' : app.request.locale}) }}">{% trans %}Главная{% endtrans %}</a></li>
                        <li>/</li>
                    {% endif %}
                    {% if  locale.isDefault %}
                        <li><a href="{{ path('accountDealer', {'_locale' : locale.code}) }}">
                    {% else %}
                        <li><a href="{{ path('accountDealerLocale', {'_locale' : locale.code}) }}">
                    {% endif %}
                        {% trans %}Личный кабинет{% endtrans %}
                    </a></li>
                    <li>/</li>
                    <li>
                    {% if  locale.isDefault %}
                        <a href="{{path('account_dealer_products_drafts')}}">
                    {% else %}
                        <a href="{{path('account_dealer_products_draftsLocale',{'_locale' : app.request.locale})}}">
                    {% endif %}
                        {% trans %}Черновики{% endtrans %}
                    </a></li>
                </ul>
            </div>
        </div>
      </div>
</nav> 
<div class="container">
    <div class="row content-row aligned">
        <div class="col-lg-2 col-md-2">
            <div class="account-block-header"><h1>{% trans %}Личный кабинет{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="accountBlockHeader">
                <div class="account-block-header"><h1>{% trans %}Черновики{% endtrans %}</h1></div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        {{ render(controller('DashboardCommonBundle:Dealer:getSidebar', {'routeName' : routeName})) }}
        <div class="col-lg-10 col-md-10">
            <div class="account-advert-block account-block">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="notice-message">
                        {{ flashMessage | raw }}
                    </div>                             
                {% endfor %}
                <div class="account-advert-block-content">
                    <div class="row advert-category-adverts">
                        <div class="col-lg-12 col-md-12">
                                    <div class="accountRatesInformation">
                                        <div class="accountRatesInformationHeader">{% trans %}В рамках вашего пакета доступно:{% endtrans %}</div>
                                        <div class="accountRatesInformationList">
                                            <div class="accountRatesInformationListItem">18 Сolocaciones</div>
                                            <div class="accountRatesInformationListItem">
                                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M25 13C25 19.6274 19.6274 25 13 25M25 13C25 6.37258 19.6274 1 13 1M25 13H20.2M13 25C6.37258 25 1 19.6274 1 13M13 25V20.2M1 13C1 6.37258 6.37258 1 13 1M1 13H5.8M13 1V5.8" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                5 Publicación de la  Premium
                                            </div>
                                            <div class="accountRatesInformationListItem">
                                                <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M13 18.4565C16.0125 18.4565 18.4545 16.0144 18.4545 13.002C18.4545 9.98949 16.0125 7.54741 13 7.54741C9.98754 7.54741 7.54545 9.98949 7.54545 13.002C7.54545 16.0144 9.98754 18.4565 13 18.4565Z" fill="#F5AA01"/>
                                                    <path d="M13 1.00195V3.18377M13 22.8201V25.002M4.51273 4.51468L6.06182 6.06377M19.9382 19.9401L21.4873 21.4892M1 13.002H3.18182M22.8182 13.002H25M4.51273 21.4892L6.06182 19.9401M19.9382 6.06377L21.4873 4.51468M18.4545 13.002C18.4545 16.0144 16.0125 18.4565 13 18.4565C9.98754 18.4565 7.54545 16.0144 7.54545 13.002C7.54545 9.98949 9.98754 7.54741 13 7.54741C16.0125 7.54741 18.4545 9.98949 18.4545 13.002Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                5 Colocación especial de anuncios
                                            </div>
                                            <div class="accountRatesInformationListItem">
                                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 9.72727C1 9.72727 5.36364 1 13 1C20.6364 1 25 9.72727 25 9.72727C25 9.72727 20.6364 18.4545 13 18.4545C5.36364 18.4545 1 9.72727 1 9.72727Z" fill="#F5AA01"/>
                                                    <path d="M13 13C14.8075 13 16.2727 11.5347 16.2727 9.72727C16.2727 7.9198 14.8075 6.45455 13 6.45455C11.1925 6.45455 9.72727 7.9198 9.72727 9.72727C9.72727 11.5347 11.1925 13 13 13Z" fill="#F5AA01"/>
                                                    <path d="M1 9.72727C1 9.72727 5.36364 1 13 1C20.6364 1 25 9.72727 25 9.72727C25 9.72727 20.6364 18.4545 13 18.4545C5.36364 18.4545 1 9.72727 1 9.72727Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M13 13C14.8075 13 16.2727 11.5347 16.2727 9.72727C16.2727 7.9198 14.8075 6.45455 13 6.45455C11.1925 6.45455 9.72727 7.9198 9.72727 9.72727C9.72727 11.5347 11.1925 13 13 13Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                28 Destacando un anuncio en color
                                            </div>
                                            <div class="accountRatesInformationListItem">
                                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z" fill="#F5AA01"/>
                                                    <path d="M17.8 13L13 8.2L8.2 13" fill="#F5AA01"/>
                                                    <path d="M17.8 13L13 8.2M13 8.2L8.2 13M13 8.2V17.8M25 13C25 19.6274 19.6274 25 13 25C6.37258 25 1 19.6274 1 13C1 6.37258 6.37258 1 13 1C19.6274 1 25 6.37258 25 13Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                12 Levantar anuncio
                                            </div>
                                            <div class="accountRatesInformationListItem">
                                                <a href="{% if locale.isDefault %}{{ path('account_dealer_rates') }}{% else %}{{ path('account_dealer_ratesLocale',{'_locale' : app.request.locale}) }}{% endif %}">
                                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20 40C8.94118 40 0 31.0588 0 20C0 8.94118 8.94118 0 20 0C31.0588 0 40 8.94118 40 20C40 31.0588 31.0588 40 20 40ZM20 2.35294C10.2353 2.35294 2.35294 10.2353 2.35294 20C2.35294 29.7647 10.2353 37.6471 20 37.6471C29.7647 37.6471 37.6471 29.7647 37.6471 20C37.6471 10.2353 29.7647 2.35294 20 2.35294Z" fill="#EB840B"/>
                                                        <path d="M9.60156 18.4H30.4016V20H9.60156V18.4Z" fill="#EB840B"/>
                                                        <path d="M19.1992 8.79999H20.7992V29.6H19.1992V8.79999Z" fill="#EB840B"/>
                                                        <path d="M20 40C8.94118 40 0 31.0588 0 20C0 8.94118 8.94118 0 20 0C31.0588 0 40 8.94118 40 20C40 31.0588 31.0588 40 20 40ZM20 2.35294C10.2353 2.35294 2.35294 10.2353 2.35294 20C2.35294 29.7647 10.2353 37.6471 20 37.6471C29.7647 37.6471 37.6471 29.7647 37.6471 20C37.6471 10.2353 29.7647 2.35294 20 2.35294Z" fill="#EB840B"/>
                                                        <path d="M20 2.35294C10.2353 2.35294 2.35294 10.2353 2.35294 20C2.35294 29.7647 10.2353 37.6471 20 37.6471C29.7647 37.6471 37.6471 29.7647 37.6471 20C37.6471 10.2353 29.7647 2.35294 20 2.35294Z" fill="#EB840B"/>
                                                        <path d="M9.60156 18.4H30.4016V20H9.60156V18.4Z" fill="white"/>
                                                        <path d="M19.1992 8.79999H20.7992V29.6H19.1992V8.79999Z" fill="white"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="accountAdverts">
                                <div class="accountAdvert">
                                            <div class="accountAdvertFunctions left">
                                                <div class="accountAdvertFunction">
                                                    <div class="button">
                                                        <b>Осталось</b> 28 дней
                                                    </div>
                                                </div>
                                                <div class="accountAdvertFunction">
                                                    <div class="button">
                                                        <svg width="24" height="24" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M28 14.5C28 21.9558 21.9558 28 14.5 28M28 14.5C28 7.04416 21.9558 1 14.5 1M28 14.5H22.6M14.5 28C7.04416 28 1 21.9558 1 14.5M14.5 28V22.6M1 14.5C1 7.04416 7.04416 1 14.5 1M1 14.5H6.4M14.5 1V6.4" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        5 дней
                                                    </div>
                                                </div>
                                                <div class="accountAdvertFunction">
                                                    <div class="button">
                                                        <svg width="24" height="24" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M16 1.00195V3.72923M16 28.2747V31.002M5.39091 5.39286L7.32727 7.32923M24.6727 24.6747L26.6091 26.611M1 16.002H3.72727M28.2727 16.002H31M5.39091 26.611L7.32727 24.6747M24.6727 7.32923L26.6091 5.39286M22.8182 16.002C22.8182 19.7675 19.7656 22.8201 16 22.8201C12.2344 22.8201 9.18182 19.7675 9.18182 16.002C9.18182 12.2364 12.2344 9.18377 16 9.18377C19.7656 9.18377 22.8182 12.2364 22.8182 16.002Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        5 дней
                                                    </div>
                                                </div>
                                                <div class="accountAdvertFunction">
                                                    <div class="button">
                                                        <svg width="27" height="17" viewBox="0 0 32 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M1 12.7861C1 12.7861 6.39303 2 15.8308 2C25.2687 2 30.6617 12.7861 30.6617 12.7861C30.6617 12.7861 25.2687 23.5721 15.8308 23.5721C6.39303 23.5721 1 12.7861 1 12.7861Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M15.8308 16.8308C18.0647 16.8308 19.8756 15.0199 19.8756 12.7861C19.8756 10.5522 18.0647 8.74129 15.8308 8.74129C13.597 8.74129 11.7861 10.5522 11.7861 12.7861C11.7861 15.0199 13.597 16.8308 15.8308 16.8308Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        28 дней
                                                    </div>
                                                </div>
                                                <div class="accountAdvertFunction">
                                                    <button>
                                                        <svg width="24" height="24" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M19.9 14.5L14.5 9.1M14.5 9.1L9.1 14.5M14.5 9.1V19.9M28 14.5C28 21.9558 21.9558 28 14.5 28C7.04416 28 1 21.9558 1 14.5C1 7.04416 7.04416 1 14.5 1C21.9558 1 28 7.04416 28 14.5Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        2 поднятия
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="accountAdvertFunctions right">
                                                <div class="accountAdvertFunction">
                                                    <button>снять с продажи</button>
                                                </div>
                                                <div class="accountAdvertFunction">
                                                    <button>редактировать</button>
                                                </div>
                                            </div>
                                            <div class="accountAdvertInfoLeft">
                                                <div class="accountAdvertImage">
                                                    <img src="{{ asset('bundles/Default/img/advert/auto.png') }}" alt="" title="" />
                                                    <div class="accountAdvertInfoViews">{% trans %}Просмотров{% endtrans %}: 128</div>
                                                </div>
                                                <div class="accountAdvertInfo">
                                                    <div class="accountAdvertInfoName">Jeep Compass II</div>
                                                    <div class="accountAdvertInfoBoard">
                                                        <div class="accountAdvertInfoBoardItem">Внедорожник 5 дв.</div>
                                                    </div>
                                                    <div class="accountAdvertInfoModification">
                                                        <div class="accountAdvertInfoModificationItem">
                                                            2.4 л / 175 л.с. / Автомат
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            Полный привод
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            Механика
                                                        </div>
                                                        <div class="accountAdvertInfoModificationItem">
                                                            Белый
                                                        </div>
                                                    </div>
                                                    <div class="accountAdvertInfoCity">
                                                        <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 9px;">
                                                            <path d="M5.5 3.38135C5.10444 3.38135 4.71776 3.4946 4.38886 3.70679C4.05996 3.91897 3.80362 4.22056 3.65224 4.57341C3.50087 4.92626 3.46126 5.31452 3.53843 5.68911C3.6156 6.06369 3.80608 6.40777 4.08579 6.67783C4.36549 6.94789 4.72186 7.1318 5.10982 7.20631C5.49778 7.28082 5.89991 7.24258 6.26537 7.09643C6.63082 6.95027 6.94318 6.70276 7.16294 6.38521C7.3827 6.06765 7.5 5.6943 7.5 5.31238C7.5 4.80024 7.28929 4.30907 6.91421 3.94693C6.53914 3.5848 6.03043 3.38135 5.5 3.38135ZM5.5 6.2779C5.30222 6.2779 5.10888 6.22127 4.94443 6.11518C4.77998 6.00909 4.65181 5.85829 4.57612 5.68187C4.50043 5.50544 4.48063 5.31131 4.51922 5.12402C4.5578 4.93673 4.65304 4.76469 4.79289 4.62966C4.93275 4.49463 5.11093 4.40267 5.30491 4.36542C5.49889 4.32816 5.69996 4.34728 5.88268 4.42036C6.06541 4.49344 6.22159 4.61719 6.33147 4.77597C6.44135 4.93475 6.5 5.12142 6.5 5.31238C6.5 5.56845 6.39464 5.81404 6.20711 5.99511C6.01957 6.17618 5.76522 6.2779 5.5 6.2779Z" fill="#616161"/>
                                                            <path d="M5.5 0.00195312C4.04131 0.00195313 2.64236 0.561434 1.61091 1.55732C0.579463 2.5532 0 3.90391 0 5.3123C0 9.85506 5 13.2875 5.215 13.4323L5.5 13.6254L5.785 13.4323C6 13.2875 11 9.85506 11 5.3123C11 3.90391 10.4205 2.5532 9.38909 1.55732C8.35764 0.561434 6.95869 0.00195313 5.5 0.00195312ZM5.5 12.433C4.465 11.6509 1 8.76402 1 5.3123C1 4.15998 1.47411 3.05485 2.31802 2.24004C3.16193 1.42523 4.30653 0.96747 5.5 0.96747C6.69347 0.96747 7.83807 1.42523 8.68198 2.24004C9.52589 3.05485 10 4.15998 10 5.3123C10 8.76402 6.535 11.6509 5.5 12.433Z" fill="#616161"/>
                                                        </svg>
                                                        Seville
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accountAdvertInfoRight">
                                                <div class="accountAdvertInfoNumbers">
                                                    <div class="accountAdvertInfoPrice">20 000 &euro;</div>
                                                    <div class="accountAdvertInfoYear">2017</div>
                                                    <div class="accountAdvertInfoProbeg">120000 {% trans %}км{% endtrans %}</div>
                                                </div>
                                                <div class="accountAdvertServiceButtons">
                                                    <div class="accountAdvertServiceButton">
                                                        <button>
                                                            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M28 14.5C28 21.9558 21.9558 28 14.5 28M28 14.5C28 7.04416 21.9558 1 14.5 1M28 14.5H22.6M14.5 28C7.04416 28 1 21.9558 1 14.5M14.5 28V22.6M1 14.5C1 7.04416 7.04416 1 14.5 1M1 14.5H6.4M14.5 1V6.4" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>
                                                            <span class="buttonServiceName">
                                                                <span class="buttonServiceNameTitle">премиум размещение</span>
                                                                <span class="buttonServiceRule">7 дней</span>
                                                            </span>
                                                            <span class="buttonServicePrice">
                                                                5.99 &euro;
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="accountAdvertServiceButton">
                                                        <button>
                                                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M16 1.00195V3.72923M16 28.2747V31.002M5.39091 5.39286L7.32727 7.32923M24.6727 24.6747L26.6091 26.611M1 16.002H3.72727M28.2727 16.002H31M5.39091 26.611L7.32727 24.6747M24.6727 7.32923L26.6091 5.39286M22.8182 16.002C22.8182 19.7675 19.7656 22.8201 16 22.8201C12.2344 22.8201 9.18182 19.7675 9.18182 16.002C9.18182 12.2364 12.2344 9.18377 16 9.18377C19.7656 9.18377 22.8182 12.2364 22.8182 16.002Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>
                                                            <span class="buttonServiceName">
                                                                <span class="buttonServiceNameTitle">спецпредложение</span>
                                                                <span class="buttonServiceRule">7 дней</span>
                                                            </span>
                                                            <span class="buttonServicePrice">
                                                                3.99 &euro;
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="accountAdvertServiceButton">
                                                        <button>
                                                            <svg width="32" height="25" viewBox="0 0 32 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M1 12.7861C1 12.7861 6.39303 2 15.8308 2C25.2687 2 30.6617 12.7861 30.6617 12.7861C30.6617 12.7861 25.2687 23.5721 15.8308 23.5721C6.39303 23.5721 1 12.7861 1 12.7861Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M15.8308 16.8308C18.0647 16.8308 19.8756 15.0199 19.8756 12.7861C19.8756 10.5522 18.0647 8.74129 15.8308 8.74129C13.597 8.74129 11.7861 10.5522 11.7861 12.7861C11.7861 15.0199 13.597 16.8308 15.8308 16.8308Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>
                                                            <span class="buttonServiceName">
                                                                <span class="buttonServiceNameTitle">выделение цветом</span>
                                                                <span class="buttonServiceRule">30 дней</span>
                                                            </span>
                                                            <span class="buttonServicePrice">
                                                                2.99 &euro;
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="accountAdvertServiceButton">
                                                        <button>
                                                            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M19.9 14.5L14.5 9.1M14.5 9.1L9.1 14.5M14.5 9.1V19.9M28 14.5C28 21.9558 21.9558 28 14.5 28C7.04416 28 1 21.9558 1 14.5C1 7.04416 7.04416 1 14.5 1C21.9558 1 28 7.04416 28 14.5Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>
                                                            <span class="buttonServiceName">
                                                                <span class="buttonServiceNameTitle">поднятие</span>
                                                                <span class="buttonServiceRule">1 поднятие</span>
                                                            </span>
                                                            <span class="buttonServicePrice">
                                                                1.99 &euro;
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
