{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Дилеры{% endtrans %}{% endblock %}

{% block body %}
<div class="dealersContainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="mapListSearchBlock">
                    <div class="mapListSearchBlockHeader">{% trans %}Список дилеров по продаже новых авто{% endtrans %}</div>
                    <div class="mapListSearchBlockTabs">
                        <ul class="list-unstyled list-inline">
                            <li><a href="" class="active">{% trans %}Все{% endtrans %}</a></li>
                            <li><a href="">{% trans %}Новые{% endtrans %}</a></li>
                            <li><a href="">{% trans %}С пробегом{% endtrans %}</a></li>
                        </ul>
                    </div>
                    <div class="mapListSearchBlockForm">
                        <div class="formParameterField" id="selectAutoMark">
                            <input name="dealerName" type="text" placeholder="{% trans %}Марка авто{% endtrans %}" />
                        </div>
                        <div class="formParameterField">
                            <input name="dealerName" type="text" placeholder="{% trans %}Название дилера{% endtrans %}" />
                        </div>
                        <div class="formParameterField button">
                            <button type="button" class="find">{% trans %}Найти{% endtrans %}</button>
                        </div>
                    </div>
                </div>
                <div class="mapListItems hide">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-xs-3 mapListAutoLabel">
                                <a href="" class="mapListAuto">
                                    <span class="mapListAutoLogo">
                                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M40.0009 0C17.9429 0 0 17.9447 0 39.9991C0 62.0536 17.9429 79.9983 40.0009 79.9983C62.0588 79.9983 80 62.0518 80 39.9991C80 17.9464 62.0553 0 40.0009 0ZM40.0009 78.8948C18.5585 78.8948 1.10526 61.4415 1.10526 39.9991C1.10526 18.5568 18.5585 1.10701 40.0009 1.10701C61.4432 1.10701 78.893 18.5498 78.893 39.9991C78.893 61.4485 61.4485 78.8948 40.0009 78.8948Z" fill="black"/>
                                            <path d="M17.2018 24.2965C17.2421 24.328 17.284 24.363 17.3225 24.3892C17.3225 24.3892 17.3522 24.363 17.354 24.3578C18.134 23.3837 18.9157 22.4061 19.6939 21.4372C19.979 21.0874 20.2658 20.7254 20.5491 20.3687C20.6868 20.1957 20.7756 19.9889 20.8063 19.77C20.8371 19.551 20.8087 19.3278 20.724 19.1235C20.6242 18.9096 20.4642 18.7294 20.2635 18.6051C20.0628 18.4809 19.8302 18.4179 19.5942 18.424C19.4022 18.4354 19.2153 18.4899 19.0473 18.5834C18.8792 18.677 18.7344 18.8072 18.6236 18.9644L17.5883 20.2585C16.8888 21.1329 16.1718 22.0248 15.4688 22.908C15.8343 23.2035 16.2033 23.4956 16.5688 23.7929C16.7804 23.952 16.9867 24.1234 17.2018 24.2965Z" fill="black"/>
                                            <path d="M40.0023 1.80664C18.9097 1.80664 1.80273 18.9032 1.80273 39.9992C1.80273 61.0953 18.9097 78.1988 40.0023 78.1988C61.0949 78.1988 78.2037 61.0918 78.2037 39.9992C78.2037 18.9067 61.0984 1.80664 40.0023 1.80664ZM33.8325 4.18504L37.4141 3.78981L40.0023 11.3465L42.5906 3.78981L46.1704 4.18504L46.5639 14.9228L43.7798 14.5276L43.5122 7.35741L40.9957 14.5276H39.0037L36.4854 7.35741L36.2196 14.5276L33.4372 14.9228L33.8325 4.18504ZM9.71792 21.8744C9.43111 21.6401 9.14605 21.4075 8.85575 21.1749C8.81864 21.149 8.78356 21.1204 8.75082 21.0892L8.90121 20.9056C9.64272 19.9752 10.3825 19.0501 11.1292 18.1249C11.9931 17.0407 12.8576 15.9593 13.7227 14.8809C13.8976 14.678 14.055 14.4699 14.2211 14.26C14.5156 13.8961 14.9012 13.6168 15.3386 13.4503C15.6817 13.3239 16.0476 13.2714 16.4124 13.2964C16.7771 13.3215 17.1325 13.4234 17.455 13.5955C17.7776 13.7676 18.0601 14.006 18.284 14.295C18.5079 14.5841 18.6681 14.9172 18.7541 15.2726C18.861 15.7482 18.8399 16.2436 18.6929 16.7084C18.7576 16.6559 18.8188 16.5982 18.8835 16.5475C19.2906 16.2471 19.7694 16.0587 20.2721 16.0013C20.7748 15.9439 21.2837 16.0195 21.7481 16.2204C22.2124 16.4213 22.6159 16.7406 22.9182 17.1463C23.2205 17.552 23.411 18.03 23.4707 18.5324C23.5135 18.9156 23.4815 19.3034 23.3762 19.6744C23.1576 20.3897 22.6505 20.9335 22.1923 21.4984C21.305 22.6107 20.4166 23.7183 19.5271 24.8212C18.7908 25.7498 18.0458 26.6714 17.3078 27.5983C17.2501 27.6683 17.1976 27.7365 17.1329 27.8029C17.1224 27.8204 17.0595 27.754 17.0472 27.7417C16.7709 27.5196 16.4964 27.3045 16.2218 27.0824L12.983 24.4889C11.9004 23.6215 10.8109 22.7401 9.71792 21.8744ZM40.0023 63.8777C35.2799 63.8784 30.6633 62.4787 26.7364 59.8556C22.8094 57.2324 19.7486 53.5038 17.9408 49.141C16.133 44.7783 15.6596 39.9775 16.5803 35.3457C17.5011 30.7138 19.7747 26.4591 23.1136 23.1195C26.4525 19.7798 30.7067 17.5053 35.3383 16.5835C39.97 15.6618 44.7709 16.1341 49.134 17.9409C53.4972 19.7477 57.2265 22.8078 59.8505 26.7342C62.4745 30.6605 63.8752 35.2768 63.8755 39.9992C63.876 46.3314 61.3611 52.4045 56.8841 56.8825C52.407 61.3605 46.3345 63.8768 40.0023 63.8777ZM62.737 27.6578L61.366 25.3108L66.0878 19.1095L59.0103 22.3571L57.0219 20.5191L63.4785 12.0338L65.4705 13.8735L61.7437 18.7702L67.702 16.0351L69.4508 18.2071L65.4757 23.4291L71.0719 20.8601L72.4413 23.2088L62.737 27.6578Z" fill="black"/>
                                            <path d="M17.1148 17.478C17.1691 17.2631 17.1627 17.0373 17.0962 16.8258C17.0296 16.6143 16.9057 16.4255 16.7381 16.2804C16.5705 16.1353 16.3658 16.0396 16.147 16.004C15.9282 15.9685 15.7038 15.9944 15.4989 16.0789C15.1648 16.2189 14.9637 16.5127 14.7434 16.7907C13.9039 17.84 13.0662 18.8806 12.2338 19.9281C12.1668 20.0047 12.1037 20.0846 12.0449 20.1677L12.5573 20.5787C13.005 20.9424 13.458 21.2974 13.9039 21.6577C14.3481 21.1068 14.7783 20.5542 15.226 20.0016C15.6737 19.4489 16.1092 18.9033 16.5516 18.3542C16.7702 18.0709 17.0168 17.826 17.1148 17.478Z" fill="black"/>
                                            <path d="M39.999 16.4968V39.9993H16.5C16.6643 33.8185 19.1928 27.9361 23.5645 23.5637C27.9362 19.1914 33.8182 16.6621 39.999 16.4968Z" fill="url(#paint0_linear)"/>
                                            <path d="M63.5042 39.999C63.3386 46.1805 60.8091 52.0631 56.4366 56.4356C52.0641 60.8081 46.1814 63.3376 40 63.5032V39.999H63.5042Z" fill="url(#paint1_linear)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear" x1="23.5827" y1="23.4624" x2="40.0409" y2="40.3438" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#46BEE1"/>
                                            <stop offset="0.62" stop-color="#3394BC"/>
                                            <stop offset="1" stop-color="#2678A3"/>
                                            </linearGradient>
                                            <linearGradient id="paint1_linear" x1="39.6205" y1="40.7283" x2="57.0161" y2="56.5342" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3091BA"/>
                                            <stop offset="1" stop-color="#00448B"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                                    </span>
                                    <span class="mapListAutoName">Audi</span>
                                </a>
                            </div>
                            <div class="col-xs-3 mapListAutoLabel">
                                <a href="" class="mapListAuto">
                                    <span class="mapListAutoLogo">
                                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M40.0009 0C17.9429 0 0 17.9447 0 39.9991C0 62.0536 17.9429 79.9983 40.0009 79.9983C62.0588 79.9983 80 62.0518 80 39.9991C80 17.9464 62.0553 0 40.0009 0ZM40.0009 78.8948C18.5585 78.8948 1.10526 61.4415 1.10526 39.9991C1.10526 18.5568 18.5585 1.10701 40.0009 1.10701C61.4432 1.10701 78.893 18.5498 78.893 39.9991C78.893 61.4485 61.4485 78.8948 40.0009 78.8948Z" fill="black"/>
                                            <path d="M17.2018 24.2965C17.2421 24.328 17.284 24.363 17.3225 24.3892C17.3225 24.3892 17.3522 24.363 17.354 24.3578C18.134 23.3837 18.9157 22.4061 19.6939 21.4372C19.979 21.0874 20.2658 20.7254 20.5491 20.3687C20.6868 20.1957 20.7756 19.9889 20.8063 19.77C20.8371 19.551 20.8087 19.3278 20.724 19.1235C20.6242 18.9096 20.4642 18.7294 20.2635 18.6051C20.0628 18.4809 19.8302 18.4179 19.5942 18.424C19.4022 18.4354 19.2153 18.4899 19.0473 18.5834C18.8792 18.677 18.7344 18.8072 18.6236 18.9644L17.5883 20.2585C16.8888 21.1329 16.1718 22.0248 15.4688 22.908C15.8343 23.2035 16.2033 23.4956 16.5688 23.7929C16.7804 23.952 16.9867 24.1234 17.2018 24.2965Z" fill="black"/>
                                            <path d="M40.0023 1.80664C18.9097 1.80664 1.80273 18.9032 1.80273 39.9992C1.80273 61.0953 18.9097 78.1988 40.0023 78.1988C61.0949 78.1988 78.2037 61.0918 78.2037 39.9992C78.2037 18.9067 61.0984 1.80664 40.0023 1.80664ZM33.8325 4.18504L37.4141 3.78981L40.0023 11.3465L42.5906 3.78981L46.1704 4.18504L46.5639 14.9228L43.7798 14.5276L43.5122 7.35741L40.9957 14.5276H39.0037L36.4854 7.35741L36.2196 14.5276L33.4372 14.9228L33.8325 4.18504ZM9.71792 21.8744C9.43111 21.6401 9.14605 21.4075 8.85575 21.1749C8.81864 21.149 8.78356 21.1204 8.75082 21.0892L8.90121 20.9056C9.64272 19.9752 10.3825 19.0501 11.1292 18.1249C11.9931 17.0407 12.8576 15.9593 13.7227 14.8809C13.8976 14.678 14.055 14.4699 14.2211 14.26C14.5156 13.8961 14.9012 13.6168 15.3386 13.4503C15.6817 13.3239 16.0476 13.2714 16.4124 13.2964C16.7771 13.3215 17.1325 13.4234 17.455 13.5955C17.7776 13.7676 18.0601 14.006 18.284 14.295C18.5079 14.5841 18.6681 14.9172 18.7541 15.2726C18.861 15.7482 18.8399 16.2436 18.6929 16.7084C18.7576 16.6559 18.8188 16.5982 18.8835 16.5475C19.2906 16.2471 19.7694 16.0587 20.2721 16.0013C20.7748 15.9439 21.2837 16.0195 21.7481 16.2204C22.2124 16.4213 22.6159 16.7406 22.9182 17.1463C23.2205 17.552 23.411 18.03 23.4707 18.5324C23.5135 18.9156 23.4815 19.3034 23.3762 19.6744C23.1576 20.3897 22.6505 20.9335 22.1923 21.4984C21.305 22.6107 20.4166 23.7183 19.5271 24.8212C18.7908 25.7498 18.0458 26.6714 17.3078 27.5983C17.2501 27.6683 17.1976 27.7365 17.1329 27.8029C17.1224 27.8204 17.0595 27.754 17.0472 27.7417C16.7709 27.5196 16.4964 27.3045 16.2218 27.0824L12.983 24.4889C11.9004 23.6215 10.8109 22.7401 9.71792 21.8744ZM40.0023 63.8777C35.2799 63.8784 30.6633 62.4787 26.7364 59.8556C22.8094 57.2324 19.7486 53.5038 17.9408 49.141C16.133 44.7783 15.6596 39.9775 16.5803 35.3457C17.5011 30.7138 19.7747 26.4591 23.1136 23.1195C26.4525 19.7798 30.7067 17.5053 35.3383 16.5835C39.97 15.6618 44.7709 16.1341 49.134 17.9409C53.4972 19.7477 57.2265 22.8078 59.8505 26.7342C62.4745 30.6605 63.8752 35.2768 63.8755 39.9992C63.876 46.3314 61.3611 52.4045 56.8841 56.8825C52.407 61.3605 46.3345 63.8768 40.0023 63.8777ZM62.737 27.6578L61.366 25.3108L66.0878 19.1095L59.0103 22.3571L57.0219 20.5191L63.4785 12.0338L65.4705 13.8735L61.7437 18.7702L67.702 16.0351L69.4508 18.2071L65.4757 23.4291L71.0719 20.8601L72.4413 23.2088L62.737 27.6578Z" fill="black"/>
                                            <path d="M17.1148 17.478C17.1691 17.2631 17.1627 17.0373 17.0962 16.8258C17.0296 16.6143 16.9057 16.4255 16.7381 16.2804C16.5705 16.1353 16.3658 16.0396 16.147 16.004C15.9282 15.9685 15.7038 15.9944 15.4989 16.0789C15.1648 16.2189 14.9637 16.5127 14.7434 16.7907C13.9039 17.84 13.0662 18.8806 12.2338 19.9281C12.1668 20.0047 12.1037 20.0846 12.0449 20.1677L12.5573 20.5787C13.005 20.9424 13.458 21.2974 13.9039 21.6577C14.3481 21.1068 14.7783 20.5542 15.226 20.0016C15.6737 19.4489 16.1092 18.9033 16.5516 18.3542C16.7702 18.0709 17.0168 17.826 17.1148 17.478Z" fill="black"/>
                                            <path d="M39.999 16.4968V39.9993H16.5C16.6643 33.8185 19.1928 27.9361 23.5645 23.5637C27.9362 19.1914 33.8182 16.6621 39.999 16.4968Z" fill="url(#paint0_linear)"/>
                                            <path d="M63.5042 39.999C63.3386 46.1805 60.8091 52.0631 56.4366 56.4356C52.0641 60.8081 46.1814 63.3376 40 63.5032V39.999H63.5042Z" fill="url(#paint1_linear)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear" x1="23.5827" y1="23.4624" x2="40.0409" y2="40.3438" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#46BEE1"/>
                                            <stop offset="0.62" stop-color="#3394BC"/>
                                            <stop offset="1" stop-color="#2678A3"/>
                                            </linearGradient>
                                            <linearGradient id="paint1_linear" x1="39.6205" y1="40.7283" x2="57.0161" y2="56.5342" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3091BA"/>
                                            <stop offset="1" stop-color="#00448B"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                                    </span>
                                    <span class="mapListAutoName">Audi</span>
                                </a>
                            </div>
                            <div class="col-xs-3 mapListAutoLabel">
                                <a href="" class="mapListAuto">
                                    <span class="mapListAutoLogo">
                                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M40.0009 0C17.9429 0 0 17.9447 0 39.9991C0 62.0536 17.9429 79.9983 40.0009 79.9983C62.0588 79.9983 80 62.0518 80 39.9991C80 17.9464 62.0553 0 40.0009 0ZM40.0009 78.8948C18.5585 78.8948 1.10526 61.4415 1.10526 39.9991C1.10526 18.5568 18.5585 1.10701 40.0009 1.10701C61.4432 1.10701 78.893 18.5498 78.893 39.9991C78.893 61.4485 61.4485 78.8948 40.0009 78.8948Z" fill="black"/>
                                            <path d="M17.2018 24.2965C17.2421 24.328 17.284 24.363 17.3225 24.3892C17.3225 24.3892 17.3522 24.363 17.354 24.3578C18.134 23.3837 18.9157 22.4061 19.6939 21.4372C19.979 21.0874 20.2658 20.7254 20.5491 20.3687C20.6868 20.1957 20.7756 19.9889 20.8063 19.77C20.8371 19.551 20.8087 19.3278 20.724 19.1235C20.6242 18.9096 20.4642 18.7294 20.2635 18.6051C20.0628 18.4809 19.8302 18.4179 19.5942 18.424C19.4022 18.4354 19.2153 18.4899 19.0473 18.5834C18.8792 18.677 18.7344 18.8072 18.6236 18.9644L17.5883 20.2585C16.8888 21.1329 16.1718 22.0248 15.4688 22.908C15.8343 23.2035 16.2033 23.4956 16.5688 23.7929C16.7804 23.952 16.9867 24.1234 17.2018 24.2965Z" fill="black"/>
                                            <path d="M40.0023 1.80664C18.9097 1.80664 1.80273 18.9032 1.80273 39.9992C1.80273 61.0953 18.9097 78.1988 40.0023 78.1988C61.0949 78.1988 78.2037 61.0918 78.2037 39.9992C78.2037 18.9067 61.0984 1.80664 40.0023 1.80664ZM33.8325 4.18504L37.4141 3.78981L40.0023 11.3465L42.5906 3.78981L46.1704 4.18504L46.5639 14.9228L43.7798 14.5276L43.5122 7.35741L40.9957 14.5276H39.0037L36.4854 7.35741L36.2196 14.5276L33.4372 14.9228L33.8325 4.18504ZM9.71792 21.8744C9.43111 21.6401 9.14605 21.4075 8.85575 21.1749C8.81864 21.149 8.78356 21.1204 8.75082 21.0892L8.90121 20.9056C9.64272 19.9752 10.3825 19.0501 11.1292 18.1249C11.9931 17.0407 12.8576 15.9593 13.7227 14.8809C13.8976 14.678 14.055 14.4699 14.2211 14.26C14.5156 13.8961 14.9012 13.6168 15.3386 13.4503C15.6817 13.3239 16.0476 13.2714 16.4124 13.2964C16.7771 13.3215 17.1325 13.4234 17.455 13.5955C17.7776 13.7676 18.0601 14.006 18.284 14.295C18.5079 14.5841 18.6681 14.9172 18.7541 15.2726C18.861 15.7482 18.8399 16.2436 18.6929 16.7084C18.7576 16.6559 18.8188 16.5982 18.8835 16.5475C19.2906 16.2471 19.7694 16.0587 20.2721 16.0013C20.7748 15.9439 21.2837 16.0195 21.7481 16.2204C22.2124 16.4213 22.6159 16.7406 22.9182 17.1463C23.2205 17.552 23.411 18.03 23.4707 18.5324C23.5135 18.9156 23.4815 19.3034 23.3762 19.6744C23.1576 20.3897 22.6505 20.9335 22.1923 21.4984C21.305 22.6107 20.4166 23.7183 19.5271 24.8212C18.7908 25.7498 18.0458 26.6714 17.3078 27.5983C17.2501 27.6683 17.1976 27.7365 17.1329 27.8029C17.1224 27.8204 17.0595 27.754 17.0472 27.7417C16.7709 27.5196 16.4964 27.3045 16.2218 27.0824L12.983 24.4889C11.9004 23.6215 10.8109 22.7401 9.71792 21.8744ZM40.0023 63.8777C35.2799 63.8784 30.6633 62.4787 26.7364 59.8556C22.8094 57.2324 19.7486 53.5038 17.9408 49.141C16.133 44.7783 15.6596 39.9775 16.5803 35.3457C17.5011 30.7138 19.7747 26.4591 23.1136 23.1195C26.4525 19.7798 30.7067 17.5053 35.3383 16.5835C39.97 15.6618 44.7709 16.1341 49.134 17.9409C53.4972 19.7477 57.2265 22.8078 59.8505 26.7342C62.4745 30.6605 63.8752 35.2768 63.8755 39.9992C63.876 46.3314 61.3611 52.4045 56.8841 56.8825C52.407 61.3605 46.3345 63.8768 40.0023 63.8777ZM62.737 27.6578L61.366 25.3108L66.0878 19.1095L59.0103 22.3571L57.0219 20.5191L63.4785 12.0338L65.4705 13.8735L61.7437 18.7702L67.702 16.0351L69.4508 18.2071L65.4757 23.4291L71.0719 20.8601L72.4413 23.2088L62.737 27.6578Z" fill="black"/>
                                            <path d="M17.1148 17.478C17.1691 17.2631 17.1627 17.0373 17.0962 16.8258C17.0296 16.6143 16.9057 16.4255 16.7381 16.2804C16.5705 16.1353 16.3658 16.0396 16.147 16.004C15.9282 15.9685 15.7038 15.9944 15.4989 16.0789C15.1648 16.2189 14.9637 16.5127 14.7434 16.7907C13.9039 17.84 13.0662 18.8806 12.2338 19.9281C12.1668 20.0047 12.1037 20.0846 12.0449 20.1677L12.5573 20.5787C13.005 20.9424 13.458 21.2974 13.9039 21.6577C14.3481 21.1068 14.7783 20.5542 15.226 20.0016C15.6737 19.4489 16.1092 18.9033 16.5516 18.3542C16.7702 18.0709 17.0168 17.826 17.1148 17.478Z" fill="black"/>
                                            <path d="M39.999 16.4968V39.9993H16.5C16.6643 33.8185 19.1928 27.9361 23.5645 23.5637C27.9362 19.1914 33.8182 16.6621 39.999 16.4968Z" fill="url(#paint0_linear)"/>
                                            <path d="M63.5042 39.999C63.3386 46.1805 60.8091 52.0631 56.4366 56.4356C52.0641 60.8081 46.1814 63.3376 40 63.5032V39.999H63.5042Z" fill="url(#paint1_linear)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear" x1="23.5827" y1="23.4624" x2="40.0409" y2="40.3438" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#46BEE1"/>
                                            <stop offset="0.62" stop-color="#3394BC"/>
                                            <stop offset="1" stop-color="#2678A3"/>
                                            </linearGradient>
                                            <linearGradient id="paint1_linear" x1="39.6205" y1="40.7283" x2="57.0161" y2="56.5342" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3091BA"/>
                                            <stop offset="1" stop-color="#00448B"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                                    </span>
                                    <span class="mapListAutoName">Audi</span>
                                </a>
                            </div>
                            <div class="col-xs-3 mapListAutoLabel">
                                <a href="" class="mapListAuto">
                                    <span class="mapListAutoLogo">
                                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M40.0009 0C17.9429 0 0 17.9447 0 39.9991C0 62.0536 17.9429 79.9983 40.0009 79.9983C62.0588 79.9983 80 62.0518 80 39.9991C80 17.9464 62.0553 0 40.0009 0ZM40.0009 78.8948C18.5585 78.8948 1.10526 61.4415 1.10526 39.9991C1.10526 18.5568 18.5585 1.10701 40.0009 1.10701C61.4432 1.10701 78.893 18.5498 78.893 39.9991C78.893 61.4485 61.4485 78.8948 40.0009 78.8948Z" fill="black"/>
                                            <path d="M17.2018 24.2965C17.2421 24.328 17.284 24.363 17.3225 24.3892C17.3225 24.3892 17.3522 24.363 17.354 24.3578C18.134 23.3837 18.9157 22.4061 19.6939 21.4372C19.979 21.0874 20.2658 20.7254 20.5491 20.3687C20.6868 20.1957 20.7756 19.9889 20.8063 19.77C20.8371 19.551 20.8087 19.3278 20.724 19.1235C20.6242 18.9096 20.4642 18.7294 20.2635 18.6051C20.0628 18.4809 19.8302 18.4179 19.5942 18.424C19.4022 18.4354 19.2153 18.4899 19.0473 18.5834C18.8792 18.677 18.7344 18.8072 18.6236 18.9644L17.5883 20.2585C16.8888 21.1329 16.1718 22.0248 15.4688 22.908C15.8343 23.2035 16.2033 23.4956 16.5688 23.7929C16.7804 23.952 16.9867 24.1234 17.2018 24.2965Z" fill="black"/>
                                            <path d="M40.0023 1.80664C18.9097 1.80664 1.80273 18.9032 1.80273 39.9992C1.80273 61.0953 18.9097 78.1988 40.0023 78.1988C61.0949 78.1988 78.2037 61.0918 78.2037 39.9992C78.2037 18.9067 61.0984 1.80664 40.0023 1.80664ZM33.8325 4.18504L37.4141 3.78981L40.0023 11.3465L42.5906 3.78981L46.1704 4.18504L46.5639 14.9228L43.7798 14.5276L43.5122 7.35741L40.9957 14.5276H39.0037L36.4854 7.35741L36.2196 14.5276L33.4372 14.9228L33.8325 4.18504ZM9.71792 21.8744C9.43111 21.6401 9.14605 21.4075 8.85575 21.1749C8.81864 21.149 8.78356 21.1204 8.75082 21.0892L8.90121 20.9056C9.64272 19.9752 10.3825 19.0501 11.1292 18.1249C11.9931 17.0407 12.8576 15.9593 13.7227 14.8809C13.8976 14.678 14.055 14.4699 14.2211 14.26C14.5156 13.8961 14.9012 13.6168 15.3386 13.4503C15.6817 13.3239 16.0476 13.2714 16.4124 13.2964C16.7771 13.3215 17.1325 13.4234 17.455 13.5955C17.7776 13.7676 18.0601 14.006 18.284 14.295C18.5079 14.5841 18.6681 14.9172 18.7541 15.2726C18.861 15.7482 18.8399 16.2436 18.6929 16.7084C18.7576 16.6559 18.8188 16.5982 18.8835 16.5475C19.2906 16.2471 19.7694 16.0587 20.2721 16.0013C20.7748 15.9439 21.2837 16.0195 21.7481 16.2204C22.2124 16.4213 22.6159 16.7406 22.9182 17.1463C23.2205 17.552 23.411 18.03 23.4707 18.5324C23.5135 18.9156 23.4815 19.3034 23.3762 19.6744C23.1576 20.3897 22.6505 20.9335 22.1923 21.4984C21.305 22.6107 20.4166 23.7183 19.5271 24.8212C18.7908 25.7498 18.0458 26.6714 17.3078 27.5983C17.2501 27.6683 17.1976 27.7365 17.1329 27.8029C17.1224 27.8204 17.0595 27.754 17.0472 27.7417C16.7709 27.5196 16.4964 27.3045 16.2218 27.0824L12.983 24.4889C11.9004 23.6215 10.8109 22.7401 9.71792 21.8744ZM40.0023 63.8777C35.2799 63.8784 30.6633 62.4787 26.7364 59.8556C22.8094 57.2324 19.7486 53.5038 17.9408 49.141C16.133 44.7783 15.6596 39.9775 16.5803 35.3457C17.5011 30.7138 19.7747 26.4591 23.1136 23.1195C26.4525 19.7798 30.7067 17.5053 35.3383 16.5835C39.97 15.6618 44.7709 16.1341 49.134 17.9409C53.4972 19.7477 57.2265 22.8078 59.8505 26.7342C62.4745 30.6605 63.8752 35.2768 63.8755 39.9992C63.876 46.3314 61.3611 52.4045 56.8841 56.8825C52.407 61.3605 46.3345 63.8768 40.0023 63.8777ZM62.737 27.6578L61.366 25.3108L66.0878 19.1095L59.0103 22.3571L57.0219 20.5191L63.4785 12.0338L65.4705 13.8735L61.7437 18.7702L67.702 16.0351L69.4508 18.2071L65.4757 23.4291L71.0719 20.8601L72.4413 23.2088L62.737 27.6578Z" fill="black"/>
                                            <path d="M17.1148 17.478C17.1691 17.2631 17.1627 17.0373 17.0962 16.8258C17.0296 16.6143 16.9057 16.4255 16.7381 16.2804C16.5705 16.1353 16.3658 16.0396 16.147 16.004C15.9282 15.9685 15.7038 15.9944 15.4989 16.0789C15.1648 16.2189 14.9637 16.5127 14.7434 16.7907C13.9039 17.84 13.0662 18.8806 12.2338 19.9281C12.1668 20.0047 12.1037 20.0846 12.0449 20.1677L12.5573 20.5787C13.005 20.9424 13.458 21.2974 13.9039 21.6577C14.3481 21.1068 14.7783 20.5542 15.226 20.0016C15.6737 19.4489 16.1092 18.9033 16.5516 18.3542C16.7702 18.0709 17.0168 17.826 17.1148 17.478Z" fill="black"/>
                                            <path d="M39.999 16.4968V39.9993H16.5C16.6643 33.8185 19.1928 27.9361 23.5645 23.5637C27.9362 19.1914 33.8182 16.6621 39.999 16.4968Z" fill="url(#paint0_linear)"/>
                                            <path d="M63.5042 39.999C63.3386 46.1805 60.8091 52.0631 56.4366 56.4356C52.0641 60.8081 46.1814 63.3376 40 63.5032V39.999H63.5042Z" fill="url(#paint1_linear)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear" x1="23.5827" y1="23.4624" x2="40.0409" y2="40.3438" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#46BEE1"/>
                                            <stop offset="0.62" stop-color="#3394BC"/>
                                            <stop offset="1" stop-color="#2678A3"/>
                                            </linearGradient>
                                            <linearGradient id="paint1_linear" x1="39.6205" y1="40.7283" x2="57.0161" y2="56.5342" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3091BA"/>
                                            <stop offset="1" stop-color="#00448B"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                                    </span>
                                    <span class="mapListAutoName">Audi</span>
                                </a>
                            </div>
                            <div class="col-xs-3 mapListAutoLabel">
                                <a href="" class="mapListAuto">
                                    <span class="mapListAutoLogo">
                                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M40.0009 0C17.9429 0 0 17.9447 0 39.9991C0 62.0536 17.9429 79.9983 40.0009 79.9983C62.0588 79.9983 80 62.0518 80 39.9991C80 17.9464 62.0553 0 40.0009 0ZM40.0009 78.8948C18.5585 78.8948 1.10526 61.4415 1.10526 39.9991C1.10526 18.5568 18.5585 1.10701 40.0009 1.10701C61.4432 1.10701 78.893 18.5498 78.893 39.9991C78.893 61.4485 61.4485 78.8948 40.0009 78.8948Z" fill="black"/>
                                            <path d="M17.2018 24.2965C17.2421 24.328 17.284 24.363 17.3225 24.3892C17.3225 24.3892 17.3522 24.363 17.354 24.3578C18.134 23.3837 18.9157 22.4061 19.6939 21.4372C19.979 21.0874 20.2658 20.7254 20.5491 20.3687C20.6868 20.1957 20.7756 19.9889 20.8063 19.77C20.8371 19.551 20.8087 19.3278 20.724 19.1235C20.6242 18.9096 20.4642 18.7294 20.2635 18.6051C20.0628 18.4809 19.8302 18.4179 19.5942 18.424C19.4022 18.4354 19.2153 18.4899 19.0473 18.5834C18.8792 18.677 18.7344 18.8072 18.6236 18.9644L17.5883 20.2585C16.8888 21.1329 16.1718 22.0248 15.4688 22.908C15.8343 23.2035 16.2033 23.4956 16.5688 23.7929C16.7804 23.952 16.9867 24.1234 17.2018 24.2965Z" fill="black"/>
                                            <path d="M40.0023 1.80664C18.9097 1.80664 1.80273 18.9032 1.80273 39.9992C1.80273 61.0953 18.9097 78.1988 40.0023 78.1988C61.0949 78.1988 78.2037 61.0918 78.2037 39.9992C78.2037 18.9067 61.0984 1.80664 40.0023 1.80664ZM33.8325 4.18504L37.4141 3.78981L40.0023 11.3465L42.5906 3.78981L46.1704 4.18504L46.5639 14.9228L43.7798 14.5276L43.5122 7.35741L40.9957 14.5276H39.0037L36.4854 7.35741L36.2196 14.5276L33.4372 14.9228L33.8325 4.18504ZM9.71792 21.8744C9.43111 21.6401 9.14605 21.4075 8.85575 21.1749C8.81864 21.149 8.78356 21.1204 8.75082 21.0892L8.90121 20.9056C9.64272 19.9752 10.3825 19.0501 11.1292 18.1249C11.9931 17.0407 12.8576 15.9593 13.7227 14.8809C13.8976 14.678 14.055 14.4699 14.2211 14.26C14.5156 13.8961 14.9012 13.6168 15.3386 13.4503C15.6817 13.3239 16.0476 13.2714 16.4124 13.2964C16.7771 13.3215 17.1325 13.4234 17.455 13.5955C17.7776 13.7676 18.0601 14.006 18.284 14.295C18.5079 14.5841 18.6681 14.9172 18.7541 15.2726C18.861 15.7482 18.8399 16.2436 18.6929 16.7084C18.7576 16.6559 18.8188 16.5982 18.8835 16.5475C19.2906 16.2471 19.7694 16.0587 20.2721 16.0013C20.7748 15.9439 21.2837 16.0195 21.7481 16.2204C22.2124 16.4213 22.6159 16.7406 22.9182 17.1463C23.2205 17.552 23.411 18.03 23.4707 18.5324C23.5135 18.9156 23.4815 19.3034 23.3762 19.6744C23.1576 20.3897 22.6505 20.9335 22.1923 21.4984C21.305 22.6107 20.4166 23.7183 19.5271 24.8212C18.7908 25.7498 18.0458 26.6714 17.3078 27.5983C17.2501 27.6683 17.1976 27.7365 17.1329 27.8029C17.1224 27.8204 17.0595 27.754 17.0472 27.7417C16.7709 27.5196 16.4964 27.3045 16.2218 27.0824L12.983 24.4889C11.9004 23.6215 10.8109 22.7401 9.71792 21.8744ZM40.0023 63.8777C35.2799 63.8784 30.6633 62.4787 26.7364 59.8556C22.8094 57.2324 19.7486 53.5038 17.9408 49.141C16.133 44.7783 15.6596 39.9775 16.5803 35.3457C17.5011 30.7138 19.7747 26.4591 23.1136 23.1195C26.4525 19.7798 30.7067 17.5053 35.3383 16.5835C39.97 15.6618 44.7709 16.1341 49.134 17.9409C53.4972 19.7477 57.2265 22.8078 59.8505 26.7342C62.4745 30.6605 63.8752 35.2768 63.8755 39.9992C63.876 46.3314 61.3611 52.4045 56.8841 56.8825C52.407 61.3605 46.3345 63.8768 40.0023 63.8777ZM62.737 27.6578L61.366 25.3108L66.0878 19.1095L59.0103 22.3571L57.0219 20.5191L63.4785 12.0338L65.4705 13.8735L61.7437 18.7702L67.702 16.0351L69.4508 18.2071L65.4757 23.4291L71.0719 20.8601L72.4413 23.2088L62.737 27.6578Z" fill="black"/>
                                            <path d="M17.1148 17.478C17.1691 17.2631 17.1627 17.0373 17.0962 16.8258C17.0296 16.6143 16.9057 16.4255 16.7381 16.2804C16.5705 16.1353 16.3658 16.0396 16.147 16.004C15.9282 15.9685 15.7038 15.9944 15.4989 16.0789C15.1648 16.2189 14.9637 16.5127 14.7434 16.7907C13.9039 17.84 13.0662 18.8806 12.2338 19.9281C12.1668 20.0047 12.1037 20.0846 12.0449 20.1677L12.5573 20.5787C13.005 20.9424 13.458 21.2974 13.9039 21.6577C14.3481 21.1068 14.7783 20.5542 15.226 20.0016C15.6737 19.4489 16.1092 18.9033 16.5516 18.3542C16.7702 18.0709 17.0168 17.826 17.1148 17.478Z" fill="black"/>
                                            <path d="M39.999 16.4968V39.9993H16.5C16.6643 33.8185 19.1928 27.9361 23.5645 23.5637C27.9362 19.1914 33.8182 16.6621 39.999 16.4968Z" fill="url(#paint0_linear)"/>
                                            <path d="M63.5042 39.999C63.3386 46.1805 60.8091 52.0631 56.4366 56.4356C52.0641 60.8081 46.1814 63.3376 40 63.5032V39.999H63.5042Z" fill="url(#paint1_linear)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear" x1="23.5827" y1="23.4624" x2="40.0409" y2="40.3438" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#46BEE1"/>
                                            <stop offset="0.62" stop-color="#3394BC"/>
                                            <stop offset="1" stop-color="#2678A3"/>
                                            </linearGradient>
                                            <linearGradient id="paint1_linear" x1="39.6205" y1="40.7283" x2="57.0161" y2="56.5342" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3091BA"/>
                                            <stop offset="1" stop-color="#00448B"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                                    </span>
                                    <span class="mapListAutoName">Audi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mapListItems">
                    <div class="mapListItem">
                        <a href="" class="mapListItemLink"></a>
                        <div class="mapListItemImage">
                            <div class="mapListItemImageSrc">
                                <img src="{{ asset('bundles/Default/t/фото.jpg') }}" alt="" title="" />
                            </div>
                            <div class="mapListItemImageRating">
                                <div class="accountReviewRating">
                                        {% set reviewRating = 3 %}
                                        {% if reviewRating > 0 %}
                                            {% for i in 1..reviewRating %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4741 16.4598C10.187 16.2624 9.81297 16.2624 9.52586 16.4598L4.59695 19.8476C3.89851 20.3277 3.01742 19.5906 3.32918 18.7871L5.46858 13.2727C5.61869 12.8858 5.4854 12.4433 5.14908 12.2121L0.382204 8.93567C-0.321474 8.45201 0.0106287 7.32113 0.856344 7.32113H6.00222C6.35174 7.32113 6.66604 7.10174 6.79585 6.76715L9.20637 0.553979C9.49293 -0.184659 10.5071 -0.18466 10.7936 0.553978L13.2041 6.76715C13.334 7.10174 13.6483 7.32113 13.9978 7.32113H19.1437C19.9894 7.32113 20.3215 8.45201 19.6178 8.93567L14.8509 12.2121C14.5146 12.4433 14.3813 12.8858 14.5314 13.2727L16.6708 18.7871C16.9826 19.5906 16.1015 20.3277 15.403 19.8476L10.4741 16.4598Z" fill="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                        {% if reviewRating < 5 %}
                                            {% for i in (reviewRating + 1)..5 %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.7574 16.0477C10.2996 15.7331 9.70036 15.7331 9.24264 16.0477L4.31373 19.4356C4.17172 19.5332 4.02319 19.514 3.90506 19.4152C3.78475 19.3146 3.7243 19.151 3.79532 18.9679L5.93472 13.4536C6.16664 12.8558 5.96433 12.1658 5.4323 11.8001L0.665424 8.52362C0.516486 8.42125 0.469212 8.25402 0.517993 8.08791C0.566447 7.92292 0.689557 7.82113 0.856344 7.82113H6.00222C6.56535 7.82113 7.06021 7.46811 7.262 6.948L9.67251 0.734829C9.79399 0.421724 10.206 0.421724 10.3275 0.734829L12.738 6.948C12.9398 7.46811 13.4346 7.82113 13.9978 7.82113H19.1437C19.3104 7.82113 19.4336 7.92291 19.482 8.08791C19.5308 8.25402 19.4835 8.42125 19.3346 8.52362L14.5677 11.8001C14.0357 12.1658 13.8334 12.8558 14.0653 13.4536L16.2047 18.9679C16.2757 19.151 16.2153 19.3146 16.0949 19.4152C15.9768 19.514 15.8283 19.5332 15.6863 19.4356L10.7574 16.0477Z" stroke="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="accountReviewRatingNum">90</div>
                            </div>
                        </div>
                        <div class="mapListItemInfo">
                            <div class="mapListItemInfoName">Talleres Gonviauto</div>
                            <div class="mapListItemInfoText">Web: <a href="http://www.gonviauto.com">www.gonviauto.com</a></div>
                            <div class="mapListItemInfoText">Teléfono: +34 920 37 08 05</div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 1C4.58867 1 1 4.37117 1 8.51358C1 14.7178 8.46733 20.6752 8.78533 20.9258C8.84474 20.9733 8.92012 20.9995 8.99818 21C9.07624 21.0005 9.15196 20.9751 9.212 20.9283C9.53 20.682 17 14.8272 17 8.51358C17 4.37117 13.4113 1 9 1ZM9.00133 20.2733C7.774 19.2452 1.66667 13.8616 1.66667 8.51358C1.66667 4.71491 4.95667 1.62499 9 1.62499C13.0433 1.62499 16.3333 4.71491 16.3333 8.51358C16.3333 13.9522 10.232 19.259 9.00133 20.2733Z" stroke="#616161"/>
                                    <path d="M9 5C6.794 5 5 6.794 5 9C5 11.206 6.794 13 9 13C11.206 13 13 11.206 13 9C13 6.794 11.206 5 9 5ZM9 12.3333C7.162 12.3333 5.66667 10.838 5.66667 9C5.66667 7.162 7.162 5.66667 9 5.66667C10.838 5.66667 12.3333 7.162 12.3333 9C12.3333 10.838 10.838 12.3333 9 12.3333Z" stroke="#616161"/>
                                </svg>
                                Avenida de Lourdes, 18
                            </div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#F5AA01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4.19995V8.99995L11.4 11.4" stroke="#F5AA01" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>Открыто до 21:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="mapListItem">
                        <a href="" class="mapListItemLink"></a>
                        <div class="mapListItemImage">
                            <div class="mapListItemImageSrc">
                                <img src="{{ asset('bundles/Default/t/фото.jpg') }}" alt="" title="" />
                            </div>
                            <div class="mapListItemImageRating">
                                <div class="accountReviewRating">
                                        {% set reviewRating = 3 %}
                                        {% if reviewRating > 0 %}
                                            {% for i in 1..reviewRating %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4741 16.4598C10.187 16.2624 9.81297 16.2624 9.52586 16.4598L4.59695 19.8476C3.89851 20.3277 3.01742 19.5906 3.32918 18.7871L5.46858 13.2727C5.61869 12.8858 5.4854 12.4433 5.14908 12.2121L0.382204 8.93567C-0.321474 8.45201 0.0106287 7.32113 0.856344 7.32113H6.00222C6.35174 7.32113 6.66604 7.10174 6.79585 6.76715L9.20637 0.553979C9.49293 -0.184659 10.5071 -0.18466 10.7936 0.553978L13.2041 6.76715C13.334 7.10174 13.6483 7.32113 13.9978 7.32113H19.1437C19.9894 7.32113 20.3215 8.45201 19.6178 8.93567L14.8509 12.2121C14.5146 12.4433 14.3813 12.8858 14.5314 13.2727L16.6708 18.7871C16.9826 19.5906 16.1015 20.3277 15.403 19.8476L10.4741 16.4598Z" fill="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                        {% if reviewRating < 5 %}
                                            {% for i in (reviewRating + 1)..5 %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.7574 16.0477C10.2996 15.7331 9.70036 15.7331 9.24264 16.0477L4.31373 19.4356C4.17172 19.5332 4.02319 19.514 3.90506 19.4152C3.78475 19.3146 3.7243 19.151 3.79532 18.9679L5.93472 13.4536C6.16664 12.8558 5.96433 12.1658 5.4323 11.8001L0.665424 8.52362C0.516486 8.42125 0.469212 8.25402 0.517993 8.08791C0.566447 7.92292 0.689557 7.82113 0.856344 7.82113H6.00222C6.56535 7.82113 7.06021 7.46811 7.262 6.948L9.67251 0.734829C9.79399 0.421724 10.206 0.421724 10.3275 0.734829L12.738 6.948C12.9398 7.46811 13.4346 7.82113 13.9978 7.82113H19.1437C19.3104 7.82113 19.4336 7.92291 19.482 8.08791C19.5308 8.25402 19.4835 8.42125 19.3346 8.52362L14.5677 11.8001C14.0357 12.1658 13.8334 12.8558 14.0653 13.4536L16.2047 18.9679C16.2757 19.151 16.2153 19.3146 16.0949 19.4152C15.9768 19.514 15.8283 19.5332 15.6863 19.4356L10.7574 16.0477Z" stroke="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="accountReviewRatingNum">90</div>
                            </div>
                        </div>
                        <div class="mapListItemInfo">
                            <div class="mapListItemInfoName">Talleres Gonviauto</div>
                            <div class="mapListItemInfoText">Web: <a href="http://www.gonviauto.com">www.gonviauto.com</a></div>
                            <div class="mapListItemInfoText">Teléfono: +34 920 37 08 05</div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 1C4.58867 1 1 4.37117 1 8.51358C1 14.7178 8.46733 20.6752 8.78533 20.9258C8.84474 20.9733 8.92012 20.9995 8.99818 21C9.07624 21.0005 9.15196 20.9751 9.212 20.9283C9.53 20.682 17 14.8272 17 8.51358C17 4.37117 13.4113 1 9 1ZM9.00133 20.2733C7.774 19.2452 1.66667 13.8616 1.66667 8.51358C1.66667 4.71491 4.95667 1.62499 9 1.62499C13.0433 1.62499 16.3333 4.71491 16.3333 8.51358C16.3333 13.9522 10.232 19.259 9.00133 20.2733Z" stroke="#616161"/>
                                    <path d="M9 5C6.794 5 5 6.794 5 9C5 11.206 6.794 13 9 13C11.206 13 13 11.206 13 9C13 6.794 11.206 5 9 5ZM9 12.3333C7.162 12.3333 5.66667 10.838 5.66667 9C5.66667 7.162 7.162 5.66667 9 5.66667C10.838 5.66667 12.3333 7.162 12.3333 9C12.3333 10.838 10.838 12.3333 9 12.3333Z" stroke="#616161"/>
                                </svg>
                                Avenida de Lourdes, 18
                            </div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#F5AA01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4.19995V8.99995L11.4 11.4" stroke="#F5AA01" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>Открыто до 21:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="mapListItem">
                        <a href="" class="mapListItemLink"></a>
                        <div class="mapListItemImage">
                            <div class="mapListItemImageSrc">
                                <img src="{{ asset('bundles/Default/t/фото.jpg') }}" alt="" title="" />
                            </div>
                            <div class="mapListItemImageRating">
                                <div class="accountReviewRating">
                                        {% set reviewRating = 3 %}
                                        {% if reviewRating > 0 %}
                                            {% for i in 1..reviewRating %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4741 16.4598C10.187 16.2624 9.81297 16.2624 9.52586 16.4598L4.59695 19.8476C3.89851 20.3277 3.01742 19.5906 3.32918 18.7871L5.46858 13.2727C5.61869 12.8858 5.4854 12.4433 5.14908 12.2121L0.382204 8.93567C-0.321474 8.45201 0.0106287 7.32113 0.856344 7.32113H6.00222C6.35174 7.32113 6.66604 7.10174 6.79585 6.76715L9.20637 0.553979C9.49293 -0.184659 10.5071 -0.18466 10.7936 0.553978L13.2041 6.76715C13.334 7.10174 13.6483 7.32113 13.9978 7.32113H19.1437C19.9894 7.32113 20.3215 8.45201 19.6178 8.93567L14.8509 12.2121C14.5146 12.4433 14.3813 12.8858 14.5314 13.2727L16.6708 18.7871C16.9826 19.5906 16.1015 20.3277 15.403 19.8476L10.4741 16.4598Z" fill="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                        {% if reviewRating < 5 %}
                                            {% for i in (reviewRating + 1)..5 %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.7574 16.0477C10.2996 15.7331 9.70036 15.7331 9.24264 16.0477L4.31373 19.4356C4.17172 19.5332 4.02319 19.514 3.90506 19.4152C3.78475 19.3146 3.7243 19.151 3.79532 18.9679L5.93472 13.4536C6.16664 12.8558 5.96433 12.1658 5.4323 11.8001L0.665424 8.52362C0.516486 8.42125 0.469212 8.25402 0.517993 8.08791C0.566447 7.92292 0.689557 7.82113 0.856344 7.82113H6.00222C6.56535 7.82113 7.06021 7.46811 7.262 6.948L9.67251 0.734829C9.79399 0.421724 10.206 0.421724 10.3275 0.734829L12.738 6.948C12.9398 7.46811 13.4346 7.82113 13.9978 7.82113H19.1437C19.3104 7.82113 19.4336 7.92291 19.482 8.08791C19.5308 8.25402 19.4835 8.42125 19.3346 8.52362L14.5677 11.8001C14.0357 12.1658 13.8334 12.8558 14.0653 13.4536L16.2047 18.9679C16.2757 19.151 16.2153 19.3146 16.0949 19.4152C15.9768 19.514 15.8283 19.5332 15.6863 19.4356L10.7574 16.0477Z" stroke="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="accountReviewRatingNum">90</div>
                            </div>
                        </div>
                        <div class="mapListItemInfo">
                            <div class="mapListItemInfoName">Talleres Gonviauto</div>
                            <div class="mapListItemInfoText">Web: <a href="http://www.gonviauto.com">www.gonviauto.com</a></div>
                            <div class="mapListItemInfoText">Teléfono: +34 920 37 08 05</div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 1C4.58867 1 1 4.37117 1 8.51358C1 14.7178 8.46733 20.6752 8.78533 20.9258C8.84474 20.9733 8.92012 20.9995 8.99818 21C9.07624 21.0005 9.15196 20.9751 9.212 20.9283C9.53 20.682 17 14.8272 17 8.51358C17 4.37117 13.4113 1 9 1ZM9.00133 20.2733C7.774 19.2452 1.66667 13.8616 1.66667 8.51358C1.66667 4.71491 4.95667 1.62499 9 1.62499C13.0433 1.62499 16.3333 4.71491 16.3333 8.51358C16.3333 13.9522 10.232 19.259 9.00133 20.2733Z" stroke="#616161"/>
                                    <path d="M9 5C6.794 5 5 6.794 5 9C5 11.206 6.794 13 9 13C11.206 13 13 11.206 13 9C13 6.794 11.206 5 9 5ZM9 12.3333C7.162 12.3333 5.66667 10.838 5.66667 9C5.66667 7.162 7.162 5.66667 9 5.66667C10.838 5.66667 12.3333 7.162 12.3333 9C12.3333 10.838 10.838 12.3333 9 12.3333Z" stroke="#616161"/>
                                </svg>
                                Avenida de Lourdes, 18
                            </div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#F5AA01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4.19995V8.99995L11.4 11.4" stroke="#F5AA01" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>Открыто до 21:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="mapListItem">
                        <a href="" class="mapListItemLink"></a>
                        <div class="mapListItemImage">
                            <div class="mapListItemImageSrc">
                                <img src="{{ asset('bundles/Default/t/фото.jpg') }}" alt="" title="" />
                            </div>
                            <div class="mapListItemImageRating">
                                <div class="accountReviewRating">
                                        {% set reviewRating = 3 %}
                                        {% if reviewRating > 0 %}
                                            {% for i in 1..reviewRating %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4741 16.4598C10.187 16.2624 9.81297 16.2624 9.52586 16.4598L4.59695 19.8476C3.89851 20.3277 3.01742 19.5906 3.32918 18.7871L5.46858 13.2727C5.61869 12.8858 5.4854 12.4433 5.14908 12.2121L0.382204 8.93567C-0.321474 8.45201 0.0106287 7.32113 0.856344 7.32113H6.00222C6.35174 7.32113 6.66604 7.10174 6.79585 6.76715L9.20637 0.553979C9.49293 -0.184659 10.5071 -0.18466 10.7936 0.553978L13.2041 6.76715C13.334 7.10174 13.6483 7.32113 13.9978 7.32113H19.1437C19.9894 7.32113 20.3215 8.45201 19.6178 8.93567L14.8509 12.2121C14.5146 12.4433 14.3813 12.8858 14.5314 13.2727L16.6708 18.7871C16.9826 19.5906 16.1015 20.3277 15.403 19.8476L10.4741 16.4598Z" fill="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                        {% if reviewRating < 5 %}
                                            {% for i in (reviewRating + 1)..5 %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.7574 16.0477C10.2996 15.7331 9.70036 15.7331 9.24264 16.0477L4.31373 19.4356C4.17172 19.5332 4.02319 19.514 3.90506 19.4152C3.78475 19.3146 3.7243 19.151 3.79532 18.9679L5.93472 13.4536C6.16664 12.8558 5.96433 12.1658 5.4323 11.8001L0.665424 8.52362C0.516486 8.42125 0.469212 8.25402 0.517993 8.08791C0.566447 7.92292 0.689557 7.82113 0.856344 7.82113H6.00222C6.56535 7.82113 7.06021 7.46811 7.262 6.948L9.67251 0.734829C9.79399 0.421724 10.206 0.421724 10.3275 0.734829L12.738 6.948C12.9398 7.46811 13.4346 7.82113 13.9978 7.82113H19.1437C19.3104 7.82113 19.4336 7.92291 19.482 8.08791C19.5308 8.25402 19.4835 8.42125 19.3346 8.52362L14.5677 11.8001C14.0357 12.1658 13.8334 12.8558 14.0653 13.4536L16.2047 18.9679C16.2757 19.151 16.2153 19.3146 16.0949 19.4152C15.9768 19.514 15.8283 19.5332 15.6863 19.4356L10.7574 16.0477Z" stroke="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="accountReviewRatingNum">90</div>
                            </div>
                        </div>
                        <div class="mapListItemInfo">
                            <div class="mapListItemInfoName">Talleres Gonviauto</div>
                            <div class="mapListItemInfoText">Web: <a href="http://www.gonviauto.com">www.gonviauto.com</a></div>
                            <div class="mapListItemInfoText">Teléfono: +34 920 37 08 05</div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 1C4.58867 1 1 4.37117 1 8.51358C1 14.7178 8.46733 20.6752 8.78533 20.9258C8.84474 20.9733 8.92012 20.9995 8.99818 21C9.07624 21.0005 9.15196 20.9751 9.212 20.9283C9.53 20.682 17 14.8272 17 8.51358C17 4.37117 13.4113 1 9 1ZM9.00133 20.2733C7.774 19.2452 1.66667 13.8616 1.66667 8.51358C1.66667 4.71491 4.95667 1.62499 9 1.62499C13.0433 1.62499 16.3333 4.71491 16.3333 8.51358C16.3333 13.9522 10.232 19.259 9.00133 20.2733Z" stroke="#616161"/>
                                    <path d="M9 5C6.794 5 5 6.794 5 9C5 11.206 6.794 13 9 13C11.206 13 13 11.206 13 9C13 6.794 11.206 5 9 5ZM9 12.3333C7.162 12.3333 5.66667 10.838 5.66667 9C5.66667 7.162 7.162 5.66667 9 5.66667C10.838 5.66667 12.3333 7.162 12.3333 9C12.3333 10.838 10.838 12.3333 9 12.3333Z" stroke="#616161"/>
                                </svg>
                                Avenida de Lourdes, 18
                            </div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#F5AA01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4.19995V8.99995L11.4 11.4" stroke="#F5AA01" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>Открыто до 21:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="mapListItem">
                        <a href="" class="mapListItemLink"></a>
                        <div class="mapListItemImage">
                            <div class="mapListItemImageSrc">
                                <img src="{{ asset('bundles/Default/t/фото.jpg') }}" alt="" title="" />
                            </div>
                            <div class="mapListItemImageRating">
                                <div class="accountReviewRating">
                                        {% set reviewRating = 3 %}
                                        {% if reviewRating > 0 %}
                                            {% for i in 1..reviewRating %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4741 16.4598C10.187 16.2624 9.81297 16.2624 9.52586 16.4598L4.59695 19.8476C3.89851 20.3277 3.01742 19.5906 3.32918 18.7871L5.46858 13.2727C5.61869 12.8858 5.4854 12.4433 5.14908 12.2121L0.382204 8.93567C-0.321474 8.45201 0.0106287 7.32113 0.856344 7.32113H6.00222C6.35174 7.32113 6.66604 7.10174 6.79585 6.76715L9.20637 0.553979C9.49293 -0.184659 10.5071 -0.18466 10.7936 0.553978L13.2041 6.76715C13.334 7.10174 13.6483 7.32113 13.9978 7.32113H19.1437C19.9894 7.32113 20.3215 8.45201 19.6178 8.93567L14.8509 12.2121C14.5146 12.4433 14.3813 12.8858 14.5314 13.2727L16.6708 18.7871C16.9826 19.5906 16.1015 20.3277 15.403 19.8476L10.4741 16.4598Z" fill="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                        {% if reviewRating < 5 %}
                                            {% for i in (reviewRating + 1)..5 %}
                                                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.7574 16.0477C10.2996 15.7331 9.70036 15.7331 9.24264 16.0477L4.31373 19.4356C4.17172 19.5332 4.02319 19.514 3.90506 19.4152C3.78475 19.3146 3.7243 19.151 3.79532 18.9679L5.93472 13.4536C6.16664 12.8558 5.96433 12.1658 5.4323 11.8001L0.665424 8.52362C0.516486 8.42125 0.469212 8.25402 0.517993 8.08791C0.566447 7.92292 0.689557 7.82113 0.856344 7.82113H6.00222C6.56535 7.82113 7.06021 7.46811 7.262 6.948L9.67251 0.734829C9.79399 0.421724 10.206 0.421724 10.3275 0.734829L12.738 6.948C12.9398 7.46811 13.4346 7.82113 13.9978 7.82113H19.1437C19.3104 7.82113 19.4336 7.92291 19.482 8.08791C19.5308 8.25402 19.4835 8.42125 19.3346 8.52362L14.5677 11.8001C14.0357 12.1658 13.8334 12.8558 14.0653 13.4536L16.2047 18.9679C16.2757 19.151 16.2153 19.3146 16.0949 19.4152C15.9768 19.514 15.8283 19.5332 15.6863 19.4356L10.7574 16.0477Z" stroke="#F5AA01"/>
                                                </svg>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="accountReviewRatingNum">90</div>
                            </div>
                        </div>
                        <div class="mapListItemInfo">
                            <div class="mapListItemInfoName">Talleres Gonviauto</div>
                            <div class="mapListItemInfoText">Web: <a href="http://www.gonviauto.com">www.gonviauto.com</a></div>
                            <div class="mapListItemInfoText">Teléfono: +34 920 37 08 05</div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 1C4.58867 1 1 4.37117 1 8.51358C1 14.7178 8.46733 20.6752 8.78533 20.9258C8.84474 20.9733 8.92012 20.9995 8.99818 21C9.07624 21.0005 9.15196 20.9751 9.212 20.9283C9.53 20.682 17 14.8272 17 8.51358C17 4.37117 13.4113 1 9 1ZM9.00133 20.2733C7.774 19.2452 1.66667 13.8616 1.66667 8.51358C1.66667 4.71491 4.95667 1.62499 9 1.62499C13.0433 1.62499 16.3333 4.71491 16.3333 8.51358C16.3333 13.9522 10.232 19.259 9.00133 20.2733Z" stroke="#616161"/>
                                    <path d="M9 5C6.794 5 5 6.794 5 9C5 11.206 6.794 13 9 13C11.206 13 13 11.206 13 9C13 6.794 11.206 5 9 5ZM9 12.3333C7.162 12.3333 5.66667 10.838 5.66667 9C5.66667 7.162 7.162 5.66667 9 5.66667C10.838 5.66667 12.3333 7.162 12.3333 9C12.3333 10.838 10.838 12.3333 9 12.3333Z" stroke="#616161"/>
                                </svg>
                                Avenida de Lourdes, 18
                            </div>
                            <div class="mapListItemInfoText">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#F5AA01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4.19995V8.99995L11.4 11.4" stroke="#F5AA01" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>Открыто до 21:00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.865030048467!2d27.58359641616844!3d53.91637428010246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfa41ea5c939%3A0xd4acce53940bc87f!2z0KbQtdC90YLRgNCw0LvRjNC90YvQuSDQo9C90LjQstC10YDRgdCw0LvRjNC90YvQuSDQvNCw0LPQsNC30LjQvQ!5e0!3m2!1sru!2sby!4v1574246307736!5m2!1sru!2sby" class="mapImage" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>                   
</div>
{% endblock %}    