{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{{ page.metaTagTitle}}{% endblock %}
{% block metatags %}
    <meta content="{{ page.metaTagDescription }}" name="description" />
    <meta content="{{ page.metaTagAuthor }}" name="author" />
    <meta content="{{ page.metaTagRobots }}" name="robots" />
    <meta content="{{ page.metaTagKeywords }}" name="keywords" />
{% endblock %}

{% block topbanner %}
    <div class="topBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 topBannerBlock">
                    {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page,'position' : 'toppage'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    <li><a href="">{{ page.title }}</a></li>
                </ul>
            </div>
        </div>
      </div>
</nav>
<div class="container">
    <div class="row content-row">
        <div class="col-lg-9 col-md-9">
            <div class="content-block-header">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="page-content">
                <div class="pageContentBanner">
                    <div class="pageContentBannerBg"></div>
                    <div class="pageContentBannerInner">
                        {{ page.text | raw }}
                    </div>
                    <div class="pageContentBannerButtons">
                        <div class="pageMenuButton cookieAlertButton">
                            <a href="{% if locale.isDefault %}{{ path('dealerRegister') }}{% else %}{{ path('dealerRegisterLocale',{'_locale':locale.code}) }}{% endif %}">{% trans %}Стать клиентом{% endtrans %}</a>
                        </div>
                        <div class="pageMenuButton cookieAlertButton white">
                            <a href="">{% trans %}Презентация PDF{% endtrans %}</a>
                        </div>
                    </div>
                </div>
                <div class="pageContentBlock">
                    <div class="pageContentBlockHeader" id="menuBlock1">{% trans %}Продвижение объявлений{% endtrans %}</div>
                    <div class="pageContentBlockInner">
                        {% if page.blocks | length > 0 %}
                            {{ page.blocks[0].blockContent | raw }}
                        {% endif %}
                    </div>
                </div>
                <div class="pageContentBlock">
                    <div class="pageContentBlockHeader" id="menuBlock2">{% trans %}Стоимость размещения легковых автомобилей{% endtrans %}</div>
                    <div class="pageContentBlockInner">
                        <div class="mainPageFiltersTabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    {% set i = 1 %}
                                    {% for category in categories %}
                                        <li role="presentation" {% if i == 1 %}class="active"{% endif %}>
                                            <a href="#categoryFilters{{ category.id }}" aria-controls="home" role="tab" data-toggle="tab">
                                                {{ category.image |raw }}
                                                <span>
                                                    {% if category.translations | length > 0 %}
                                                        {% for translation in category.translations %}
                                                            {% if translation.locale.id == locale.id %}
                                                                {{ translation.value }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}        
                                                        {{ category.title}}
                                                    {% endif %}
                                                </span><div class="shadowBlock"></div></a>
                                        </li>
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% set i = 1 %}
                                    {% for category in categories %}
                                        <div role="tabpanel" class="tab-pane {% if i == 1 %}active{% endif %}" id="categoryFilters{{ category.id }}">
                                            {% if category.rates | length > 0 %}
                                                {% for rate in category.rates %}
                                                    <div class="categoryRate">
                                                        <div class="categoryRateDescription">
                                                            <div class="categoryRateDescriptionTitle">
                                                                <div class="categoryRateName">{{ rate.rate.name  }}</div>
                                                                <div class="categoryRateServices">
                                                                    <div class="accountAdvertFunctions">
                                                                        <div class="accountAdvertFunction">
                                                                            <div class="button">
                                                                                {{ rate.rate.advertNumber }} {% trans %}размещений{% endtrans %}
                                                                            </div>
                                                                        </div>
                                                                        {% if rate.rate.services | length > 0 %}
                                                                            {% for service in rate.rate.services %}
                                                                                <div class="accountAdvertFunction">
                                                                                    <div class="button">
                                                                                        {{ service.service.iconGray | raw }}
                                                                                        {{ service.value }} 
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="categoryRateDescriptionText">
                                                                {{ rate.rate.description | raw }}
                                                            </div>
                                                        </div>
                                                        <div class="categoryRatePrice">
                                                            {{ rate.price }}{{ locale.currency.label | raw }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% set i = i + 1 %}
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
                <div class="pageContentBlock">
                    {% if page.blocks | length > 1 %}
                        {{ page.blocks[1].blockContent | raw }}
                    {% endif %}
                </div>
            </div>
            <div class="page-banner">
                {{ render(controller('DashboardCommonBundle:Default:getBanners',{'page' : page, 'position' : 'centerpage'})) }}
            </div>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="bannersSticky">
            <div class="pageLeftMenu">
                <div class="pageMenuHeader">{{ page.title }}</div>
                <div class="pageMenuList">
                    <ul class="list-unstyled">
                        <li><a href="#menuBlock1">- {% trans %}Продвижение объявлений{% endtrans %}</a></li>
                        <li><a href="#menuBlock2">- {% trans %}Стоимость размещения{% endtrans %}</a></li>
                        <li><a href="{{ path('service') }}">{% trans %}Сервисы{% endtrans %}</a></li>
                        <li><a href="{{ path('media') }}">{% trans %}Медийная реклама{% endtrans %}</a></li>
                        <li><a href="/pages/legal-information">{% trans %}Правовая информация{% endtrans %}</a></li>
                        <li><a href="/pages/about-project">{% trans %}О проекте{% endtrans %}</a></li>
                        <li><a href="{{ path('faq') }}">{% trans %}FAQ{% endtrans %}</a></li>
                        <li><a href="{{ path('contact') }}">{% trans %}Обратная связь{% endtrans %}</a></li>
                    </ul>
                </div>
                    <div class="pageMenuButton cookieAlertButton">
                        <a href="{% if locale.isDefault %}{{ path('dealerRegister') }}{% else %}{{ path('dealerRegisterLocale',{'_locale':locale.code}) }}{% endif %}">{% trans %}Стать клиентом{% endtrans %}</a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
