{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Личный кабинет{% endtrans %} - {% trans %}Отзывы{% endtrans %}{% endblock %}

{% block bodyClass %}class="userAccount"{% endblock %}
{% block body %}
<nav class="breadscrumbsBlock">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    {% if user.roles[0].role != 'ROLE_SERVICE' %}
                        <li><a href="{{ path('account') }}">{% trans %}Личный кабинет{% endtrans %}</a></li>
                        <li>/</li>
                    {% endif %}
                    <li>{% trans %}Отзывы{% endtrans %}</li>
                </ul>
            </div>
        </div>
        <button id="breadScrumbsMobileMenuToggler">{% trans %}Меню{% endtrans %}</button>
    </div>
</nav>   
<div class="container">
    <div class="row content-row aligned">
        <div class="col-lg-2 col-md-2">
            <div class="account-block-header"><h1>{% trans %}Личный кабинет{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="accountBlockHeader">
                <div class="account-block-header"><h1><b>{% trans %}Отзывы{% endtrans %}</b></h1></div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        {{ render(controller('DashboardCommonBundle:Account:getSidebar',{'routeName' : routeName})) }}
        <div class="col-lg-10 col-md-10">
            <div class="account-advert-block-content">
                <div class="accountOrders">
                    {% if user.reviews | length > 0 %}
                        {% for review in user.reviews %}
                            <div class="accountOrder review">
                                <div class="accountOrderInfo order">
                                    <div class="accountOrderInfoProduct">
                                        <div class="accountOrderInfoProductImage">
                                            <div class="accountReviewRating">
                                                {% set reviewRating = review.rating %}
                                                {% if reviewRating > 0 %}
                                                    {% for i in 1..reviewRating %}
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4741 16.4598C10.187 16.2624 9.81297 16.2624 9.52586 16.4598L4.59695 19.8476C3.89851 20.3277 3.01742 19.5906 3.32918 18.7871L5.46858 13.2727C5.61869 12.8858 5.4854 12.4433 5.14908 12.2121L0.382204 8.93567C-0.321474 8.45201 0.0106287 7.32113 0.856344 7.32113H6.00222C6.35174 7.32113 6.66604 7.10174 6.79585 6.76715L9.20637 0.553979C9.49293 -0.184659 10.5071 -0.18466 10.7936 0.553978L13.2041 6.76715C13.334 7.10174 13.6483 7.32113 13.9978 7.32113H19.1437C19.9894 7.32113 20.3215 8.45201 19.6178 8.93567L14.8509 12.2121C14.5146 12.4433 14.3813 12.8858 14.5314 13.2727L16.6708 18.7871C16.9826 19.5906 16.1015 20.3277 15.403 19.8476L10.4741 16.4598Z" fill="#F5AA01"/>
                                                        </svg>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if reviewRating < 5 %}
                                                    {% for i in (reviewRating + 1)..5 %}
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.7574 16.0477C10.2996 15.7331 9.70036 15.7331 9.24264 16.0477L4.31373 19.4356C4.17172 19.5332 4.02319 19.514 3.90506 19.4152C3.78475 19.3146 3.7243 19.151 3.79532 18.9679L5.93472 13.4536C6.16664 12.8558 5.96433 12.1658 5.4323 11.8001L0.665424 8.52362C0.516486 8.42125 0.469212 8.25402 0.517993 8.08791C0.566447 7.92292 0.689557 7.82113 0.856344 7.82113H6.00222C6.56535 7.82113 7.06021 7.46811 7.262 6.948L9.67251 0.734829C9.79399 0.421724 10.206 0.421724 10.3275 0.734829L12.738 6.948C12.9398 7.46811 13.4346 7.82113 13.9978 7.82113H19.1437C19.3104 7.82113 19.4336 7.92291 19.482 8.08791C19.5308 8.25402 19.4835 8.42125 19.3346 8.52362L14.5677 11.8001C14.0357 12.1658 13.8334 12.8558 14.0653 13.4536L16.2047 18.9679C16.2757 19.151 16.2153 19.3146 16.0949 19.4152C15.9768 19.514 15.8283 19.5332 15.6863 19.4356L10.7574 16.0477Z" stroke="#F5AA01"/>
                                                        </svg>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            {% if review.targetUser %}
                                                {% if review.targetUser.dealerinfo and review.targetUser.dealerinfo.logotype %}
                                                    {% if review.targetUser.roles[0].role == 'ROLE_DEALER' %}
                                                        <a href="{{ path('dealerPage', {'dealerName' : review.targetUser.dealerinfo.company}) }}">
                                                            <img src="{{ asset('bundles/images/dealers/logotypes/' ~ review.targetUser.dealerinfo.logotype) }}" alt="" title="" />
                                                        </a>
                                                    {% endif %}
                                                    {% if review.targetUser.roles[0].role == 'ROLE_SERVICE' %}
                                                        <a href="{{ path('servicePage', {'serviceId' : review.salons.id,'serviceName' : review.salons.name}) }}">
                                                            <img src="{{ asset('bundles/images/dealers/logotypes/' ~ review.targetUser.dealerinfo.logotype) }}" alt="" title="" />
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="accountOrderInfoProductDescription">
                                            <div class="accountOrderInfoProductDescriptionTitle">
                                                {{ review.reviewReason }}
                                            </div>
                                            <div class="accountOrderInfoProductDescriptionFeatures">
                                                {{ review.reviewText }}
                                            </div>
                                            {% if review.answer %}
                                            <div class="accountOrderInfoProductSubDescription">
                                                <div class="accountOrderInfoProductSubDescriptionTitle">{% trans %}Ответ{% endtrans %}:</div>
                                                <div class="accountOrderInfoProductSubDescriptionText">
                                                    {{ review.answer.reviewText }}
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="accountOrderInfoProductStatus">
                                        {% if statuses | length > 0 %}
                                            {% for status in statuses %}
                                                {% if status.id == review.status.id %}
                                                    <button class="inprocess" style="background:{{ status.color }}">{{ status.name }}</button>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}  
                    {% endif %}
                    {% if user.targetReviews | length > 0 %}
                        {% for review in user.targetReviews %}
                            <div class="accountOrder review">
                                <div class="accountOrderInfo order">
                                    <div class="accountOrderInfoProduct">
                                        <div class="accountOrderInfoProductImage">
                                            <div class="accountReviewRating">
                                                {% set reviewRating = review.rating %}
                                                {% if reviewRating > 0 %}
                                                    {% for i in 1..reviewRating %}
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4741 16.4598C10.187 16.2624 9.81297 16.2624 9.52586 16.4598L4.59695 19.8476C3.89851 20.3277 3.01742 19.5906 3.32918 18.7871L5.46858 13.2727C5.61869 12.8858 5.4854 12.4433 5.14908 12.2121L0.382204 8.93567C-0.321474 8.45201 0.0106287 7.32113 0.856344 7.32113H6.00222C6.35174 7.32113 6.66604 7.10174 6.79585 6.76715L9.20637 0.553979C9.49293 -0.184659 10.5071 -0.18466 10.7936 0.553978L13.2041 6.76715C13.334 7.10174 13.6483 7.32113 13.9978 7.32113H19.1437C19.9894 7.32113 20.3215 8.45201 19.6178 8.93567L14.8509 12.2121C14.5146 12.4433 14.3813 12.8858 14.5314 13.2727L16.6708 18.7871C16.9826 19.5906 16.1015 20.3277 15.403 19.8476L10.4741 16.4598Z" fill="#F5AA01"/>
                                                        </svg>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if reviewRating < 5 %}
                                                    {% for i in (reviewRating + 1)..5 %}
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.7574 16.0477C10.2996 15.7331 9.70036 15.7331 9.24264 16.0477L4.31373 19.4356C4.17172 19.5332 4.02319 19.514 3.90506 19.4152C3.78475 19.3146 3.7243 19.151 3.79532 18.9679L5.93472 13.4536C6.16664 12.8558 5.96433 12.1658 5.4323 11.8001L0.665424 8.52362C0.516486 8.42125 0.469212 8.25402 0.517993 8.08791C0.566447 7.92292 0.689557 7.82113 0.856344 7.82113H6.00222C6.56535 7.82113 7.06021 7.46811 7.262 6.948L9.67251 0.734829C9.79399 0.421724 10.206 0.421724 10.3275 0.734829L12.738 6.948C12.9398 7.46811 13.4346 7.82113 13.9978 7.82113H19.1437C19.3104 7.82113 19.4336 7.92291 19.482 8.08791C19.5308 8.25402 19.4835 8.42125 19.3346 8.52362L14.5677 11.8001C14.0357 12.1658 13.8334 12.8558 14.0653 13.4536L16.2047 18.9679C16.2757 19.151 16.2153 19.3146 16.0949 19.4152C15.9768 19.514 15.8283 19.5332 15.6863 19.4356L10.7574 16.0477Z" stroke="#F5AA01"/>
                                                        </svg>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            {% if review.user %}
                                                <div class="form-group-label">{{ review.user.userinfo.firstname }} {{ review.user.userinfo.lastname }}</div>
                                            {% endif %}
                                            <div class="reviewDateAdded">{{ review.dateAdded | date('d.m.Y')}}</div>
                                        </div>
                                        <div class="accountOrderInfoProductDescription">
                                            <div class="accountOrderInfoProductDescriptionTitle">
                                                {{ review.reviewReason }}
                                            </div>
                                            <div class="accountOrderInfoProductDescriptionFeatures">
                                                {{ review.reviewText }}
                                            </div>
                                            <div class="reviewAnswerForm" id="reviewAnswerForm{{ review.id }}">
                                                {% if review.answer %}
                                                <div class="reviewAnswerExists">
                                                    <div class="reviewAnswerFormTextHeader">
                                                        <div class="reviewAnswerFormTextHeaderTitle">{% trans %}Ответ{% endtrans %}</div>
                                                        <div class="reviewAnswerFormTextHeaderEdit">
                                                            <button onclick="showReviewAnswerForm($(this).parent().parent().parent())">{% trans %}редактировать ответ{% endtrans %}</button>
                                                        </div>
                                                    </div>
                                                    <div class="reviewAnswerFormText accountOrderInfoProductDescriptionFeatures">
                                                        {{ review.answer.reviewText }}
                                                    </div>
                                                </div>
                                                <div class="reviewAnswerFormInner cookieAlertButton">
                                                    <textarea name="reviewAnswer" class="form-control" id="reviewAnswerText{{ review.id }}" placeholder="{% trans %}Ответить на отзыв{% endtrans %}">{{ review.answer.reviewText }}</textarea>
                                                    <button onclick="sendReviewAnswer({{ review.id }})">Ответить</button>
                                                </div>
                                                {% else %}        
                                                    <button onclick="showReviewAnswerForm($(this))" class="answerButton">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M15 7.61109C15.0027 8.63765 14.7628 9.65033 14.3 10.5666C13.7512 11.6647 12.9076 12.5882 11.8636 13.2339C10.8195 13.8795 9.6164 14.2217 8.38888 14.2222C7.36231 14.2249 6.34964 13.985 5.43333 13.5222L1 15L2.47778 10.5666C2.01494 9.65033 1.7751 8.63765 1.77778 7.61109C1.77825 6.38357 2.12047 5.18042 2.76611 4.13641C3.41175 3.0924 4.3353 2.24876 5.43333 1.69999C6.34964 1.23716 7.36231 0.997315 8.38888 0.999992H8.77777C10.3989 1.08943 11.9301 1.77369 13.0782 2.92177C14.2263 4.06984 14.9105 5.60105 15 7.2222V7.61109Z" stroke="#616161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        {% trans %}Ответить{% endtrans %}
                                                    </button>
                                                    <div class="reviewAnswerFormInner cookieAlertButton">
                                                        <textarea name="reviewAnswer" class="form-control" id="reviewAnswerText{{ review.id }}" placeholder="{% trans %}Ответить на отзыв{% endtrans %}"></textarea>
                                                        <button onclick="sendReviewAnswer({{ review.id }})">Ответить</button>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accountOrderInfoProductStatus" id="reviewStatusSelect{{ review.id }}">
                                        <div class="objectStatusSelect">
                                            <div class="objectStatusSelectMain" onclick="showSublist($(this), event)">
                                                <div class="objectStatusSelectMainText" style="background: {{ review.status.color }};">{{ review.status.name }}</div>
                                                <div class="objectStatusSelectMainSelect" >
                                                    <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.515 3.05536e-05L8 0.757894L4 4.86316L3.87291e-06 0.757894L0.482503 3.1076e-05L4 3.5645L7.515 3.05536e-05Z" fill="white"/>
</svg>
                                                </div>
                                            </div>
                                            {% if statuses | length > 0 %}
                                                <div class="objectStatusSelectSublist">
                                                    {% for status in statuses %}
                                                        {% if status.id != review.status.id %}
                                                            <div class="objectStatusSelectSublistItem" onclick="changeReviewStatus({{ review.id }}, {{ status.id }})">
                                                                <span style="background: {{ status.color }};"></span>
                                                                {{ status.name }}
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
