{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Lietotāja konts{% endtrans %} - {% trans %}Pirkt papildu slotus{% endtrans %}{% endblock %}

{% block body %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    {% if  app.request.locale == 'lv' %}
                        <li class="arrow"><a href="/">{% trans %}Mājas{% endtrans %}</a></li>
                        <li class="arrow"><a href="{{path('account')}}">{% trans %}Lietotāja konts{% endtrans %}</a></li>
                        <li><a href="{{path('account_buyslots')}}">{% trans %}Pirkt papildu slotus{% endtrans %}</a></li>
                    {% else %}
                        <li class="arrow"><a href="/{{ app.request.locale }}">{% trans %}Mājas{% endtrans %}</a></li>
                        <li class="arrow"><a href="{{path('accountLocale',{'_locale' : app.request.locale})}}">{% trans %}Lietotāja konts{% endtrans %}</a></li>
                        <li><a href="{{path('account_buyslotsLocale',{'_locale' : app.request.locale})}}">{% trans %}Pirkt papildu slotus{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row content-row">
        <div class="col-lg-4 col-md-4">
            <div class="account-block-header"><h1>{% trans %}Lietotāja konts{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="account-purchase-menu">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <ul class="list-unstyled list-inline account-purchase-menu-list">
                            {% if  app.request.locale == 'lv' %}
                                <li><a href="{{path('account_userpurse_payment')}}">{% trans %}Pievienot naudu savam seifam{% endtrans %}</a></li>
                                <li><a href="{{ path('account_product_services') }}">{% trans %}Maksas pakalpojumi{% endtrans %}</a></li>
                                <li><a href="{{ path('account_userpurse_history') }}">{% trans %}Operāciju vēsture{% endtrans %}</a></li>
                            {% else %}
                                <li><a href="{{path('account_userpurse_paymentLocale',{'_locale' : app.request.locale})}}">{% trans %}Pievienot naudu savam seifam{% endtrans %}</a></li>
                                <li><a href="{{ path('account_product_servicesLocale',{'_locale' : app.request.locale}) }}">{% trans %}Maksas pakalpojumi{% endtrans %}</a></li>
                                <li><a href="{{ path('account_userpurse_historyLocale',{'_locale' : app.request.locale}) }}">{% trans %}Operāciju vēsture{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <ul class="list-unstyled list-inline account-purchase-menu-list">
                            <li class="right">{% trans %}Uz kontu{% endtrans %}: <strong>{{ user.userpurse.balanse }}</strong> {{ settings.currency.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row account-main-content-block">
                {{ render(controller('DashboardCommonBundle:User:getSidebar')) }}
                <div class="col-ld-9 col-md-9 account-block-content">
                    <div class="account-advert-block account-block">
                        <div class="account-block-header"><h1>{% trans %}Pirkt papildu slotus{% endtrans %}</h1></div>
                       {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="notice-message">
                                {{ flashMessage | raw }}
                            </div>                             
                        {% endfor %}
                        <div class="account-advert-block-content">
                            <div class="row advert-category-adverts">
                                <div class="col-lg-12 col-md-12">
                                   <div class="service-block-text">
                                       {% trans %}Pašlaik jūsu reklāmu skaits ir{% endtrans %} {{ user.products | length }}. 
                                       {% trans %}Jums ir ierobežots bezmaksas reklāmu skaits, kas ir vienāds ar{% endtrans %} {{ role.advertNumber }}. {% trans %}Jums jau ir papildu slots daudzumā{% endtrans %} {{ user.advertNumber }}. {% trans %}Izmantojot zemāk esošo veidlapu, varat iegādāties papildu reklāmas laika nišas savām reklāmām{% endtrans %}. {% trans %}Viena laika niša{% endtrans %} - {{ settings.aditionalAdvertPrice }} {{ settings.currency.name }}.
                                   </div>
                                    <div class="service-block-form">
                                        {{ form_start(form, {'method':'POST','multipart':true,'attr': {'class': 'form-horizontal'}}) }}
                                            <div class="form-group">
                                                <label class="col-md-12 ">{{ form_label(form.advertNumber) }}</label>
                                                <div class="col-md-6">
                                                    {{ form_widget(form.advertNumber) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_widget(form.save,{'type' : 'submit'})}}
                                                </div>
                                            </div>
                                        {{ form_end(form)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

