{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Личный кабинет{% endtrans %} - {% trans %}Выбор способа оплаты{% endtrans %}{% endblock %}
{% block bodyClass %}class="userAccount"{% endblock %}
{% block body %}
<nav class="breadscrumbsBlock">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline breadscrumbs">
                    <li><a href="{{ path('main') }}">{% trans %}Главная{% endtrans %}</a></li>
                    <li>/</li>
                    {% if user.roles[0].role != 'ROLE_SERVICE' %}
                        <li><a href="{{ path('account') }}">{% trans %}Личный кабинет{% endtrans %}</a></li>
                        <li>/</li>
                    {% endif %}
                    <li><a href="javascript:void(0)">{% trans %}Оплата{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
      </div>
</nav>
<div class="container">
    <div class="row content-row aligned">
        <div class="col-lg-2 col-md-2">
            <div class="account-block-header"><h1>{% trans %}Личный кабинет{% endtrans %}</h1></div>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="accountBlockHeader">
                <div class="account-block-header"><h1><b>{% trans %}Оплата{% endtrans %}</b></h1></div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        {{ render(controller('DashboardCommonBundle:Account:getSidebar',{'routeName' : routeName})) }}
        <div class="col-lg-10 col-md-10">
            <div class="account-advert-block-content">
                <div class="accountSettingsTabs">
                    <div class="tab-content" style="padding:0;">
                        <div class="tab-pane fade active in" id="inbox" role="tabpanel">
                            <div class="accountConversationHeader">
                                <div class="accountConversationHeaderBack">
                                    <a href="{{ back }}">
                                        <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 1rem;">
                                            <path d="M8 0.999999L2 7.91954L8 15" stroke="#616161" stroke-width="2"/>
                                        </svg>
                                        {% trans %}назад{% endtrans %}
                                    </a>
                                </div>
                                <div class="accountConversationHeaderTopic">
                                    {% trans %}Сумма к оплате:{% endtrans %} <span>{{ bill.price }} {{ locale.currency.label | raw }}</span>
                                </div>
                            </div>
                            {% if bill.isPayed %}
                                <div class="paymentsMethodsBlock">
                                    <div class="paymentsMethodsBlockHeader">{% trans %}Этот счет оплачен сполна!{% endtrans %}</div>
                                    <div class="paymentsMethodsBlockInner">
                                        <div class="paymentResultSubtext" style="padding-bottom: 3rem;">Agradecemos su confianza en auto28.es</div>
                                        <div class="paymentResultIcon">
                                            <svg width="105" height="99" viewBox="0 0 105 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.3">
                                                <path d="M105 50.38C105 43.34 99.5312 39.6 91.875 39.6H69.7813C71.3125 33.66 72.1875 27.94 72.1875 23.1C72.1875 3.96 66.9375 0 62.3438 0C59.2812 0 57.0938 0.22 54.0313 2.2C53.1563 2.64 52.7188 3.52 52.5 4.4L49.2188 22.22C45.7188 31.68 36.75 39.82 29.5312 45.32V92.4C31.9375 92.4 35 93.72 37.8437 95.26C41.3437 97.02 45.0625 98.78 49.2188 98.78H80.5C87.0625 98.78 91.875 93.5 91.875 88.88C91.875 88 91.875 87.12 91.6562 86.46C95.8125 84.92 98.4375 81.4 98.4375 77.44C98.4375 75.46 98 73.7 97.3438 72.38C99.75 70.62 102.375 67.76 102.375 64.24C102.375 62.48 101.5 60.28 100.188 58.74C103.031 56.54 105 53.46 105 50.38ZM98.2188 50.38C98.2188 54.56 93.8438 55 93.1875 56.98C92.5312 59.18 95.8125 60.06 95.8125 64.02C95.8125 68.2 90.7812 68.2 90.125 70.18C89.25 72.6 91.6562 73.48 91.6562 77.44C91.6562 77.66 91.6562 77.88 91.6562 78.1C91 81.4 85.9688 81.62 85.0938 82.94C84.2188 84.48 85.3125 85.36 85.3125 88.88C85.3125 90.86 83.125 92.18 80.5 92.18H49.2188C46.8125 92.18 43.75 90.86 40.9063 89.32C38.2813 88 35.6562 86.68 32.8125 86.02V51.04C40.9062 44.88 51.4063 35.42 55.5625 23.98C55.5625 23.76 55.5625 23.54 55.7812 23.54L58.8438 7.04003C59.9375 6.60003 60.8125 6.6 62.5625 6.6C63.2187 6.6 65.8437 10.56 65.8437 23.1C65.8437 27.94 64.9688 33.44 63.2188 39.6H62.3438C60.5938 39.6 59.0625 41.14 59.0625 42.9C59.0625 44.66 60.5938 46.2 62.3438 46.2H91.875C95.1562 46.2 98.2188 47.74 98.2188 50.38Z" fill="#616161"/>
                                                <path d="M26.25 98.9996H6.5625C2.84375 98.9996 0 96.1396 0 92.3996V46.1996C0 42.4596 2.84375 39.5996 6.5625 39.5996H26.25C29.9688 39.5996 32.8125 42.4596 32.8125 46.1996V92.3996C32.8125 96.1396 29.9688 98.9996 26.25 98.9996ZM6.5625 46.1996V92.3996H26.25V46.1996H6.5625Z" fill="#616161"/>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="paymentResultButton">
                                            <div class="paymentInfoLink">
                                                <div class="accountBottomPaymentSummValueButton" id="">
                                                    {% if user.roles[0].role == 'ROLE_SERVICE' %}
                                                        <a href="{{ path('account_bills') }}">{% trans %}Перейти к счетам{% endtrans %}</a>
                                                    {% else %}
                                                        <a href="{{ path('account_products', {'productType' : 'confirm'}) }}">{% trans %}Перейти на мои объявления{% endtrans %}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="paymentsMethodsBlock">
                                    <div class="paymentsMethodsBlockHeader">{% trans %}Пожалуйста, выберите удобный способ оплаты{% endtrans %}</div>
                                    <div class="paymentsMethodsBlockInner">
                                        {% if user.roles[0].payments | length > 0 %}
                                            <ul class="list-unstyled list-inline paymentsList">
                                                {% set i = 1 %}
                                                {% for payment in user.roles[0].payments %}
                                                    <li {% if i == 1%}class="active"{% endif %}><a href="#payment{{ payment.id }}" class="payment-link" data-toggle="tab" role="tab" aria-controls="payment{{ payment.id }}" aria-selected="true">{{ payment.icon | raw }}</a></li>
                                                    {% set i = i + 1 %}
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content" id="paymentsTabsContent">
                                                {% set i = 1 %}
                                                {% for payment in user.roles[0].payments %}
                                                    <div class="tab-pane fade {% if i == 1%}active in{% endif %}" id="payment{{ payment.id }}" role="tabpanel" aria-labelledby="home-tab">
                                                        <div class="paymentInfoBlock">
                                                            <div class="paymentInfoShield">
                                                                <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M16.8556 8.73633L10.996 16.4726L8.39404 13.5594" stroke="#222B2A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    <path d="M23.5774 4.89051C18.8485 3.92106 16.8933 3.20303 12.625 1C8.35666 3.20303 6.40151 3.92106 1.67255 4.89051C0.815816 20.409 11.8095 25.7676 12.625 26.143C13.4405 25.7676 24.4342 20.409 23.5774 4.89051Z" stroke="#222B2A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                </svg>
                                                            </div>
                                                            <div class="payemntInfoData">
                                                                <div class="paymentTabName">{{ payment.title }}</div>
                                                                <div class="paymentTabTieser">{{ payment.tieser | raw }}</div>
                                                            </div>
                                                        </div>
                                                        {% if payment.code == 'paypal' %}
                                                            <div class="paymentInfoLink">
                                                                {{ render(controller('DashboardCommonBundle:' ~ payment.controller ~ ':orderForm', {'className' : bill.className, 'request' : app.request, 'billId' : bill.id, 'paymentId' : payment.id})) }}
                                                            </div>
                                                        {% else %}
                                                            <div class="paymentInfoLink">
                                                                <div class="accountBottomPaymentSummValueButton" id=""><a href="">{% trans %}Оплатить{% endtrans %}</a></div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    {% set i = i + 1 %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="accountSettingsTabsProcess"><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}